/*
  Commonwealth Life Official Site
  Copyright (C) 2012.  PT Commonwealth Life │ PT Commonwealth Life terdaftar dan diawasi oleh Otoritas Jasa Keuangan
  Frontend Developed on Dec 2015 by POTEam.id
  @himmarama & budisetiawan
*/

// []employee vacancy: padding section top, bottom: 0, padding-bottom: padding bottom half image ++ {[]vision mission}*/

//
//"HelveticaNeueLTStd Lt"
//"HelveticaNeueLTStd Th"
//"HelveticaNeueLTStd Bd"
//"Open Sans"
//"Open Sanslight"
//"Open Sanssemibold"
//

/* fonts */
@font-face {
    font-family: helvetica_neue_roman;
    src: url('../fonts/HelveticaNeueLTStd-Roman.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: helvetica_neue;
    src: url('../fonts/HelveticaNeueLTStd-Lt_0.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: helvetica_neue;
    src: url('../fonts/HelveticaNeueLTStd-Bd.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/opensans-regular-webfont.eot');
    src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('../fonts/opensans-regular-webfont.woff') format('woff'),
         url('../fonts/opensans-regular-webfont.ttf') format('truetype'),
         url('../fonts/opensans-regular-webfont.svg#"Open Sansregular"') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sanslight';
    src: url('../fonts/opensans-light-webfont.eot');
    src: url('../fonts/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-light-webfont.woff2') format('woff2'),
         url('../fonts/opensans-light-webfont.woff') format('woff'),
         url('../fonts/opensans-light-webfont.ttf') format('truetype'),
         url('../fonts/opensans-light-webfont.svg#"Open Sanslight"') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sanssemibold';
    src: url('../fonts/opensans-semibold-webfont.eot');
    src: url('../fonts/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-semibold-webfont.woff2') format('woff2'),
         url('../fonts/opensans-semibold-webfont.woff') format('woff'),
         url('../fonts/opensans-semibold-webfont.ttf') format('truetype'),
         url('../fonts/opensans-semibold-webfont.svg#"Open Sanssemibold"') format('svg');
    font-weight: normal;
    font-style: normal;
}

// Variables  //
@mainColor: #fec110;
@textColor: #000000;
@greyColor: #5a5e60;

/*========= Index =========
  1. General & Override
      --- Typography
      --- List & Nav
      --- Form
      --- Buttons
      --- Navbar
  2. Header & Footer
      --- Main Header
      --- Main Footer
  3. Contents
      --- Banner
      --- Breadcrumb
      --- Image Wrap
      --- Page Section & Half Image
      --- Card Model
      --- Icon Action
      --- Media Object
      --- Insurance Option
      --- Illustration
      --- Accordion
      --- Profile
      --- File & Magazine
      --- Table
      --- Video
      --- Pagination
      --- SocMed Feed
      --- Google Map
      --- Slider
      --- Download Group
*/

/*=== 1. GENERAL & OVERRIDE ===*/
body{
	background-color: #f5f5f5;
	font-family: helvetica_neue, Helvetica, Arial, sans-serif;
	font-size: 14px;
	max-width: 100%;
	transition: all 0.5s;

  @media screen and (min-width: 1220px) {
    font-size: 16px;
  }
  
  &.to-left {
	-webkit-transform: translateX(-180px);
	   -moz-transform: translateX(-180px);
		-ms-transform: translateX(-180px);
		 -o-transform: translateX(-180px);
			transform: translateX(-180px);
	.overlayed;
	@media screen and (min-width: 1220px){
		-webkit-transform: translateX(0);
		   -moz-transform: translateX(0);
			-ms-transform: translateX(0);
			 -o-transform: translateX(0);
				transform: translateX(0);
	}
  }
  &.to-right {
	-webkit-transform: translateX(190px);
	   -moz-transform: translateX(190px);
		-ms-transform: translateX(190px);
		 -o-transform: translateX(190px);
			transform: translateX(190px);
	.overlayed;
	@media screen and (min-width: 1220px){
		-webkit-transform: translateX(0);
		   -moz-transform: translateX(0);
			-ms-transform: translateX(0);
			 -o-transform: translateX(0);
				transform: translateX(0);
	}
  }
}
.overlayed{
	overflow: hidden;
	height: 100%;
	max-height: 100%;
	position: relative;
	&::after{
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.5);
		left: 0;
		top: 0;
		z-index: 999;
	}
	@media screen and (min-width: 1220px){
		height: auto;
		overflow: auto;
		&::after {
			display: none;
		}
	}
}
.container{
	max-width: 100%;
}
@media (min-width: 1220px) {
	.container{
		width: 1220px;
	}
}

/*--- Typography */
h1,h2,h3,h4,h5,h6{
  font-weight: bold;
}
h1{
  font-size: 25px;
  @media screen and (min-width: 1220px) {
    font-size: 50px;
  }
}
h2{
  font-size: 38px;
}
h3{
  font-size: 19px;
  @media screen and (min-width: 1220px) {
    font-size: 26px;
  }
}
h4{
	font-size: 16px;
	@media screen and (min-width: 1220px){
		font-size: 20px;
	}
}
h5{
  font-size: 18px;
}
h6{
	font-size: 14px;
  
	@media screen and (min-width: 1220px){
		font-size: 16px;
	}
  
}
a{
  text-decoration: none;
}
.white.text {
	color: #fff;
}

.fw-normal {
	font-weight: normal;
	display: inline!important;
}
.font-sm {
	font-size: 12px;
}

/*--- List & Nav */
ul.list{
  margin: 0;
  padding-left: 15px;
  li{
    padding: 2px 0;
  }

  @media screen and (min-width: 1220px) {
    margin: 40px 0;
    li{
      padding: 7px 0;
    }
  }
}

nav, .nav-bottom {
  ul{
    list-style: none;
    margin: 0;
    padding-left: 0;
    li{
      padding: 0;
    }
  }
}

.separator {
	border: solid #cdcccc;
	&.right {
		border-width: 0 1px 0 0;
	}
	&.left {
		border-width: 0 0 0 1px;
	}
}

/*--- Form */
.form{
  .form-control{
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    font-size: 16px;
    height: 42px;
    padding: 6px 15px;

    &:focus{
      border-color: @mainColor;
      -webkit-box-shadow:  0 0 8px rgba(254, 193, 16, .6);
      -moz-box-shadow:  0 0 8px rgba(254, 193, 16, .6);
      box-shadow:  0 0 8px rgba(254, 193, 16, .6);
      outline: 0;
    }

  }
  textarea.form-control{
    height: auto;
    min-height: 42px;
    resize: vertical;
  }
  &.alter-form .form-control{
    background-color: #f0f0f0;
  }
  .form-control.style-select{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    padding: 0;

    &:after{
      content: url(../img/icon-select.png);
      display: block;
      width: 16px;
      height: 14px;
      margin-top: -10px;
      position: absolute;
      top: 50%;
      right: 15px;
    }
    select{
      background-color: transparent;
      border: 0;
      cursor: pointer;
      height: 42px;
      padding: 6px 10px;
      width: 100%;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    }
    option{
      border: 0;
      line-height: 1.3em;
      padding: 5px 10px;
    }
    *:disabled{
      color: #ccc;
    }
  }
  .file-browse{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    input[type=file]{
      opacity: 0;
      position: absolute;
      width: 100%;
      height: 100%;
    }
    .form-control{
      line-height: 30px;
    }
    &:after{
      content: url(../img/icon-menu/ico_search.png);
      display: block;
      width: 17px;
      height: 16px;
      margin-top: -8px;
      position: absolute;
      top: 50%;
      right: 15px;
    }
  }

  .form-group{
    margin-bottom: 14px;
  }

  @media screen and (min-width: 1220px) {
    .form-control{
      font-size: 20px;
      height: 63px;
      padding: 6px 50px;
    }
    .form-control.style-select{
      select{
        height: 63px;
        padding: 6px 50px;
      }
      &:after{
        margin-top: -13px;
        right: 28px;
      }
    }
    .file-browse{
      .form-control{
        line-height: 49px;
      }
      &:after{
        right: 28px;
      }
    }
    .form-group{
      margin-bottom: 30px;
    }
  }
}

.form-horizontal{
  margin: 20px 0;
  .control-label{
    text-align: left;
  }
  .btn{
    margin-top: 30px;
    width: 125px;
  }

  @media screen and (min-width: 1220px) {
    margin: 80px 0 40px;
    .control-label{
      font-weight: normal;
      padding-top: 14px;
    }
    .form-control{
      font-size: 16px;
      height: 50px;
      padding: 6px 25px;
    }
    .form-control.style-select{
      select{
        height: 48px;
        padding: 6px 20px;
      }
      &:after{
        margin-top: -7px;
        right: 25px;
      }
    }
    .file-browse::after {
      right: 25px;
    }
  }
}

/*--- Buttons */
a{
	color: #3eb6e6;
	&:hover, &:active {
		color: #3eb6e6;
	}
}

.btn{
  background-color: @mainColor;
  border: 0;
  color: #000;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: lighter;
  height: 36px;
  line-height: 24px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  -webkit-border-radius: 23px;
  -moz-border-radius: 23px;
  border-radius: 23px;

  &:hover{
    background-color: #FEEA87;
  }
  .banner &{
    height: 37px;
    line-height: 25px;
    padding-left: 15px;
    padding-right: 15px;
    -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, .3);
    box-shadow: 0 2px 0 rgba(0, 0, 0, .3);

    @media screen and (min-width: 1220px) {
      height: 45px;
      line-height: 33px;
    }
  }
}

.btn.blue {
	background-color: #3eb5e5;
	height: 34px;
	line-height: 1.42857;
	padding: 5px 11px;
	font-size: 16.16px;
	transition: background-color 0.2s;
}

.btn.blue:hover, .btn.blue:active {
	background-color: lighten(#93D3EA, 5%);
}
i.icon{
  background: no-repeat center center;
  display: inline-block;
  margin: 0 5px;
  vertical-align: middle;
}
i.icon-more{
  background-image: url(../img/icon-more.png);
  width: 7px;
  height: 10px;
  margin-right: 0;
  -webkit-transform: translateY(-1px);
  -moz-transform: translateY(-1px);
  -ms-transform: translateY(-1px);
  -o-transform: translateY(-1px);
  transform: translateY(-1px);
}
i.icon-back{
  background-image: url(../img/icon-more.png);
  width: 7px;
  height: 10px;
  margin-left: 0;
  -webkit-transform: rotate(180deg) translateY(2px);
  -moz-transform: rotate(180deg) translateY(2px);
  -ms-transform: rotate(180deg) translateY(2px);
  -o-transform: rotate(180deg) translateY(2px);
  transform: rotate(180deg) translateY(2px);
}
i.icon-caret {
	background-image: url(../img/icon-caret.png);
	width: 9px;
	height: 5px;
}
i.icon-caret-yellow {
	background-image: url(../img/icon-caret-yellow.png);
	width: 9px;
	height: 5px;
}
i.icon-caret-sm {
	background-image: url(../img/icon-caret-sm.png);
	width: 9px;
	height: 5px;
}
i.icon-caret-top-sm-dark {
	background-image: url(../img/icon-caret-top-sm-dark.png);
	width: 10px;
	height: 6px;
}
i.icon-caret-top-sm-white {
	background-image: url(../img/icon-caret-top-sm-white.png);
	width: 10px;
	height: 6px;
}
i.icon-person {
	background-image: url(../img/icon-menu/ico_person.png);
	width: 16px;
	height: 18px;
	pointer-events: none;
}
i.icon-hamburger {
	background-image: url(../img/icon-menu/ico_hamburger.png);
	width: 16px;
	height: 15px;
	pointer-events: none;
}
i.icon-search {
	background-image: url(../img/icon-menu/ico_search.png);
	width: 16px;
	height: 16px;
	pointer-events: none;
}
.arrow-right {
	width: 0; 
	height: 0; 
	border-top: 3px solid transparent;
	border-bottom: 3px solid transparent; 
	border-left:3px solid #000; 
	display: inline-block;
}
.btn:focus, 
.btn:active,
a:focus,
a:active {
	outline: 0!important;
}

.social-md {
	width: 42px;
	height: 43px;
}
.social-sm {
	width: 32px;
	height: 33px;
}
.social-media {
	li {
		margin: 0 3px;
	}
	i.icon {
		background-size: 100% 100%;
	}
	i.icon-fb {
		background-image: url('../img/icon-menu/ico_social_fb.png');
	}
	i.icon-tw {
		background-image: url('../img/icon-menu/ico_social_tw.png');
	}
	i.icon-ig {
		background-image: url('../img/icon-menu/ico_social_ig.png');
	}
	i.icon-li {
		background-image: url('../img/icon-menu/ico_social_li.png');
	}
}

/*--- Navbar */
#navbar-search {
	margin: 0;
	padding: 0;
	max-width: 100%;
	border-color: #CDCCCC;
	
	.form-group {
		position: relative;
		max-width: 100%;
		
		input {
			max-width: 100%;
		}
		button {
			border: 0px none;
			background-color: transparent;
			position: absolute;
			top: 0;
			right: 0;
			height: 100%;
		}
	}
}

.arrow-slide-nav {
	color: #fff;
	font-size: 16px;
	position: absolute;
	top: 35px;
	display: inline-block;
	padding: 10px 0;
	@media screen and (min-width: 1220px){
		display: none;
	}
	
}
#arrow-e-service {
	left: 25px;
	padding-right: 10px;
}
#arrow-right-slide {
	right: 14px;
	padding-left: 10px;
}
#navbar-right-slide {
	padding-top: 90px;
	position: fixed; 
	top: 0;
	right: 0;
	background-color: #6C6666;
	width: 180px;
	z-index: 999;
	font-family: "Open Sanslight";
	font-size: 12px;
	height: 100%;
	right: -180px;
	transition: right 0.5s ease-in-out;
	overflow: auto;
	
	h4 {
		font-family: "Open Sanslight"!important;
	}
	
	&.opened {
		right: 0;
	}
	
	#widget-nav-mobile {
		padding: 14px 14px 20px;
		
		#navbar-search {
			border: 0px none;
			margin-bottom: 20px;
			input[type="text"] {
				border: 0px none;
				border-radius: 0;
				height: 25px;
				background-color: #f0f0f0;
				font-size: 12px;
				box-shadow: none;
			}
			
			button {
				font-size: 16px;
			}
		}
		.select-language {
			a {
				text-decoration: none;
				font-family: "Open Sanslight";
				font-size: 12px;
				color: #4c4b4b;
				border: 0px none;
				background-color: #e6e6e6;
				overflow: hidden;
				
				transition: background-color 0.2s ease-in-out;
				
				&:hover, &:active, &:focus, &.active {
					color: #4c4b4b;
					background-color: #ffcb01;
				}
			}
			a:first-child {
				padding-right: 6px;
				border-top-left-radius: 15px;
				border-bottom-left-radius: 15px;
			}
			a:last-child {
				padding-left: 6px;
				border-top-right-radius: 15px;
				border-bottom-right-radius: 15px;
			}
		}
	}
	
	#main-nav-mobile {
		.panel-heading, .panel-body {
			padding: 0;
		}
	
		.panel {
			box-shadow: none;
			& > .panel-heading {
				& > .panel-title {
					a {
						color: #ffcb01;
						font-size: 14px;
						text-decoration: none;
						padding: 10px;
						display: block;
						position: relative;
						
						.icon.icon-caret-yellow {
							position: absolute;
							top: 16px;
							right: 5px;
						}
					}
				}		
			}
			& > .panel-collapse > .panel-body {
				& > ul > li > a, .panel .panel-title a{
					color: #4c4b4b;
					font-size: 12px;
					display: block;
					background-color: #e6e6e6;
					padding: 10px;
					border-bottom: 1px solid #ddd;
					
					i, span {
						display: table-cell;
						vertical-align: top;
					}
					i {
						width: 33px;
					}
					
					.icon-caret-sm {
						position: absolute;
						top: 15px;
						right: -7px;
					}
				}
				
				.panel {
					.panel-collapse .panel-body {
						ul li {
							a {
								background-color: #fff;
							}
						}
					}
				}
			}
		}
		.panel-title {
			font-weight: normal;
		}
		.panel, .panel-heading, .panel-body {
			background-color: transparent;
			border: 0px none;
			border-radius: 0;
		}
	}
}
/*--- Login e-services ---*/
.e-service {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	overflow: auto;
	background-color: #fed009;
	z-index: 900;
	padding-top: 70px;
	width: 190px;
	left: -190px;
	
	transition: left 0.5s ease-in-out;
	
	.main-category > li {
		margin-top: 10px;
		border-style: solid;
		border-color: #fff;
		border-width: 1px 0 0;
		box-shadow: inset 0 1px 1px -1px rgba(253, 185, 4, 1), inset 0 1px 1px -1px rgba(251, 29, 29, 0.3);
		@media screen and (min-width: 1220px){
			margin-top: 0;
		}
		
		&:first-child {
			border-top-width: 0px;
			box-shadow: none;
		}
		
		a {
			font-family: helvetica_neue_roman, helvetica, arial, sans-serif;
			font-size: 13px;
			color: #000;
			text-decoration: none;
			display: block;
			padding: 13px 25px;
			
			span {
				display: block;
				line-height: 1.22857;
			}
			
			i, div {
				display: table-cell;
				vertical-align: middle;
			}
			
			i {
				padding-right: 20px;
				min-width: 47px;
			}
		}
	}	
	
	.social-media {
		padding: 18px 0;
		li {
			padding: 0;
			margin-right: 1px;
			
			a {
				padding: 0;
			}
		}
	}
}

#main-content {
	.e-service {
		display: none;
		@media screen and (min-width: 1220px){
			display: block;
			left: 0;
		}
	}
}

#nav-e-service.opened {
	left: 0;
}
@media screen and (min-width: 1220px){
	/*--- Login e-services ---*/
	.e-service {
		position: absolute;
		top: 0;
		left: -190px;
		top: 50%;
		-webkit-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		-o-transform: translateY(-50%);
		transform: translateY(-50%);
		height: auto;
		padding-top: 0;
		z-index: 1;
		
		.main-category > li {
			&:first-child {
				border-top-width: 1px;
				box-shadow: inset 0 1px 1px -1px rgba(253, 185, 4, 1), inset 0 1px 1px -1px rgba(251, 29, 29, 0.3);
			}
		}
	}
}

.social-media {
	li {
		display: inline-block;
	
		a {
			img {
				width: 32px;
				height: 33px;
			}
		}
	}
}

/*=== 2. HEADER & FOOTER ===*/
/*--- Header ---*/
#main-header {
	.top-header {
		background-color: #000;
		color: #fff;
		height: 80px;
		
		.container {
			height: inherit;
			.row {
				height: inherit;
				& > div {
					height: inherit;
				}
			}
		}
		.slogan {
			text-transform: uppercase;
			display: inline-block;
			margin: 0;
			span {
				display: block;
			}
			span:nth-child(1){
				font-size: 20.89px;
				letter-spacing: 3.6px;
				line-height: 0.8;
			}
			span:nth-child(2){
				font-size: 25.9px;
				letter-spacing: 4.5px;
				line-height: 0.9;
			}
			span:nth-child(3){
				font-size: 13.62px;
				letter-spacing: 3.2px;
				line-height: 0.9;
			}
		}
		
		.logo {
			display: inline-block;
			max-width: 100%;
			img {
				max-width: 100%;
			}
		}
		
		.slogan, .logo {
			position: relative;
			top: 50%;
          -webkit-transform: translateY(-50%);
          -moz-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          -o-transform: translateY(-50%);
          transform: translateY(-50%);
		}
	}
	
	.main-menu {
		.navbar.yamm {
			border-radius: 0;
			background-color: #ebe9ea;
			border: solid rgba(35, 31, 32, 0.2);
			border-width: 0 0 1px;
			box-shadow: 0 5px 10px -7px rgba(0, 0, 0, 0.45);
			z-index: 900;
			margin-bottom: 0;		
			
			& > .container {
				text-align: center;
				height: 62px;
				@media screen and (min-width: 1220px){
					position: static;
					height: auto;
					min-height: 90px;
					text-align: left;
				}
				
				
				#login-e-service, #hamburger {
					display: block;
					color: #7f7f7f;
					height: inherit;
					line-height: 62px;
					width: 60px;
					text-align: center;
					text-decoration: none;
					
					i {
						height: inherit;
						line-height: inherit;
						font-size: 20px;
					}
				}
				
				.navbar-header {
					display: inline-block;
					float: none;
					height: inherit;
					padding: 6px 0;
					@media screen and (min-width: 1220px){
						float: left;
						display: block;
						height: 90px;
						padding: 9px 14px 9px 0;
						.separator!important;
						.right!important;
					}
					
					
					.comm-center {
                      display: inline-block;
                      img{
                          width: auto;
                          max-width: 100%;
                          height: 52px;
                          line-height: inherit;
                          position: relative;
                          @media screen and (min-width: 1220px){
                            height: auto;
                            max-heigth: 100%;
                          }
                        }
					}
				}
				#navbar-right {
					display: none!important;
					
					* {
						color: #000;
					}
					
					@media screen and (min-width: 1220px){
						display: block!important;
					}
					
				}
			}
		}
	}
}

@media screen and (min-width: 1220px){
	#main-header {
		.main-menu {
			.navbar.yamm {
				& > .container {
					#navbar-right {
						#main-nav {
							* {
								font-family: helvetica_neue_roman, helvetica, arial, sans-serif;
							}
							& > li {
								height: 90px;
								padding-top: 17px;
								& > a {
									position: relative;
									padding-right: 24px;
									span {
										display: block;
									}
									i {
										position: absolute;
										right: 4px;
										top: 26px;
									}
								}
								& > .dropdown-menu {
									padding: 0;
								}
							}
							.dropdown-menu {
								background-color: #6c6666;
								border: 0px none;
								border-radius: 0;
								
								& * {
									color: #fff;
									font-family: "Open Sanslight";
									text-align: left;
								}
								.yamm-content > .container {
									height: auto;
								}
								.col-submenu-main {
									width: 280px;
									float: left;
									margin-right: 30px;
									.submenu-main {
										background-color: #767070;
										padding: 15px 20px 20px;
										
										h2 {
											font-family: helvetica_neue, helvetica, arial, sans-serif;
											font-size: 35px;
											color: #ffc607;
											text-transform: uppercase;
											margin-top: 0;
										}
										
										p {
											font-style: italic;
											font-size: 15px;
											line-height: 1.59857;
										}
									}
								}
								.submenu-wrapper {
									display: -webkit-flex;
									display:  -webkit-box;
									display:  -ms-flexbox;
									display: 	 -moz-box;
									display: 		 flex;
									flex-wrap: wrap;
									padding-top: 15px;
									.col-submenu {
										-webkit-box-flex: 0 33.33%;
										   -moz-box-flex: 0 33.33%;
											-webkit-flex: 0 33.33%;
												-ms-flex: 0 33.33%;
													flex: 0 33.33%;
										
									}
									.submenu {
										//padding: 0 15px;
										margin-bottom: 25px;
										position: relative;
										.inner {
											//border-style: solid;
											//border-color: #ffc607;
											//border-width: 0 0 1px;
											padding: 0 15px 20px;
											height: 100%;
											
										}
										.inner:after {
											content: '';
											position: absolute;
											left: 15px;
											right: 15px;
											bottom: 0;
											width: 90%;
											height: 1px;
											background-color: #ffc607;
										}
										h6 {
											font-weight: semibold;
											margin: 0;
											font-size: 15px;
											i {
												padding-right: 12px;
											}
											i, .submenu-title {
												display: table-cell;
												vertical-align: middle;
											}
										}
										.submenu-child {
											margin-top: 25px;
											
											a {
												font-size: 13px;
												line-height: 1.62857;
											}
										}
										
										a, a span {
											transition: all 0.2s;
										}
										a:hover, a:active, a:hover span, a:active span{
											color: @mainColor;
											text-decoration: none;
										}
									}
								}
							}
						}
						#navbar-search {
							padding: 25px 15px;
							.form-group {
								input {
									background-color: #f0f0f0;
									border-radius: 0;
									height: 40px;
									padding-right: 25px;
								}
								button {
									font-size: 20px;
								}
							}
						}						
						
						.select-language {
							position: relative;
							> li {
								height: 90px;
								padding-top: 17px;
								
								a.current {
									padding-right: 0;
									font-family: helvetica_neue_roman, Helvetica, Arial, sans-serif;
									span.caret {
										display: inline-block!important;
									}
								}
							}
							
							.dropdown-menu {
								border-radius: 0;
								left: auto;
								right: 0px;
								top: 60px;
								text-align: right;
								padding: 0;
								border-color: rgba(255, 255, 255, 0.15);
								
								li:first-child{
									a {
										border-style: solid;
										border-color: rgba(255, 255, 255, 0.5);
										border-width: 0 0 1px;
									}
								}
								
								a {
									font-family: helvetica_neue_roman, Helvetica, Arial, sans-serif;
									font-size: 16px;
									padding: 0 20px;
									height: 35px;
									line-height: 35px;
									background-color: #FED009;
									transition: all 0.2s;
								}
								a:hover, a:active {
									background-color: #000;
									color: #fff;
								}
							}
						}
					}
				}
			}
		}
	}
}
/*--- Footer ---*/
#main-footer {
	&.margin-shadow-top {
		position: relative;
		margin-top: 2px;
		&::before{
			content: '';
			position: absolute;
			top: -4px;
			left: 0;
			height: 2px;
			width: 100%;
			background-color: transparent;
			box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
		}
	}
	
	.social-footer {
		background-color: @mainColor;
		.container {
			.wrapper {
				border-style: solid;
				border-color: #171415;
				border-width: 0 0 1px;
				text-align: center;
				padding-top: 16px;
				padding-bottom: 17px;
				@media screen and (min-width: 1220px){
					text-align: right;
					border-width: 0 0 2px;
					border-color: #6f5713;
					padding-top: 9px;
					padding-bottom: 13px;
				}
				
				.social-media {
					margin: 0;
					padding: 0;
					list-style: none;
					li {
						a {
							display: inline-block;
							i.icon {
								margin: 0;
								.social-sm;
								@media screen and (min-width: 1220px){
									.social-md;
								}
								
							}
						}
					}
				}
			}
		}
	}
	.nav-bottom {
		background-color: @mainColor;
		padding-top: 2px;
		padding-bottom: 15px;
		@media screen and (min-width: 1220px){
			padding-top: 20px;
			padding-bottom: 0;
		}
		
		* {
			color: #000;
		}
		
		.row-sitemap {
			display: -webkit-flex;
			//display:  -webkit-box;
			display:  -ms-flexbox;
			display: 	 -moz-box;
			display: 		 flex;

          margin: 0 -15px;

			-webkit-flex-direction: row;
					flex-direction: row;
			-webkit-flex-wrap: wrap;
					flex-wrap: wrap;

		}
		.index-button-wrapper {
			width: 100%;
			text-align: center;
			h6 {
				margin-bottom: 18px;
				button {
					background-color: transparent;
					border: 0px none;
				}
			}
			@media screen and (min-width: 1220px){
				display: none;
			}
			
		}
		.col-sitemap {
			float: left;
			-webkit-box-flex: 0 50%;
			   -moz-box-flex: 0 50%;
				-webkit-flex: 0 50%;
					-ms-flex: 0 50%;
						flex: 0 50%;
			width: 50%;
			margin-bottom: 30px;
			
			& > h6, & > ul {
				padding-left: 15px;
				padding-right: 15px;
			}
			@media screen and (min-width: 481px){
				-webkit-box-flex: 0 33.33%;
				   -moz-box-flex: 0 33.33%;
					-webkit-flex: 0 33.33%;
						-ms-flex: 0 33.33%;
							flex: 0 33.33%;
				width: 33.33%;
			}
			
			@media screen and (min-width: 1220px){
				margin-bottom: 45px;
				-webkit-box-flex: 0 20%;
				   -moz-box-flex: 0 20%;
					-webkit-flex: 0 20%;
						-ms-flex: 0 20%;
							flex: 0 20%;
				width: 20%;
			}
			h6 {
				margin: 7px 0;
				@media screen and (min-width: 1220px){
					margin: 12px 0;
					text-transform: uppercase;
				}
				span {
					display: block;
				}
			}
		}
		ul li, .panel .panel-title {
			margin-top: 8px;
			@media screen and (min-width: 1220px){
				margin-top: 9px;
			}
			
		}
		ul li a, .panel .panel-title a {
			font-size: 12px;
			font-weight: normal;
			line-height: 1.19857;
			position: relative;
			display: block;
			@media screen and (min-width: 1220px){
				font-size: 14px;
				line-height: 1.07857;
			}
			&.indent-text {
				padding-left: 0;
				@media screen and (min-width: 1220px){
					padding-left: 6px;
				}
				span.arrow-right {
					display: none;
					@media screen and (min-width: 1220px){
						display: inline-block;
					}
					
				}
			}
			.icon {
				position: absolute;
				left: 0;
				top: 5px;
			}
		}
		
		.panel-group {
			margin: 0;
		}
		
		.panel, .panel-heading, .panel-body {
			border: 0px none;
			box-shadow: none;
			background-color: transparent;
		}
		
		.panel-heading {
			padding: 0;
		}
		
		.panel-body {
			padding: 0 7px;
			@media screen and (min-width: 1220px){
				padding: 5px 15px;
			}
		}
	}
	.footer-widget-area {
		background-color: #171415;
		
		.container {
			text-align: center;
			padding-top: 15px;
			padding-bottom: 30px;
			@media screen and (min-width: 1220px){
				padding-top: 25px;
				padding-bottom: 15px;
			}
		}
		
		.widget-title {
			margin: 0 auto 10px; 
			h2 {
				color: @mainColor;
				font-family: helvetica_neue, helvetica, arial, sans-serif;
				font-size: 21px;
				font-weight: bold;
				line-height: 1;
				margin: 0;
				
				button {
					background-color: transparent;
					border: 0px none;		
					display: inline-block;
					padding: 0;
					cursor: pointer;
				}
			}
			@media screen and (min-width: 1220px){
				float: left;
				margin: 0 50px 0 0!important;
				h2 {
					font-size: 34px;
					
					button {
						display: none;
					}
				}
			}
			
		}
		.widget-filter {
			display: block;
			max-width: 450px;
			width: 100%;
			margin: 0 auto;
			@media screen and (min-width: 1220px){
				display: inline-block!important;
				
				&:first-child {
					margin-right: 30px;
				}
			}
			
			
			& > div {
				display: table-cell;
				vertical-align: middle;
			}
			
			.select-box {
				width: 100%;
				padding-top: 10px;
				@media screen and (min-width: 1220px){
					padding: 0!important;
				}
				
			}
			
			label, .select-picker *, .bootstrap-select * {
				font-size: 16px;
			}
			
			.label-box {
				display: block;
				margin-top: 10px;
				@media screen and (min-width: 1220px){
					display: table-cell!important;
					margin: 0;
				}
				
				
				label {
					white-space: nowrap;
					margin: 0;
					font-weight: normal;
					width: 117px;
					@media screen and (min-width: 1220px){
						text-align: left;
					}
					
					
					span {
						margin-left: 7px;
						@media screen and (min-width: 1220px){
							display: none;
						}
						
					}
				}
			}
			
			.selectpicker {
				height: 42px;
				line-height: 42px;
				width: 261px;
				border-radius: 0;
				
				& ~ .bootstrap-select {
					border-radius: inherit;
					box-shadow: none;
					height: 42px;
					button {
						height: 100%;
						border-radius: inherit;
						line-height: inherit;
						background-color: #3c393a;
						border: 1px solid #534e50;
						box-shadow: none;
						color: #fff;
					}
				}
			}
			
			.bootstrap-select {
				.dropdown-menu {
					border-radius: 0;
					border: 0px none;
					padding: 0;
					
					ul {
						border: 0px none;
						li {
							background-color: #3C393A;
							border-style: solid;
							border-color: #534E50;
							border-width: 0 0 1px;
							transition: background-color 0.2s;
							height: 40px;
							a {
								color: #fff;
								font-family: "Open Sans";
								background-color: transparent;
								padding: 0 20px;
								line-height: 40px;
							}
							&.selected, &:hover, &:active {
								background-color: #fff;
								a {
									color: #000;
								}
							}
							&:last-child {
								border-bottom-width: 0;
							}
						}
					}
				}
			}
			
			button.blue {
				margin-left: 17px;
				margin-top: 10px;
				@media screen and (min-width: 1220px){
					margin-left: 22px;
					margin-top: 0!important;
				}
				
			}
		}
	}
	.bottom-footer {
		background-color: #000;
		.container {
			padding: 10px;
			@media screen and (min-width: 1220px){
				padding: 25px 25px 15px;
			}
			
			.footer-note {
				font-size: 14px;
				line-height: 1.22857;
				margin-bottom: 4px;
			}
			.copyright {
				font-size: 12px;
			}
		}
	}
}

/*=== 3. CONTENTS ===*/
/*--- Banner ---
  - Bold & Light Title
  - Black, White, & Yellow Title
  - Black & white content text
  - Banner with Button

  - Special Director Banner
*/

.banner{
  color: #ffffff;
  overflow: hidden;
  position: relative;
  width: 100%;

  .image{
    height: 273px;
    overflow: hidden;
    position: relative;
    width: 100%;

    img{
      min-height: 100%;
      height: 100%;
      width: auto;
      position: absolute;
      left: 50%;
      top: 0;
      -webkit-transform: translate(-50%, 0);
      -moz-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
      -o-transform: translate(-50%, 0);
      transform: translate(-50%, 0);
    }

    @media screen and (min-width: 521px) {
      img{
        min-width: 100%;
        max-width: 100%;
        height: auto;
      }
    }
    @media screen and (min-width: 768px) {
      img{
        max-width: none;
      }
    }
    @media screen and (min-width: 1220px) {
      img{
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
      }
    }
  }
  &.middle-image{
    .image{
      img{
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
      }
    }
  }

  .inner{
    background-color: rgba(0, 0, 0, .6);
    position: absolute;
    text-align: right;
    top: 0;
    width: 100%;
    height: 100%;

    .container{
      position: relative;
      max-width: 100%;
      height: 100%;
    }
  }
  .content{
    font-family: helvetica_neue_roman, helvetica, arial, sans-serif;
    font-size: 14px;
    position: absolute;
    padding: 0 15px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
    right: 0;
  }
  .title{
    font-family: helvetica_neue, helvetica, arial, sans-serif;
    font-weight: bold;
    margin: 15px 0 0;
    text-transform: uppercase;

    .light{
      font-weight: 100;
      text-transform: none;
    }
  }

  .yellow{
    color: @mainColor;
  }

  .text{
    margin-top: 10px;
  }
  .btn{
    margin-top: 15px;
  }

  &.top-banner{
    .title{
      margin-top: 0px;
      margin-bottom: 0px;
    }
  }

  &.career-special{
    .image{
      height: 273px;
	  @media screen and (min-width: 1024px){
		  height: 403px;
	  }
      img{
        left: auto;
        right: 0;
        top: 0;
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0);
		@media screen and (min-width: 1024px){
			right: 0;
		}
		@media screen and (min-width: 1220px){
			left: 50%;
			right: auto;
			top: 50%;
			-webkit-transform: translate(-50%, -50%);
			-moz-transform: translate(-50%, -50%);
			-ms-transform: translate(-50%, -50%);
			-o-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
		}		
      }
    }
    .inner{
      background-color: @mainColor;
      padding-bottom: 40px;
      position: relative;
	  @media screen and (min-width: 1024px){
        background-color: transparent;
        padding-bottom: 0;
        position: absolute;		  
	  }
	  
    }
    .content{
      color: #000;
      float: left;
      right: auto;
      position: static;
      text-align: left;
      -webkit-transform: translate(0, 0);
      -moz-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
      -o-transform: translate(0, 0);
      transform: translate(0, 0);
	  @media screen and (min-width: 1024px){
        font-size: 16px;
        max-width: 60%;
		@media screen and (min-width: 1220px){
			max-width: 810px;
		}
	  }
      p:not(.small){
        font-weight: bold;
        margin: 30px 0;
		@media screen and (min-width: 1024px){
			font-weight: normal;
		}
      }
	  .small{
	    @media screen and (min-width: 1024px){
			font-size: 14px;
		}
	  }
    }
  }
  
  &.fund-investment-special{
	.inner{
	  text-align: left;
	  .content{
		float: left;
		h1.title{
		  color: @mainColor;
		  .white{
		    color: #fff;
		  }
		}
	  }
	}
  }  
  
  &.bigger {
	.content {
		@media screen and (min-width: 1220px){
			max-width: 60%;
		}
	}
  }

  @media screen and (min-width: 1220px){
    .image{
      height: 402px;
    }
    .inner{
      background-color: transparent;
    }
    .content{
      float: right;
      font-size: 16px;
      max-width: 50%;
      padding: 0;
      position: static;
      -webkit-transform: translate(0, 0);
      -moz-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
      -o-transform: translate(0, 0);
      transform: translate(0, 0);
    }
    .title{
      font-family: helvetica_neue, helvetica, arial, sans-serif;
      line-height: 50px;
      margin-top: 75px;
      text-transform: uppercase;

      .light{
        font-weight: 100;
        text-transform: none;
      }
    }

    .black{
      color: #000000;
    }
    .grey{
      color: #322e2f;
    }

    .text{
      margin-top: 30px;
    }
    .btn{
      margin-top: 30px;
    }

    &.top-banner{
      .image{
        height: 310px;
      }
      .title{
        margin-top: 60px;
        margin-bottom: 0px;
      }
      .text{
        margin-top: 20px;
      }
    }
  }
}

/*--- Breadcrumb ---*/
.breadcrumb-area{
  background-color: #e6e6e6;
}
.breadcrumb{
  background-color: transparent;
  font-size: 14px;
  margin-bottom: 0;
  padding: 20px 0;

  &> li{
    & + li::before{
      color: #545556;
      content: '>';
      margin-right: 2px;
    }
  }

  .active, a{
    color: @textColor;
    text-shadow: 0 0 5px #fff;
  }
  .active{
    font-style: italic;
  }
}


/*--- Image Wrap ---
  - With & without caption
*/

.img-wrap{
	position: relative;
	
	@media screen and (min-width: 1220px){
		min-height: 325px;
		position: relative;
		overflow: hidden;
	}
	img {
		width: auto;
		@media screen and (min-width: 1220px){
			position: absolute;
			min-width: 100%;
			min-height: 100%;
			left: 50%;
			top: 50%;
			-webkit-transform: translate(-50%, -50%);
			-moz-transform: translate(-50%, -50%);
			-ms-transform: translate(-50%, -50%);
			-o-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
		}
	}
	.title{
		color: #ffffff;
		position: absolute;
		text-align: center;
		top: 5px;
		text-transform: uppercase;
		width: 100%;
		@media screen and (min-width: 1220px){
			top: 20px;
		}
		
	}
	.caption{
		background-color: rgba(0, 0, 0, .7);
		color: #ffffff;
		left: 0;
		bottom: 0;
		padding: 10px;
		position: absolute;
		width: 100%;
		@media screen and (min-width: 1220px){
			padding: 15px 90px;
		}
		&.big-left{
		}
	}
}

/*--- Page Section & Half Image ---
  - White & Gray BGs
  - Padding top-bottom & No-padding
*/

.page-section{
//  a:not(.btn) {
//	color: #3eb6e6;
//  }
  .section-head{
    background-color: #fff;
    padding: 20px 0;
    .subtitle{
      
    }
    .desc{

    }
  }
  .section-title{
    color: @greyColor;
    font-size: 25px;
    font-weight: bold;
    margin: 0;
    text-transform: uppercase;
    &.normal{
      text-transform: none;
    }
	span{
	  @media screen and (min-width: 1220px){
		  display: block;
	  }
	  
	}
  }
  .section-body{
    background-color: #f4f4f4;
    padding: 25px 0;

    &.no-pd-top{
      padding-top: 0;
      h3{
        margin-top: 25px;
      }
    }

    h3{
      margin-top: 0;
	  &.title-body {
		text-transform: uppercase;
		margin-top: 30px;
		margin-bottom: 25px;
	  }
	  &.title-content-lg {
		text-align: justify;
		margin-top: 15px;
		margin-bottom: 20px;
		@media screen and (min-width: 1220px){
			margin-top: 0;
			margin-bottom: 25px;
          text-align: left;
		}
	  }	
    }
	& > .container > .row > h3 {
		padding-left: 15px;
		padding-right: 15px;
	}
	.row-link {
		display: inline-block;
		a {
			text-align: left;
			display: block;
		}
	}
	ul {
		padding-left: 15px;
	}
    p:first-child{
      margin-top: 10px;
    }
  }

  &.bg-white{
    .section-body{
      background-color: #fff;
    }
  }
  &.bg-dark{
    .section-head,
    .section-body{
      background-color: #cccdcf;
    }
  }
  &.super-dark{
    .section-head,
    .section-body{
      background-color: #505052;
    }
    .section-title{
      color: @mainColor;
    }
  }

  &.no-padding{
    .section-body{
      padding: 0;
    }
    .half-image{
      .content{
        padding-top: 15px;
        padding-bottom: 15px;
      }
    }
  }

  @media screen and (min-width: 1220px) {
    .section-head{
      padding: 25px 0;
    }
    .section-title{
      font-size: 37px;
      margin: 20px 0 10px;
    }
    .section-body{
      padding: 40px 0;

      h3{
        margin-top: 20px;
      }
    }
  }
}
.half-image{
	.img-wrap{
		display: block;
		text-align: center;
		
		@media screen and (min-width: 1220px){
			float: left;
			width: 50%;
		}
		
		img {
			max-width: 100%;
			width: 320px;
			@media screen and (min-width: 1220px){
				max-width: none;
				width: auto!important;
			}
		}
	}
	&.bottom-text {
		.img-wrap {
			max-width: 100%;
			overflow: hidden;
			@media screen and (min-width: 320px){
				display: inline-block;
				left: 50%;
              -webkit-transform: translateX(-50%);
              -moz-transform: translateX(-50%);
              -ms-transform: translateX(-50%);
              -o-transform: translateX(-50%);
              transform: translateX(-50%);
			}
			@media screen and (min-width: 1220px){
				display: block;
				text-align: center;
				left: 0;
              -webkit-transform: translateX(0);
              -moz-transform: translateX(0);
              -ms-transform: translateX(0);
              -o-transform: translateX(0);
              transform: translateX(0);
			}
			
			.text-wrapper {
				position: absolute;
				bottom: 0;
				background-color: rgba(0, 0, 0, 0.7);
				max-width: 100%;
				width: 100%;
				left: 0;
				@media screen and (min-width: 1220px){
					max-width: none;
					width: auto;
					right: 0;
					left: auto;
				}
				
				.container {
                  -webkit-transform: translateX(0);
                  -moz-transform: translateX(0);
                  -ms-transform: translateX(0);
                  -o-transform: translateX(0);
                  transform: translateX(0);
					max-width: 100%;
					
					@media screen and (min-width: 1220px){
                      -webkit-transform: translateX(50%);
                      -moz-transform: translateX(50%);
                      -ms-transform: translateX(50%);
                      -o-transform: translateX(50%);
                      transform: translateX(50%);
						max-width: none;
					}
					.text-footer {
						padding: 20px 0 25px;
						text-align: left;
						
						color: #fff;
						@media screen and (min-width: 1220px){
							max-width: 50%;
						}
					}
				}
			}
		}
	}
	.content {
		.button-wrapper {
			.btn {
				margin-top: 20px;
			}
		}
		@media screen and (min-width: 1220px){
			margin-left: 50%;
			padding-left: 30px;
			
			p {
				@media screen and (min-width: 1220px){
					margin-bottom: 15px;
					&:last-of-type{
						margin-bottom: 0;
					}
				}
			}
		}
	}
	&.half-same{
		.img-wrap{
			height: 280px;
			//min-height: 496px;
			@media screen and (min-width: 380px){
				height: auto;
			}
			@media screen and (min-width: 640px){
				float: left;
				width: 50%;
			}
			
			img {
				height: 100%;
				position: absolute;
				left: 50%;
              -webkit-transform: translateX(-50%);
              -moz-transform: translateX(-50%);
              -ms-transform: translateX(-50%);
              -o-transform: translateX(-50%);
              transform: translateX(-50%);
				max-width: none;
				max-height: none;
				width: auto;
				@media screen and (min-width: 380px){
					height: auto;
					position: relative;
					left: 0;
                  -webkit-transform: translateX(0);
                  -moz-transform: translateX(0);
                  -ms-transform: translateX(0);
                  -o-transform: translateX(0);
                  transform: translateX(0);
					max-width: 100%;
				}
				
			}			
			.caption{
				min-height: 90px;
				font-size: 12px;
				@media screen and (min-width: 1220px){
					min-height: 99px;
					font-size: 16px;
				}
			}
		}
	}

    &.middle-trans{
      @media screen and (min-width: 1024px) {
        .img-wrap{
          float: left;
          width: 50%;
          left: 0;
          -webkit-transform: translateX(0);
          -moz-transform: translateX(0);
          -ms-transform: translateX(0);
          -o-transform: translateX(0);
          transform: translateX(0);
          img{
            min-width: 100%;
          }
        }
        .content{
          margin-left: 50%;
          padding-left: 30px;
        }
      }
    }

	&.news-detail{
		.img-wrap{
			min-height: 218px;
			@media screen and (min-width: 1220px) {
				min-height: 532px;
			}
		}
	}
}

/*--- Card Model for Post List ---
  - White or dark BG
  - Action on Hover
*/
.card{
  color: @greyColor;

  .img-wrap{
    overflow: hidden;
  }
  .title{
    font-size: 16px;
    margin-top: 17px;
    padding: 0 15px;
  }
  .content{
    margin: 0 auto;
    padding: 0 15px;
  }
  .btn{
    margin: 20px 15px 25px;
  }

  &.action{
    .icon{

    }
    .btn{
      display: none;
    }
    &:hover{
      .icon{

      }
      .btn{
        display: inline-block;
      }
    }
  }

  @media screen and (min-width: 1220px) {
    text-align: center;

    .img-wrap{
      min-height: 350px;
    }
    .title{
      font-size: 20px;
      padding: 0;
    }
    .content{
      margin: 17px auto 0;
      max-width: 300px;
      padding: 0;
    }
    .btn{
      margin: 30px 0 0;
    }
  }
}

.card-group{
  margin: 0 auto;
  width: 476px;
  max-width: 100%;

  .img-wrap{
    max-width: 100%;
    img{
      width: 100%;
    }
  }

  @media screen and (min-width: 1024px) {
    width: 100%;
    .card{
      float: left;
      width: 100/3%;
    }
  }

  &.news-list{
    margin-bottom: 10px;
    .card{
      text-align: center;
      .date{
        font-weight: bold;
        margin-top: 15px;
        margin-bottom: 10px;
      }
      .title{
        margin: 0 auto;
        max-width: 360px;
        height: 70px;
      }
    }
    @media screen and (min-width: 1220px) {
      .card{
        .date{
          margin-top: 25px;
          margin-bottom: 20px;
        }
        .title{
          height: 110px;
        }
      }
    }
  }
}

/*--- Icon Action */
.icon-action{
	display: inline-block;
	text-align: center;
	
	.big-icon{
		background: no-repeat center top;
		display: block;
		margin: 0 auto;
	
		&.work{
		width: 108px;
		height: 119px;
	
		&.conference{
			background-image: url(../img/icon-work-1.png);
		}
		&.offering{
			background-image: url(../img/icon-work-2.png);
		}
		&.briefcase{
			background-image: url(../img/icon-work-3.png);
		}
		&.trainer{
			background-image: url(../img/icon-work-4.png);
		}
		}
		&.ext-info {
			width: 80px;
			height: 90px;
			
			&.investment-option {
				background-image: url(../img/icon-insurance-1.png);
			}
			&.rider {
				background-image: url(../img/icon-insurance-2.png);
			}
			&.investra-link {
				background-image: url(../img/icon-insurance-3.png);
			}
		}
	}
	.title{
		color: @greyColor;
		margin-top: 25px;
		line-height: 1.4;
		@media screen and (min-width: 1220px){
			line-height: 1.1;
		}
		
	}
	.btn{
		margin-top: 10px;
		opacity: 1;
		-webkit-transition: opacity .3s;
		-moz-transition: opacity .3s;
		-ms-transition: opacity .3s;
		-o-transition: opacity .3s;
		transition: opacity .3s;
		@media screen and (min-width: 1220px){
			opacity: 0;
		}
		
	}
	
	&:hover{
		.big-icon{
		background-position: center bottom;
		}
		.btn{
		opacity: 1;
		}
	}
}
.icon-action-list{
	&.quarter{
		.icon-action{
			width: 140px;
			@media screen and (min-width: 1220px){
				width: 240px;
			}
			
		}
	}
	&.third{
      margin-top: 10px;
		.icon-action{
			width: 300px;
		}
	}

  @media screen and (min-width: 1220px) {
    margin-top: 55px;
    margin-bottom: 10px;
  }
}

/*--- Media Object with Tumbnail ---
  - NO border, gray border, black border
  - Differences :
    - icon in what we offer (no border)
    - award in corporate award (black)
    - thumb in CSR (black)
    - insurance detail (no border)
    - cart in option investment (gray)
    - office in how to reach us (no border)
	- option of investment funds (gray)
*/

.media{
  .boxed-image{
    background-color: #fff;
    border: solid 1px #7c7c7c;
    text-align: center;
    vertical-align: middle;
    img{
      max-width: 100%;
      max-height: 100%;
    }
  }
  &.award{
    .boxed-image{
      display: table-cell;
      width: 210px;
      height: 164px;
    }
    img{
      max-height: 150px;
      max-width: 200px;
    }
  }
  &.csr{
    .boxed-image{
      width: 100%;
    }
    img{
      max-width: 100%;
      height: auto;
    }
    .media-body{
      margin-bottom: 30px;

      h4{
        text-transform: uppercase;
      }
    }
  }
}
.media-group{
  .media{
    width: 100%;
    .media-left{
      display: table;
      max-width: 100%;
      padding: 0;
      margin: 10px auto 15px;
    }
    .media-body{
      display: block;
      max-width: 100%;
    }
    &.csr{
      .media-left{
        display: block;
        margin-bottom: 5px;
      }
    }
  }

  @media screen and (min-width: 1024px) {
    .media{
      display: table;
      margin-top: 20px;
      margin-bottom: 30px;
      &:nth-last-of-type{
        margin-bottom: 0;
      }
      .media-left{
        display: table-cell;
        padding-right: 35px;
        width: 25%;
      }
      .media-body{
        display: table-cell;
        padding-top: 15px;
      }

      &.csr{
        .media-left{
          display: table-cell;
          margin-bottom: 5px;
          width: 210px;
          padding-right: 20px;

          .boxed-image{
            img{
              display: block;
              width: 200px;
              max-width: none;
            }
          }
        }
        .media-body{
          padding-top: 0;
          h4{
            margin-top: 0;
          }
        }
      }
    }
  }
  @media screen and (min-width: 1220px) {
    .media{
      .media-left{
        width: 20%;
      }
    }
  }
}
.employee-benefit{
  .media{
    margin: 40px 0;
  }
  .media-left{
    min-width: 165px;
    padding-right: 25px;
    text-align: center;
  }
  .media-body{
    h4{
      margin-top: 0;
    }
  }
}

/* Insurance option detail */
.insurance-graph, .insurance-diagram {
    .media-left{
      img{
        width: 100%;
      }
    }
	@media screen and (min-width: 1220px) {
      .media-left {
        padding-right: 35px;
        img{
          width: 374px;
        }
      }
    }
}
.insurance-diagram.media-list {
	.media {
		margin-top: 40px;
		
		&:first-child {
			margin-top: 0;
		}
      .media-left{
        display: block;
        img{
          display: block;
          margin: 0 auto;
          max-width: 100%;
          width: 378px;
        }
      }
      @media screen and (min-width: 1024px) {

        .media-left{
          display: table-cell;
          img{
            display: inline;
            max-width: 100%;
          }
        }
      }
	}
}

/*--- Image as Illustration*/
.illustration{
  color: @greyColor;
  margin: 30px 0;
  text-align: center;
  text-transform: uppercase;

  h4{
    margin: 30px 0 0;
  }
  img{
    max-width: 100%;
  }

  &.responsive-ready{
    overflow: auto;
    img{
      max-width: none;
      width: 768px;
    }

    @media screen and (min-width: 1220px) {
      img{
        max-width: 1190px;
        width: 100%;
      }
    }
  }
}

/*--- Accordion ---
  - Full width & half width
  - right & down arrow
*/

.accordion{
  .panel{
    background-color: transparent;
    border: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    margin: 15px 0;

    .panel-heading{
      background-color: @mainColor;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      color: #505052;
      line-height: 37px;
      height: 56px;
      padding: 10px 35px 10px 10px;
      position: relative;
      text-transform: uppercase;

      .panel-title{
        display: table;
        font-size: 16px;
        height: 37px;
        vertical-align: middle;
        span{
          display: table-cell;
          line-height: 20px;
          vertical-align: middle;
        }
      }
      &:after{
        background: url(../img/accordion-arrow-black.png) no-repeat center center;
        content: '';
        display: block;
        width: 15px;
        height: 13px;
        position: absolute;
        top: 22px;
        right: 10px;
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        transform: rotate(-90deg);
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        -ms-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease;
      }
      &:not(.collapsed){
        background-color: #505052;
        color: #ffffff;

        &:after{
          background-image: url(../img/accordion-arrow-white.png);
          -webkit-transform: rotate(0deg);
          -moz-transform: rotate(0deg);
          -ms-transform: rotate(0deg);
          -o-transform: rotate(0deg);
          transform: rotate(0deg);
        }
      }
    }
    .panel-collapse > .panel-body{
      border-top: 0;
      padding: 20px 0;
    }
  }

  &.boxy{
    .panel{
      .panel-body{
        background-color: #e6e6e6;
        padding: 20px 10px 30px;

        h4{
          margin-top: 40px;
          margin-bottom: 10px;

          &:first-child{
            margin-top: 0;
          }
        }
        ul{
          padding-left: 15px;
        }
      }
    }
    .panel-collapse.in > .panel-body{
      margin-bottom: 20px;
    }
  }

  @media screen and (min-width: 992px) {
    .panel{
      .panel-heading{
        padding: 10px 50px 10px 25px;
        .panel-title{
          font-size: 20px;
          line-height: 36px;
        }
        &:after{
          right: 25px;
        }
      }
    }
    &.boxy{
      .panel{
        .panel-body{
          padding: 30px 25px 70px;

          h4{
            margin-top: 40px;
            margin-bottom: 10px;

            &:first-child{
              margin-top: 0;
            }
          }
          ul{
            padding-left: 20px;
          }
        }
      }
      .panel-collapse.in > .panel-body{
        margin-bottom: 40px;
      }
    }

    &.hidding-accordion{
      margin-bottom: 0;
      .panel{
        .panel-heading{
          background-color: transparent;
          color: #505052;
          cursor: default;
          height: auto;
          padding: 0;
          &:after{
            display: none;
          }
          .panel-title{
            font-size: 26px;
          }
        }
        .panel-collapse{
          display: block;
          height: auto !important;
        }
        .panel-body{
          padding-bottom: 0;
        }
      }
    }
  }
}

/*--- Profile for Management ---
  - normal and dark bg
  - details profile
*/

.profile{
  margin-bottom: 20px;
  padding-top: 20px;

  .picture{
    margin-bottom: 20px;
    text-align: center;
    img{
      width: 290px;
    }
  }
  .name{
    color: @greyColor;
    margin-top: 0;
  }
  .position{
    color: @greyColor;
    font-weight: normal;
    margin-bottom: 20px;
  }
  .brief{
    margin-bottom: 25px;
  }

  @media screen and (min-width: 1220px){
    &.highlighted{
      position: relative;

      &:before{
        background-color: #e6e6e7;
        content: '';
        display: block;
        width: 105%;
        height: 100%;
        opacity: 0;
        position: absolute;
        top: 0px;
        left: -2.5%;
        z-index: 0;
        -webkit-transition: opacity .3s ease;
        -moz-transition: opacity .3s ease;
        -ms-transition: opacity .3s ease;
        -o-transition: opacity .3s ease;
        transition: opacity .3s ease;
      }
      .wrap{
        position: relative;
        z-index: 1;
      }

      &:hover{
        &:before{
          opacity: 1;
        }
      }
    }

    .picture{
      float: left;
      img{
        width: 135px;
      }
    }
    .details{
      margin-left: 165px;
      padding-bottom: 20px;
    }
    .position{
      margin-bottom: 30px;
    }
    .brief{
      margin-bottom: 0;
      min-height: 120px;
    }
    .btn{
      float: right;
    }

    .col-md-6 > &{
      margin-bottom: 40px;
      .details{
        padding-bottom: 20px;
      }
    }
  }
}

.profile-details{
  padding-top: 0px;
  .name{
    font-size: 16px;
  }
  .position{
    font-size: 16px;
  }
  .desc{
    font-weight: lighter;
	text-align: justify;
  }
  & + .btn-back{
    margin-top: 0px;
    margin-bottom: 30px;
    width: 140px;
  }

  @media screen and (min-width: 1220px) {
    padding-top: 50px;
    .picture{
      img{
        width: 273px;
      }
    }
    .details{
      margin-left: 165px;
    }
    .details{
      margin-left: 320px;
    }
    .name{
      font-size: 26px;
    }
    .position{
      font-size: 18px;
    }
    & + .btn-back{
      margin-bottom: 0;
    }
  }
}

/*--- File & Magazine ---*/
.file{
  background: url(../img/icon-file.png) no-repeat left top;
  margin: 10px 0 30px;

  .details{
    min-height: 90px;
    padding-top: 5px;
    padding-bottom: 25px;
    padding-left: 90px;
  }
  .name{
    color: @greyColor;
    font-size: 16px;
  }
  .text{
    color: @greyColor;
    font-size: 14px;
    margin-bottom: 10px;
  }
  .action{
    .btn + .btn{
      float: right;
    }
  }

  @media screen and (min-width: 1220px) {
    margin: 10px 0 30px;
    .details{
      padding-top: 0;
      padding-bottom: 0;
    }
    .name{
      font-size: 20px;
    }
    .text{
      font-size: 20px;
      margin-bottom: 10px;
    }
    .action{
      padding-left: 90px;
      .btn + .btn{
        float: none;
        margin-left: 27px;
      }
    }
  }
}
.magazine{
  margin: 10px auto 30px;
  width: 300px;
  .cover{
    width: 100%;
    img{
      width: 100%;
    }
  }
  .title{
    color: @greyColor;
    margin: 20px 0;
  }
  .action{
    .btn + .btn{
      float: right;
    }
  }

  @media screen and (min-width: 1024px) {
    float: left;
    margin: 10px 0;
    margin-left: 44/1190 * 100%;
    width: 264/1190 * 100%;

    &:nth-of-type(4n + 1){
      margin-left: 0;
    }
    .action{
      text-align: center;
      .btn{
        float: none !important;
        margin: 5px 0;
      }
    }
  }
  @media screen and (min-width: 1220px) {
    .action{
      text-align: left;
      .btn + .btn{
        margin-left: 5px;
      }
    }
  }
}
.partner-list{
  margin-bottom: -20px;
  text-align: center;

  .partner{
    display: block;
    height: 120px;
    vertical-align: middle;
    position: relative;

    img{
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
  }

  @media screen and (min-width: 1220px) {
    text-align: justify;
    .partner{
      display: inline-block;
      height: auto;

      img{
        position: static;
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0);
      }
    }
    &:after{
      content: '';
      display: inline-block;
      width: 100%;
    }
  }
}

/*--- Table ---
  - gray table (default)
  - yellow table
  - table claims ??? or image
*/

.table{
  border: 0;
  margin-top: 40px;
  margin-bottom: 20px;
  & > thead{
    border: 0;
    & > tr{
      & > th{
        background-color: #505052;
        border: 0;
        border-left: solid 1px #ffffff;
        border-right: solid 1px #ffffff;
        border-bottom: solid 1px #a2a2a3;
        color: #ffffff;
        font-size: 16px;
        padding: 10px 15px;
        text-align: center;
        vertical-align: middle;
        
        .table-primary&{
          background-color: @mainColor;
          color: #514f52;
          border: 0;
          text-align: left;
          padding: 10px 30px;
        }
      }
    }
  }
  & > tbody{
    & > tr{
      & > td{
        border: 0;
        border-left: solid 1px #ffffff;
        border-right: solid 1px #ffffff;
        padding: 10px 15px;

        .table-primary&{
          padding: 10px 30px;
        }
      }
      &:nth-child(odd){
        & > td{
          background-color: #f0f0f0;
        }
      }
    }
  }
}
.table-responsive{
  border: none;
  margin-top: 40px;
  .table{
    margin-top: 0;
  }

  .accordion &{
    margin-top: 0;
  }
  
  @media screen and (min-width: 1220px) {
    overflow-x: hidden;
    .table{
      width: 100%;
    }
  }
}

/*--- Video ---*/
.video{
	max-width: 100%;
	display: inline-block;
	text-align: center;
	width: 360px;
	vertical-align: top;
	
	@media screen and (min-width: 1220px){
		max-width: none;
		margin-top: 30px;
        width: 343px;
    }
	
	.cover{
		display: block;
        overflow: hidden;
		position: relative;
		width: 100%;
		height: 270px;
		img{
			min-width: 100%;
			min-height: 100%;
		}
		&:after{
			background: url(../img/cover-video.png) no-repeat center center;
			content: '';
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
		}
	}
	.title{
		color: @greyColor;
		font-size: 16px;
		padding: 0 15px;
		text-align: left;
		margin-top: 15px;
		display: block;
		font-family: helvetica_neue, Helvetica, Arial, sans-serif;
		font-weight: bold;
		max-width: 100%;
		@media screen and (min-width: 1220px){
			font-size: 20px;
			padding: 0;
			text-align: center;
			margin-top: 25px;
			letter-spacing: -0.2px;
		}
		
	}
	&:hover{
		text-decoration: none;
	}
}
.video-list{
  margin-bottom: 20px;
  @media screen and (min-width: 1024px){
    margin: 40px 0;
  }
}

/*--- Pagination ---*/
#pagination {
	display: block;
	width: 100%;
	text-align: center;
	.pagination{
		ul {
			list-style: none;
			margin: 0;
			padding: 0;
			li {
				display: inline-block;
				margin-right: 5px;
				
				&:last-child {
					margin-right: 0;
				}
				a, span {
					width: 35px;
					height: 35px;
					display: block;
					background-color: #ffcc01;
					text-align: center;
					line-height: 35px;
					color: #322e2f;
					text-decoration: none;
					
					transition: all 0.2s ease-in-out;
				}
				
				a:hover, a:active {
					background-color: #322e2f;
					color: #fff;			
				}
				
				span.current {
					background-color: #322e2f;
					color: #fff;
				}
			}
		}
	}
}
/*--- SOCMED Feed ---
  Executed using isotope js
*/
.social-media-grid{
  .filter-control{
    margin-left: -3px;
    margin-bottom: 35px;

    li{
      display: inline-block;
      margin: 6px 3px;
    }
    a{
      background-color: @mainColor;
      color: @greyColor;
      display: block;
      font-size: 20px;
      font-weight: bold;
      line-height: 48px;
      height: 48px;
      text-decoration: none;
      text-align: center;
      text-transform: uppercase;
      width: 140px;
      
      &:hover,
      &.active{
        background-color: @greyColor;
        color: #ffffff;
      }
    }
  }
  .grid-control{
    text-align: center;
    .btn{
      width: 125px;
    }
  }
  .grid-container{
    margin: 0 auto;
    max-width: 100%;
  }
}
.socmed-feed{
  background-color: #fff;
  border: solid 2px #ededed;
  margin-bottom: 50px;
  padding: 10px;
  width: 360px;
  max-width: 100%;

  .socmed-head{
    border-bottom: solid 2px #ededed;
    padding-top: 2px;
    padding-bottom: 23px;
    position: relative;
    .profpic{
      float: left;
      height: 40px;
      width: 40px;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px;
    }
    .data{
      margin-left: 55px;
    }
    .name{
      margin-top: 0;
      margin-bottom: 0;
    }
    .timestamp{
      font-size: 14px;
    }
    .ribbon{
      background: url(../img/ribbon-socmed-facebook.png) no-repeat center center;
      display: block;
      width: 43px;
      height: 51px;
      position: absolute;
      right: -24px;
      top: -2px;
    }
  }
  .socmed-body{
    font-weight: lighter;
    padding: 20px 0;
    img{
      margin-bottom: 20px;
      width: 100%;
    }
    a{
      color: #3db6e5;
    }
  }

  &.facebook{
    .socmed-head{
      .ribbon{
        background-image: url(../img/ribbon-socmed-facebook.png);
      }
    }
  }
  &.twitter{
    .socmed-head{
      .ribbon{
        background-image: url(../img/ribbon-socmed-twitter.png);
      }
    }
  }
  &.instagram{
    .socmed-head{
      .ribbon{
        background-image: url(../img/ribbon-socmed-instagram.png);
      }
    }
  }
}

/*--- Google Map ---*/
.map-container{
  height: 250px;

  @media screen and (min-width: 1220px) {
    height: 538px;
  }
}
.location-select{
  .style-select.form-control{
    padding: 0;
    height: 42px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    select{
      height: 42px;
      padding: 6px 15px;
    }
    &:after{
      right: 15px;
    }
  }
  .btn{
    margin-top: 3px;
    width: 93px;
  }

  @media screen and (min-width: 1220px) {
    .form-group{
      margin-bottom: 10px;
    }
  }
}
.location{
  margin-top: 10px;
  .media-group{
    .media{
      margin-bottom: 20px;
    }
    .media-left{
      img{
        width: 330px;
      }
    }
    .media-body{
      line-height: 1.9em;
    }
  }

  @media screen and (min-width: 768px) {
    .media-group{
      .media-left{
        display: table-cell;
        img{
          width: 208px;
        }
      }
      .media-body{
        display: table-cell;
        padding-top: 0;
        padding-left: 35px;
      }
    }
  }
  @media screen and (min-width: 992px) {
    .media-group{
      .media-left{
        img{
          width: 148px;
        }
      }
      .media-body{
        padding-top: 0;
        padding-left: 25px;
        h4{
          margin-top: 0;
        }
      }
    }
  }
  @media screen and (min-width: 1024px) {
    .media-group{
      .media-body{
        padding-left: 0;
      }
    }
  }
}

/*--- Sliders ---
  - Executed using OWL.js

  - Card in Slider
  - sub managemen slider
  - fund preformance year slider

  - agency sales slider
  - Banner in Slider
*/
.slider{
  position: relative;
  .control-box{
    background-color: #000;
    bottom: 0;
    height: 40px;
    left: 50%;
    padding: 7px 5px 7px 14px;
    position: absolute;
    z-index: 10;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);

    .play-pause{
      background: url(../img/btn-pause.png) no-repeat center center;
      display: inline-block;
      margin-right: 4px;
      width: 15px;
      height: 16px;
      vertical-align: middle;

      &.paused{
        background-image: url(../img/btn-play.png);
      }
    }
    .dotArea{
      display: inline-block;
      height: 16px;
      line-height: 16px;
      vertical-align: middle;
    }
  }

  .owl-dot{
    background-color: #ffffff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    margin: 0px 7px;
    width: 14px;
    height: 14px;
    vertical-align: middle;
    
    &.active{
      background-color: #727272;
    }
  }

  .slide-controls{
    position: absolute;
  }
  .controlArea{
    .owl-prev,
    .owl-next{
      background: url(../img/carousel-arrow.png) no-repeat rgba(130,130,130,.8);
      cursor: pointer;
      display: block;
      text-indent: -9999px;
      width: 43px;
      height: 48px;
      position: absolute;
      top: 50%;
      z-index: 1;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
      
      &:hover{
        background-color: #707070;
      }
    }
    .owl-prev{
      background-position: left center;
      left: 0;
    }
    .owl-next{
      background-position: right center;
      right: 0;
    }
  }
}

.card-slider{
	.slide-inner {
		.owl-stage {
			@media screen and (min-width: 1024px){
				display: flex;
			}
			.owl-item {
				.card {
					@media screen and (min-width: 1024px){
						height: 100%;
						padding-bottom: 70px;
						position: relative;						
					}
					.btn {
						@media screen and (min-width: 1024px){
							position: absolute;
							bottom: 0;
							left: 50%;
                          -webkit-transform: translateX(-50%);
                          -moz-transform: translateX(-50%);
                          -ms-transform: translateX(-50%);
                          -o-transform: translateX(-50%);
                          transform: translateX(-50%);
						}
					}
				}
			}
		}
	}
	.controlArea {
		.owl-prev, .owl-next {
			top: 150px;
          -webkit-transform: translate(0, 0);
          -moz-transform: translate(0, 0);
          -ms-transform: translate(0, 0);
          -o-transform: translate(0, 0);
          transform: translate(0, 0);
		}
	}
}

.video-slider, .action-list-slider {
	.owl-item {
		text-align: center;
	}
}

.profile-slider{
  .slide-inner{
    width: 100%;
  }
  .division-list{
    .member{
      margin: 30px auto 0;
      text-align: center;
    }
  }
  .profile-card{
    color: @greyColor;
    display: inline-block;
    margin-left: 30px;
    margin-right: 30px;
    vertical-align: top;
    width: 165px;

    .name{
      margin-top: 25px;
    }
    .position{
      font-weight: lighter;
    }

    &:hover{
      text-decoration: none;
    }
  }

  &.desktop-view{
    display: none;
  }
  &.mobile-view{
    display: block;
    text-align: center;
    .profile-card{
      margin: 0;
      width: 100%;
      .wrapper{
        display: block;
        margin: 25px auto 0;
        width: 280px;
      }
    }
  }
  @media screen and (min-width: 1220px) {
    &.desktop-view{
      display: block;
    }
    &.mobile-view{
      display: none;
    }
  }
}


.link-slider{
  margin-bottom: 30px;
  a{
    background-color: @mainColor;
    color: @greyColor;
    display: block;
    font-weight: bold;
    height: 48px;
    line-height: 48px;
    text-align: center;
    text-decoration: none;

    &.active, &:hover{
      background-color: @greyColor;
      color: #ffffff;
    }
  }
}

.article-slider{
  margin: 0 auto;
  max-width: 768px;
  .img-wrap{
    min-height: 252px;
    img{
      min-width: 100%;
    }
  }
  .content{
    .name{
      color: @greyColor;
    }
    .instance{
      color: @greyColor;
      font-weight: normal;
    }
    .comment{
      margin-top: 20px;
      margin-bottom: 30px;
      text-align: justify;
    }
  }
  .controlArea{
    .owl-prev,
    .owl-next{
      top: 23%;
    }
  }

  @media screen and (min-width: 768px) {
    .controlArea{
      .owl-prev,
      .owl-next{
        top: 40%;
      }
    }
  }

  @media screen and (min-width: 1024px) {
    max-width: none;
    .content{
      .comment{
        font-style: italic;
        margin-top: 30px;
        margin-bottom: 0;
      }
    }
    .controlArea{
      .owl-prev,
      .owl-next{
        top: 50%;
      }
    }
  }
  @media screen and (min-width: 1220px) {

    .img-wrap{
      min-height: 465px;
    }
  }
}

.banner-slider{
  .top-slide{
    background-color: #282828;
    color: #ffffff;
    .img-wrap{
      margin-top: -1px;
      min-height: 237px;

      img{
        width: 100%;
      }
    }
    .content{
      padding-bottom: 60px;
      text-align: left;
    }
    .title{
      color: @mainColor;
      font-size: 26px;
      margin-top: 20px;
      margin-bottom: 10px;
    }
  }

  @media screen and (min-width: 1220px) {
    .top-slide{
      .img-wrap{
        min-height: 403px;
      }
      .content{
        padding-bottom: 0;
        text-align: right;
      }
      .title{
        font-size: 38px;
        margin-top: 85px;
        margin-bottom: 30px;
      }
      .desc{
        padding-left: 50px;
      }
    }
  }
}

/*--- Download Group 
	group of download button: 2 item
---*/
.download-group {
  text-align: center;
  a{
    margin-top: 15px;
  }
  @media screen and (min-width: 1220px) {
    text-align: right;
    a{
      margin-top: 0;
    }
    a.btn:nth-child(1){
      margin-right: 30px;
    }
  }
}
