/*
  Commonwealth Life Official Site
  Copyright (C) 2012.  PT Commonwealth Life │ PT Commonwealth Life terdaftar dan diawasi oleh Otoritas Jasa Keuangan
  Frontend Developed on Dec 2015 by POTEam.id
  @himmarama & budisetiawan
*/
/* fonts */
@font-face {
  font-family: helvetica_neue_roman;
  src: url('/Fonts/HelveticaNeueLTStd-Roman.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: helvetica_neue;
  src: url('/Fonts/HelveticaNeueLTStd-Lt_0.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: helvetica_neue;
  src: url('/Fonts/HelveticaNeueLTStd-Bd.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url('/Fonts/opensans-regular-webfont.eot');
  src: url('/Fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'), url('/Fonts/opensans-regular-webfont.woff2') format('woff2'), url('/Fonts/opensans-regular-webfont.woff') format('woff'), url('/Fonts/opensans-regular-webfont.ttf') format('truetype'), url('/Fonts/opensans-regular-webfont.svg#"Open Sansregular"') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sanslight';
  src: url('/Fonts/opensans-light-webfont.eot');
  src: url('/Fonts/opensans-light-webfont.eot?#iefix') format('embedded-opentype'), url('/Fonts/opensans-light-webfont.woff2') format('woff2'), url('/Fonts/opensans-light-webfont.woff') format('woff'), url('/Fonts/opensans-light-webfont.ttf') format('truetype'), url('/Fonts/opensans-light-webfont.svg#"Open Sanslight"') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sanssemibold';
  src: url('/Fonts/opensans-semibold-webfont.eot');
  src: url('/Fonts/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'), url('/Fonts/opensans-semibold-webfont.woff2') format('woff2'), url('/Fonts/opensans-semibold-webfont.woff') format('woff'), url('/Fonts/opensans-semibold-webfont.ttf') format('truetype'), url('/Fonts/opensans-semibold-webfont.svg#"Open Sanssemibold"') format('svg');
  font-weight: normal;
  font-style: normal;
}
/*========= Index =========
  1. General & Override
      --- Typography
      --- List & Nav
      --- Form
      --- Buttons
      --- Navbar
  2. Header & Footer
      --- Main Header
      --- Main Footer
  3. Contents
      --- Banner
      --- Breadcrumb
      --- Image Wrap
      --- Page Section & Half Image
      --- Card Model
      --- Icon Action
      --- Media Object
      --- Insurance Option
      --- Illustration
      --- Accordion
      --- Profile
      --- File & Magazine
      --- Table
      --- Video
      --- Pagination
      --- SocMed Feed
      --- Google Map
      --- Slider
      --- Download Group
*/
/*=== 1. GENERAL & OVERRIDE ===*/
body {
  background-color: #f5f5f5;
  font-family: helvetica_neue,Helvetica,Arial,sans-serif;
  font-size: 14px;
  max-width: 100%;
  transition: all 0.5s;
}
@media screen and (min-width: 1220px) {
  body {
    font-size: 16px;
  }
}
body.to-left {
  -webkit-transform: translateX(-180px);
  -moz-transform: translateX(-180px);
  -ms-transform: translateX(-180px);
  -o-transform: translateX(-180px);
  transform: translateX(-180px);
  overflow: hidden;
  height: 100%;
  max-height: 100%;
  position: relative;
}
body.to-left::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  left: 0;
  top: 0;
  z-index: 999;
}
@media screen and (min-width: 1220px) {
  body.to-left {
    height: auto;
    overflow: auto;
  }
  body.to-left::after {
    display: none;
  }
}
@media screen and (min-width: 1220px) {
  body.to-left {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
body.to-right {
  -webkit-transform: translateX(190px);
  -moz-transform: translateX(190px);
  -ms-transform: translateX(190px);
  -o-transform: translateX(190px);
  transform: translateX(190px);
  overflow: hidden;
  height: 100%;
  max-height: 100%;
  position: relative;
}
body.to-right::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  left: 0;
  top: 0;
  z-index: 999;
}
@media screen and (min-width: 1220px) {
  body.to-right {
    height: auto;
    overflow: auto;
  }
  body.to-right::after {
    display: none;
  }
}
@media screen and (min-width: 1220px) {
  body.to-right {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
.overlayed {
  overflow: hidden;
  height: 100%;
  max-height: 100%;
  position: relative;
}
.overlayed::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  left: 0;
  top: 0;
  z-index: 999;
}
@media screen and (min-width: 1220px) {
  .overlayed {
    height: auto;
    overflow: auto;
  }
  .overlayed::after {
    display: none;
  }
}
.container {
  max-width: 100%;
}
@media (min-width: 1220px) {
  .container {
    width: 1220px;
  }
}
/*--- Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}
h1 {
  font-size: 25px;
}
@media screen and (min-width: 1220px) {
  h1 {
    font-size: 50px;
  }
}
h2 {
  font-size: 38px;
}
h3 {
  font-size: 19px;
}
@media screen and (min-width: 1220px) {
  h3 {
    font-size: 26px;
  }
}
h4 {
  font-size: 16px;
}
@media screen and (min-width: 1220px) {
  h4 {
    font-size: 20px;
  }
}
h5 {
  font-size: 18px;
}
h6 {
  font-size: 14px;
}
@media screen and (min-width: 1220px) {
  h6 {
    font-size: 16px;
  }
}
a {
  text-decoration: none;
}
.white.text {
  color: #fff;
}
.fw-normal {
  font-weight: normal;
  display: inline!important;
}
.font-sm {
  font-size: 12px;
}
/*--- List & Nav */
ul.list {
  margin: 0;
  padding-left: 15px;
}
ul.list li {
  padding: 2px 0;
}
@media screen and (min-width: 1220px) {
  ul.list {
    margin: 40px 0;
  }
  ul.list li {
    padding: 7px 0;
  }
}
nav ul,
.nav-bottom ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
nav ul li,
.nav-bottom ul li {
  padding: 0;
}
.separator {
  border: solid #cdcccc;
}
.separator.right {
  border-width: 0 1px 0 0;
}
.separator.left {
  border-width: 0 0 0 1px;
}
/*--- Form */
.form .form-control {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  font-size: 16px;
  height: 42px;
  padding: 6px 15px;
}
.form .form-control:focus {
  border-color: #fec110;
  -webkit-box-shadow: 0 0 8px rgba(254, 193, 16, 0.6);
  -moz-box-shadow: 0 0 8px rgba(254, 193, 16, 0.6);
  box-shadow: 0 0 8px rgba(254, 193, 16, 0.6);
  outline: 0;
}
.form textarea.form-control {
  height: auto;
  min-height: 42px;
  resize: vertical;
}
.form.alter-form .form-control {
  background-color: #f0f0f0;
}
.form .form-control.style-select {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  padding: 0;
}
.form .form-control.style-select:after {
  content: url(/Images/icon-select.png);
  display: block;
  width: 16px;
  height: 14px;
  margin-top: -10px;
  position: absolute;
  top: 50%;
  right: 15px;
}
.form .form-control.style-select select {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  height: 42px;
  padding: 6px 10px;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.form .form-control.style-select option {
  border: 0;
  line-height: 1.3em;
  padding: 5px 10px;
}
.form .form-control.style-select *:disabled {
  color: #ccc;
}
.form .file-browse {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}
.form .file-browse input[type=file] {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}
.form .file-browse .form-control {
  line-height: 30px;
}
.form .file-browse:after {
  content: url(/Images/icon-menu/ico_search.png);
  display: block;
  width: 17px;
  height: 16px;
  margin-top: -8px;
  position: absolute;
  top: 50%;
  right: 15px;
}
.form .form-group {
  margin-bottom: 14px;
}
@media screen and (min-width: 1220px) {
  .form .form-control {
    font-size: 20px;
    height: 63px;
    padding: 6px 50px;
  }
  .form .form-control.style-select select {
    height: 63px;
    padding: 6px 50px;
  }
  .form .form-control.style-select:after {
    margin-top: -13px;
    right: 28px;
  }
  .form .file-browse .form-control {
    line-height: 49px;
  }
  .form .file-browse:after {
    right: 28px;
  }
  .form .form-group {
    margin-bottom: 30px;
  }
}
.form-horizontal {
  margin: 20px 0;
}
.form-horizontal .control-label {
  text-align: left;
}
.form-horizontal .btn {
  margin-top: 30px;
  width: 125px;
}
@media screen and (min-width: 1220px) {
  .form-horizontal {
    margin: 80px 0 40px;
  }
  .form-horizontal .control-label {
    font-weight: normal;
    padding-top: 14px;
  }
  .form-horizontal .form-control {
    font-size: 16px;
    height: 50px;
    padding: 6px 25px;
  }
  .form-horizontal .form-control.style-select select {
    height: 48px;
    padding: 6px 20px;
  }
  .form-horizontal .form-control.style-select:after {
    margin-top: -7px;
    right: 25px;
  }
  .form-horizontal .file-browse::after {
    right: 25px;
  }
}
/*--- Buttons */
a {
  color: #3eb6e6;
}
a:hover,
a:active {
  color: #3eb6e6;
}
.btn {
  background-color: #fec110;
  border: 0;
  color: #000;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: lighter;
  height: 36px;
  line-height: 24px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  -webkit-border-radius: 23px;
  -moz-border-radius: 23px;
  border-radius: 23px;
}
.btn:hover {
  background-color: #FEEA87;
}
.banner .btn {
  height: 37px;
  line-height: 25px;
  padding-left: 15px;
  padding-right: 15px;
  -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.3);
}
@media screen and (min-width: 1220px) {
  .banner .btn {
    height: 45px;
    line-height: 33px;
  }
}
.btn.blue {
  background-color: #3eb5e5;
  height: 34px;
  line-height: 1.42857;
  padding: 5px 11px;
  font-size: 16.16px;
  transition: background-color 0.2s;
}
.btn.blue:hover,
.btn.blue:active {
  background-color: #a8dcee;
}
i.icon {
  background: no-repeat center center;
  display: inline-block;
  margin: 0 5px;
  vertical-align: middle;
}
i.icon-more {
  background-image: url(/Images/icon-more.png);
  width: 7px;
  height: 10px;
  margin-right: 0;
  -webkit-transform: translateY(-1px);
  -moz-transform: translateY(-1px);
  -ms-transform: translateY(-1px);
  -o-transform: translateY(-1px);
  transform: translateY(-1px);
}
i.icon-back {
  background-image: url(/Images/icon-more.png);
  width: 7px;
  height: 10px;
  margin-left: 0;
  -webkit-transform: rotate(180deg) translateY(2px);
  -moz-transform: rotate(180deg) translateY(2px);
  -ms-transform: rotate(180deg) translateY(2px);
  -o-transform: rotate(180deg) translateY(2px);
  transform: rotate(180deg) translateY(2px);
}
i.icon-caret {
  background-image: url(/Images/icon-caret.png);
  width: 9px;
  height: 5px;
}
i.icon-caret-yellow {
  background-image: url(/Images/icon-caret-yellow.png);
  width: 9px;
  height: 5px;
}
i.icon-caret-sm {
  background-image: url(/Images/icon-caret-sm.png);
  width: 9px;
  height: 5px;
}
i.icon-caret-top-sm-dark {
  background-image: url(/Images/icon-caret-top-sm-dark.png);
  width: 10px;
  height: 6px;
}
i.icon-caret-top-sm-white {
  background-image: url(/Images/icon-caret-top-sm-white.png);
  width: 10px;
  height: 6px;
}
i.icon-person {
  background-image: url(/Images/icon-menu/ico_person.png);
  width: 16px;
  height: 18px;
  pointer-events: none;
}
i.icon-hamburger {
  background-image: url(/Images/icon-menu/ico_hamburger.png);
  width: 16px;
  height: 15px;
  pointer-events: none;
}
i.icon-search {
  background-image: url(/Images/icon-menu/ico_search.png);
  width: 16px;
  height: 16px;
  pointer-events: none;
}
.arrow-right {
  width: 0;
  height: 0;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-left: 3px solid #000;
  display: inline-block;
}
.btn:focus,
.btn:active,
a:focus,
a:active {
  outline: 0!important;
}
.social-md {
  width: 42px;
  height: 43px;
}
.social-sm {
  width: 32px;
  height: 33px;
}
.social-media li {
  margin: 0 3px;
}
.social-media i.icon {
  background-size: 100% 100%;
}
.social-media i.icon-fb {
  background-image: url('/Images/icon-menu/ico_social_fb.png');
}
.social-media i.icon-tw {
  background-image: url('/Images/icon-menu/ico_social_tw.png');
}
.social-media i.icon-ig {
  background-image: url('/Images/icon-menu/ico_social_ig.png');
}
.social-media i.icon-li {
  background-image: url('/Images/icon-menu/ico_social_li.png');
}
/*--- Navbar */
#navbar-search {
  margin: 0;
  padding: 0;
  max-width: 100%;
  border-color: #CDCCCC;
}
#navbar-search .form-group {
  position: relative;
  max-width: 100%;
}
#navbar-search .form-group input {
  max-width: 100%;
}
#navbar-search .form-group button {
  border: 0px none;
  background-color: transparent;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}
.arrow-slide-nav {
  color: #fff;
  font-size: 16px;
  position: absolute;
  top: 35px;
  display: inline-block;
  padding: 10px 0;
}
@media screen and (min-width: 1220px) {
  .arrow-slide-nav {
    display: none;
  }
}
#arrow-e-service {
  left: 25px;
  padding-right: 10px;
}
#arrow-right-slide {
  right: 14px;
  padding-left: 10px;
}
#navbar-right-slide {
  padding-top: 90px;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #6C6666;
  width: 180px;
  z-index: 999;
  font-family: "Open Sanslight";
  font-size: 12px;
  height: 100%;
  right: -180px;
  transition: right 0.5s ease-in-out;
  overflow: auto;
}
#navbar-right-slide h4 {
  font-family: "Open Sanslight" !important;
}
#navbar-right-slide.opened {
  right: 0;
}
#navbar-right-slide #widget-nav-mobile {
  padding: 14px 14px 20px;
}
#navbar-right-slide #widget-nav-mobile #navbar-search {
  border: 0px none;
  margin-bottom: 20px;
}
#navbar-right-slide #widget-nav-mobile #navbar-search input[type="text"] {
  border: 0px none;
  border-radius: 0;
  height: 25px;
  background-color: #f0f0f0;
  font-size: 12px;
  box-shadow: none;
}
#navbar-right-slide #widget-nav-mobile #navbar-search button {
  font-size: 16px;
}
#navbar-right-slide #widget-nav-mobile .select-language a {
  text-decoration: none;
  font-family: "Open Sanslight";
  font-size: 12px;
  color: #4c4b4b;
  border: 0px none;
  background-color: #e6e6e6;
  overflow: hidden;
  transition: background-color 0.2s ease-in-out;
}
#navbar-right-slide #widget-nav-mobile .select-language a:hover,
#navbar-right-slide #widget-nav-mobile .select-language a:active,
#navbar-right-slide #widget-nav-mobile .select-language a:focus,
#navbar-right-slide #widget-nav-mobile .select-language a.active {
  color: #4c4b4b;
  background-color: #ffcb01;
}
#navbar-right-slide #widget-nav-mobile .select-language a:first-child {
  padding-right: 6px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
#navbar-right-slide #widget-nav-mobile .select-language a:last-child {
  padding-left: 6px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
#navbar-right-slide #main-nav-mobile .panel-heading,
#navbar-right-slide #main-nav-mobile .panel-body {
  padding: 0;
}
#navbar-right-slide #main-nav-mobile .panel {
  box-shadow: none;
}
#navbar-right-slide #main-nav-mobile .panel > .panel-heading > .panel-title a {
  color: #ffcb01;
  font-size: 14px;
  text-decoration: none;
  padding: 10px;
  display: block;
  position: relative;
}
#navbar-right-slide #main-nav-mobile .panel > .panel-heading > .panel-title a .icon.icon-caret-yellow {
  position: absolute;
  top: 16px;
  right: 5px;
}
#navbar-right-slide #main-nav-mobile .panel > .panel-collapse > .panel-body > ul > li > a,
#navbar-right-slide #main-nav-mobile .panel > .panel-collapse > .panel-body .panel .panel-title a {
  color: #4c4b4b;
  font-size: 12px;
  display: block;
  background-color: #e6e6e6;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}
#navbar-right-slide #main-nav-mobile .panel > .panel-collapse > .panel-body > ul > li > a i,
#navbar-right-slide #main-nav-mobile .panel > .panel-collapse > .panel-body .panel .panel-title a i,
#navbar-right-slide #main-nav-mobile .panel > .panel-collapse > .panel-body > ul > li > a span,
#navbar-right-slide #main-nav-mobile .panel > .panel-collapse > .panel-body .panel .panel-title a span {
  display: table-cell;
  vertical-align: top;
}
#navbar-right-slide #main-nav-mobile .panel > .panel-collapse > .panel-body > ul > li > a i,
#navbar-right-slide #main-nav-mobile .panel > .panel-collapse > .panel-body .panel .panel-title a i {
  width: 33px;
}
#navbar-right-slide #main-nav-mobile .panel > .panel-collapse > .panel-body > ul > li > a .icon-caret-sm,
#navbar-right-slide #main-nav-mobile .panel > .panel-collapse > .panel-body .panel .panel-title a .icon-caret-sm {
  position: absolute;
  top: 15px;
  right: -7px;
}
#navbar-right-slide #main-nav-mobile .panel > .panel-collapse > .panel-body .panel .panel-collapse .panel-body ul li a {
  background-color: #fff;
}
#navbar-right-slide #main-nav-mobile .panel-title {
  font-weight: normal;
}
#navbar-right-slide #main-nav-mobile .panel,
#navbar-right-slide #main-nav-mobile .panel-heading,
#navbar-right-slide #main-nav-mobile .panel-body {
  background-color: transparent;
  border: 0px none;
  border-radius: 0;
}
/*--- Login e-services ---*/
.e-service {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  overflow: auto;
  background-color: #fed009;
  z-index: 900;
  padding-top: 70px;
  width: 190px;
  left: -190px;
  transition: left 0.5s ease-in-out;
}
.e-service .main-category > li {
  margin-top: 10px;
  border-style: solid;
  border-color: #fff;
  border-width: 1px 0 0;
  box-shadow: inset 0 1px 1px -1px #fdb904, inset 0 1px 1px -1px rgba(251, 29, 29, 0.3);
}
@media screen and (min-width: 1220px) {
  .e-service .main-category > li {
    margin-top: 0;
  }
}
.e-service .main-category > li:first-child {
  border-top-width: 0px;
  box-shadow: none;
}
.e-service .main-category > li a {
  font-family: helvetica_neue,Helvetica,Arial,sans-serif;
  font-size: 13px;
  color: #000;
  text-decoration: none;
  display: block;
  padding: 13px 25px;
}
.e-service .main-category > li a span {
  display: block;
  line-height: 1.22857;
}
.e-service .main-category > li a i,
.e-service .main-category > li a div {
  display: table-cell;
  vertical-align: middle;
}
.e-service .main-category > li a i {
  padding-right: 20px;
  min-width: 47px;
}
.e-service .social-media {
  padding: 18px 0;
}
.e-service .social-media li {
  padding: 0;
  margin-right: 1px;
}
.e-service .social-media li a {
  padding: 0;
}
#nav-e-service.opened {
  left: 0;
}
@media screen and (min-width: 1220px) {
  /*--- Login e-services ---*/
  .e-service {
    position: absolute;
    top: 223px;
    left: 0;
    height: auto;
    padding-top: 0;
    z-index: 2;
  }
  .e-service .main-category > li:first-child {
    border-top-width: 1px;
    box-shadow: inset 0 1px 1px -1px #fdb904, inset 0 1px 1px -1px rgba(251, 29, 29, 0.3);
  }
}
.social-media li {
  display: inline-block;
}
.social-media li a img {
  width: 32px;
  height: 33px;
}
/*=== 2. HEADER & FOOTER ===*/
/*--- Header ---*/
#main-header .top-header {
  background-color: #000;
  color: #fff;
  height: 80px;
}
#main-header .top-header .container {
  height: inherit;
}
#main-header .top-header .container .row {
  height: inherit;
}
#main-header .top-header .container .row > div {
  height: inherit;
}
#main-header .top-header .slogan {
  text-transform: uppercase;
  display: inline-block;
  margin: 0;
}
#main-header .top-header .slogan span {
  display: block;
}
#main-header .top-header .slogan span:nth-child(1) {
  font-size: 20.89px;
  letter-spacing: 3.6px;
  line-height: 0.8;
}
#main-header .top-header .slogan span:nth-child(2) {
  font-size: 25.9px;
  letter-spacing: 4.5px;
  line-height: 0.9;
}
#main-header .top-header .slogan span:nth-child(3) {
  font-size: 13.62px;
  letter-spacing: 3.2px;
  line-height: 0.9;
}
#main-header .top-header .logo {
  display: inline-block;
  max-width: 100%;
}
#main-header .top-header .logo img {
  max-width: 100%;
}
#main-header .top-header .slogan,
#main-header .top-header .logo {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
#main-header .main-menu .navbar.yamm {
  border-radius: 0;
  background-color: #ebe9ea;
  border: solid rgba(35, 31, 32, 0.2);
  border-width: 0 0 1px;
  box-shadow: 0 5px 10px -7px rgba(0, 0, 0, 0.45);
  z-index: 900;
  margin-bottom: 0;
}
#main-header .main-menu .navbar.yamm > .container {
  text-align: center;
  height: 62px;
}
@media screen and (min-width: 1220px) {
  #main-header .main-menu .navbar.yamm > .container {
    position: static;
    height: auto;
    min-height: 90px;
    text-align: left;
  }
}
#main-header .main-menu .navbar.yamm > .container #login-e-service,
#main-header .main-menu .navbar.yamm > .container #hamburger {
  display: block;
  color: #7f7f7f;
  height: inherit;
  line-height: 62px;
  width: 60px;
  text-align: center;
  text-decoration: none;
}
#main-header .main-menu .navbar.yamm > .container #login-e-service i,
#main-header .main-menu .navbar.yamm > .container #hamburger i {
  height: inherit;
  line-height: inherit;
  font-size: 20px;
}
#main-header .main-menu .navbar.yamm > .container .navbar-header {
  display: inline-block;
  float: none;
  height: inherit;
  padding: 6px 0;
}
@media screen and (min-width: 1220px) {
  #main-header .main-menu .navbar.yamm > .container .navbar-header {
    float: left;
    display: block;
    height: 90px;
    padding: 9px 14px 9px 0;
    border: solid #cdcccc !important;
    border-width: 0 1px 0 0 !important;
  }
  #main-header .main-menu .navbar.yamm > .container .navbar-header.right {
    border-width: 0 1px 0 0 !important;
  }
  #main-header .main-menu .navbar.yamm > .container .navbar-header.left {
    border-width: 0 0 0 1px !important;
  }
}
#main-header .main-menu .navbar.yamm > .container .navbar-header .comm-center {
  display: inline-block;
}
#main-header .main-menu .navbar.yamm > .container .navbar-header .comm-center img {
  width: auto;
  max-width: 100%;
  height: 52px;
  line-height: inherit;
  position: relative;
}
@media screen and (min-width: 1220px) {
  #main-header .main-menu .navbar.yamm > .container .navbar-header .comm-center img {
    height: auto;
    max-heigth: 100%;
  }
}
#main-header .main-menu .navbar.yamm > .container #navbar-right {
  display: none!important;
}
#main-header .main-menu .navbar.yamm > .container #navbar-right * {
  color: #000;
}
@media screen and (min-width: 1220px) {
  #main-header .main-menu .navbar.yamm > .container #navbar-right {
    display: block!important;
  }
}
@media screen and (min-width: 1220px) {
  #main-header .main-menu .navbar.yamm > .container #navbar-right #main-nav * {
    font-family: helvetica_neue,Helvetica,Arial,sans-serif;
  }
  #main-header .main-menu .navbar.yamm > .container #navbar-right #main-nav > li {
    height: 90px;
    padding-top: 17px;
  }
  #main-header .main-menu .navbar.yamm > .container #navbar-right #main-nav > li > a {
    position: relative;
    padding-right: 24px;
  }
  #main-header .main-menu .navbar.yamm > .container #navbar-right #main-nav > li > a span {
    display: block;
  }
  #main-header .main-menu .navbar.yamm > .container #navbar-right #main-nav > li > a i {
    position: absolute;
    right: 4px;
    top: 26px;
  }
  #main-header .main-menu .navbar.yamm > .container #navbar-right #main-nav > li > .dropdown-menu {
    padding: 0;
  }
  #main-header .main-menu .navbar.yamm > .container #navbar-right #main-nav .dropdown-menu {
    background-color: #6c6666;
    border: 0px none;
    border-radius: 0;
  }
  #main-header .main-menu .navbar.yamm > .container #navbar-right #main-nav .dropdown-menu * {
    color: #fff;
    font-family: "Open Sanslight";
    text-align: left;
  }
  #main-header .main-menu .navbar.yamm > .container #navbar-right #main-nav .dropdown-menu .yamm-content > .container {
    height: auto;
  }
  #main-header .main-menu .navbar.yamm > .container #navbar-right #main-nav .dropdown-menu .col-submenu-main {
    width: 280px;
    float: left;
    margin-right: 30px;
  }
  #main-header .main-menu .navbar.yamm > .container #navbar-right #main-nav .dropdown-menu .col-submenu-main .submenu-main {
    background-color: #767070;
    padding: 15px 20px 20px;
  }
  #main-header .main-menu .navbar.yamm > .container #navbar-right #main-nav .dropdown-menu .col-submenu-main .submenu-main h2 {
    font-family: 'Helvetica W01 Light',Helvetica,Arial,sans-serif;
    font-size: 35px;
    color: #ffc607;
    text-transform: uppercase;
    margin-top: 0;
  }
  #main-header .main-menu .navbar.yamm > .container #navbar-right #main-nav .dropdown-menu .col-submenu-main .submenu-main p {
    font-style: italic;
    font-size: 15px;
    line-height: 1.59857;
  }
  #main-header .main-menu .navbar.yamm > .container #navbar-right #main-nav .dropdown-menu .submenu-wrapper {
    display: -webkit-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -moz-box;
    display: flex;
    flex-wrap: wrap;
    padding-top: 15px;
  }
  #main-header .main-menu .navbar.yamm > .container #navbar-right #main-nav .dropdown-menu .submenu-wrapper .col-submenu {
    -webkit-box-flex: 0 33.33%;
    -moz-box-flex: 0 33.33%;
    -webkit-flex: 0 33.33%;
    -ms-flex: 0 33.33%;
    flex: 0 33.33%;
  }
  #main-header .main-menu .navbar.yamm > .container #navbar-right #main-nav .dropdown-menu .submenu-wrapper .submenu {
    margin-bottom: 25px;
    position: relative;
  }
  #main-header .main-menu .navbar.yamm > .container #navbar-right #main-nav .dropdown-menu .submenu-wrapper .submenu .inner {
    padding: 0 15px 20px;
    height: 100%;
  }
  #main-header .main-menu .navbar.yamm > .container #navbar-right #main-nav .dropdown-menu .submenu-wrapper .submenu .inner:after {
    content: '';
    position: absolute;
    left: 15px;
    right: 15px;
    bottom: 0;
    width: 90%;
    height: 1px;
    background-color: #ffc607;
  }
  #main-header .main-menu .navbar.yamm > .container #navbar-right #main-nav .dropdown-menu .submenu-wrapper .submenu h6 {
    font-weight: semibold;
    margin: 0;
    font-size: 15px;
  }
  #main-header .main-menu .navbar.yamm > .container #navbar-right #main-nav .dropdown-menu .submenu-wrapper .submenu h6 i {
    padding-right: 12px;
  }
  #main-header .main-menu .navbar.yamm > .container #navbar-right #main-nav .dropdown-menu .submenu-wrapper .submenu h6 i,
  #main-header .main-menu .navbar.yamm > .container #navbar-right #main-nav .dropdown-menu .submenu-wrapper .submenu h6 .submenu-title {
    display: table-cell;
    vertical-align: middle;
  }
  #main-header .main-menu .navbar.yamm > .container #navbar-right #main-nav .dropdown-menu .submenu-wrapper .submenu .submenu-child {
    margin-top: 25px;
  }
  #main-header .main-menu .navbar.yamm > .container #navbar-right #main-nav .dropdown-menu .submenu-wrapper .submenu .submenu-child a {
    font-size: 13px;
    line-height: 1.62857;
  }
  #main-header .main-menu .navbar.yamm > .container #navbar-right #main-nav .dropdown-menu .submenu-wrapper .submenu a,
  #main-header .main-menu .navbar.yamm > .container #navbar-right #main-nav .dropdown-menu .submenu-wrapper .submenu a span {
    transition: all 0.2s;
  }
  #main-header .main-menu .navbar.yamm > .container #navbar-right #main-nav .dropdown-menu .submenu-wrapper .submenu a:hover,
  #main-header .main-menu .navbar.yamm > .container #navbar-right #main-nav .dropdown-menu .submenu-wrapper .submenu a:active,
  #main-header .main-menu .navbar.yamm > .container #navbar-right #main-nav .dropdown-menu .submenu-wrapper .submenu a:hover span,
  #main-header .main-menu .navbar.yamm > .container #navbar-right #main-nav .dropdown-menu .submenu-wrapper .submenu a:active span {
    color: #fec110;
    text-decoration: none;
  }
  #main-header .main-menu .navbar.yamm > .container #navbar-right #navbar-search {
    padding: 25px 15px;
  }
  #main-header .main-menu .navbar.yamm > .container #navbar-right #navbar-search .form-group input {
    background-color: #f0f0f0;
    border-radius: 0;
    height: 40px;
    padding-right: 25px;
  }
  #main-header .main-menu .navbar.yamm > .container #navbar-right #navbar-search .form-group button {
    font-size: 20px;
  }
  #main-header .main-menu .navbar.yamm > .container #navbar-right .select-language {
    position: relative;
  }
  #main-header .main-menu .navbar.yamm > .container #navbar-right .select-language > li {
    height: 90px;
    padding-top: 17px;
  }
  #main-header .main-menu .navbar.yamm > .container #navbar-right .select-language > li a.current {
    padding-right: 0;
    font-family: 'Helvetica W01 Light',Helvetica,Arial,sans-serif;
  }
  #main-header .main-menu .navbar.yamm > .container #navbar-right .select-language > li a.current span.caret {
    display: inline-block !important;
  }
  #main-header .main-menu .navbar.yamm > .container #navbar-right .select-language .dropdown-menu {
    border-radius: 0;
    left: auto;
    right: 0px;
    top: 60px;
    text-align: right;
    padding: 0;
    border-color: rgba(255, 255, 255, 0.15);
  }
  #main-header .main-menu .navbar.yamm > .container #navbar-right .select-language .dropdown-menu li:first-child a {
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.5);
    border-width: 0 0 1px;
  }
  #main-header .main-menu .navbar.yamm > .container #navbar-right .select-language .dropdown-menu a {
    font-family: 'Helvetica W01 Light',Helvetica,Arial,sans-serif;
    font-size: 16px;
    padding: 0 20px;
    height: 35px;
    line-height: 35px;
    background-color: #FED009;
    transition: all 0.2s;
  }
  #main-header .main-menu .navbar.yamm > .container #navbar-right .select-language .dropdown-menu a:hover,
  #main-header .main-menu .navbar.yamm > .container #navbar-right .select-language .dropdown-menu a:active {
    background-color: #000;
    color: #fff;
  }
}
/*--- Footer ---*/
#main-footer.margin-shadow-top {
  position: relative;
  margin-top: 2px;
}
#main-footer.margin-shadow-top::before {
  content: '';
  position: absolute;
  top: -4px;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: transparent;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}
#main-footer .social-footer {
  background-color: #fec110;
}
#main-footer .social-footer .container .wrapper {
  border-style: solid;
  border-color: #171415;
  border-width: 0 0 1px;
  text-align: center;
  padding-top: 16px;
  padding-bottom: 17px;
}
@media screen and (min-width: 1220px) {
  #main-footer .social-footer .container .wrapper {
    text-align: right;
    border-width: 0 0 2px;
    border-color: #6f5713;
    padding-top: 9px;
    padding-bottom: 13px;
  }
}
#main-footer .social-footer .container .wrapper .social-media {
  margin: 0;
  padding: 0;
  list-style: none;
}
#main-footer .social-footer .container .wrapper .social-media li a {
  display: inline-block;
}
#main-footer .social-footer .container .wrapper .social-media li a i.icon {
  margin: 0;
  width: 32px;
  height: 33px;
}
@media screen and (min-width: 1220px) {
  #main-footer .social-footer .container .wrapper .social-media li a i.icon {
    width: 42px;
    height: 43px;
  }
}
#main-footer .nav-bottom {
  background-color: #fec110;
  padding-top: 2px;
  padding-bottom: 15px;
}
@media screen and (min-width: 1220px) {
  #main-footer .nav-bottom {
    padding-top: 20px;
    padding-bottom: 0;
  }
}
#main-footer .nav-bottom * {
  color: #000;
}
#main-footer .nav-bottom .row-sitemap {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -moz-box;
  display: flex;
  margin: 0 -15px;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
#main-footer .nav-bottom .index-button-wrapper {
  width: 100%;
  text-align: center;
}
#main-footer .nav-bottom .index-button-wrapper h6 {
  margin-bottom: 18px;
}
#main-footer .nav-bottom .index-button-wrapper h6 button {
  background-color: transparent;
  border: 0px none;
}
@media screen and (min-width: 1220px) {
  #main-footer .nav-bottom .index-button-wrapper {
    display: none;
  }
}
#main-footer .nav-bottom .col-sitemap {
  float: left;
  -webkit-box-flex: 0 50%;
  -moz-box-flex: 0 50%;
  -webkit-flex: 0 50%;
  -ms-flex: 0 50%;
  flex: 0 50%;
  width: 50%;
  margin-bottom: 30px;
}
#main-footer .nav-bottom .col-sitemap > h6,
#main-footer .nav-bottom .col-sitemap > ul {
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 481px) {
  #main-footer .nav-bottom .col-sitemap {
    -webkit-box-flex: 0 33.33%;
    -moz-box-flex: 0 33.33%;
    -webkit-flex: 0 33.33%;
    -ms-flex: 0 33.33%;
    flex: 0 33.33%;
    width: 33.33%;
  }
}
@media screen and (min-width: 1220px) {
  #main-footer .nav-bottom .col-sitemap {
    margin-bottom: 45px;
    -webkit-box-flex: 0 20%;
    -moz-box-flex: 0 20%;
    -webkit-flex: 0 20%;
    -ms-flex: 0 20%;
    flex: 0 20%;
    width: 20%;
  }
}
#main-footer .nav-bottom .col-sitemap h6 {
  margin: 7px 0;
}
@media screen and (min-width: 1220px) {
  #main-footer .nav-bottom .col-sitemap h6 {
    margin: 12px 0;
    text-transform: uppercase;
  }
}
#main-footer .nav-bottom .col-sitemap h6 span {
  display: block;
}
#main-footer .nav-bottom ul li,
#main-footer .nav-bottom .panel .panel-title {
  margin-top: 8px;
}
@media screen and (min-width: 1220px) {
  #main-footer .nav-bottom ul li,
  #main-footer .nav-bottom .panel .panel-title {
    margin-top: 9px;
  }
}
#main-footer .nav-bottom ul li a,
#main-footer .nav-bottom .panel .panel-title a {
  font-size: 12px;
  font-weight: normal;
  line-height: 1.19857;
  position: relative;
  display: block;
}
@media screen and (min-width: 1220px) {
  #main-footer .nav-bottom ul li a,
  #main-footer .nav-bottom .panel .panel-title a {
    font-size: 14px;
    line-height: 1.07857;
  }
}
#main-footer .nav-bottom ul li a.indent-text,
#main-footer .nav-bottom .panel .panel-title a.indent-text {
  padding-left: 0;
}
@media screen and (min-width: 1220px) {
  #main-footer .nav-bottom ul li a.indent-text,
  #main-footer .nav-bottom .panel .panel-title a.indent-text {
    padding-left: 6px;
  }
}
#main-footer .nav-bottom ul li a.indent-text span.arrow-right,
#main-footer .nav-bottom .panel .panel-title a.indent-text span.arrow-right {
  display: none;
}
@media screen and (min-width: 1220px) {
  #main-footer .nav-bottom ul li a.indent-text span.arrow-right,
  #main-footer .nav-bottom .panel .panel-title a.indent-text span.arrow-right {
    display: inline-block;
  }
}
#main-footer .nav-bottom ul li a .icon,
#main-footer .nav-bottom .panel .panel-title a .icon {
  position: absolute;
  left: 0;
  top: 5px;
}
#main-footer .nav-bottom .panel-group {
  margin: 0;
}
#main-footer .nav-bottom .panel,
#main-footer .nav-bottom .panel-heading,
#main-footer .nav-bottom .panel-body {
  border: 0px none;
  box-shadow: none;
  background-color: transparent;
}
#main-footer .nav-bottom .panel-heading {
  padding: 0;
}
#main-footer .nav-bottom .panel-body {
  padding: 0 7px;
}
@media screen and (min-width: 1220px) {
  #main-footer .nav-bottom .panel-body {
    padding: 5px 15px;
  }
}
#main-footer .footer-widget-area {
  background-color: #171415;
}
#main-footer .footer-widget-area .container {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 30px;
}
@media screen and (min-width: 1220px) {
  #main-footer .footer-widget-area .container {
    padding-top: 25px;
    padding-bottom: 15px;
  }
}
#main-footer .footer-widget-area .widget-title {
  margin: 0 auto 10px;
}
#main-footer .footer-widget-area .widget-title h2 {
  color: #fec110;
  font-family: 'Helvetica W01 Light',Helvetica,Arial,sans-serif;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  margin: 0;
}
#main-footer .footer-widget-area .widget-title h2 button {
  background-color: transparent;
  border: 0px none;
  display: inline-block;
  padding: 0;
  cursor: pointer;
}
@media screen and (min-width: 1220px) {
  #main-footer .footer-widget-area .widget-title {
    float: left;
    margin: 0 50px 0 0!important;
  }
  #main-footer .footer-widget-area .widget-title h2 {
    font-size: 34px;
  }
  #main-footer .footer-widget-area .widget-title h2 button {
    display: none;
  }
}
#main-footer .footer-widget-area .widget-filter {
  display: block;
  max-width: 450px;
  width: 100%;
  margin: 0 auto;
}
@media screen and (min-width: 1220px) {
  #main-footer .footer-widget-area .widget-filter {
    display: inline-block !important;
  }
  #main-footer .footer-widget-area .widget-filter:first-child {
    margin-right: 30px;
  }
}
#main-footer .footer-widget-area .widget-filter > div {
  display: table-cell;
  vertical-align: middle;
}
#main-footer .footer-widget-area .widget-filter .select-box {
  width: 100%;
  padding-top: 10px;
}
@media screen and (min-width: 1220px) {
  #main-footer .footer-widget-area .widget-filter .select-box {
    padding: 0!important;
  }
}
#main-footer .footer-widget-area .widget-filter label,
#main-footer .footer-widget-area .widget-filter .select-picker *,
#main-footer .footer-widget-area .widget-filter .bootstrap-select * {
  font-size: 16px;
}
#main-footer .footer-widget-area .widget-filter .label-box {
  display: block;
  margin-top: 10px;
}
@media screen and (min-width: 1220px) {
  #main-footer .footer-widget-area .widget-filter .label-box {
    display: table-cell !important;
    margin: 0;
  }
}
#main-footer .footer-widget-area .widget-filter .label-box label {
  white-space: nowrap;
  margin: 0;
  font-weight: normal;
  width: 117px;
}
@media screen and (min-width: 1220px) {
  #main-footer .footer-widget-area .widget-filter .label-box label {
    text-align: left;
  }
}
#main-footer .footer-widget-area .widget-filter .label-box label span {
  margin-left: 7px;
}
@media screen and (min-width: 1220px) {
  #main-footer .footer-widget-area .widget-filter .label-box label span {
    display: none;
  }
}
#main-footer .footer-widget-area .widget-filter .selectpicker {
  height: 42px;
  line-height: 42px;
  width: 261px;
  border-radius: 0;
}
#main-footer .footer-widget-area .widget-filter .selectpicker ~ .bootstrap-select {
  border-radius: inherit;
  box-shadow: none;
  height: 42px;
  max-width: 255px;
}
#main-footer .footer-widget-area .widget-filter .selectpicker ~ .bootstrap-select button {
  height: 100%;
  border-radius: inherit;
  line-height: inherit;
  background-color: #3c393a;
  border: 1px solid #534e50;
  box-shadow: none;
  color: #fff;
}
#main-footer .footer-widget-area .widget-filter .bootstrap-select .dropdown-menu {
  border-radius: 0;
  border: 0px none;
  padding: 0;
}
#main-footer .footer-widget-area .widget-filter .bootstrap-select .dropdown-menu ul {
  border: 0px none;
}
#main-footer .footer-widget-area .widget-filter .bootstrap-select .dropdown-menu ul li {
  background-color: #3C393A;
  border-style: solid;
  border-color: #534E50;
  border-width: 0 0 1px;
  transition: background-color 0.2s;
  height: 40px;
}
#main-footer .footer-widget-area .widget-filter .bootstrap-select .dropdown-menu ul li a {
  color: #fff;
  font-family: "Open Sans";
  background-color: transparent;
  padding: 0 20px;
  line-height: 40px;
}
#main-footer .footer-widget-area .widget-filter .bootstrap-select .dropdown-menu ul li.selected,
#main-footer .footer-widget-area .widget-filter .bootstrap-select .dropdown-menu ul li:hover,
#main-footer .footer-widget-area .widget-filter .bootstrap-select .dropdown-menu ul li:active {
  background-color: #fff;
}
#main-footer .footer-widget-area .widget-filter .bootstrap-select .dropdown-menu ul li.selected a,
#main-footer .footer-widget-area .widget-filter .bootstrap-select .dropdown-menu ul li:hover a,
#main-footer .footer-widget-area .widget-filter .bootstrap-select .dropdown-menu ul li:active a {
  color: #000;
}
#main-footer .footer-widget-area .widget-filter .bootstrap-select .dropdown-menu ul li:last-child {
  border-bottom-width: 0;
}
#main-footer .footer-widget-area .widget-filter button.blue {
  margin-left: 17px;
  margin-top: 10px;
}
@media screen and (min-width: 1220px) {
  #main-footer .footer-widget-area .widget-filter button.blue {
    margin-left: 22px;
    margin-top: 0!important;
  }
}
#main-footer .bottom-footer {
  background-color: #000;
}
#main-footer .bottom-footer .container {
  padding: 10px;
}
@media screen and (min-width: 1220px) {
  #main-footer .bottom-footer .container {
    padding: 25px 25px 15px;
  }
}
#main-footer .bottom-footer .container .footer-note {
  font-size: 14px;
  line-height: 1.22857;
  margin-bottom: 4px;
}
#main-footer .bottom-footer .container .copyright {
  font-size: 12px;
}
/*=== 3. CONTENTS ===*/
/*--- Banner ---
  - Bold & Light Title
  - Black, White, & Yellow Title
  - Black & white content text
  - Banner with Button

  - Special Director Banner
*/
.banner {
  color: #ffffff;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.banner .image {
  height: 273px;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.banner .image img {
  min-height: 100%;
  height: 100%;
  width: auto;
  position: absolute;
  left: 50%;
  top: 0;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
@media screen and (min-width: 521px) {
  .banner .image img {
    min-width: 100%;
    max-width: 100%;
    height: auto;
  }
}
@media screen and (min-width: 768px) {
  .banner .image img {
    max-width: none;
  }
}
@media screen and (min-width: 1220px) {
  .banner .image img {
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}
.banner.middle-image .image img {
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.banner .inner {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  text-align: right;
  top: 0;
  width: 100%;
  height: 100%;
}
.banner .inner .container {
  position: relative;
  max-width: 100%;
  height: 100%;
}
.banner .content {
  font-family: 'Helvetica W01 Light',Helvetica,Arial,sans-serif;
  font-size: 14px;
  position: absolute;
  padding: 0 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
  right: 0;
}
.banner .title {
  font-family: 'Helvetica W01 Light',Helvetica,Arial,sans-serif;
  font-weight: bold;
  margin: 15px 0 0;
  text-transform: uppercase;
}
.banner .title .light {
  font-weight: 100;
  text-transform: none;
}
.banner .yellow {
  color: #fec110;
}
.banner .text {
  margin-top: 10px;
}
.banner .btn {
  margin-top: 15px;
}
.banner.top-banner .title {
  margin-top: 0px;
  margin-bottom: 0px;
}
.banner.career-special .image {
  height: 273px;
}
@media screen and (min-width: 1024px) {
  .banner.career-special .image {
    height: 403px;
  }
}
.banner.career-special .image img {
  left: auto;
  right: 0;
  top: 0;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}
@media screen and (min-width: 1024px) {
  .banner.career-special .image img {
    right: 0;
  }
}
@media screen and (min-width: 1220px) {
  .banner.career-special .image img {
    left: 50%;
    right: auto;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}
.banner.career-special .inner {
  background-color: #fec110;
  padding-bottom: 40px;
  position: relative;
}
@media screen and (min-width: 1024px) {
  .banner.career-special .inner {
    background-color: transparent;
    padding-bottom: 0;
    position: absolute;
  }
}
.banner.career-special .content {
  color: #000;
  float: left;
  right: auto;
  position: static;
  text-align: left;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}
@media screen and (min-width: 1024px) {
  .banner.career-special .content {
    font-size: 16px;
    max-width: 60%;
  }
}
@media screen and (min-width: 1024px) and screen and (min-width: 1220px) {
  .banner.career-special .content {
    max-width: 810px;
  }
}
.banner.career-special .content p:not(.small) {
  font-weight: bold;
  margin: 30px 0;
}
@media screen and (min-width: 1024px) {
  .banner.career-special .content p:not(.small) {
    font-weight: normal;
  }
}
@media screen and (min-width: 1024px) {
  .banner.career-special .content .small {
    font-size: 14px;
  }
}
.banner.fund-investment-special .inner {
  text-align: left;
}
.banner.fund-investment-special .inner .content {
  float: left;
}
.banner.fund-investment-special .inner .content h1.title {
  color: #fec110;
}
.banner.fund-investment-special .inner .content h1.title .white {
  color: #fff;
}
@media screen and (min-width: 1220px) {
  .banner.bigger .content {
    max-width: 60%;
  }
}
@media screen and (min-width: 1220px) {
  .banner .image {
    height: 402px;
  }
  .banner .inner {
    background-color: transparent;
  }
  .banner .content {
    float: right;
    font-size: 16px;
    max-width: 50%;
    padding: 0;
    position: static;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  .banner .title {
    font-family: 'Helvetica W01 Light',Helvetica,Arial,sans-serif;
    line-height: 50px;
    margin-top: 75px;
    text-transform: uppercase;
  }
  .banner .title .light {
    font-weight: 100;
    text-transform: none;
  }
  .banner .black {
    color: #000000;
  }
  .banner .grey {
    color: #322e2f;
  }
  .banner .text {
    margin-top: 30px;
  }
  .banner .btn {
    margin-top: 30px;
  }
  .banner.top-banner .image {
    height: 310px;
  }
  .banner.top-banner .title {
    margin-top: 60px;
    margin-bottom: 0px;
  }
  .banner.top-banner .text {
    margin-top: 20px;
  }
}
/*--- Breadcrumb ---*/
.breadcrumb-area {
  background-color: #e6e6e6;
}
.breadcrumb {
  background-color: transparent;
  font-size: 14px;
  margin-bottom: 0;
  padding: 20px 0;
}
.breadcrumb > li + li::before {
  color: #545556;
  content: '>';
  margin-right: 2px;
}
.breadcrumb .active,
.breadcrumb a {
  color: #000000;
  text-shadow: 0 0 5px #fff;
}
.breadcrumb .active {
  font-style: italic;
}
/*--- Image Wrap ---
  - With & without caption
*/
.img-wrap {
  position: relative;
}
@media screen and (min-width: 1220px) {
  .img-wrap {
    min-height: 325px;
    position: relative;
    overflow: hidden;
  }
}
.img-wrap img {
  width: auto;
}
@media screen and (min-width: 1220px) {
  .img-wrap img {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}
.img-wrap .title {
  color: #ffffff;
  position: absolute;
  text-align: center;
  top: 5px;
  text-transform: uppercase;
  width: 100%;
}
@media screen and (min-width: 1220px) {
  .img-wrap .title {
    top: 20px;
  }
}
.img-wrap .caption {
  background-color: rgba(0, 0, 0, 0.7);
  color: #ffffff;
  left: 0;
  bottom: 0;
  padding: 10px;
  position: absolute;
  width: 100%;
}
@media screen and (min-width: 1220px) {
  .img-wrap .caption {
    padding: 15px 90px;
  }
}
/*--- Page Section & Half Image ---
  - White & Gray BGs
  - Padding top-bottom & No-padding
*/
.page-section .section-head {
  background-color: #fff;
  padding: 20px 0;
}
.page-section .section-title {
  color: #5a5e60;
  font-size: 25px;
  font-weight: bold;
  margin: 0;
  text-transform: uppercase;
}
.page-section .section-title.normal {
  text-transform: none;
}
@media screen and (min-width: 1220px) {
  .page-section .section-title span {
    display: block;
  }
}
.page-section .section-body {
  background-color: #f4f4f4;
  padding: 25px 0;
}
.page-section .section-body.no-pd-top {
  padding-top: 0;
}
.page-section .section-body.no-pd-top h3 {
  margin-top: 25px;
}
.page-section .section-body h3 {
  margin-top: 0;
}
.page-section .section-body h3.title-body {
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 25px;
}
.page-section .section-body h3.title-content-lg {
  text-align: justify;
  margin-top: 15px;
  margin-bottom: 20px;
}
@media screen and (min-width: 1220px) {
  .page-section .section-body h3.title-content-lg {
    margin-top: 0;
    margin-bottom: 25px;
    text-align: left;
  }
}
.page-section .section-body > .container > .row > h3 {
  padding-left: 15px;
  padding-right: 15px;
}
.page-section .section-body .row-link {
  display: inline-block;
}
.page-section .section-body .row-link a {
  text-align: left;
  display: block;
}
.page-section .section-body ul {
  padding-left: 15px;
}
.page-section .section-body p:first-child {
  margin-top: 10px;
}
.page-section.bg-white .section-body {
  background-color: #fff;
}
.page-section.bg-dark .section-head,
.page-section.bg-dark .section-body {
  background-color: #cccdcf;
}
.page-section.super-dark .section-head,
.page-section.super-dark .section-body {
  background-color: #505052;
}
.page-section.super-dark .section-title {
  color: #fec110;
}
.page-section.no-padding .section-body {
  padding: 0;
}
.page-section.no-padding .half-image .content {
  padding-top: 15px;
  padding-bottom: 15px;
}
@media screen and (min-width: 1220px) {
  .page-section .section-head {
    padding: 25px 0;
  }
  .page-section .section-title {
    font-size: 37px;
    margin: 20px 0 10px;
  }
  .page-section .section-body {
    padding: 40px 0;
  }
  .page-section .section-body h3 {
    margin-top: 20px;
  }
}
.half-image .img-wrap {
  display: block;
  text-align: center;
}
@media screen and (min-width: 1220px) {
  .half-image .img-wrap {
    float: left;
    width: 50%;
  }
}
.half-image .img-wrap img {
  max-width: 100%;
  width: 320px;
}
@media screen and (min-width: 1220px) {
  .half-image .img-wrap img {
    max-width: none;
    width: auto!important;
  }
}
.half-image.bottom-text .img-wrap {
  max-width: 100%;
  overflow: hidden;
}
@media screen and (min-width: 320px) {
  .half-image.bottom-text .img-wrap {
    display: inline-block;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}
@media screen and (min-width: 1220px) {
  .half-image.bottom-text .img-wrap {
    display: block;
    text-align: center;
    left: 0;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
.half-image.bottom-text .img-wrap .text-wrapper {
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  max-width: 100%;
  width: 100%;
  left: 0;
}
@media screen and (min-width: 1220px) {
  .half-image.bottom-text .img-wrap .text-wrapper {
    max-width: none;
    width: auto;
    right: 0;
    left: auto;
  }
}
.half-image.bottom-text .img-wrap .text-wrapper .container {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  max-width: 100%;
}
@media screen and (min-width: 1220px) {
  .half-image.bottom-text .img-wrap .text-wrapper .container {
    -webkit-transform: translateX(50%);
    -moz-transform: translateX(50%);
    -ms-transform: translateX(50%);
    -o-transform: translateX(50%);
    transform: translateX(50%);
    max-width: none;
  }
}
.half-image.bottom-text .img-wrap .text-wrapper .container .text-footer {
  padding: 20px 0 25px;
  text-align: left;
  color: #fff;
}
@media screen and (min-width: 1220px) {
  .half-image.bottom-text .img-wrap .text-wrapper .container .text-footer {
    max-width: 50%;
  }
}
.half-image .content .button-wrapper .btn {
  margin-top: 20px;
}
@media screen and (min-width: 1220px) {
  .half-image .content {
    margin-left: 50%;
    padding-left: 30px;
  }
}
@media screen and (min-width: 1220px) and screen and (min-width: 1220px) {
  .half-image .content p {
    margin-bottom: 15px;
  }
  .half-image .content p:last-of-type {
    margin-bottom: 0;
  }
}
.half-image.half-same .img-wrap {
  height: 280px;
}
@media screen and (min-width: 380px) {
  .half-image.half-same .img-wrap {
    height: auto;
  }
}
@media screen and (min-width: 640px) {
  .half-image.half-same .img-wrap {
    float: left;
    width: 50%;
  }
}
.half-image.half-same .img-wrap img {
  height: 100%;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  max-width: none;
  max-height: none;
  width: auto;
}
@media screen and (min-width: 380px) {
  .half-image.half-same .img-wrap img {
    height: auto;
    position: relative;
    left: 0;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    max-width: 100%;
  }
}
.half-image.half-same .img-wrap .caption {
  min-height: 90px;
  font-size: 12px;
}
@media screen and (min-width: 1220px) {
  .half-image.half-same .img-wrap .caption {
    min-height: 99px;
    font-size: 16px;
  }
}
@media screen and (min-width: 1024px) {
  .half-image.middle-trans .img-wrap {
    float: left;
    width: 50%;
    left: 0;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
  .half-image.middle-trans .img-wrap img {
    min-width: 100%;
  }
  .half-image.middle-trans .content {
    margin-left: 50%;
    padding-left: 30px;
  }
}
.half-image.news-detail .img-wrap {
  min-height: 218px;
}
@media screen and (min-width: 1220px) {
  .half-image.news-detail .img-wrap {
    min-height: 532px;
  }
}
/*--- Card Model for Post List ---
  - White or dark BG
  - Action on Hover
*/
.card {
  color: #5a5e60;
}
.card .img-wrap {
  overflow: hidden;
}
.card .title {
  font-size: 16px;
  margin-top: 17px;
  padding: 0 15px;
}
.card .content {
  margin: 0 auto;
  padding: 0 15px;
}
.card .btn {
  margin: 20px 15px 25px;
}
.card.action .btn {
  display: none;
}
.card.action:hover .btn {
  display: inline-block;
}
@media screen and (min-width: 1220px) {
  .card {
    text-align: center;
  }
  .card .img-wrap {
    min-height: 350px;
  }
  .card .title {
    font-size: 20px;
    padding: 0;
  }
  .card .content {
    margin: 17px auto 0;
    max-width: 300px;
    padding: 0;
  }
  .card .btn {
    margin: 30px 0 0;
  }
}
.card-group {
  margin: 0 auto;
  width: 476px;
  max-width: 100%;
}
.card-group .img-wrap {
  max-width: 100%;
}
.card-group .img-wrap img {
  width: 100%;
}
@media screen and (min-width: 1024px) {
  .card-group {
    width: 100%;
  }
  .card-group .card {
    float: left;
    width: 33.33333333%;
  }
}
.card-group.news-list {
  margin-bottom: 10px;
}
.card-group.news-list .card {
  text-align: center;
}
.card-group.news-list .card .date {
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 10px;
}
.card-group.news-list .card .title {
  margin: 0 auto;
  max-width: 360px;
  height: 70px;
}
@media screen and (min-width: 1220px) {
  .card-group.news-list .card .date {
    margin-top: 25px;
    margin-bottom: 20px;
  }
  .card-group.news-list .card .title {
    height: 110px;
  }
}
/*--- Icon Action */
.icon-action {
  display: inline-block;
  text-align: center;
}
.icon-action .big-icon {
  background: no-repeat center top;
  display: block;
  margin: 0 auto;
}
.icon-action .big-icon.work {
  width: 108px;
  height: 119px;
}
.icon-action .big-icon.work.conference {
  background-image: url(/Images/icon-work-1.png);
}
.icon-action .big-icon.work.offering {
  background-image: url(/Images/icon-work-2.png);
}
.icon-action .big-icon.work.briefcase {
  background-image: url(/Images/icon-work-3.png);
}
.icon-action .big-icon.work.trainer {
  background-image: url(/Images/icon-work-4.png);
}
.icon-action .big-icon.ext-info {
  width: 80px;
  height: 90px;
}
.icon-action .big-icon.ext-info.investment-option {
  background-image: url(/Images/icon-insurance-1.png);
}
.icon-action .big-icon.ext-info.rider {
  background-image: url(/Images/icon-insurance-2.png);
}
.icon-action .big-icon.ext-info.investra-link {
  background-image: url(/Images/icon-insurance-3.png);
}
.icon-action .title {
  color: #5a5e60;
  margin-top: 25px;
  line-height: 1.4;
}
@media screen and (min-width: 1220px) {
  .icon-action .title {
    line-height: 1.1;
  }
}
.icon-action .btn {
  margin-top: 10px;
  opacity: 1;
  -webkit-transition: opacity .3s;
  -moz-transition: opacity .3s;
  -ms-transition: opacity .3s;
  -o-transition: opacity .3s;
  transition: opacity .3s;
}
@media screen and (min-width: 1220px) {
  .icon-action .btn {
    opacity: 0;
  }
}
.icon-action:hover .big-icon {
  background-position: center bottom;
}
.icon-action:hover .btn {
  opacity: 1;
}
.icon-action-list.quarter .icon-action {
  width: 140px;
}
@media screen and (min-width: 1220px) {
  .icon-action-list.quarter .icon-action {
    width: 240px;
  }
}
.icon-action-list.third {
  margin-top: 10px;
}
.icon-action-list.third .icon-action {
  width: 300px;
}
@media screen and (min-width: 1220px) {
  .icon-action-list {
    margin-top: 55px;
    margin-bottom: 10px;
  }
}
/*--- Media Object with Tumbnail ---
  - NO border, gray border, black border
  - Differences :
    - icon in what we offer (no border)
    - award in corporate award (black)
    - thumb in CSR (black)
    - insurance detail (no border)
    - cart in option investment (gray)
    - office in how to reach us (no border)
	- option of investment funds (gray)
*/
.media .boxed-image {
  background-color: #fff;
  border: solid 1px #7c7c7c;
  text-align: center;
  vertical-align: middle;
}
.media .boxed-image img {
  max-width: 100%;
  max-height: 100%;
}
.media.award .boxed-image {
  display: table-cell;
  width: 210px;
  height: 164px;
}
.media.award img {
  max-height: 150px;
  max-width: 200px;
}
.media.csr .boxed-image {
  width: 100%;
}
.media.csr img {
  max-width: 100%;
  height: auto;
}
.media.csr .media-body {
  margin-bottom: 30px;
}
.media.csr .media-body h4 {
  text-transform: uppercase;
}
.media-group .media {
  width: 100%;
}
.media-group .media .media-left {
  display: table;
  max-width: 100%;
  padding: 0;
  margin: 10px auto 15px;
}
.media-group .media .media-body {
  display: block;
  max-width: 100%;
}
.media-group .media.csr .media-left {
  display: block;
  margin-bottom: 5px;
}
@media screen and (min-width: 1024px) {
  .media-group .media {
    display: table;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .media-group .media:nth-last-of-type {
    margin-bottom: 0;
  }
  .media-group .media .media-left {
    display: table-cell;
    padding-right: 35px;
    width: 25%;
  }
  .media-group .media .media-body {
    display: table-cell;
    padding-top: 15px;
  }
  .media-group .media.csr .media-left {
    display: table-cell;
    margin-bottom: 5px;
    width: 210px;
    padding-right: 20px;
  }
  .media-group .media.csr .media-left .boxed-image img {
    display: block;
    width: 200px;
    max-width: none;
  }
  .media-group .media.csr .media-body {
    padding-top: 0;
  }
  .media-group .media.csr .media-body h4 {
    margin-top: 0;
  }
}
@media screen and (min-width: 1220px) {
  .media-group .media .media-left {
    width: 20%;
  }
}
.employee-benefit .media {
  margin: 40px 0;
}
.employee-benefit .media-left {
  min-width: 165px;
  padding-right: 25px;
  text-align: center;
}
.employee-benefit .media-body h4 {
  margin-top: 0;
}
/* Insurance option detail */
.insurance-graph .media-left img,
.insurance-diagram .media-left img {
  width: 100%;
}
@media screen and (min-width: 1220px) {
  .insurance-graph .media-left,
  .insurance-diagram .media-left {
    padding-right: 35px;
  }
  .insurance-graph .media-left img,
  .insurance-diagram .media-left img {
    width: 374px;
  }
}
.insurance-diagram.media-list .media {
  margin-top: 40px;
}
.insurance-diagram.media-list .media:first-child {
  margin-top: 0;
}
.insurance-diagram.media-list .media .media-left {
  display: block;
}
.insurance-diagram.media-list .media .media-left img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  width: 378px;
}
@media screen and (min-width: 1024px) {
  .insurance-diagram.media-list .media .media-left {
    display: table-cell;
  }
  .insurance-diagram.media-list .media .media-left img {
    display: inline;
    max-width: 100%;
  }
}
/*--- Image as Illustration*/
.illustration {
  color: #5a5e60;
  margin: 30px 0;
  text-align: center;
  text-transform: uppercase;
}
.illustration h4 {
  margin: 30px 0 0;
}
.illustration img {
  max-width: 100%;
}
.illustration.responsive-ready {
  overflow: auto;
}
.illustration.responsive-ready img {
  max-width: none;
  width: 768px;
}
@media screen and (min-width: 1220px) {
  .illustration.responsive-ready img {
    max-width: 1190px;
    width: 100%;
  }
}
/*--- Accordion ---
  - Full width & half width
  - right & down arrow
*/
.accordion .panel {
  background-color: transparent;
  border: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  margin: 15px 0;
}
.accordion .panel .panel-heading {
  background-color: #fec110;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  color: #505052;
  line-height: 37px;
  height: 56px;
  padding: 10px 35px 10px 10px;
  position: relative;
  text-transform: uppercase;
}
.accordion .panel .panel-heading .panel-title {
  display: table;
  font-size: 16px;
  height: 37px;
  vertical-align: middle;
}
.accordion .panel .panel-heading .panel-title span {
  display: table-cell;
  line-height: 20px;
  vertical-align: middle;
}
.accordion .panel .panel-heading:after {
  background: url(/Images/accordion-arrow-black.png) no-repeat center center;
  content: '';
  display: block;
  width: 15px;
  height: 13px;
  position: absolute;
  top: 22px;
  right: 10px;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}
.accordion .panel .panel-heading:not(.collapsed) {
  background-color: #505052;
  color: #ffffff;
}
.accordion .panel .panel-heading:not(.collapsed):after {
  background-image: url(/Images/accordion-arrow-white.png);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}
.accordion .panel .panel-collapse > .panel-body {
  border-top: 0;
  padding: 20px 0;
}
.accordion.boxy .panel .panel-body {
  background-color: #e6e6e6;
  padding: 20px 10px 30px;
}
.accordion.boxy .panel .panel-body h4 {
  margin-top: 40px;
  margin-bottom: 10px;
}
.accordion.boxy .panel .panel-body h4:first-child {
  margin-top: 0;
}
.accordion.boxy .panel .panel-body ul {
  padding-left: 15px;
}
.accordion.boxy .panel-collapse.in > .panel-body {
  margin-bottom: 20px;
}
@media screen and (min-width: 992px) {
  .accordion .panel .panel-heading {
    padding: 10px 50px 10px 25px;
  }
  .accordion .panel .panel-heading .panel-title {
    font-size: 20px;
    line-height: 36px;
  }
  .accordion .panel .panel-heading:after {
    right: 25px;
  }
  .accordion.boxy .panel .panel-body {
    padding: 30px 25px 70px;
  }
  .accordion.boxy .panel .panel-body h4 {
    margin-top: 40px;
    margin-bottom: 10px;
  }
  .accordion.boxy .panel .panel-body h4:first-child {
    margin-top: 0;
  }
  .accordion.boxy .panel .panel-body ul {
    padding-left: 20px;
  }
  .accordion.boxy .panel-collapse.in > .panel-body {
    margin-bottom: 40px;
  }
  .accordion.hidding-accordion {
    margin-bottom: 0;
  }
  .accordion.hidding-accordion .panel .panel-heading {
    background-color: transparent;
    color: #505052;
    cursor: default;
    height: auto;
    padding: 0;
  }
  .accordion.hidding-accordion .panel .panel-heading:after {
    display: none;
  }
  .accordion.hidding-accordion .panel .panel-heading .panel-title {
    font-size: 26px;
  }
  .accordion.hidding-accordion .panel .panel-collapse {
    display: block;
    height: auto !important;
  }
  .accordion.hidding-accordion .panel .panel-body {
    padding-bottom: 0;
  }
}
/*--- Profile for Management ---
  - normal and dark bg
  - details profile
*/
.profile {
  margin-bottom: 20px;
  padding-top: 20px;
}
.profile .picture {
  margin-bottom: 20px;
  text-align: center;
}
.profile .picture img {
  width: 290px;
}
.profile .name {
  color: #5a5e60;
  margin-top: 0;
}
.profile .position {
  color: #5a5e60;
  font-weight: normal;
  margin-bottom: 20px;
}
.profile .brief {
  margin-bottom: 25px;
}
@media screen and (min-width: 1220px) {
  .profile.highlighted {
    position: relative;
  }
  .profile.highlighted:before {
    background-color: #e6e6e7;
    content: '';
    display: block;
    width: 105%;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0px;
    left: -2.5%;
    z-index: 0;
    -webkit-transition: opacity .3s ease;
    -moz-transition: opacity .3s ease;
    -ms-transition: opacity .3s ease;
    -o-transition: opacity .3s ease;
    transition: opacity .3s ease;
  }
  .profile.highlighted .wrap {
    position: relative;
    z-index: 1;
  }
  .profile.highlighted:hover:before {
    opacity: 1;
  }
  .profile .picture {
    float: left;
  }
  .profile .picture img {
    width: 135px;
  }
  .profile .details {
    margin-left: 165px;
    padding-bottom: 20px;
  }
  .profile .position {
    margin-bottom: 30px;
  }
  .profile .brief {
    margin-bottom: 0;
    min-height: 120px;
  }
  .profile .btn {
    float: right;
  }
  .col-md-6 > .profile {
    margin-bottom: 40px;
  }
  .col-md-6 > .profile .details {
    padding-bottom: 20px;
  }
}
.profile-details {
  padding-top: 0px;
}
.profile-details .name {
  font-size: 16px;
}
.profile-details .position {
  font-size: 16px;
}
.profile-details .desc {
  font-weight: lighter;
  text-align: justify;
}
.profile-details + .btn-back {
  margin-top: 0px;
  margin-bottom: 30px;
  width: 140px;
}
@media screen and (min-width: 1220px) {
  .profile-details {
    padding-top: 50px;
  }
  .profile-details .picture img {
    width: 273px;
  }
  .profile-details .details {
    margin-left: 165px;
  }
  .profile-details .details {
    margin-left: 320px;
  }
  .profile-details .name {
    font-size: 26px;
  }
  .profile-details .position {
    font-size: 18px;
  }
  .profile-details + .btn-back {
    margin-bottom: 0;
  }
}
/*--- File & Magazine ---*/
.file {
  background: url(/Images/icon-file.png) no-repeat left top;
  margin: 10px 0 30px;
}
.file .details {
  min-height: 90px;
  padding-top: 5px;
  padding-bottom: 25px;
  padding-left: 90px;
}
.file .name {
  color: #5a5e60;
  font-size: 16px;
}
.file .text {
  color: #5a5e60;
  font-size: 14px;
  margin-bottom: 10px;
}
.file .action .btn + .btn {
  float: right;
}
@media screen and (min-width: 1220px) {
  .file {
    margin: 10px 0 30px;
  }
  .file .details {
    padding-top: 0;
    padding-bottom: 0;
  }
  .file .name {
    font-size: 20px;
  }
  .file .text {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .file .action {
    padding-left: 90px;
  }
  .file .action .btn + .btn {
    float: none;
    margin-left: 27px;
  }
}
.magazine {
  margin: 10px auto 30px;
  width: 300px;
}
.magazine .cover {
  width: 100%;
}
.magazine .cover img {
  width: 100%;
}
.magazine .title {
  color: #5a5e60;
  margin: 20px 0;
}
.magazine .action .btn + .btn {
  float: right;
}
@media screen and (min-width: 1024px) {
  .magazine {
    float: left;
    margin: 10px 0;
    margin-left: 3.69747899%;
    width: 22.18487395%;
  }
  .magazine:nth-of-type(4n + 1) {
    margin-left: 0;
  }
  .magazine .action {
    text-align: center;
  }
  .magazine .action .btn {
    float: none !important;
    margin: 5px 0;
  }
}
@media screen and (min-width: 1220px) {
  .magazine .action {
    text-align: left;
  }
  .magazine .action .btn + .btn {
    margin-left: 5px;
  }
}
.partner-list {
  margin-bottom: -20px;
  text-align: center;
}
.partner-list .partner {
  display: block;
  height: 120px;
  vertical-align: middle;
  position: relative;
}
.partner-list .partner img {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
@media screen and (min-width: 1220px) {
  .partner-list {
    text-align: justify;
  }
  .partner-list .partner {
    display: inline-block;
    height: auto;
  }
  .partner-list .partner img {
    position: static;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  .partner-list:after {
    content: '';
    display: inline-block;
    width: 100%;
  }
}
/*--- Table ---
  - gray table (default)
  - yellow table
  - table claims ??? or image
*/
.table {
  border: 0;
  margin-top: 40px;
  margin-bottom: 20px;
}
.table > thead {
  border: 0;
}
.table > thead > tr > th {
  background-color: #505052;
  border: 0;
  border-left: solid 1px #ffffff;
  border-right: solid 1px #ffffff;
  border-bottom: solid 1px #a2a2a3;
  color: #ffffff;
  font-size: 16px;
  padding: 10px 15px;
  text-align: center;
  vertical-align: middle;
}
.table-primary.table > thead > tr > th {
  background-color: #fec110;
  color: #514f52;
  border: 0;
  text-align: left;
  padding: 10px 30px;
}
.table > tbody > tr > td {
  border: 0;
  border-left: solid 1px #ffffff;
  border-right: solid 1px #ffffff;
  padding: 10px 15px;
}
.table-primary.table > tbody > tr > td {
  padding: 10px 30px;
}
.table > tbody > tr:nth-child(odd) > td {
  background-color: #f0f0f0;
}
.table-responsive {
  border: none;
  margin-top: 40px;
}
.table-responsive .table {
  margin-top: 0;
}
.accordion .table-responsive {
  margin-top: 0;
}
@media screen and (min-width: 1220px) {
  .table-responsive {
    overflow-x: hidden;
  }
  .table-responsive .table {
    width: 100%;
  }
}
/*--- Video ---*/
.video {
  max-width: 100%;
  display: inline-block;
  text-align: center;
  width: 360px;
  vertical-align: top;
}
@media screen and (min-width: 1220px) {
  .video {
    max-width: none;
    margin-top: 30px;
    width: 343px;
  }
}
.video .cover {
  display: block;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 270px;
}
.video .cover img {
  min-width: 100%;
  min-height: 100%;
}
.video .cover:after {
  background: url(/Images/cover-video.png) no-repeat center center;
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.video .title {
  color: #5a5e60;
  font-size: 16px;
  padding: 0 15px;
  text-align: left;
  margin-top: 15px;
  display: block;
  font-family: 'Helvetica W01 Light',Helvetica,Arial,sans-serif;
  font-weight: bold;
  max-width: 100%;
}
@media screen and (min-width: 1220px) {
  .video .title {
    font-size: 20px;
    padding: 0;
    text-align: center;
    margin-top: 25px;
    letter-spacing: -0.2px;
  }
}
.video:hover {
  text-decoration: none;
}
.video-list {
  margin-bottom: 20px;
}
@media screen and (min-width: 1024px) {
  .video-list {
    margin: 40px 0;
  }
}
/*--- Pagination ---*/
#pagination {
  display: block;
  width: 100%;
  text-align: center;
}
#pagination .pagination ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#pagination .pagination ul li {
  display: inline-block;
  margin-right: 5px;
}
#pagination .pagination ul li:last-child {
  margin-right: 0;
}
#pagination .pagination ul li a,
#pagination .pagination ul li span {
  width: 35px;
  height: 35px;
  display: block;
  background-color: #ffcc01;
  text-align: center;
  line-height: 35px;
  color: #322e2f;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}
#pagination .pagination ul li a:hover,
#pagination .pagination ul li a:active {
  background-color: #322e2f;
  color: #fff;
}
#pagination .pagination ul li span.current {
  background-color: #322e2f;
  color: #fff;
}
/*--- SOCMED Feed ---
  Executed using isotope js
*/
.social-media-grid .filter-control {
  margin-left: -3px;
  margin-bottom: 35px;
}
.social-media-grid .filter-control li {
  display: inline-block;
  margin: 6px 3px;
}
.social-media-grid .filter-control a {
  background-color: #fec110;
  color: #5a5e60;
  display: block;
  font-size: 20px;
  font-weight: bold;
  line-height: 48px;
  height: 48px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  width: 140px;
}
.social-media-grid .filter-control a:hover,
.social-media-grid .filter-control a.active {
  background-color: #5a5e60;
  color: #ffffff;
}
.social-media-grid .grid-control {
  text-align: center;
}
.social-media-grid .grid-control .btn {
  width: 125px;
}
.social-media-grid .grid-container {
  margin: 0 auto;
  max-width: 100%;
}
.socmed-feed {
  background-color: #fff;
  border: solid 2px #ededed;
  margin-bottom: 50px;
  padding: 10px;
  width: 360px;
  max-width: 100%;
}
.socmed-feed .socmed-head {
  border-bottom: solid 2px #ededed;
  padding-top: 2px;
  padding-bottom: 23px;
  position: relative;
}
.socmed-feed .socmed-head .profpic {
  float: left;
  height: 40px;
  width: 40px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.socmed-feed .socmed-head .data {
  margin-left: 55px;
}
.socmed-feed .socmed-head .name {
  margin-top: 0;
  margin-bottom: 0;
}
.socmed-feed .socmed-head .timestamp {
  font-size: 14px;
}
.socmed-feed .socmed-head .ribbon {
  background: url(/Images/ribbon-socmed-facebook.png) no-repeat center center;
  display: block;
  width: 43px;
  height: 51px;
  position: absolute;
  right: -24px;
  top: -2px;
}
.socmed-feed .socmed-body {
  font-weight: lighter;
  padding: 20px 0;
}
.socmed-feed .socmed-body img {
  margin-bottom: 20px;
  width: 100%;
}
.socmed-feed .socmed-body a {
  color: #3db6e5;
}
.socmed-feed.facebook .socmed-head .ribbon {
  background-image: url(/Images/ribbon-socmed-facebook.png);
}
.socmed-feed.twitter .socmed-head .ribbon {
  background-image: url(/Images/ribbon-socmed-twitter.png);
}
.socmed-feed.instagram .socmed-head .ribbon {
  background-image: url(/Images/ribbon-socmed-instagram.png);
}
/*--- Google Map ---*/
.map-container {
  height: 250px;
}
@media screen and (min-width: 1220px) {
  .map-container {
    height: 538px;
  }
}
.location-select .style-select.form-control {
  padding: 0;
  height: 42px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.location-select .style-select.form-control select {
  height: 42px;
  padding: 6px 15px;
}
.location-select .style-select.form-control:after {
  right: 15px;
}
.location-select .btn {
  margin-top: 3px;
  width: 93px;
}
@media screen and (min-width: 1220px) {
  .location-select .form-group {
    margin-bottom: 10px;
  }
}
.location {
  margin-top: 10px;
}
.location .media-group .media {
  margin-bottom: 20px;
}
.location .media-group .media-left img {
  width: 330px;
}
.location .media-group .media-body {
  line-height: 1.9em;
}
@media screen and (min-width: 768px) {
  .location .media-group .media-left {
    display: table-cell;
  }
  .location .media-group .media-left img {
    width: 208px;
  }
  .location .media-group .media-body {
    display: table-cell;
    padding-top: 0;
    padding-left: 35px;
  }
}
@media screen and (min-width: 992px) {
  .location .media-group .media-left img {
    width: 148px;
  }
  .location .media-group .media-body {
    padding-top: 0;
    padding-left: 25px;
  }
  .location .media-group .media-body h4 {
    margin-top: 0;
  }
}
@media screen and (min-width: 1024px) {
  .location .media-group .media-body {
    padding-left: 0;
  }
}
/*--- Sliders ---
  - Executed using OWL.js

  - Card in Slider
  - sub managemen slider
  - fund preformance year slider

  - agency sales slider
  - Banner in Slider
*/
.slider {
  position: relative;
}
.slider .control-box {
  background-color: #000;
  bottom: 0;
  height: 40px;
  left: 50%;
  padding: 7px 5px 7px 14px;
  position: absolute;
  z-index: 10;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
.slider .control-box .play-pause {
  background: url(/Images/btn-pause.png) no-repeat center center;
  display: inline-block;
  margin-right: 4px;
  width: 15px;
  height: 16px;
  vertical-align: middle;
}
.slider .control-box .play-pause.paused {
  background-image: url(/Images/btn-play.png);
}
.slider .control-box .dotArea {
  display: inline-block;
  height: 16px;
  line-height: 16px;
  vertical-align: middle;
}
.slider .owl-dot {
  background-color: #ffffff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  margin: 0px 7px;
  width: 14px;
  height: 14px;
  vertical-align: middle;
}
.slider .owl-dot.active {
  background-color: #727272;
}
.slider .slide-controls {
  position: absolute;
}
.slider .controlArea .owl-prev,
.slider .controlArea .owl-next {
  background: url(/Images/carousel-arrow.png) no-repeat rgba(130, 130, 130, 0.8);
  cursor: pointer;
  display: block;
  text-indent: -9999px;
  width: 43px;
  height: 48px;
  position: absolute;
  top: 50%;
  z-index: 1;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.slider .controlArea .owl-prev:hover,
.slider .controlArea .owl-next:hover {
  background-color: #707070;
}
.slider .controlArea .owl-prev {
  background-position: left center;
  left: 0;
}
.slider .controlArea .owl-next {
  background-position: right center;
  right: 0;
}
@media screen and (min-width: 1024px) {
  .card-slider .slide-inner .owl-stage {
    display: flex;
  }
}
@media screen and (min-width: 1024px) {
  .card-slider .slide-inner .owl-stage .owl-item .card {
    height: 100%;
    padding-bottom: 70px;
    position: relative;
  }
}
@media screen and (min-width: 1024px) {
  .card-slider .slide-inner .owl-stage .owl-item .card .btn {
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}
.card-slider .controlArea .owl-prev,
.card-slider .controlArea .owl-next {
  top: 150px;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}
.video-slider .owl-item,
.action-list-slider .owl-item {
  text-align: center;
}
.profile-slider .slide-inner {
  width: 100%;
}
.profile-slider .division-list .member {
  margin: 30px auto 0;
  text-align: center;
}
.profile-slider .profile-card {
  color: #5a5e60;
  display: inline-block;
  margin-left: 30px;
  margin-right: 30px;
  vertical-align: top;
  width: 165px;
}
.profile-slider .profile-card .name {
  margin-top: 25px;
}
.profile-slider .profile-card .position {
  font-weight: lighter;
}
.profile-slider .profile-card:hover {
  text-decoration: none;
}
.profile-slider.desktop-view {
  display: none;
}
.profile-slider.mobile-view {
  display: block;
  text-align: center;
}
.profile-slider.mobile-view .profile-card {
  margin: 0;
  width: 100%;
}
.profile-slider.mobile-view .profile-card .wrapper {
  display: block;
  margin: 25px auto 0;
  width: 280px;
}
@media screen and (min-width: 1220px) {
  .profile-slider.desktop-view {
    display: block;
  }
  .profile-slider.mobile-view {
    display: none;
  }
}
.link-slider {
  margin-bottom: 30px;
}
.link-slider a {
  background-color: #fec110;
  color: #5a5e60;
  display: block;
  font-weight: bold;
  height: 48px;
  line-height: 48px;
  text-align: center;
  text-decoration: none;
}
.link-slider a.active,
.link-slider a:hover {
  background-color: #5a5e60;
  color: #ffffff;
}
.article-slider {
  margin: 0 auto;
  max-width: 768px;
}
.article-slider .img-wrap {
  min-height: 252px;
}
.article-slider .img-wrap img {
  min-width: 100%;
}
.article-slider .content .name {
  color: #5a5e60;
}
.article-slider .content .instance {
  color: #5a5e60;
  font-weight: normal;
}
.article-slider .content .comment {
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: justify;
}
.article-slider .controlArea .owl-prev,
.article-slider .controlArea .owl-next {
  top: 23%;
}
@media screen and (min-width: 768px) {
  .article-slider .controlArea .owl-prev,
  .article-slider .controlArea .owl-next {
    top: 40%;
  }
}
@media screen and (min-width: 1024px) {
  .article-slider {
    max-width: none;
  }
  .article-slider .content .comment {
    font-style: italic;
    margin-top: 30px;
    margin-bottom: 0;
  }
  .article-slider .controlArea .owl-prev,
  .article-slider .controlArea .owl-next {
    top: 50%;
  }
}
@media screen and (min-width: 1220px) {
  .article-slider .img-wrap {
    min-height: 465px;
  }
}
.banner-slider .top-slide {
  background-color: #282828;
  color: #ffffff;
}
.banner-slider .top-slide .img-wrap {
  margin-top: -1px;
  min-height: 237px;
}
.banner-slider .top-slide .img-wrap img {
  width: 100%;
}
.banner-slider .top-slide .content {
  padding-bottom: 60px;
  text-align: left;
}
.banner-slider .top-slide .title {
  color: #fec110;
  font-size: 26px;
  margin-top: 20px;
  margin-bottom: 10px;
}
@media screen and (min-width: 1220px) {
  .banner-slider .top-slide .img-wrap {
    min-height: 403px;
  }
  .banner-slider .top-slide .content {
    padding-bottom: 0;
    text-align: right;
  }
  .banner-slider .top-slide .title {
    font-size: 38px;
    margin-top: 85px;
    margin-bottom: 30px;
  }
  .banner-slider .top-slide .desc {
    padding-left: 50px;
  }
}
/*--- Download Group 
	group of download button: 2 item
---*/
.download-group {
  text-align: center;
}
.download-group a {
  margin-top: 15px;
}
@media screen and (min-width: 1220px) {
  .download-group {
    text-align: right;
  }
  .download-group a {
    margin-top: 0;
  }
  .download-group a.btn:nth-child(1) {
    margin-right: 30px;
  }
}
