﻿@font-face {
  font-family: helvetica_neue_roman;
  src: url('/Fonts/HelveticaNeueLTStd-Roman.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: helvetica_neue;
  src: url('/Fonts/HelveticaNeueLTStd-Lt_0.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: helvetica_neue;
  src: url('/Fonts/HelveticaNeueLTStd-Bd.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url('/Fonts/opensans-regular-webfont.eot');
  src: url('/Fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'), url('/Fonts/opensans-regular-webfont.woff2') format('woff2'), url('/Fonts/opensans-regular-webfont.woff') format('woff'), url('/Fonts/opensans-regular-webfont.ttf') format('truetype'), url('/Fonts/opensans-regular-webfont.svg#"Open Sansregular"') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sanslight';
  src: url('/Fonts/opensans-light-webfont.eot');
  src: url('/Fonts/opensans-light-webfont.eot?#iefix') format('embedded-opentype'), url('/Fonts/opensans-light-webfont.woff2') format('woff2'), url('/Fonts/opensans-light-webfont.woff') format('woff'), url('/Fonts/opensans-light-webfont.ttf') format('truetype'), url('/Fonts/opensans-light-webfont.svg#"Open Sanslight"') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sanssemibold';
  src: url('/Fonts/opensans-semibold-webfont.eot');
  src: url('/Fonts/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'), url('/Fonts/opensans-semibold-webfont.woff2') format('woff2'), url('/Fonts/opensans-semibold-webfont.woff') format('woff'), url('/Fonts/opensans-semibold-webfont.ttf') format('truetype'), url('/Fonts/opensans-semibold-webfont.svg#"Open Sanssemibold"') format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: helvetica_neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
}
/*--- Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}
h1 {
  font-size: 25px;
}
@media screen and (min-width: 1220px) {
  h1 {
    font-size: 50px;
  }
}
h2 {
  font-size: 38px;
}
h3 {
  font-size: 19px;
}
@media screen and (min-width: 1220px) {
  h3 {
    font-size: 26px;
  }
}
h4 {
  font-size: 16px;
}
@media screen and (min-width: 1220px) {
  h4 {
    font-size: 20px;
  }
}
h5 {
  font-size: 18px;
}
h6 {
  font-size: 14px;
}
@media screen and (min-width: 1220px) {
  h6 {
    font-size: 16px;
  }
}
a {
  text-decoration: none;
}
.white.text {
  color: #fff;
}
.fw-normal {
  font-weight: normal;
  display: inline!important;
}
.font-sm {
  font-size: 12px;
}