﻿@{
    Layout = "~/Areas/SysManager/Views/Shared/_publicLayout.cshtml";
    
}


<div class="page page-core page-login">

    <div class="text-center"><h3 class="text-light text-white">Plaza Indonesia</h3></div>

    <div class="container w-420 p-15 bg-white mt-40 text-center">
        @if (ViewBag.msgVerification != null)
        {
            <div class="alert alert-lightred fade in">
                <p>
                    @ViewBag.msgVerification;
                </p>
            </div>
        }
        

        <h2 class="text-light text-greensea">Forget Password</h2>

@using (Html.BeginForm("ForgetPassword", "Account", new { ViewBag.ReturnUrl }, FormMethod.Post, new { @id = "form-login", @class = "form-validation mt-20", role = "form" }))
{

    @Html.AntiForgeryToken()
    
            <div class="form-group">
                <label class="">Enter your username to retrieve password</label>
                @Html.TextBox("username", "", new { @class = "form-control underline-input", @placeholder = "Username" })
            </div>

           
            <div class="form-group text-center mt-20">
                <button type="submit" class="btn btn-greensea ">Request new password</button>
            </div>
            
            <div class="form-group text-center mt-20">
            <a href="@Url.Action("Login", "Account", new { area = "SysManager" })">Back to Login</a>
            </div>
}
    </div>

</div>