﻿@{
    Layout = "~/Areas/SysManager/Views/Shared/_publicLayout.cshtml";
}

<div>
    <h1>Page Not Found</h1>
    <p>The page you enter is not found or you do not have enough access to view this page</p>
</div>