﻿@{
    Layout = "~/Areas/SysManager/Views/Shared/_authenticatedLayout.cshtml";
    var id = Request.Params["id"];
}
  



<div class="page page-product-list">
    <div class="pageheader">
        <h2>Products <span>Today: @(DateTime.Now)</span></h2>
    </div>

    <div class="row">
        <div class="col-md-12">
            <section class="tile" fullscreen="isFullscreen02">
                <!-- tile header -->
                <div class="tile-header dvd dvd-btm">
                    <h1 class="custom-font"><strong>List </strong>Product Waiting Approval</h1>
                </div>
                <!-- /tile header -->
                <!-- tile body -->
                <div class="tile-body p-0">
                    <div class="table-responsive">
                        <table class="table table-custom" id="productDatatable">
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th width="40%">Name</th>
                                    <th>Tenant</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
                <!-- /tile body -->
            </section>
        </div>
    </div>

</div>
<input type="hidden" value="@id" id="tenantIdHidden" />

@section scripts {
    @Styles.Render("~/TenantManager/Datatables/css")
    @Scripts.Render("~/TenantManager/Datatables/js")
    <script type="text/javascript">
        $(function () {
            function timeConverter(UNIX_timestamp) {
                var a = new Date(UNIX_timestamp);
                var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
                var year = a.getFullYear();
                var month = months[a.getMonth()];
                var date = a.getDate();
                var hour = a.getHours();
                var min = a.getMinutes();
                var sec = a.getSeconds();
                var time = date + ' ' + month + ' ' + year + ' ' + hour + ':' + min + ':' + sec;
                return time;
            }

           // $('#productDatatable');
            var oTable = $('#productDatatable')
                .on('xhr.dt', function (e, settings, json, xhr) {
                    if (xhr.status == 403) {
                        var response = $.parseJSON(xhr.responseText);
                        window.location = response.logonurl;
                    }
                })
                .DataTable({
                "serverSide": true,
                "ajax": {
                    "type": "POST",
                    "url": '/SysManager/Approval/ProductListDataHandler',
                    "contentType": 'application/json; charset=utf-8',
                    'data': function (data) { return data = JSON.stringify(data); }
                },
                "scrollCollapse": true,
                "scroller": {
                    loadingIndicator: false
                },
                "processing": true,
                "paging": true,
                "deferRender": true,
                "columns": [
                   {
                       "data": 'modified_date',
                       "render": function (data, type, full, meta) {
                           return timeConverter(parseInt(data.substr(6)));
                       }
                   },
                   { "data": "name" },
                   { "data": "tenant" },
                   {
                       "render": function (data, type, full, meta) {
                           return '<a href="/product/preview?id=' + full.id + '" class="btn btn-success" target="_blank"><i class="fa fa-search"></i></a> <a href="/SysManager/Approval/ViewProduct/' + full.id + '" class="btn btn-primary" title="View"><i class="fa fa-eye"></i></a>';
                       },
                       "sortable": false

                   }
                ],
                "order": [0, "desc"]

            });

            oTable.columns(2)
                   .search($('#tenantIdHidden').val())
                   .draw();
            
            //oTable.columns().every(function () {
            //    var that = this;

            //    $('input', this.footer()).on('keyup change', function () {
            //        that
            //            .search(this.value)
            //            .draw();
            //    });
            //});
        });
    </script>
}