﻿@model DynamicContent.Areas.SysManager.ViewModels.ProductViewModel
@{
    Layout = "~/Areas/SysManager/Views/Shared/_authenticatedLayout.cshtml";

    var product = ViewData["Product"] as DynamicContent.Models.tbl_product_tmp;
    DynamicContent.Models.MainModel obj = new DynamicContent.Models.MainModel();
     
}

<div class="page page-product-detail">
    <div class="pageheader">
        <h2>Products<span>Today: @(DateTime.Now)</span></h2>
    </div>

    <div class="row">
        <div class="col-md-12">
            <section class="tile" fullscreen="isFullscreen02">
                <!-- tile header -->
                <div class="tile-header dvd dvd-btm">
                    <h1 class="custom-font"><strong>View</strong> Product</h1>
                </div>
                <!-- /tile header -->
                <!-- tile body -->
                <div class="tile-body">
                    @if (!Html.ViewData.ModelState.IsValid)
                    {
                        <div class="alert alert-lightred fade in">
                            <p>
                                @Html.ValidationSummary()
                            </p>
                        </div>
                    }

                    @using (Html.BeginForm(((product == null) ? "AddProduct" : "EditProduct"), "Product", new { ViewBag.ReturnUrl }, FormMethod.Post, new { @id = "form-addProduct", @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
                    {
                        @Html.HiddenFor(x => x.tenantId);
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Product Category</label>
                            <div class="col-sm-9">
                                @Html.DropDownListFor(x => x.productCategory, ViewData["ProductCategory"] as List<SelectListItem>, new { @class = "form-control", disabled="disabled" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Product Subcategory</label>
                            <div class="col-sm-9">
                                @Html.DropDownListFor(x => x.productSubcategory, ViewData["ProductSubcategory"] as List<SelectListItem>, new { @class = "form-control", disabled = "disabled" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Product Type</label>
                            <div class="col-sm-9">
                                @Html.DropDownListFor(x => x.productType, ViewData["ProductType"] as List<SelectListItem>, new { @class = "form-control", disabled = "disabled" })
                            </div>
                        </div>

                        @*<div class="form-group">
                            <label class="col-sm-3 control-label">Brand</label>
                            <div class="col-sm-9">
                                @Html.DropDownListFor(x => x.productBrand, ViewData["Brand"] as IEnumerable<SelectListItem>, new { @class = "form-control" })
                            </div>
                        </div>*@

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Gender</label>
                            <div class="col-sm-9">
                                <label class="radio-inline">
                                    @Html.RadioButtonFor(x => x.productGender, "men", new { disabled = "disabled" }) Men
                                </label>
                                <label class="radio-inline">
                                    @Html.RadioButtonFor(x => x.productGender, "women", new { disabled = "disabled" }) Women
                                </label>
                                <label class="radio-inline">
                                    @Html.RadioButtonFor(x => x.productGender, "unisex",new { disabled = "disabled" }) Unisex
                                </label>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Product Name</label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(m => m.productName, new { @class = "form-control", @placeholder = "Enter product name", disabled = "disabled" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Price Selection</label>
                            <div class="col-sm-9">
                                @Html.DropDownListFor(x => x.productPriceSelection, ViewData["PriceSelection"] as List<SelectListItem>, new { @class = "form-control", disabled = "disabled" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label"></label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(x => x.productPrice, new { @class = "form-control currency", @placeholder = "Enter product price", disabled = "disabled" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Sizes</label>
                            <div class="col-sm-9 adultSize">
                                @{
                                    var selected = ((product != null) ? product.size.Split(',') : new string[] { });

                                    var sizeList = (ViewData["adultSizes"] as List<string>);
                                    for (int i = 0; i < sizeList.Count; i++)
                                    {
                                        if (i == 0)
                                        {
                                            @Html.Raw("<div class='row'>");
                                            <div><label>Clothes</label></div>
                                        }

                                        if (i == 1)
                                        {
                                            @Html.Raw("<div class='row'>");
                                            <div><label>Shoes</label></div>
                                        }
                                        var rowArr = sizeList[i].Split(',');

                                        for (int j = 0; j < rowArr.Length; j++)
                                        {
                                            <div class="col-xs-3">
                                                <label class="checkbox-inline">
                                                    <input type="checkbox" name="availableSizes" disabled="disabled" value="@rowArr[j]" @((selected.Contains(rowArr[j])) ? "checked" : "" ) /> @rowArr[j].ToUpper() &nbsp;
                                                    </label>
                                                </div>
                                        }

                                        if (i == 0 || i == 1)
                                        {
                                            @Html.Raw("</div>");
                                        }
                                        <br />
                                    }
                                }

                            </div>
                            <div class="col-sm-9 kidSize">
                                @{

                                    var counter2 = 0;
                                    var sizeList2 = (ViewData["kidSize"] as List<string>);
                                    if (sizeList2 != null && sizeList2.Count() > 0)
                                    {
                                        for (int i = 0; i < sizeList2.Count; i++)
                                        {
                                            if (i == 0)
                                            {
                                                @Html.Raw("<div class='row'>");
                                                <div><label>Clothes</label></div>
                                            }

                                            if (i == 1)
                                            {
                                                @Html.Raw("<div class='row'>");
                                                <div><label>Shoes</label></div>
                                            }
                                            var rowArr2 = sizeList2[i].Split(',');
                                            for (int j = 0; j < rowArr2.Length; j++)
                                            {
                                                <div class="col-xs-3">
                                                    <label class="checkbox-inline"><input type="checkbox" disabled="disabled" name="availableSizes" value="@rowArr2[j]" @((selected.Contains(rowArr2[j])) ? "checked" : "" ) /> @rowArr2[j] &nbsp; </label>
                                                </div>
                                            }
                                            if (i == 0 || i == 1)
                                            {
                                                @Html.Raw("</div>");
                                            }
                                            <br />
                                        }
                                    }
                                    else
                                    {
                                        @("no size available");
                                    }

                                }

                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Description</label>
                            <div class="col-sm-9">
                                @Html.TextAreaFor(x => x.description, new { @class = "form-control ", @placeholder = "Enter product Description", disabled = "disabled" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Sizes and Fit</label>
                            <div class="col-sm-9">
                                @Html.TextAreaFor(x => x.sizeFit, new { @class = "form-control ", @placeholder = "Enter size and fit" , disabled = "disabled" })
                            </div>
                        </div>

                        <hr class="line-full" />

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Colours</label>
                            <div class="col-sm-9">
                                
                            </div>
                        </div>

                        <div class="col-md-offset-3 col-md-9">
                            <table id="variantTable" class="table table-responsive table-striped">
                                <thead>
                                    <th width="20%">Colour</th>
                                    <th width="10px"></th>
                                    <th>Images</th>
                                </thead>
                                <tbody id="varianttb">
                                    @{
                                        if (Model != null && Model.variant != null)
                                        {
                                            for (int i = 0; i < Model.variant.Count(); i++)
                                            {
                                                <tr>
                                                    <td style="vertical-align:middle">
                                                        <div class="form-group">
                                                            <div class="input-group colorpicker-component">
                                                                <input disabled="disabled" type="text" value="@Model.variant[i].color" name="variant[@i].color" class="form-control" />
                                                                <span class="input-group-addon"><i></i></span>

                                                            </div>
                                                            <label class="checkbox-inline"><input disabled="disabled" type="checkbox" class="nocolor" name="nocolor" @(String.IsNullOrEmpty(Model.variant[i].color) ? "checked" :"") /> No Color</label>
                                                        </div>
                                                    </td>
                                                    <td></td>
                                                    <td class="listImg">
                                                        @{
                                                            var imgs = obj.GetProductImg2Tmp(Model.variant[i].id);
                                                            if (imgs != null)
                                                            {
                                                                var lis = imgs.ToList();
                                                                for (int j = 0; j < lis.Count(); j++)
                                                                {
                                                                    <div class="form-group imgItem">
                                                                        <div class="col-sm-12 text-center">
                                                                            <img src="@lis[j].images" class="img-responsive" /><br />
                                                                        </div>
                                                                    </div>
                                                                    
                                                                }

                                                            }
                                                        }
                                                        
                                                    </td>
                                                </tr>
                                            }

                                        }
                                    }
                                </tbody>
                            </table>
                            <br />
                        </div>

                        <hr class="line-full" />
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Status</label>
                            <div class="col-sm-9">
                                @Html.DropDownListFor(x => x.status, ViewData["StatusSelection"] as List<SelectListItem>, new { @class = "form-control", disabled = "disabled" })
                            </div>
                        </div>
                        
                    }

                    <form class="form-horizontal" id="reject" action="@Url.Action("Rejected", "Approval", new { area = "SysManager", id=product.ID })">
                        
                        <div class="form-group">
                            <label class="col-sm-3 control-label"></label>
                            <div class="col-sm-9">
                                <a href="@Url.Action("Approve", "Approval", new { area = "SysManager", id=product.ID })" class="btn btn-success">Approve</a> 
                                <button class="btn btn-danger" type="button" onclick="reject()">Reject</button>
                            </div>
                        </div>
                        <div class="form-group hidden" id="form-reject">
                            <label class="col-sm-3 control-label">Rejection Message</label>
                            <div class="col-sm-9">
                                <textarea class="form-control" name="msg" id="msg" required></textarea><br />                                
                            </div>
                        </div>
                    </form>
                </div>
                <!-- /tile body -->
                <div class="tile-footer">
                    
                </div>
            </section>
        </div>
    </div>

</div>
@section scripts {
    @Styles.Render("~/formvalidation/css")
    @Styles.Render("~/colorpicker/css")
    @Styles.Render("~/summernote/css")
    @Scripts.Render("~/formvalidation/js")
    @Scripts.Render("~/colorpicker/js")
    @Scripts.Render("~/summernote/js")
    <script type="text/javascript">
        function reject() {
            $('#form-reject').removeClass('hidden');
            var msg = $('#msg').val();
            if (msg == "") {
                alert('Please Enter Rejection Message! ');
            } else {
                document.forms["reject"].submit();
            }            
        }
        
        $(function () {
            
            $('.colorpicker-component').colorpicker();

            function pageSetup() {
                if ($('#productSubcategory option:selected').text().toLowerCase() == "children's apparel") {
                    $('.kidSize').show();
                    $('.adultSize').hide();

                }
                else {
                    $('.adultSize').show();
                    $('.kidSize').hide();
                }
            }

            pageSetup();

        })
    </script>
}