﻿@using DynamicContent.Helper;
@section styles{
    <style>
        div.grid-product > .col-sm-3 {
            display: none;
        }
    </style>
}
@{
    DynamicContent.Models.MainModel obj = new DynamicContent.Models.MainModel();
    DynamicContent.Models.Entities db = new DynamicContent.Models.Entities();

    string cat = ViewData["category"].ToString();
    int id = Convert.ToInt32(ViewData["id-category"]);
    var d = obj.GetSubmenuCategory(id);
    var flashsaledDetail = (List<DynamicContent.Models.FlashHeaderDetail>)ViewData["flashsale-detail"];
    var tenantCategory = db.tbl_TenantCategory.Where(x => x.code == d.parent).FirstOrDefault();
    IEnumerable<_object.ProductBySubmenu> prod = null;
    if (Request.QueryString["cat"] != null)
    {
        var p = Request.QueryString["cat"].Split('.');
        var tenatCategory = obj.GetTenantCategoryIdByCode(p[0].ToUpper());
        prod = obj.ProductBySubmenu(id).Where(x => x.categoryid == Convert.ToInt32(p[0])).OrderByDescending(x => x.id);
        if (flashsaledDetail.Count > 0)
        {
            foreach (var item in flashsaledDetail)
            {
                var prd = prod.FirstOrDefault(x => x.id == item.tbl_product.ID);
                if (prd != null)
                {
                    prod.FirstOrDefault(x => x.id == item.tbl_product.ID).flashSalePrice = item.price_new;

                }
            }

        }
    }
    else
    {
        prod = obj.ProductBySubmenu(id).OrderByDescending(x => x.id);
        if (flashsaledDetail.Count > 0)
        {
            foreach (var item in flashsaledDetail)
            {
                var prd = prod.FirstOrDefault(x => x.id == item.tbl_product.ID);
                if (prd != null)
                {
                    prod.FirstOrDefault(x => x.id == item.tbl_product.ID).flashSalePrice = item.price_new;

                }
            }

        }
    }
    var prod2 = obj.ProductBySubmenu(id);
    var selCategory = new List<string>();
    foreach (var idcat in prod2.Select(x => new { category = x.categoryid }).Distinct())
    {
        selCategory.Add(idcat.category.ToString());
    }
    string idCategory = string.Join(",", selCategory.ToArray());
    var pcat = obj.GetProdCategoryTenant(idCategory);
    //brand
    var selTenant = new List<string>();
    foreach (var idtenant in prod.Select(x => new { tenant = x.tenantid }).Distinct())
    {
        selTenant.Add(idtenant.tenant.ToString());
    }
    string idTenant = string.Join(",", selTenant.ToArray());
    var tenant = obj.ProdTenantByCategory(idTenant);
    var tenantCategoryFilter = db.tbl_TenantCategory.OrderBy(x => x.name);
}
<div class="container-fluid">
    <div class="bread-crumb row">
        <div class="container">
            <ul class="">
                <li><a href="/">home</a></li>
                <li><a href="/category/@obj.stringToURL(tenantCategory.name)?pr=@tenantCategory.code.ToLower()&list=all">@tenantCategory.name</a></li>
                <li><a>@d.name</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="container">
    <h3 class="m-title text-left">@d.name</h3>
    @{
        string style = "";
        string gendermen = "";
        string genderwomen = "";
        string genderall = "";
        if (tenantCategory.ID == 8)
        {
            gendermen = "boys";
            genderwomen = "girls";
        }
        else
        {
            gendermen = "men";
            genderwomen = "women";
        }
        if ((tenantCategory.ID) != 3 && (tenantCategory.ID) != 4 && (tenantCategory.ID) != 5 && id != 12 && id != 13)
        {
            @Html.Hidden("isGender", "true");
            @*<a href="" class="text-center category active" style="width:49%">@genderwomen</a>
            <a href="" class="text-center category right" style="width:49%">@gendermen</a>*@
        }
        else
        {
            @Html.Hidden("isGender", "false");
            genderall = "men women";
            style = "style=margin-top:0";
            <a href="" class="category active" style="visibility:hidden; height:1px; padding:0; margin:0">women</a>
            <a href="" class="category " style="visibility:hidden; height:1px; padding:0; margin:0">men</a>
        }
    }
    <div class="clear"></div>
    <div class="product-list-menu" @style>
        <div class="product-list-title">
            <div class="product-list-results">
                <span class="product-list-results-container">
                    <span class="total-number-of-products" id="totalResult"></span>&nbsp;
                    <span class="total-results-message">Results</span>
                    <input type="hidden" value="@prod.Count()" name="totalResult" />
                </span>
            </div>
        </div>
        <hr />
    </div>
    <div class="clear"></div>
    <div class="filter col-sm-3 col-xs-12">
        <select name="sortOrder" class="sortOrder">
            <option value="" selected="selected">Sort by</option>
            <option value="new-in">New in</option>
            <option value="price-desc">Price High to Low</option>
            <option value="price-asc">Price Low to High</option>
        </select>
    </div>
    <div class="clear"></div>
  
    <div class="col-sm-3 col-xs-12 leftFilter">
        <ul class="category-nav nav-section filter">
            @*<a href="" class="text-center category active" style="width:49%">@genderwomen</a>
            <a href="" class="text-center category right" style="width:49%">@gendermen</a>*@
            <li>
                <a href="" class="tab1 category active">@genderwomen</a>
            </li>
            <li>
                <a href="" class="tab2 category">@gendermen</a>
            </li>
        </ul>
        @{
            var type = obj.GetProdType(idCategory);
            if (type != null)
            {
                <ul id="subnav" class="category-nav nav-section filter">
                    <li class="all">
                        <a href="/category/@obj.stringToURL(tenantCategory.name)/@id/@obj.stringToURL(d.name)">ALL</a>
                    </li>
                    @{
                foreach (var ty in type.OrderBy(x => x.typeDesc))
                {
                    <li class="">
                        <a href="/category/@obj.stringToURL(tenantCategory.name)?pr=@tenantCategory.code.ToLower()&list=@ty.id.@obj.stringToURL(ty.typeDesc)">
                            @ty.typeDesc.ToUpper()
                        </a>
                    </li>
                }
                    }

                </ul>
            }
        }

        @{
            if (tenant != null)
            {
                <ul class="category-nav nav-section filter stores">
                    <h5><b>STORES</b></h5>
                    @{
                foreach (var b in tenant.OrderBy(t => t.name))
                {
                    <li value="@obj.stringToURL(b.name)"><input type="checkbox" id="@obj.stringToURL(b.name)" class="filterStores" /> <label for="@obj.stringToURL(b.name)">@b.name.ToUpper()</label></li>
                }
                    }
                </ul>
            }
        }
    </div>
    <div class="grid-product col-sm-9 col-xs-12">
        <div class="wait">
            <div class="text-center" style="padding-top:20%"><h5 class="m-title floatL">Sorry, no product found</h5></div>
        </div>
        <!-- div 1-->
        <div class="text-center hidden notFound"><img src="/images/product-not-found.jpg" /></div>
        @{
            var i = 0;
            if (prod != null)
            {
                foreach (var p in prod)
                {
                    var tenantName = obj.GetTenant(p.tenantid).FirstOrDefault();
                    string gender = "";
                    if (tenantCategory.ID == 8)
                    {
                        if (p.gender == "unisex")
                        {
                            gender = "girl boys";
                        }
                        else if (p.gender == "women")
                        {
                            gender = "girl";
                        }
                        else
                        {
                            gender = "boys";
                        }
                    }
                    else
                    {
                        gender = ((p.gender == "unisex") ? "women men" : p.gender);
                    }
                    var images = obj.GetOneImg(p.id);
                    var price = ((p.price == "price upon request") ? 0 : Convert.ToDecimal(p.price));

                    IList<string> size = (p.size).Split(',').ToList<string>();
                    if (images != null)
                    {
                        var category = db.TypeMasters.Where(x => x.ID == p.categoryid).FirstOrDefault();
                        string catdesc = "";
                        string catval = "";
                        if (category != null)
                        {
                            catdesc = category.TypeDesc;
                            catval = category.TypeValue;
                        }
                        <div class="col-sm-3 @catval.ToLower() @gender @obj.stringToURL(tenantName.name) @obj.stringToURL(catdesc) @genderall" data-price="@price" data-date="@i">

                            <div class="product" onclick="" style="background:url('@images.images')no-repeat center center; background-size:contain; ">
                                <div class="overlay" onclick="">
                                    @{
                        var isjoin = db.TenantMaster.Where(x => x.TenantID == p.tenantid).FirstOrDefault();
                        if (isjoin.isReserve == "Y")
                        {
                            <a href="/product/@images.color/@obj.stringToURL(p.name).ToLower()" class="see-detail">see detail</a>
                        }
                        else
                        {
                            if (isjoin.isReserve != null)
                            {
                                <a href="@isjoin.TenantUrl" target="_blank" class="see-detail">see detail</a>
                            }
                            else
                            {
                                <a href="#" class="see-detail">see detail</a>
                            }
                        }
                                    }
                                    @*<a href="/product/@images.color/@obj.stringToURL(p.name).ToLower()" class="see-detail">see detail</a>*@
                                </div>
                                <div class="two-circle">
                                    @{
                        if (isjoin.isReserve == "Y")
                        {
                            <div class="cart" onclick="AddToCartDetail(@images.color, 1, '@size[0]');" data-placement="bottom" data-toggle="tooltip" title="Add to cart"><i class="fas fa-shopping-cart"></i></div>
                        }
                        else
                        {
                            <a href="@isjoin.TenantUrl" target="_blank" class="cart" data-placement="bottom" data-toggle="tooltip" title="Add to cart"><i class="fas fa-shopping-cart"></i></a>
                        }
                                    }
                                    @*<div class="cart" onclick="AddToCartDetail(@images.color, 1, '@size[0]');" data-placement="bottom" data-toggle="tooltip" title="Add to cart"><i class="glyphicon glyphicon-shopping-cart"></i></div>*@
                                    <a href="#" onclick="AddToWishlist('@p.id', '@images.color');" data-toggle="modal" data-target="#m-wishlist"><div class="love" data-placement="bottom" data-toggle="tooltip" title="Add to wishlist"><i class="fas fa-heart"></i></div></a>
                                </div>

                                @*<span class="helper"></span><img src="@images.images" />*@
                            </div>
                            <div class="desc">
                                <h4>@tenantName.name </h4>
                                <p class="s-desc">@p.name</p>
                                <p class="s-price">
                                    @if (p.flashSalePrice != null)
                                    {
                                        <strike>@obj.priceCheck(p.price)</strike>
                                    }
                                    else
                                    {
                                        @obj.priceCheck(p.price)
                                    }
                                </p>
                                @if (p.flashSalePrice != null)
                                {
                                    <p class="s-price">
                                        @obj.priceCheck(p.flashSalePrice)
                                    </p>
                                }
                            </div>
                            <div class="pallete">
                                @{
                        var color = obj.GetProductColor(p.id);
                        foreach (var c in color)
                        {
                            if ((c.color != "") && (c.color != "default"))
                            {
                                <div class="item" style="background-color:@c.color;"></div>
                            }
                            else
                            {

                            }

                        }
                                }
                            </div>
                        </div>
                    }
                    i++;
                }
            }
            else
            {
                @*<div class="text-center notFound" style="display:block !important;"><img src="/images/product-not-found.jpg" /></div>*@
            }

        }
    </div>
    <div class="clear"></div>
    <div class="col-sm-9 col-sm-offset-3 text-center">
        <a href="" class="load-more hidden" id="loadMore">load more</a>
    </div>
</div>

@section scripts{
    <script>
        var el = null;
        var currentMerk = null;
        var toggle = "";
        function AddToCartDetail(id, qty, sz) {
            $.ajax({
                url: '/customer/AddToCartDetail',
                data: { id: id, qty: qty, size: sz }
            }).done(function (response) {
                //alert('Added To Cart');
                if (response.responseText == "Not Loggin in") {
                    window.location.href = "@Url.Action("login","customer")" + "?msg=nolog";
                }
                else {
                    reloadCartDetail();
                    reloadItem();
                }
            });
        }

        function AddToWishlist(id, idc) {
            $.ajax({
                url: '/customer/AddToWishlist',
                data: { id: id, color: idc }
            }).done(function () {
                //alert(data);
            });
        }
        jQuery(document).ready(function ($) {

            var act = $('a.category.active').text().toLowerCase().replace(' ', '-');
            if (act == '') {
                act = "men.women";
            }
            var count = $('div.grid-product > .col-sm-3.' + act).length;
            document.getElementById("totalResult").innerHTML = count;
            var convertToNumber = function (value) {
                return parseFloat(value);
            }
            function executeOrder() {
                var val = $(".sortOrder").val();
                var act = $('a.category.active').text().toLowerCase().replace(' ', '-');
                if (act == '') {
                    act = "men.women";
                }
                var checked = $(":checkbox:checked").length;
                if (checked == 0) {
                    $("div.grid-product > .col-sm-3." + act).show();
                    $('#loadMore').addClass('hidden');
                }

                if (val == "price-desc") {
                    var ascending = false;
                    var sorted = $('.grid-product .col-sm-3').sort(function (a, b) {
                        return (ascending ==
                       (convertToNumber($(a).attr('data-price')) >
                        convertToNumber($(b).attr('data-price')))) ? 1 : -1;
                    });

                    $('.grid-product').html(sorted);
                } else if (val == "price-asc") {
                    var ascending = false;
                    var sorted = $('.grid-product .col-sm-3').sort(function (a, b) {
                        return (ascending ==
                       (convertToNumber($(a).attr('data-price')) <
                        convertToNumber($(b).attr('data-price')))) ? 1 : -1;
                    });

                    $('.grid-product').html(sorted);
                } else {
                    var ascending = false;
                    var sorted = $('.grid-product .col-sm-3').sort(function (a, b) {
                        return (ascending ==
                       (convertToNumber($(a).attr('data-date')) <
                        convertToNumber($(b).attr('data-date')))) ? 1 : -1;
                    });
                    $('.grid-product').html(sorted);

                }
                $(".grid-product").prepend('<div class="wait" ><div class="text-center" style="padding-top:20%"><img src="/images/icon-loading.gif" /></div></div><div class="text-center hidden notFound"><img src="/images/product-not-found.jpg" /></div>');
            }

            $('.sortOrder').on('change', function () {
                $(".wait").show();
                setTimeout(function () {
                    $(".wait").hide();
                }, 1000);
                setTimeout(executeOrder, 1000)

            });
            $("input[type=checkbox].filterStores").change(function () {
                currentMerk = "";
                var act = $('a.category.active').text().toLowerCase().replace(' ', '-');
                if (act == '') {
                    act = "men.women";
                }
                $(".wait").show();
                setTimeout(function () { $(".wait").hide(); }, 1000);
                var checkboxes = document.getElementsByClassName("filterStores");
                var selected = [];
                for (var i = 0; i < checkboxes.length; ++i) {
                    if (checkboxes[i].checked) {
                        selected.push(checkboxes[i].value);
                        currentMerk = currentMerk + "," + checkboxes[i].id;
                    }
                }
                createCookie("sortMerk", currentMerk, 1);
                if (selected.length > 0) {
                    $('div.grid-product > .col-sm-3').hide();
                    var count = 0;
                    $('.filterStores:checked').each(function () {
                        var add = $('div.grid-product > .col-sm-3.' + act + '.' + $(this).attr('id')).length;
                        $('div.grid-product > .col-sm-3.' + act + '.' + $(this).attr('id')).toggle();
                        count = count + add;
                    });
                    document.getElementById("totalResult").innerHTML = count;
                    $('#loadMore').addClass('hidden');
                } else {
                    var count = $("div.grid-product > .col-sm-3." + act).length;
                    $('div.grid-product > .col-sm-3').hide();
                    $('div.grid-product > .col-sm-3.' + act).toggle();
                    document.getElementById("totalResult").innerHTML = count;
                }
            });
            var count = $("div.grid-product > .col-sm-3." + act).length;
            $("div.grid-product > .col-sm-3." + act).slice(0, 8).toggle();
            if (count == 0) {
                $('.notFound').removeClass('hidden');
                $('.grid-product').css('height', 'auto');
            }
            if (count > 8) {
                $('#loadMore').removeClass('hidden');
            }
            $("#loadMore").on('click', function (e) {
                e.preventDefault();
                var act = $('a.category.active').text().toLowerCase().replace(' ', '-');
                if (act == '') {
                    act = "men.women";
                }
                $("div.grid-product > .col-sm-3." + act + ":hidden").slice(0, 4).fadeIn('slow');
                if ($("div.grid-product > .col-sm-3." + act + ":hidden").length == 0) {
                    $("#loadMore").addClass('hidden');
                }
            });
            $('a.category').click(function () {
                
                $('#selCategory option, #selBrand option').prop('selected', function () {
                    return this.defaultSelected;
                });
                $(".filterStores").prop("checked", false);

                $('.notFound').addClass('hidden');
                $('#loadMore').addClass('hidden');
                $(this).css('text-decoration', 'none');
                $('ul li a').not(this).removeClass('active');
                $(this).siblings().removeClass('active');
                $(this).addClass('active');
                if (el == "men" || el == "women") {
                    var filterVal = el;
                }
                else {
                    var filterVal = $(this).text().toLowerCase().replace(' ', '-');
                }
                var count = $("div.grid-product > .col-sm-3." + filterVal).length;
                document.getElementById("totalResult").innerHTML = count;

                if (count == 0) {
                    $('.notFound').removeClass('hidden');
                }
                if (count > 8) {
                    $('#loadMore').removeClass('hidden');
                }
                $('div.grid-product > .col-sm-3').fadeOut('fast').promise().done(function () {
                    $('div.grid-product > .col-sm-3.' + filterVal).slice(0, 8).fadeIn('fast');
                });
                //$('div.grid-product > .col-sm-3:not(.' + filterVal + ')').fadeOut('fast');
                //$('div.grid-product > .col-sm-3.' + filterVal).slice(0, 8).fadeIn('slow');
                el = null;
                //document.cookie = $(this).text();
                createCookie("sortGender", $(this).text(), 1);
                return false;
            });
            var isgender = $("#isGender").val();
            if (isgender == "true") {
                var cookies = readCookie("sortGender");
                if (cookies != "" && cookies != $('a.category.active').text() && cookies != null) {
                    el = cookies
                    $('a.category').click();
                }
            }
            var Merk = readCookie("sortMerk");
            if (Merk != "null" && Merk != "") {
                var res = Merk.split(",");
                for (var i = 0; i < res.length; i++) {
                    $("#" + res[i]).prop("checked", true);
                }
                //$("input[type=checkbox].filterStores").change();
                //var count = $("div.grid-product > .col-sm-3." + act).length;
                //$("div.grid-product > .col-sm-3." + act).slice(0, 8).show();
                //if (count == 0) {
                //    $('.notFound').removeClass('hidden');
                //    $('.grid-product').css('height', 'auto');
                //}
                //if (count > 8) {
                //    $('#loadMore').removeClass('hidden');
                //}
                //sortAndHide(readCookie("sortGender"));
                reloadFilterMerk();
            }
            function reloadFilterMerk() {
                currentMerk = "";
                var act = $('a.category.active').text().toLowerCase().replace(' ', '-');
                if (act == '') {
                    act = "men.women";
                }
                $(".wait").show();
                setTimeout(function () { $(".wait").hide(); }, 1000);
                var checkboxes = document.getElementsByClassName("filterStores");

                var selected = [];
                for (var i = 0; i < checkboxes.length; ++i) {
                    if (checkboxes[i].checked) {
                        selected.push(checkboxes[i].value);
                        currentMerk = currentMerk + "," + checkboxes[i].id;
                    }
                }
                if (selected.length > 0) {
                    $('div.grid-product > .col-sm-3').hide();
                    var count = 0;
                    $('.filterStores:checked').each(function () {
                        var add = $('div.grid-product > .col-sm-3.' + act + '.' + $(this).attr('id')).length;
                        //$('div.grid-product > .col-sm-3.' + act + '.' + $(this).attr('id')).toggle();
                        toggle = $('div.grid-product > .col-sm-3.' + act + '.' + $(this).attr('id'));
                        count = count + add;
                    });
                    document.getElementById("totalResult").innerHTML = count;
                    $('#loadMore').addClass('hidden');
                } else {
                    var count = $("div.grid-product > .col-sm-3." + act).length;
                    $('div.grid-product > .col-sm-3').hide();
                    $('div.grid-product > .col-sm-3.' + act).toggle();
                    document.getElementById("totalResult").innerHTML = count;
                }
                createCookie("sortMerk", currentMerk, 1);
                //var count = $("div.grid-product > .col-sm-3." + act).length;
                //$("div.grid-product > .col-sm-3." + act).slice(0, 8).toggle();
                //if (count == 0) {
                //    $('.notFound').removeClass('hidden');
                //    $('.grid-product').css('height', 'auto');
                //}
                //if (count > 8) {
                //    $('#loadMore').removeClass('hidden');
                //}
            }
            setTimeout(function () {
                if (toggle != "" && toggle != "undefined" && toggle != undefined) {
                    $('div.grid-product > .col-sm-3').hide();
                    $('.filterStores:checked').each(function () {
                        var add = $('div.grid-product > .col-sm-3.' + readCookie("sortGender") + '.' + $(this).attr('id')).length;
                        $('div.grid-product > .col-sm-3.' + readCookie("sortGender") + '.' + $(this).attr('id')).toggle();
                        count = count + add;
                    });
                }
            }, 1000)
        });
    </script>
}

