﻿@using DynamicContent.Helper;
@section styles{
    <style>
        div.grid-product > .col-sm-3 {
            display: none;
        }
    </style>
}
@{
    DynamicContent.Models.MainModel obj = new DynamicContent.Models.MainModel();
    DynamicContent.Models.Entities db = new DynamicContent.Models.Entities();
    string cat = ViewData["category"].ToString();
    string list = Request.QueryString["list"];
    string cat_id = Request.QueryString["pr"].ToUpper();
    var flashsaledDetail = (List<DynamicContent.Models.FlashHeaderDetail>)ViewData["flashsale-detail"];
    var show = obj.GetSubmenu(cat_id).ToArray();
    var tenatCategory = obj.GetTenantCategoryIdByCode(cat_id);
    string maintitle = "";
    string[] idsub;
    int subid = 0;
    IEnumerable<_object.AllProduct> prod = null;
    if (list == "all")
    {
        prod = obj.GetProductByTenantCategory(tenatCategory.ID).OrderByDescending(x => x.id);
        maintitle = tenatCategory.name;
        if (flashsaledDetail.Count > 0)
        {
            foreach (var item in flashsaledDetail)
            {
                var prd = prod.FirstOrDefault(x => x.id == item.tbl_product.ID);
                if (prd != null)
                {
                    prod.FirstOrDefault(x => x.id == item.tbl_product.ID).flashSalePrice = item.price_new;

                }
            }

        }
    }
    else
    {
        string type;
        string[] arrList = list.Split('-');
        if (arrList[0] == "all")
        {
            idsub = arrList[1].Split('.');
            subid = Convert.ToInt32(idsub[0]);
            type = arrList[1].Replace('_', ' ').ToLower();
            prod = obj.GetProductByTenantCategory(tenatCategory.ID).Where(x => x.tenant_subcategory == Convert.ToInt32(idsub[0])).OrderByDescending(x => x.id);
            if (flashsaledDetail.Count > 0)
            {
                foreach (var item in flashsaledDetail)
                {
                    var prd = prod.FirstOrDefault(x => x.id == item.tbl_product.ID);
                    if (prd != null)
                    {
                        prod.FirstOrDefault(x => x.id == item.tbl_product.ID).flashSalePrice = item.price_new;

                    }
                }

            }
            maintitle = idsub[1].Replace('_', ' ');
        }
        else
        {
            idsub = arrList[0].Split('.');
            type = arrList[0].Replace('_', ' ').ToLower();
            if (idsub.Count() == 2)
            {
                prod = obj.GetProductByTenantCategory(tenatCategory.ID).Where(x => x.idcategory == Convert.ToInt32(idsub[0])).OrderByDescending(x => x.id);
                if (flashsaledDetail.Count > 0)
                {
                    foreach (var item in flashsaledDetail)
                    {
                        var prd = prod.FirstOrDefault(x => x.id == item.tbl_product.ID);
                        if (prd != null)
                        {
                            prod.FirstOrDefault(x => x.id == item.tbl_product.ID).flashSalePrice = item.price_new;

                        }
                    }

                }
                var ids = Convert.ToInt32(idsub[0]);
                var xx = db.TypeMasters.Where(d => d.ID == ids).FirstOrDefault();
                subid = Convert.ToInt32(xx.TypeSubCategory);
                maintitle = idsub[1].Replace('_', ' ');
            }
            else
            {
                //var idcat = db.TypeMasters.Where(x => x.TypeCategory == tenatCategory.ID && obj.stringToURL(x.TypeDesc.ToLower()) == type).FirstOrDefault();
                var idcatxx = db.TypeMasters.Where(x => x.TypeCategory == tenatCategory.ID).ToList();
                var idcat = 0;
                foreach (var item in idcatxx)
                {
                    if ((obj.stringToURL(item.TypeDesc)).ToLower() == arrList[0].ToLower())
                    {
                        idcat = Convert.ToInt32(item.ID);
                    }
                }
                if (tenatCategory.code == "FSH")
                {
                    prod = obj.GetProductByTenantCategory2(tenatCategory.ID).Where(k => k.category.ToLower() == type).OrderByDescending(x => x.id);
                    if (flashsaledDetail.Count > 0)
                    {
                        foreach (var item in flashsaledDetail)
                        {
                            var prd = prod.FirstOrDefault(x => x.id == item.tbl_product.ID);
                            if (prd != null)
                            {
                                prod.FirstOrDefault(x => x.id == item.tbl_product.ID).flashSalePrice = item.price_new;

                            }
                        }

                    }
                }
                else
                {
                    prod = obj.GetProductByTenantCategory(tenatCategory.ID).Where(k => k.idcategory == idcat).OrderByDescending(x => x.id);
                    if (flashsaledDetail.Count > 0)
                    {
                        foreach (var item in flashsaledDetail)
                        {
                            var prd = prod.FirstOrDefault(x => x.id == item.tbl_product.ID);
                            if (prd != null)
                            {
                                prod.FirstOrDefault(x => x.id == item.tbl_product.ID).flashSalePrice = item.price_new;

                            }
                        }

                    }
                    //prod = obj.GetProductByTenantCategory(tenatCategory.ID).Where(k => k.idcategory == idcat.ID).OrderByDescending(x => x.id);
                }

                var xx = db.TypeMasters.Where(d => d.ID == idcat).FirstOrDefault();
                //var xx = db.TypeMasters.Where(d => d.ID == idcat.ID).FirstOrDefault();
                subid = Convert.ToInt32(xx.TypeSubCategory);
                maintitle = xx.TypeDesc;
            }
        }

    }
}
<div class="container-fluid">
    <div class="bread-crumb row">
        <div class="container">
            <ul class="">
                <li><a href="/">home</a></li>

                @if (list != "all")
                {
                    <li><a href="/category/@obj.stringToURL(tenatCategory.name)?pr=@tenatCategory.code.ToLower()&list=all">@tenatCategory.name.ToUpper()</a></li>

                }
                @{
                    string[] countList = list.Split('-');
                    if (list != "all" && countList.Count() == 1 && tenatCategory.code != "FSH")
                    {
                        var submenu = db.tbl_submenu.Where(x => x.ID == subid).FirstOrDefault();
                        <li><a href="/category/@obj.stringToURL(tenatCategory.name)/@subid/@obj.stringToURL(submenu.name)">@submenu.name.ToUpper()</a></li>
                    }

                }
                <li><a href="">@maintitle</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="container">
        <h3 class="m-title text-left floatL">@maintitle</h3>
        <div class="clear"></div>
        @{
            var selCategory = new List<string>();
            foreach (var idcat in prod.Select(x => new { category = x.idcategory }).Distinct())
            {
                selCategory.Add(idcat.category.ToString());
            }
            string idCategory = string.Join(",", selCategory.ToArray());
            var pcat = obj.GetProdCategoryTenant(idCategory);
            //brand

            var selTenant = new List<string>();
            foreach (var idtenant in prod.Select(x => new { tenant = x.idtenant }).Distinct())
            {
                selTenant.Add(idtenant.tenant.ToString());
            }
            string idTenant = string.Join(",", selTenant.ToArray());
            var tenant = obj.ProdTenantByCategory(idTenant);
            string style = "";
            string gendermen = "";
            string genderwomen = "";
            string genderall = "";
            if (tenatCategory.ID == 8)
            {
                gendermen = "boys";
                genderwomen = "girls";
            }
            else
            {
                gendermen = "men";
                genderwomen = "women";
            }
            if ((tenatCategory.ID) != 3 && (tenatCategory.ID) != 4 && (tenatCategory.ID) != 5 && subid != 12 && subid != 13)
            {
                @Html.Hidden("isGender", "true");
            @*<a href="" class="text-center category active" style="width:49%">@genderwomen</a>
            <a href="" class="text-center category right" style="width:49%">@gendermen</a>*@
            }
            else
            {
                @Html.Hidden("isGender", "false");
                genderall = "men women";
                style = "style=margin-top:0";

                <a href="" class="category" style="visibility:hidden; height:1px; padding:0; margin:0">women</a>
                <a href="" class="category" style="visibility:hidden; height:1px; padding:0; margin:0">men</a>
            }
            <div class="clear"></div>
            <div class="product-list-menu" @style>
                <div class="product-list-title">
                    <div class="product-list-results">
                        <span class="product-list-results-container">
                            <span class="total-number-of-products" id="totalResult"></span>&nbsp;
                            <span class="total-results-message">Results </span>
                            <input type="hidden" value="@prod.Count()" name="totalResult" />
                        </span>
                    </div>
                </div>
                <hr />
            </div>
            <div class="clear"></div>
                <div class="filter col-md-3 col-sm-4 xs30">
                    <select name="sortOrder" class="sortOrder">
                        <option value="" selected="selected">Sort by</option>
                        <option value="new-in">New in</option>
                        <option value="price-desc">Price High to Low</option>
                        <option value="price-asc">Price Low to High</option>
                    </select>
                @*</div>
                <div class="clear"></div>

                <div class="col-sm-3 col-xs-12 leftFilter">*@
                    <ul class="category-nav nav-section filter list-gender">
                        @*<a href="" class="text-center category active" style="width:49%">@genderwomen</a>
            <a href="" class="text-center category right" style="width:49%">@gendermen</a>*@
                        <li>
                            <a href="" class="tab1 category active">@genderwomen</a>
                        </li>
                        <li>
                            <a href="" class="tab2 category">@gendermen</a>
                        </li>
                    </ul>
                    @{
                        <ul id="subnav" class="category-nav nav-section filter">
                            <li class="all">
                                @{
                                    if (subid == 0 || tenatCategory.code == "FSH")
                                    {
                                        <a href="/category/@obj.stringToURL(tenatCategory.name)?pr=@tenatCategory.code.ToLower()&list=all">ALL</a>
                                    }
                                    else
                                    {
                                        var submenu = db.tbl_submenu.Where(x => x.ID == subid).FirstOrDefault();
                                        <a href="/category/@obj.stringToURL(tenatCategory.name)/@subid/@obj.stringToURL(submenu.name)">BACK</a>
                                    }
                                }
                            </li>
                            @{
                                if (list != "all")
                                {
                                    var type2 = obj.GetProdType(idCategory);
                                    if (type2 != null)
                                    {
                                        foreach (var ty in type2.OrderBy(t => t.typeDesc).GroupBy(x => x.typeDesc))
                                        {
                                            <li class="">
                                                <a href="?pr=@cat_id.ToLower()&list=@obj.stringToURL(ty.Key)" @*class="@(obj.stringToURL(ty.typeDesc) == reqCat[1] ? "active" : "")"*@>
                                                    @ty.Key.ToUpper()
                                                </a>
                                            </li>
                                            @*<li class="">
                                                    <a href="?pr=@cat_id.ToLower()&list=@ty.Key.Replace(" ", "_")" >
                                                        @ty.Key.ToUpper()
                                                    </a>
                                                </li>*@
                                        }
                                    }
                                }
                                else
                                {
                                    var parent2 = db.tbl_TenantCategory.Where(x => x.code == cat_id.ToString()).FirstOrDefault();
                                    var submenu = obj.GetSubmenu(cat_id.ToString()).OrderBy(x => x.name);
                                    {
                                        foreach (var item in submenu)
                                        {
                                            <li class=""><a href="/category/@obj.stringToURL(parent2.name)/@item.id/@obj.stringToURL(item.name)">@item.name</a></li>
                                        }
                                    }
                                }
                            }
                        </ul>
                    }
                    @{
                        if (tenant != null)
                        {
                            <ul class="category-nav nav-section filter stores">
                                <h5><b>STORES</b></h5>
                                @{
                                    foreach (var b in tenant.OrderBy(t => t.name))
                                    {
                                        <li value="@obj.stringToURL(b.name)"><input type="checkbox" id="@obj.stringToURL(b.name)" class="filterStores" /> <label for="@obj.stringToURL(b.name)">@b.name.ToUpper()</label></li>
                                    }
                                }
                            </ul>
                                    }
                    }

                </div>
            <div class="grid-product col-sm-9 col-xs-12">
                <div class="wait">
                    <div class="text-center" style="padding-top:20%"><h5 class="m-title floatL">Sorry, no product found</h5></div>
                </div>
                <!-- div 1-->
                <div class="text-center hidden notFound"><img src="/images/product-not-found.jpg" /></div>
                @{
                    if (prod != null)
                    {
                        var i = 0;
                        foreach (var p in prod)
                        {
                            var tenantName = obj.GetTenant(p.idtenant).FirstOrDefault();
                            string gender = "";
                            if (tenatCategory.ID == 8)
                            {
                                if (p.gender == "unisex")
                                {
                                    gender = "girl boys";
                                }
                                else if (p.gender == "women")
                                {
                                    gender = "girl";
                                }
                                else
                                {
                                    gender = "boys";
                                }
                            }
                            else
                            {
                                gender = ((p.gender == "unisex") ? "women men" : p.gender);
                            }
                            var images = obj.GetOneImg(p.id);
                            var price = ((p.price == "price upon request") ? 0 : Convert.ToDecimal(p.price));
                            IList<string> size = (p.size).Split(',').ToList<string>();
                            if (images != null)
                            {
                                var category = db.TypeMasters.Where(x => x.ID == p.idcategory).FirstOrDefault();
                                string catdesc = "";
                                string catval = "";
                                if (category != null)
                                {
                                    catdesc = category.TypeDesc;
                                    catval = category.TypeValue;
                                }
                                <div class="col-sm-3 @obj.stringToURL(catdesc) @gender @obj.stringToURL(tenantName.name) @genderall" data-price="@price" data-date="@i">
                                    <div class="product" onclick="" style="background:url('@images.images')no-repeat center center; background-size:contain; ">
                                        <div class="overlay" onclick="">
                                            @{
                                var isjoin = db.TenantMaster.Where(x => x.TenantID == p.idtenant).FirstOrDefault();
                                <a href="/product/@images.color/@obj.stringToURL(p.name).ToLower()" class="see-detail">see detail</a>

                                                @*if (isjoin.isReserve == "Y")
                                                    {
                                                        <a href="/product/@images.color/@obj.stringToURL(p.name).ToLower()" class="see-detail">see detail</a>
                                                    }
                                                    else
                                                    {
                                                        if (isjoin.isReserve != null)
                                                        {
                                                            <a href="@isjoin.TenantUrl" target="_blank" class="see-detail">see detail</a>
                                                        }
                                                        else
                                                        {
                                                            <a href="#" class="see-detail">see detail</a>
                                                        }
                                                    }*@
                                            }
                                            @*<a href="/product/@images.color/@obj.stringToURL(p.name).ToLower()" class="see-detail">see detail</a>*@
                                        </div>
                                        <div class="two-circle">
                                            @*<div class="cart" onclick="AddToCartDetail(@images.color, 1, '@size[0]');" data-placement="bottom" data-toggle="tooltip" title="Add to cart"><i class="glyphicon glyphicon-shopping-cart"></i></div>*@
                                            @{
                                if (isjoin.isReserve == "Y")
                                {
                                    <div class="cart" onclick="AddToCartDetail(@images.color, 1, '@size[0]');" data-placement="bottom" data-toggle="tooltip" title="Add to cart"><i class="fas fa-shopping-cart"></i></div>
                                }
                                else
                                {
                                    <a href="@isjoin.TenantUrl" target="_blank" class="cart" data-placement="bottom" data-toggle="tooltip" title="Add to cart"><i class="fas fa-shopping-cart"></i></a>
                                }
                                            }
                                            <a href="#" onclick="AddToWishlist('@p.id', '@images.color');" data-toggle="modal" data-target="#m-wishlist"><div class="love" data-placement="bottom" data-toggle="tooltip" title="Add to wishlist"><i class="fas fa-heart"></i></div></a>
                                        </div>
                                    </div>
                                    <div class="desc">
                                        <h4>@p.tenant</h4>
                                        <p class="s-desc">@p.name</p>
                                        <p class="s-price">
                                            @if (p.flashSalePrice != null)
                                            {
                                               <strike>@obj.priceCheck(p.price)</strike>
                                            }
                                            else
                                            {
                                                @obj.priceCheck(p.price)
                                            }
                                            
                                        </p>
                                        @if (p.flashSalePrice != null)
                                        {
                                            <p class="s-price">
                                                @obj.priceCheck(p.flashSalePrice)
                                            </p>
                                        }
                                    </div>
                                    <div class="pallete">
                                        @{
                                var color = obj.GetProductColor(p.id);
                                foreach (var c in color)
                                {
                                    if ((c.color != "") && (c.color != "default"))
                                    {
                                        <div class="item" style="background-color:@c.color;"></div>
                                    }
                                    else
                                    {

                                    }

                                }
                                        }
                                    </div>
                                </div>
                            }
                            i++;
                        }
                    }

                }

            </div>
    //}

    <div class="clear"></div>
        }
        <div class="col-sm-9 col-sm-offset-3 text-center">
            <a href="" class="load-more hidden" id="loadMore">load more</a>
        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        var el = null;
        var currentMerk = null;
        var toggle;
        function AddToCartDetail(id, qty, sz) {
            $.ajax({
                url: '/customer/AddToCartDetail',
                data: { id: id, qty: qty, size: sz }
            }).done(function (response) {
                //alert('Added To Cart');
                if (response.responseText == "Not Loggin in") {
                    window.location.href = "@Url.Action("login","customer")" + "?msg=nolog";
                }
                else {
                    reloadCartDetail();
                    reloadItem();
                }
            });
        }
        function AddToWishlist(id, idc) {
            $.ajax({
                url: '/customer/AddToWishlist',
                data: { id: id, color: idc }
            }).done(function () {
                //alert(data);
            });
        }
        jQuery(document).ready(function ($) {

            var act = $('a.category.active').text().toLowerCase().replace(' ', '-');
            if (act == '') {
                act = "men.women";
            }

            var count = $('div.grid-product > .col-sm-3.' + act).length;
            document.getElementById("totalResult").innerHTML = count;
            var convertToNumber = function (value) {
                return parseFloat(value);
            }
            function executeOrder() {
                var act = $('a.category.active').text().toLowerCase().replace(' ', '-');
                if (act == '') {
                    act = "men.women";
                }
                var val = $(".sortOrder").val();
                var checked = $(":checkbox:checked").length;
                if (checked == 0) {
                    $("div.grid-product > .col-sm-3." + act).show();
                    $('#loadMore').addClass('hidden');
                }
                if (val == "price-desc") {
                    var ascending = false;
                    var sorted = $('.grid-product .col-sm-3').sort(function (a, b) {
                        return (ascending ==
                       (convertToNumber($(a).attr('data-price')) >
                        convertToNumber($(b).attr('data-price')))) ? 1 : -1;
                    });

                    $('.grid-product').html(sorted);
                } else if (val == "price-asc") {
                    var ascending = false;
                    var sorted = $('.grid-product .col-sm-3').sort(function (a, b) {
                        return (ascending ==
                       (convertToNumber($(a).attr('data-price')) <
                        convertToNumber($(b).attr('data-price')))) ? 1 : -1;
                    });

                    $('.grid-product').html(sorted);
                } else {
                    var ascending = false;
                    var sorted = $('.grid-product .col-sm-3').sort(function (a, b) {
                        return (ascending ==
                       (convertToNumber($(a).attr('data-date')) <
                        convertToNumber($(b).attr('data-date')))) ? 1 : -1;
                    });
                    $('.grid-product').html(sorted);

                }
                $(".grid-product").prepend('<div class="wait" ><div class="text-center" style="padding-top:20%"><img src="/images/icon-loading.gif" /></div></div><div class="text-center hidden notFound"><img src="/images/product-not-found.jpg" /></div>');
            }

            $('.sortOrder').on('change', function () {
                $(".wait").show();
                setTimeout(function () {
                    $(".wait").hide();
                }, 1000);
                setTimeout(executeOrder, 1000)

            });
            $("input[type=checkbox].filterStores").change(function () {
                currentMerk = "";
                var act = $('a.category.active').text().toLowerCase().replace(' ', '-');
                if (act == '') {
                    act = "men.women";
                }
                $(".wait").show();
                setTimeout(function () { $(".wait").hide(); }, 1000);
                var checkboxes = document.getElementsByClassName("filterStores");

                var selected = [];
                for (var i = 0; i < checkboxes.length; ++i) {
                    if (checkboxes[i].checked) {
                        selected.push(checkboxes[i].value);
                        currentMerk = currentMerk + "," + checkboxes[i].id;
                    }

                }
                createCookie("sortMerk", currentMerk, 1);
                if (selected.length > 0) {
                    $('div.grid-product > .col-sm-3').hide();
                    var count = 0;
                    $('.filterStores:checked').each(function () {
                        var add = $('div.grid-product > .col-sm-3.' + act + '.' + $(this).attr('id')).length;
                        $('div.grid-product > .col-sm-3.' + act + '.' + $(this).attr('id')).toggle();
                        count = count + add;
                    });
                    document.getElementById("totalResult").innerHTML = count;
                    $('#loadMore').addClass('hidden');
                } else {
                    var count = $("div.grid-product > .col-sm-3." + act).length;
                    $('div.grid-product > .col-sm-3').hide();
                    $('div.grid-product > .col-sm-3.' + act).toggle();
                    document.getElementById("totalResult").innerHTML = count;
                }
                //sortAndHide(readCookie("sortGender"));


            });
            var count = $("div.grid-product > .col-sm-3." + act).length;
            $("div.grid-product > .col-sm-3." + act).slice(0, 8).toggle();
            if (count == 0) {
                $('.notFound').removeClass('hidden');
                $('.grid-product').css('height', 'auto');
            }
            if (count > 8) {
                $('#loadMore').removeClass('hidden');
            }

            $('a.category').click(function () {
                //eraseCookie("sortMerk");
                $('#selCategory option, #selBrand option').prop('selected', function () {
                    return this.defaultSelected;
                });
                $(".filterStores").prop("checked", false);
                $('.notFound').addClass('hidden');
                $('#loadMore').addClass('hidden');
                $(this).css('text-decoration', 'none');
                $('ul li a').not(this).removeClass('active');
                $(this).siblings().removeClass('active');
                $(this).addClass('active');
                if (el == "men" || el == "women") {
                    var filterVal = el;
                }
                else {
                    var filterVal = $(this).text().toLowerCase().replace(' ', '-');
                }

                var count = $("div.grid-product > .col-sm-3." + filterVal).length;
                document.getElementById("totalResult").innerHTML = count;

                if (count == 0) {
                    $('.notFound').removeClass('hidden');
                }
                if (count > 8) {
                    $('#loadMore').removeClass('hidden');
                }
                $('div.grid-product > .col-sm-3').fadeOut('fast').promise().done(function () {
                    $('div.grid-product > .col-sm-3.' + filterVal).slice(0, 8).fadeIn('fast');
                });
                //$('div.grid-product > .col-sm-3:not(.' + filterVal + ')').fadeOut('fast');
                //$('div.grid-product > .col-sm-3.' + filterVal).slice(0, 8).fadeIn('slow');
                createCookie("sortGender", $(this).text(), 1);
                el = null;
                //document.cookie = $(this).text();

                return false;

            });

            $("#loadMore").on('click', function (e) {
                e.preventDefault();
                var act = $('a.category.active').text().toLowerCase().replace(' ', '-');
                if (act == '') {
                    act = "men.women";
                }
                $("div.grid-product > .col-sm-3." + act + ":hidden").slice(0, 4).fadeIn('slow');
                if ($("div.grid-product > .col-sm-3." + act + ":hidden").length == 0) {
                    $("#loadMore").addClass('hidden');
                }
            });
            var isgender = $("#isGender").val();
            if (isgender == "true") {
                var cookies = readCookie("sortGender");
                if (cookies != "" && cookies != $('a.category.active').text() && cookies != null) {
                    el = cookies
                    $('a.category').click();
                    //var Merk = readCookie("sortMerk");
                    //if (Merk != "null") {
                    //    var res = Merk.split(",");
                    //    for (var i = 0; i < res.length; i++) {
                    //        $("#" + res[i]).prop("checked", true);
                    //    }
                    //    reloadFilterMerk();
                    //}
                }
            }
            var Merk = readCookie("sortMerk");
            if (Merk != "null") {
                var res = Merk.split(",");
                for (var i = 0; i < res.length; i++) {
                    if (res[i] != "") {
                        $("#" + res[i]).prop("checked", true);
                    }
                }
                //$("input[type=checkbox].filterStores").change();
                //var count = $("div.grid-product > .col-sm-3." + act).length;
                //$("div.grid-product > .col-sm-3." + act).slice(0, 8).show();
                //if (count == 0) {
                //    $('.notFound').removeClass('hidden');
                //    $('.grid-product').css('height', 'auto');
                //}
                //if (count > 8) {
                //    $('#loadMore').removeClass('hidden');
                //}
                //sortAndHide(readCookie("sortGender"));
              
                reloadFilterMerk();
                
            }
            function sortAndHide(elem) {
                $('div.grid-product > .col-sm-3').fadeOut('fast').promise().done(function () {
                    $('div.grid-product > .col-sm-3.' + elem).slice(0, 8).fadeIn('fast');
                });

            }
            function reloadFilterMerk() {
                currentMerk = "";
                var act = $('a.category.active').text().toLowerCase().replace(' ', '-');
                if (act == '') {
                    act = "men.women";
                }
                $(".wait").show();
                setTimeout(function () { $(".wait").hide(); }, 1000);
                var checkboxes = document.getElementsByClassName("filterStores");

                var selected = [];
                for (var i = 0; i < checkboxes.length; ++i) {
                    if (checkboxes[i].checked) {
                        selected.push(checkboxes[i].value);
                        currentMerk = currentMerk + "," + checkboxes[i].id;
                    }

                }
                createCookie("sortMerk", currentMerk, 1);
                createCookie("sortGender", act, 1);
                if (selected.length > 0) {
                    $('div.grid-product > .col-sm-3').hide();
                    var count = 0;
                    $('.filterStores:checked').each(function () {
                        var add = $('div.grid-product > .col-sm-3.' + act + '.' + $(this).attr('id')).length;
                        toggle = $('div.grid-product > .col-sm-3.' + act + '.' + $(this).attr('id'));
                        //$('div.grid-product > .col-sm-3.' + act + '.' + $(this).attr('id')).toggle();
                        count = count + add;
                    });
                    document.getElementById("totalResult").innerHTML = count;
                    $('#loadMore').addClass('hidden');
                } else {
                    var count = $("div.grid-product > .col-sm-3." + act).length;
                    $('div.grid-product > .col-sm-3').hide();
                    $('div.grid-product > .col-sm-3.' + act).toggle();
                    document.getElementById("totalResult").innerHTML = count;
                }
                //var count = $("div.grid-product > .col-sm-3." + act).length;
                //$("div.grid-product > .col-sm-3." + act).slice(0, 8).toggle();
                //if (count == 0) {
                //    $('.notFound').removeClass('hidden');
                //    $('.grid-product').css('height', 'auto');
                //}
                //if (count > 8) {
                //    $('#loadMore').removeClass('hidden');
                //}
            }
            setTimeout(function () {
                if (toggle != "" && toggle != "undefined" && toggle != undefined) {
                    $('div.grid-product > .col-sm-3').hide();
                    $('.filterStores:checked').each(function () {
                        var add = $('div.grid-product > .col-sm-3.' + readCookie("sortGender") + '.' + $(this).attr('id')).length;
                        $('div.grid-product > .col-sm-3.' + readCookie("sortGender") + '.' + $(this).attr('id')).toggle();
                        count = count + add;
                    });
                }
            },1000)  
        });
    </script>
}