﻿@using DynamicContent.Helper;
@using System.Text.RegularExpressions;
@section styles{
    <style>
        div.grid-product > .col-sm-3 {
            display: none;
            height: auto;
        }

        .hide {
            display: none;
        }

        .look {
            display: block !important;
        }

        #accordion ul {
            display: none;
        }
    </style>}

@{
    DynamicContent.Models.MainModel obj = new DynamicContent.Models.MainModel();
    DynamicContent.Models.Entities db = new DynamicContent.Models.Entities();

}
<div class="container-fluid">
    <div class="bread-crumb row">
        <div class="container">
            <ul class="">
                <li><a href="/">home</a></li>
                <li><a>Our Collection</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="container">
    <h3 class="m-title text-left">
        Our Collection
    </h3>

    <div class="clear"></div>
    <div class="col-sm-3 col-xs-12 leftFilter">
        <ul id="subnav" class="category-nav nav-section filter">
            <ul id="accordion">
                <div><a href="/WhatsNew">What's New</a></div>
                <div><a href="/allstores">Stores</a></div>
                <li>
                    @{
                        var submenu = obj.GetSubmenu("FSH").OrderBy(x => x.name);
                        var parent = db.tbl_TenantCategory.Where(x => x.code == "FSH").FirstOrDefault();
                        var type = db.TypeMasters.Where(x => x.TypeCategory == parent.ID && x.isActive == "Y").GroupBy(n => n.TypeValue);
                    }
                    <div><a href="/category/@obj.stringToURL(parent.name)?pr=@parent.code.ToLower()&list=all">Clothing</a></div>
                    <ul>
                        @{
                          foreach (var item in submenu)
                            {
                            <!--li><a href="/stores/allstores?category=@item.id">@item.name </a></li-->
                            
                                <li><a href="/category/@obj.stringToURL(parent.name)/@item.id/@obj.stringToURL(item.name)">@item.name</a></li>
                            }
                        }
                        
                    </ul>
                </li>
                <li>
                    @{
                        var submenu2 = obj.GetSubmenu("LGA").OrderBy(x => x.name);
                        var parent2 = db.tbl_TenantCategory.Where(x => x.code == "LGA").FirstOrDefault();
                    }
                    <div><a href="/category/@obj.stringToURL(parent2.name)?pr=@parent2.code.ToLower()&list=all">Leather Goods & Accessories</a></div>
                    <ul>
                        @{
                            foreach (var item in submenu2)
                            {
                                <li><a href="/category/@obj.stringToURL(parent.name)/@item.id/@obj.stringToURL(item.name)">@item.name</a></li>
                            }

                        }
                    </ul>
                </li>
                <li>
                    @{
                        var submenu3 = obj.GetSubmenu("JW").OrderBy(x => x.name);
                        var parent3 = db.tbl_TenantCategory.Where(x => x.code == "JW").FirstOrDefault();
                    }
                    <div><a href="/category/@obj.stringToURL(parent3.name)?pr=@parent3.code.ToLower()&list=all">Jewelry & Watches</a></div>
                    <ul>
                        @{

                            foreach (var item in submenu3)
                            {
                                <li><a href="/category/@obj.stringToURL(parent.name)/@item.id/@obj.stringToURL(item.name)">@item.name</a></li>
                            }
                        }
                    </ul>
                </li>
                <li>
                    @{
                        var submenu4 = obj.GetSubmenu("SL").OrderBy(x => x.name);
                        var parent4 = db.tbl_TenantCategory.Where(x => x.code == "SL").FirstOrDefault();
                    }
                    <div><a href="/category/@obj.stringToURL(parent4.name)?pr=@parent4.code.ToLower()&list=all">Sports & Lifestyle</a></div>
                    <ul>
                        @{

                            //var type4 = db.TypeMasters.Where(x => x.TypeCategory == parent4.ID).GroupBy(n => n.TypeValue);
                            foreach (var item in submenu4)
                            {
                                <li><a href="/category/@obj.stringToURL(parent.name)/@item.id/@obj.stringToURL(item.name)">@item.name</a></li>
                            }
                        }
                    </ul>
                </li>
                <li>
                    @{
                        var submenu5 = obj.GetSubmenu("BH").OrderBy(x => x.name);
                        var parent5 = db.tbl_TenantCategory.Where(x => x.code == "BH").FirstOrDefault();
                    }
                    <div><a href="/category/@obj.stringToURL(parent5.name)?pr=@parent5.code.ToLower()&list=all">Beauty & Health</a></div>
                    <ul>
                        @{

                            //var type5 = db.TypeMasters.Where(x => x.TypeCategory == parent5.ID).GroupBy(n => n.TypeValue);
                            foreach (var item in submenu5)
                            {
                                <li><a href="/category/@obj.stringToURL(parent.name)/@item.id/@obj.stringToURL(item.name)">@item.name</a></li>
                            }
                        }
                    </ul>
                </li>
                <li>
                    @{
                        var submenu6 = obj.GetSubmenu("KD").OrderBy(x => x.name);
                        var parent6 = db.tbl_TenantCategory.Where(x => x.code == "KD").FirstOrDefault();
                    }
                    <div><a href="/category/@obj.stringToURL(parent6.name)?pr=@parent6.code.ToLower()&list=all">Kids</a></div>
                    <ul>
                        @{

                            //var type6 = db.TypeMasters.Where(x => x.TypeCategory == parent6.ID).GroupBy(n => n.TypeValue);
                            foreach (var item in submenu6)
                            {
                                <li><a href="/category/@obj.stringToURL(parent.name)/@item.id/@obj.stringToURL(item.name)">@item.name</a></li>
                            }
                        }
                    </ul>
                </li>
                <li>
                    @{
                        var submenu7 = obj.GetSubmenu("HF").OrderBy(x => x.name);
                        var parent7 = db.tbl_TenantCategory.Where(x => x.code == "HF").FirstOrDefault();
                    }
                    <div><a href="/category/@obj.stringToURL(parent7.name)?pr=@parent7.code.ToLower()&list=all">Home</a></div>
                    <ul>
                        @{

                            //var type6 = db.TypeMasters.Where(x => x.TypeCategory == parent6.ID).GroupBy(n => n.TypeValue);
                            foreach (var item in submenu7)
                            {
                                <li><a href="/category/@obj.stringToURL(parent.name)/@item.id/@obj.stringToURL(item.name)">@item.name</a></li>
                            }
                        }
                    </ul>
                </li>
                <li>
                    @{
                        var submenu8 = obj.GetSubmenu("SS").OrderBy(x => x.name);
                        var parent8 = db.tbl_TenantCategory.Where(x => x.code == "SS").FirstOrDefault();
                    }
                    <div><a href="/category/@obj.stringToURL(parent8.name)?pr=@parent8.code.ToLower()&list=all">Speciality Shops</a></div>
                    <ul>
                        @{
                            foreach (var item in submenu8)
                            {
                                <li><a href="/category/@obj.stringToURL(parent.name)/@item.id/@obj.stringToURL(item.name)">@item.name</a></li>
                            }
                        }
                    </ul>
                </li>
            </ul>
    </div>
    <div class="grid-product col-sm-9 col-xs-12">
        <div class="wait">
            <div class="text-center" style="padding-top:20%"><img src="~/images/icon-loading.gif" /></div>
        </div>
        <!-- div 1-->
        <div class="text-center hidden notFound"><h5 class="m-title floatL">Sorry, no product found</h5></div>

        @{
            var sliders1 = obj.GetSlider2().Where(x => x.active == true).OrderBy(o => o.sort);
            var j = 0;
            foreach (var item1 in sliders1)
            {
                j = j + 1;
                if (j <= 2)
                {
                    <div class="col-sm-6" style="display : block;">
                        <div class="product"> <a href="@((item1.url == null) ? "#" : item1.url) "><img src="@item1.image"></a> </div>
                    </div>
                }
                else
                {
                    <div class="col-sm-3" style="display : block;">
                        <div class="product"> <a href="@((item1.url == null) ? "#" : item1.url) "><img src="@item1.image"></a> </div>
                    </div>
                }

            }
        }

    </div>
    <div class="clear"></div>
    <div class="col-sm-9 col-sm-offset-3 text-center">
        <a href="" class="load-more hidden" id="loadMore">load more</a>
    </div>
</div>

@section scripts{
    <script>
        function AddToCartDetail(id, qty, sz) {
            $.ajax({
                url: '/customer/AddToCartDetail',
                data: { id: id, qty: qty, size: sz }
            }).done(function (response) {
                if (response.responseText == "Not Loggin in") {
                    window.location.href = "@Url.Action("login","customer")" + "?msg=nolog";
                }
                else {
                    reloadCartDetail();
                    reloadItem();
                }
            });
        }
        function AddToWishlist(id, idc) {
            $.ajax({
                url: '/customer/AddToWishlist',
                data: { id: id, color: idc }
            }).done(function () {
                //alert(data);
            });
        }
        jQuery(document).ready(function ($) {
            $("#accordion > li > div").click(function () {
                if (false == $(this).next().is(':visible')) {
                    $('#accordion ul').slideUp(300);
                }
                $(this).next().slideToggle(300);
            });

            var act = $('a.category.active').text().toLowerCase().replace(' ', '-');
            var count = $('div.grid-product > .col-sm-3.' + act).length;
            document.getElementById("totalResult").innerHTML = count;
            $('a.category').click(function () {
                $('#selCategory option, #selBrand option').prop('selected', function () {
                    return this.defaultSelected;
                });
                $(".filterStores").prop("checked", false);
                $('.notFound').addClass('hidden');
                $('#loadMore').addClass('hidden');
                $(this).css('text-decoration', 'none');
                $(this).siblings().removeClass('active');
                $(this).addClass('active');
                var filterVal = $(this).text().toLowerCase().replace(' ', '-');
                var count = $("div.grid-product > .col-sm-3." + filterVal).length;
                document.getElementById("totalResult").innerHTML = count;
                if (count == 0) {
                    $('.notFound').removeClass('hidden');
                }
                if (count > 8) {
                    $('#loadMore').removeClass('hidden');
                }
                $('div.grid-product > .col-sm-3').fadeOut('fast').promise().done(function () {
                    $('div.grid-product > .col-sm-3.' + filterVal).slice(0, 8).fadeIn('fast');
                });
                //$('div.grid-product > .col-sm-3:not(.' + filterVal + ')').fadeOut('fast');
                //$('div.grid-product > .col-sm-3.' + filterVal).slice(0, 8).fadeIn('slow');
                return false;
            });
            //alert(act);

            var convertToNumber = function (value) {
                return parseFloat(value);
            }
            function executeOrder() {
                var val = $(".sortOrder").val();
                var act = $('a.category.active').text().toLowerCase().replace(' ', '-');
                if (act == '') {
                    act = "men.women";
                }
                var checked = $(":checkbox:checked").length;
                if (checked == 0) {
                    $("div.grid-product > .col-sm-3." + act).show();
                    $('#loadMore').addClass('hidden');
                }
                if (val == "price-desc") {
                    //console.log(act);
                    var ascending = false;
                    var sorted = $('.grid-product .col-sm-3').sort(function (a, b) {
                        return (ascending ==
                       (convertToNumber($(a).attr('data-price')) >
                        convertToNumber($(b).attr('data-price')))) ? 1 : -1;
                    });

                    $('.grid-product').html(sorted);
                } else if (val == "price-asc") {
                    var ascending = false;
                    var sorted = $('.grid-product .col-sm-3').sort(function (a, b) {
                        return (ascending ==
                       (convertToNumber($(a).attr('data-price')) <
                        convertToNumber($(b).attr('data-price')))) ? 1 : -1;
                    });

                    $('.grid-product').html(sorted);
                } else {
                    var ascending = false;
                    var sorted = $('.grid-product .col-sm-3').sort(function (a, b) {
                        return (ascending ==
                       (convertToNumber($(a).attr('data-date')) <
                        convertToNumber($(b).attr('data-date')))) ? 1 : -1;
                    });
                    $('.grid-product').html(sorted);

                }
                $(".grid-product").prepend('<div class="wait" ><div class="text-center" style="padding-top:20%"><img src="/images/icon-loading.gif" /></div></div><div class="text-center hidden notFound"><img src="/images/product-not-found.jpg" /></div>');
            }

            $('.sortOrder').on('change', function () {
                $(".wait").show();
                setTimeout(function () {
                    $(".wait").hide();
                }, 1000);
                setTimeout(executeOrder, 1000)

            });

            $("input[type=checkbox].filterStores").change(function () {
                $(".wait").show();
                setTimeout(function () { $(".wait").hide(); }, 1000);
                var checkboxes = document.getElementsByClassName("filterStores");
                var selected = [];
                for (var i = 0; i < checkboxes.length; ++i) {
                    if (checkboxes[i].checked) {
                        selected.push(checkboxes[i].value);
                    }
                }

                var act = $('a.category.active').text().toLowerCase().replace(' ', '-');
                if (selected.length > 0) {
                    $('div.grid-product > .col-sm-3').hide();
                    var count = 0;
                    $('.filterStores:checked').each(function () {
                        var add = $('div.grid-product > .col-sm-3.' + act + '.' + $(this).attr('id')).length;
                        $('div.grid-product > .col-sm-3.' + act + '.' + $(this).attr('id')).toggle();
                        count = count + add;
                    });
                    document.getElementById("totalResult").innerHTML = count;
                } else {
                    //var count = document.getElementsByName('totalResult')[0].value;
                    var count = $("div.grid-product > .col-sm-3." + act).length;
                    $('div.grid-product > .col-sm-3').hide();
                    $('div.grid-product > .col-sm-3.' + act).toggle();
                    document.getElementById("totalResult").innerHTML = count;
                }
                $('#loadMore').addClass('hidden');
            });


            var count = $("div.grid-product > .col-sm-3." + act).length;

            $("div.grid-product > .col-sm-3." + act).slice(0, 8).toggle();
            if (count == 0) {
                $('.notFound').removeClass('hidden');
                $('.grid-product').css('height', 'auto');
            }
            if (count > 8) {
                $('#loadMore').removeClass('hidden');
            }
            $("#loadMore").on('click', function (e) {
                e.preventDefault();
                var act = $('a.category.active').text().toLowerCase().replace(' ', '-');
                if (act == '') {
                    act = "men.women";
                }
                $("div.grid-product > .col-sm-3." + act + ":hidden").slice(0, 4).fadeIn('slow');
                if ($("div.grid-product > .col-sm-3." + act + ":hidden").length == 0) {
                    $("#loadMore").addClass('hidden');
                }
            });


        });

    </script>
}

