﻿@using DynamicContent.Helper;
@section styles{
    <style>
        div.grid-product > .col-sm-3 {
            display: none;
        }
        .hide{
            display:none;
        }
        .look{
            display:block !important;
        }
    </style>
}
@{
    DynamicContent.Models.MainModel obj = new DynamicContent.Models.MainModel();
    DynamicContent.Models.Entities db = new DynamicContent.Models.Entities();
    IEnumerable<_object.AllProduct> latestApproved = null;
    if (Request.QueryString["find"] != null)
    {
        var d = Request.QueryString["find"].Split('.');
        var tenatCategory = obj.GetTenantCategoryIdByCode(d[0].ToUpper());
        latestApproved = obj.GetProductByTenantCategory(tenatCategory.ID).OrderByDescending(x => x.id).Where(p => p.approved_date > DateTime.Now.AddDays(-30));
    }
    else
    {
        //latestApproved = obj.GrabAllProduct().OrderByDescending(x => x.approved_date).Where(p => p.approved_date > DateTime.Now.AddDays(-30));
        latestApproved = obj.GrabAllProduct().OrderByDescending(x=>x.id).Where(p => p.approved_date > DateTime.Now.AddDays(-30));
        //latestApproved = db.tbl_product.Where(p => p.approved_date > DateTime.Now.AddDays(-30));
    }
    var selTenant = new List<string>();
    foreach (var idtenant in latestApproved.Select(x => new { tenant = x.idtenant }).Distinct())
    {
        selTenant.Add(idtenant.tenant.ToString());
    }
    string idTenant = string.Join(",", selTenant.ToArray());
    var tenant = obj.ProdTenantByCategory(idTenant);
    var tenantCategory = db.tbl_TenantCategory.OrderBy(x => x.name);
}
<div class="container-fluid">
    <div class="bread-crumb row">
        <div class="container">
            <ul class="">
                <li><a href="/">home</a></li>
                <li><a >What's New</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="container">
    <h3 class="m-title text-left">
        What's New 
    </h3>

    <div class="clear"></div>
    <div class="product-list-menu">
        <div class="product-list-title">
            <div class="product-list-results">
                <span class="product-list-results-container">
                    <span class="total-number-of-products" id="totalResult"> </span>&nbsp;
                    <span class="total-results-message">Results</span>
                    <input type="hidden" value="@latestApproved.Count()" name="totalResult"/>
                </span>
            </div>
        </div>
        <hr />
    </div>
    <div class="clear"></div>
    <div class="filter col-sm-3 col-xs-12">
        <select name="sortOrder" class="sortOrder">
            <option value="" selected="selected">Sort by</option>
            <option value="new-in">New in</option>
            <option value="price-desc">Price High to Low</option>
            <option value="price-asc">Price Low to High</option>
        </select>

        <ul class="category-nav nav-section filter list-gender">
            @*<a href="" class="text-center category active" style="width:49%">@genderwomen</a>
            <a href="" class="text-center category right" style="width:49%">@gendermen</a>*@
            <li>
                <a href="" class="tab1 category active">women</a>
            </li>
            <li>
                <a href="" class="tab2 category">men</a>
            </li>
        </ul>
        <ul id="subnav" class="category-nav nav-section filter">
            <li class="all">
                <a href="/WhatsNew">All</a>
            </li>
            @{
                foreach (var item in tenantCategory)
                {
                    <li class="">
                        <a href="/WhatsNew/?find=@item.code.ToLower().@obj.stringToURL(item.name)">
                            @obj.wordsUpper(item.name)
                        </a>
                    </li>
                }
            }
        </ul>
        @{
            if (tenant != null)
            {                
                <ul class="category-nav nav-section filter stores">
                    <h5>Stores</h5>
                    @{
                        foreach (var b in tenant.OrderBy(t => t.name))
                        {
                            <li value="@obj.stringToURL(b.name)"><input type="checkbox" id="@obj.stringToURL(b.name)" class="filterStores"/> <label for="@obj.stringToURL(b.name)">@b.name.ToUpper()</label></li>
                        }
                    }                    
                </ul>                            
            }
        }
        
    </div>
    <div class="grid-product col-sm-9 col-xs-12">
        <div class="wait" >
            <div class="text-center" style="padding-top:20%"><h5 class="m-title floatL">Sorry, no product found</h5></div>
        </div>
        <!-- div 1-->
        <div class="text-center hidden notFound"><img src="/images/product-not-found.jpg" /></div>
        
        @{
            var i = 0;
            if (latestApproved != null)
            {
                foreach (var p in latestApproved)
                {
                    var tenantName = obj.GetTenant(p.idtenant).FirstOrDefault();
                    var gender = ((@p.gender == "unisex") ? "women men" : @p.gender);
                    var images = obj.GetOneImg(p.id);
                    //var prodCat = db.TypeMasters.Where(x=>x.ID == p.idcategory).FirstOrDefault();
                    var price = ((p.price == "price upon request") ? 0 : Convert.ToDecimal(p.price));
                    IList<string> size = (p.size).Split(',').ToList<string>();
                    if (images != null)
                    {
                        var category = db.TypeMasters.Where(x => x.ID == p.idcategory).FirstOrDefault();
                        string catdesc = "";
                        string catval = "";
                        if (category != null)
                        {
                            catdesc = category.TypeDesc;
                            catval = category.TypeValue;
                        }
                    <div class="col-sm-3 @obj.stringToURL(catdesc) @gender @obj.stringToURL(tenantName.name)" data-price="@price" data-date="@i">
                        
                            <div class="product" onlcik="" style="background:url('@images.images')no-repeat center center; background-size:contain; ">
                                <div class="overlay" onclick="">
                                    @{
                                        var isjoin = db.TenantMaster.Where(x => x.TenantID == p.idtenant).FirstOrDefault();
                                        if (isjoin.isReserve == "Y")
                                        {
                                            <a href="/product/@images.color/@obj.stringToURL(p.name).ToLower()" class="see-detail">see detail</a>
                                        }
                                        else
                                        {
                                            if (isjoin.isReserve != null)
                                            {
                                                <a href="@isjoin.TenantUrl" target="_blank" class="see-detail">see detail</a>
                                            }
                                            else
                                            {
                                                <a href="#" class="see-detail">see detail</a>
                                            }
                                        }
                                    }
                                </div>
                                <div class="two-circle">
                                    @{
                                        if (isjoin.isReserve == "Y")
                                        {
                                            <div class="cart" onclick="AddToCartDetail(@images.color, 1, '@size[0]');" data-placement="bottom" data-toggle="tooltip" title="Add to cart"><i class="fas fa-shopping-cart"></i></div>
                                        }
                                        else
                                        {
                                            <a href="@isjoin.TenantUrl" target="_blank" class="cart" data-placement="bottom" data-toggle="tooltip" title="Add to cart"><i class="fas fa-shopping-cart"></i></a>
                                        }
                                    }
                                    @*<div class="cart" onclick="AddToCartDetail(@images.color, 1, '@size[0]');" data-placement="bottom" data-toggle="tooltip" title="Add to cart"><i class="glyphicon glyphicon-shopping-cart"></i></div>*@
                                    <a href="#" onclick="AddToWishlist('@p.id', '@images.color');" data-toggle="modal" data-target="#m-wishlist"><div class="love" data-placement="bottom" data-toggle="tooltip" title="Add to wishlist"><i class="fas fa-heart"></i></div></a>
                                </div>

                            </div>
                            <div class="desc">
                                <h4>@tenantName.name</h4>
                                <p class="s-desc">@p.name</p>
                                <p class="s-price">
                                    @obj.priceCheck(p.price)
                                </p>
                            </div>
                            <div class="pallete">
                                @{
                                    var color = obj.GetProductColor(p.id);
                                    foreach (var c in color)
                                    {
                                        if ((c.color != "") && (c.color != "default"))
                                        {
                                            <div class="item" style="background-color:@c.color;"></div>
                                        }
                                        else
                                        {

                                        }

                                    }
                                }
                            </div>
                        
                    </div>
                    }
                    i++;
                }
            }else{
                @*<div class="text-center notFound" style="display:block !important;"><img src="/images/product-not-found.jpg" /></div>*@
            }
        }
       
    </div>
    <div class="clear"></div>
    <div class="col-sm-9 col-sm-offset-3 text-center">
        <a href="" class="load-more hidden" id="loadMore">load more</a>
    </div>
</div>

@section scripts{
    <script>
        function AddToCartDetail(id, qty, sz) {
            $.ajax({
                url: '/customer/AddToCartDetail',
                data: { id: id, qty: qty, size: sz }
            }).done(function (response) {

                if (response.responseText == "Not Loggin in") {
                    window.location.href = "@Url.Action("login","customer")" + "?msg=nolog";
                }
                else {
                    reloadCartDetail();
                    reloadItem();
                }
            });
        }
        function AddToWishlist(id, idc) {
            $.ajax({
                url: '/customer/AddToWishlist',
                data: { id: id, color:idc }
            }).done(function () {
                //alert(data);
            });
        }
        jQuery(document).ready(function ($) {
            var act = $('a.category.active').text().toLowerCase().replace(' ', '-');
            var count = $('div.grid-product > .col-sm-3.' + act).length;
            document.getElementById("totalResult").innerHTML = count;
            $('a.category').click(function () {
                $('#selCategory option, #selBrand option').prop('selected', function () {
                    return this.defaultSelected;
                });
                $(".filterStores").prop("checked", false);
                $('.notFound').addClass('hidden');
                $('#loadMore').addClass('hidden');
                $(this).css('text-decoration', 'none');
                $(this).siblings().removeClass('active');
                $(this).addClass('active');
                var filterVal = $(this).text().toLowerCase().replace(' ', '-');
                var count = $("div.grid-product > .col-sm-3." + filterVal).length;
                document.getElementById("totalResult").innerHTML = count;
                if (count == 0) {
                    $('.notFound').removeClass('hidden');
                }
                if (count > 8) {
                    $('#loadMore').removeClass('hidden');
                }
                $('div.grid-product > .col-sm-3').fadeOut('fast').promise().done(function () {
                    $('div.grid-product > .col-sm-3.' + filterVal).slice(0, 8).fadeIn('fast');
                });
                //$('div.grid-product > .col-sm-3:not(.' + filterVal + ')').fadeOut('fast');
                //$('div.grid-product > .col-sm-3.' + filterVal).slice(0, 8).fadeIn('slow');
                return false;
            });
            //alert(act);

            var convertToNumber = function (value) {
                return parseFloat(value);
            }
            function executeOrder() {
                var val = $(".sortOrder").val();
                var act = $('a.category.active').text().toLowerCase().replace(' ', '-');
                if (act == '') {
                    act = "men.women";
                }
                var checked = $(":checkbox:checked").length;
                if (checked == 0) {
                    $("div.grid-product > .col-sm-3." + act).show();
                    $('#loadMore').addClass('hidden');
                }
                if (val == "price-desc") {
                    //console.log(act);
                    var ascending = false;
                    var sorted = $('.grid-product .col-sm-3').sort(function (a, b) {
                        return (ascending ==
                       (convertToNumber($(a).attr('data-price')) >
                        convertToNumber($(b).attr('data-price')))) ? 1 : -1;
                    });

                    $('.grid-product').html(sorted);
                } else if (val == "price-asc") {
                    var ascending = false;
                    var sorted = $('.grid-product .col-sm-3' ).sort(function (a, b) {
                        return (ascending ==
                       (convertToNumber($(a).attr('data-price')) <
                        convertToNumber($(b).attr('data-price')))) ? 1 : -1;
                    });

                    $('.grid-product').html(sorted);
                } else {
                    var ascending = false;
                    var sorted = $('.grid-product .col-sm-3').sort(function (a, b) {
                        return (ascending ==
                       (convertToNumber($(a).attr('data-date')) <
                        convertToNumber($(b).attr('data-date')))) ? 1 : -1;
                    });
                    $('.grid-product').html(sorted);

                }
                $(".grid-product").prepend('<div class="wait" ><div class="text-center" style="padding-top:20%"><img src="/images/icon-loading.gif" /></div></div><div class="text-center hidden notFound"><img src="/images/product-not-found.jpg" /></div>');
            }

            $('.sortOrder').on('change', function () {
                $(".wait").show();
                setTimeout(function () {
                    $(".wait").hide();
                }, 1000);
                setTimeout(executeOrder, 1000)

            });

            $("input[type=checkbox].filterStores").change(function () {
                $(".wait").show();
                setTimeout(function () { $(".wait").hide(); }, 1000);
                var checkboxes = document.getElementsByClassName("filterStores");
                var selected = [];
                for (var i = 0; i < checkboxes.length; ++i) {
                    if (checkboxes[i].checked) {
                        selected.push(checkboxes[i].value);
                    }
                }

                var act = $('a.category.active').text().toLowerCase().replace(' ', '-');
                if (selected.length > 0) {
                    $('div.grid-product > .col-sm-3').hide();
                    var count = 0;
                    $('.filterStores:checked').each(function () {
                        var add = $('div.grid-product > .col-sm-3.' + act + '.' + $(this).attr('id')).length;
                        $('div.grid-product > .col-sm-3.' + act + '.' + $(this).attr('id')).toggle();
                        count = count + add;
                    });
                    document.getElementById("totalResult").innerHTML = count;
                } else {
                    //var count = document.getElementsByName('totalResult')[0].value;
                    var count = $("div.grid-product > .col-sm-3." + act).length;
                    $('div.grid-product > .col-sm-3').hide();
                    $('div.grid-product > .col-sm-3.' + act).toggle();
                    document.getElementById("totalResult").innerHTML = count;
                }
                $('#loadMore').addClass('hidden');
            });


            var count = $("div.grid-product > .col-sm-3." + act).length;

            $("div.grid-product > .col-sm-3." + act).slice(0, 8).toggle();
            if(count == 0){
                $('.notFound').removeClass('hidden');
                $('.grid-product').css('height', 'auto');
            }
            if (count > 8) {
                $('#loadMore').removeClass('hidden');
            }
            $("#loadMore").on('click', function (e) {
                e.preventDefault();
                var act = $('a.category.active').text().toLowerCase().replace(' ', '-');
                if (act == '') {
                    act = "men.women";
                }
                $("div.grid-product > .col-sm-3." + act + ":hidden").slice(0, 4).fadeIn('slow');
                if ($("div.grid-product > .col-sm-3." + act + ":hidden").length == 0) {
                    $("#loadMore").addClass('hidden');
                }
            });


        });
</script>
}

