﻿@using DynamicContent.Areas.TenantManager.ViewModels

@{
    Layout = "~/Areas/TenantManager/Views/Shared/_authenticatedLayout.cshtml";

    var res = ViewData["reservation"] as List<ReservationViewModel>;
}


<div class="page page-dashboard">
    <div class="pageheader">
        <h2>Dashboard <span>Today: @(DateTime.Now)</span></h2>
        @*div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <a href="index.html"><i class="fa fa-home"></i> Tenant Manager</a>
                </li>
                <li>
                    <a href="index.html">Dashboard</a>
                </li>
            </ul>
           
        </div>*@
    </div>

    <div class="row">
        <div class="col-md-8">
            <!-- tile -->
            <section class="tile" fullscreen="isFullscreen02">
                <!-- tile header -->
                <div class="tile-header dvd dvd-btm">
                    <h1 class="custom-font"><strong>Welcome </strong>to Tenant Management Section</h1>
                </div>
                <!-- /tile header -->
                <!-- tile body -->
                <div class="tile-body p-0" >
                    
                    <center><img src="~/Images/logo.jpg" alt="Plaza Indonesia" class="img-responsive" /></center>
                </div>
                <!-- /tile body -->
            </section>
            <!-- /tile -->
        </div>
        <div class="col-md-4">
            <!-- tile -->
            <section class="tile" fullscreen="isFullscreen02">
                <!-- tile header -->
                <div class="tile-header dvd dvd-btm">
                    <h1 class="custom-font"><strong>Information </strong></h1>
                </div>
                <!-- /tile header -->
                <!-- tile body -->
                <div class="tile-body">
                    <p>
                        @{
                            var tenant = ViewData["tenantInfo"] as DynamicContent.Models.M_User_Tenant;
                        }
                        Username: @tenant.username <br />
                        Role: @tenant.role_id<br />
                        Last password change: @tenant.change_pass_date
                    </p>
                </div>
                <!-- /tile body -->
            </section>
            <!-- /tile -->
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <section class="tile" fullscreen="isFullscreen02">
                <!-- tile header -->
                <div class="tile-header dvd dvd-btm">
                    <h1 class="custom-font"><strong>Customer </strong>Order</h1>
                </div>
                <!-- /tile header -->
                <!-- tile body -->
                <div class="tile-body">
                    @for (var i = 0; i < res.Count(); i++)
                    {
                        <div class="row">
                            @*<div class="col-sm-2">
                                <img src="~/Public/Images/product/it-blouse1-1.jpg" class="img-responsive" />
                            </div>*@
                            <div class="col-sm-8">
                                <a href="/TenantManager/Order/View/@res[i].id">
                                    <strong>[@res[i].reservationCode]</strong> / @res[i].userName / @Convert.ToDateTime(res[i].reservedDate).ToString("dd-MMMM-yyyy")
                                </a>
                            </div>
                            @*<div class="col-sm-4"><a href="/TenantManager/Order/Followup/@res[i].id" class="btn btn-primary" name="submitBtn" >Follow Up</a></div>*@
                        </div>
                        <hr />
                    }
                   
                    
                </div>
                <!-- /tile body -->
            </section>
        </div> 

        <div class="col-md-6">
            <section class="tile" fullscreen="isFullscreen02">
                <!-- tile header -->
                <div class="tile-header dvd dvd-btm">
                    <h1 class="custom-font"><strong>Tenant Product</strong> Status Update</h1>
                </div>
                <!-- /tile header -->
                <!-- tile body -->
                <div class="tile-body">
                    <div class="table-responsive">
                        <table class="table table-custom" id="productDatatable">
                            <thead>
                                <tr>
                                    <th>Modified Date</th>
                                    <th width="40%">Name</th>
                                    <th>Approval Status</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
                <!-- /tile body -->
            </section>
        </div> 

        
    </div>
</div>

@section scripts {
    @Styles.Render("~/TenantManager/Datatables/css")
    @Scripts.Render("~/TenantManager/Datatables/js")
    <script type="text/javascript">
        function timeConverter(UNIX_timestamp) {
            var a = new Date(UNIX_timestamp);
            var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
            var year = a.getFullYear();
            var month = months[a.getMonth()];
            var date = a.getDate();
            var hour = a.getHours();
            var min = a.getMinutes();
            var sec = a.getSeconds();
            var time = date + ' ' + month + ' ' + year + ' ' + hour + ':' + min + ':' + sec;
            return time;
        }
        $(function () {

            var oTable = $('#productDatatable')
                .on('xhr.dt', function (e, settings, json, xhr) {
                    if (xhr.status == 403) {
                        var response = $.parseJSON(xhr.responseText);
                        window.location = response.logonurl;
                    }
                })
                .DataTable({
                "serverSide": true,
                "ajax": {
                    "type": "POST",
                    "url": '/TenantManager/Product/ProductListDataHandler',
                    "contentType": 'application/json; charset=utf-8',
                    'data': function (data) { return data = JSON.stringify(data); }
                },
                "scrollCollapse": true,
                "scroller": {
                    loadingIndicator: false
                },
                "processing": true,
                "paging": true,
                "deferRender": true,
                "columns": [
                    {
                        "data": "modified_date",
                        "render": function (data, type, full, meta) {
                            return timeConverter(parseInt(data.substr(6)));
                        }
                    },
                   {
                       "data": "name",
                       "render": function (data, type, full, meta) {

                           var st = '';
                           if (!full.status)
                               st = ' <strong>(Inactive)</strong>';

                           return data + st;
                       }
                   },
                   {
                       "data": "approval_status",
                       "render": function (data, type, full, meta) {
                           var appStatus = data;
                           var st = '';
                           if (appStatus == 0) {
                               st = 'Draft';
                           }
                           else if (appStatus == 1) {
                               st = 'Waiting';
                           }
                           else if (appStatus == 2) {
                               st = 'Approved';
                           }
                           else if (appStatus == 3) {
                               st = 'Rejected' + ((full.approval_message != '') ? ' (' + full.approval_message + ')' : '');;
                           }
                           else {
                               st = appStatus;
                           }
                           return st;

                       }
                   }
                ],
                "order": [0, "desc"]

            });

            //oTable.columns().every(function () {
            //    var that = this;

            //    $('input', this.footer()).on('keyup change', function () {
            //        that
            //            .search(this.value)
            //            .draw();
            //    });
            //});
        });
    </script>
}