﻿@model DynamicContent.Areas.SysManager.ViewModels.SliderViewModel
@{
    Layout = "~/Areas/SysManager/Views/Shared/_authenticatedLayout.cshtml";

    var slider = ViewData["slider"] as DynamicContent.Models.tbl_slider2;
    DynamicContent.Models.MainModel obj = new DynamicContent.Models.MainModel();

}

<div class="page page-product-detail">
    <div class="pageheader">
        <h2>Slider Image <span>Today: @(DateTime.Now)</span></h2>
    </div>

    <div class="row">
        <div class="col-md-12">
            <section class="tile" fullscreen="isFullscreen02">
                <!-- tile header -->
                <div class="tile-header dvd dvd-btm">
                    <h1 class="custom-font"><strong>@((slider == null) ? "Add New" : "Edit") </strong> Image</h1>
                </div>
                <!-- /tile header -->
                <!-- tile body -->
                <div class="tile-body">
                    @if (!Html.ViewData.ModelState.IsValid)
                    {
                        <div class="alert alert-lightred fade in">
                            <p>
                                @Html.ValidationSummary()
                            </p>
                        </div>
                    }

                    @using (Html.BeginForm(((slider == null) ? "AddSlider" : "EditSlider"), "ShopNow", new { ViewBag.ReturnUrl }, FormMethod.Post, new { @id = "form-addSlider", @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
                    {
                        if (Model != null)
                        {
                            <input type="hidden" name="SliderId" value="@Model.ID" />
                        }

                        <div class="form-group">
                            <label class="col-sm-4 control-label">Title</label>
                            <div class="col-sm-8">
                                @Html.TextBoxFor(m => m.name, new { @class = "form-control", @placeholder = "Enter image title" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-4 control-label">Image <i>(Best Resolution : 1130px * 510px)</i></label>
                            <div class="col-sm-8">
                                @{
                                    if (Model != null)
                                    {
                                        var img = obj.GetSlider2ById(Model.ID);
                                        if (img != null)
                                        {
                                            <img src="@img.image" class="img-responsive" /><br />
                                            <input type="file" name="image">
                                        }
                                    }
                                    else
                                    {
                                        <input type="file" name="image">
                                    }

                                }
                                
                                   
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Url</label>
                            <div class="col-sm-8">
                                @Html.TextBoxFor(m => m.url, new { @class = "form-control", @placeholder = "Image Url" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-9">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    }
                </div>
                <!-- /tile body -->
                <div class="tile-footer">

                </div>
            </section>
        </div>
    </div>

</div>
@section scripts {
    @Styles.Render("~/formvalidation/css")
    @Styles.Render("~/colorpicker/css")
    @Styles.Render("~/summernote/css")
    @Scripts.Render("~/formvalidation/js")
    @Scripts.Render("~/colorpicker/js")
    @Scripts.Render("~/summernote/js")
    <script type="text/javascript">
        $(function () {
            var validatorLib = {
                'validateNotEmpty': {
                    validators: {
                        notEmpty: {
                            message: "This field cannot be empty"
                        }
                    }
                }
            };
            var fv = $('#form-addSlider')
                .formValidation({
                    framework: 'bootstrap',
                    fields: {
                        '@Html.IdFor(x => x.name)': validatorLib.validateNotEmpty
                        //'@Html.IdFor(x => x.image)': validatorLib.validateNotEmpty
                    }
                });
        });
    </script>
}