﻿@using DynamicContent.Models
@using System.Linq
@using System.Data
@{
    //ControllerContext.ParentActionViewContext.RouteData.Values["action"]
    var controller = (ViewContext.ParentActionViewContext == null ) ? "" : ViewContext.ParentActionViewContext.RouteData.GetRequiredString("controller").ToLower();
    var action = (ViewContext.ParentActionViewContext == null || controller == "dummycontroller" ) ? "" : ViewContext.ParentActionViewContext.RouteData.GetRequiredString("action").ToLower();
    var m = Model as List<SysMenuItem>;
}

<!-- =================================================
            ================= CONTROLS Content ===================
            ================================================== -->
<div id="controls">


    <!-- ================================================
    ================= SIDEBAR Content ===================
    ================================================= -->
    <aside id="sidebar"  class="scheme-black">

        <div id="sidebar-wrap">
            <div class="panel-group slim-scroll" role="tablist">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="#sidebarNav">
                                Admin Navigation <i class="fa fa-angle-up"></i>
                            </a>
                        </h4>
                    </div>
                    <div id="sidebarNav" class="panel-collapse collapse in" role="tabpanel">
                        <div class="panel-body">

                            <!-- ===================================================
                            ================= NAVIGATION Content ===================
                            ==================================================== -->
                            <ul id="navigation">
                                @if (Model != null)
                                {
                                    var parentMenu = m.Where(x => x.parent == null).ToList();
                                    foreach (var menu in parentMenu)
                                    {
                                        var cr = (String.IsNullOrEmpty(menu.controller)? "":menu.controller.ToLower());
                                        var vr = (String.IsNullOrEmpty(menu.views) ? "" : menu.views.ToLower());
                                        @Html.Raw("<li class=" + ((controller == cr) ? "active" : "")+">")
                                        <a href="@Url.Action(menu.views, menu.controller, new { area = "SysManager" })"><i class="fa @menu.icon"></i> <span>@menu.name</span></a>
                                        var childMenu = m.Where(x => x.parent == menu.id);
                                        if (childMenu != null && childMenu.Count() > 0)
                                        {
                                            @Html.Raw("<ul>")
                                            foreach (var child in childMenu)
                                            {
                                                var crc = (String.IsNullOrEmpty(child.controller) ? "" : child.controller.ToLower());
                                                var vrc = (String.IsNullOrEmpty(child.views) ? "" : child.views.ToLower());
                                                <li class="@((controller == crc && action == vrc ) ? "active" : "")">
                                                    <a href="@Url.Action(child.views, child.controller , new { area = "SysManager" })" role="button" tabindex="0"><i class="fa @child.icon"></i> @child.name</a>
                                                </li>
                                            }
                                            @Html.Raw("</ul>")
                                        }
                                        @Html.Raw("</li>")
                                    }
                                }

                                @{
                                    var dtMenu = ViewData["dtMenu"] as DataTable;
                                    if (dtMenu != null)
                                    {
                                        var parentM = (from c in dtMenu.AsEnumerable()
                                                         where c.Field<int>("ParentMenuID") == 0
                                                         select c);

                                        foreach (var mn in parentM)
                                        {
                                            <li class="">
                                                <a href="@mn["Url"]" role="button" tabindex="0"><i class="fa fa-database"></i> @mn["Title"]</a>
                                             @{ 
                                                 var childM = (from d in dtMenu.AsEnumerable()
                                                               where d.Field<int>("ParentMenuID") == (int)mn["MenuID"]
                                                               select d);
                                                 if(childM != null && childM.Count() >0)
                                                 {
                                                     @Html.Raw("<ul>")
                                                     foreach (var cmn in childM)
                                                     {
                                                         <li class="">
                                                            <a href="@cmn["Url"].ToString().Replace("~","")" role="button" tabindex="0"><i class="fa fa-caret-right"></i> @cmn["Title"]</a>
                                                         </li>
                                                     }
                                                    @Html.Raw("</ul>")
                                                 }

                                            }   
                                            </li>
                                        }
                                    }
                                }
                            </ul>
                            <!--/ NAVIGATION Content -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </aside>
    <!--/ SIDEBAR Content -->
    


</div>
<!--/ CONTROLS Content -->