﻿@using System.Text.RegularExpressions;
@using DynamicContent.Helper;

@{
    bool isHome = (ViewData["category"] != null) ? false : true;
    var page = ViewData["page"] as DynamicContent.Models.M_Pages;
    DynamicContent.Models.MainModel obj = new DynamicContent.Models.MainModel();
    DynamicContent.Models.Entities db = new DynamicContent.Models.Entities();

    var firstName = Session["firstName"];
    var lastName = Session["lastName"];
    int userId = Convert.ToInt32(Session["userIdLogin"]);
    var user = obj.GetUserActive(userId);
    var href = (userId == 0) ? "/customer/login" : "/customer/MyCart";

}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Plaza Indonesia @(ViewBag.Title != null ? " | " + ViewBag.Title : "")</title>
    <meta name="description" content="@ViewBag.MetaDesc">
    <meta name="keywords" content="@ViewBag.MetaKeywords">

    <meta name="author" content="Batavianet">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0" />
    <meta name="format-detection" content="telephone=no">

    <!-- Favicons -->
    <link rel="shortcut icon" href="/images/favicon.png">
    <link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/apple-touch-icon-114x114.png">

    <link href="~/Assets/slick/slick-theme.css" rel="stylesheet" />
    <link href="~/Assets/slick/slick.css" rel="stylesheet" />
    <link href="~/Content/css-pi/fontawesome-all.min.css" rel="stylesheet" />
    <link href="~/Assets/reset.css" rel="stylesheet" />
    <link href="~/Assets/fonts.css" rel="stylesheet" />
    @*<script src="~/Assets/jquery-3.2.1.min.js"></script>*@
    <script src="~/Assets/jquery-ui/jquery-ui.js"></script>
    <script src="~/Assets/bootstrap/bootstrap.min.js"></script>




    <script type="text/javascript">var switchTo5x = true;</script>
    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
    <script type="text/javascript">stLight.options({ publisher: "c27695fd-a4eb-4309-82d4-3d67ac6f43da", doNotHash: false, doNotCopy: false, hashAddressBar: false });</script>
    @Styles.Render("~/bundles/picss")
    @RenderSection("styles", required: false)

    <script>
        // Picture element HTML5 shiv
        document.createElement("picture");
    </script>
    <script src='https://www.google.com/recaptcha/api.js'></script>

    @Scripts.Render("~/bundles/picturefill")
    <script>

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

        // Load the SDK asynchronously

    </script>
</head>
<body>
    <div class="bg-overlay"></div>
    <div class="close-menu"><i class="fas fa-times"></i></div>
    @*<header>
            <div class="container">
                <ul class="header-left">
                    <li>
                    <a href="http://www.plazaindonesia.com/" target="_blank" class="pi-web hidden-xs"><span class="hidden-xs">plaza indonesia website</span></a>
                    </li>
                </ul>
                <ul class="header-right">

                    <li>
                        <form action="/search" method="get">
                            <input type="search"  name="find" style="width:200px;" placeholder="Search...">
                            <button type="submit" class="hidden-xs search">search</button>
                        </form>
                    </li>
                    <li class="dropdown cart">
                        <a href="@href" class="cart"><span class="hidden-xs">cart </span> <span id="totalCart"></span></a>
                        <ul class="submenu dropdown-menu cart" id="listitem">
                            <a href="register.html"><div class="load-more w100">reserve now</div></a>
                        </ul>
                    </li>
                    <li><a href="@(userId == 0 ? "/customer/login?to=wishlist" : "/customer/wishlist")" class="wish-list"><span class="hidden-xs">wish list</span></a></li>
                    <li class="dropdown">
                        <a href="/customer/Login" class="user">
                            <span class="hidden-xs">
                                @(user == null ? "login" : user.firstName + " " + user.lastName)
                            </span>
                        </a>
                        @{
                            if (user != null)
                            {
                                <ul class="submenu dropdown-menu user">
                                    <li><a href="/customer/myOrder">My Reservations</a></li>
                                    <li><a href="/customer/Myaccount">Account Setting</a></li>
                                    <li><a href="/customer/Logout">Logout</a></li>
                                </ul>
                            }
                        }

                    </li>
                </ul>
            </div>
        </header>*@
    <header style="background-color:#FFF !important">
        <div class="header-top">
            <div class="container">
                <div class="pos-rel">
                    <div class="row">
                        <div class="col-sm-4 hidden-xs">
                            <div class="global">
                                <div class="tbl">
                                    <div class="cell">
                                        <a href="http://www.plazaindonesia.com/" target="_blank">
                                            <div class="inline-block"><i class="fas fa-angle-left"></i></div>
                                            <div class="inline-block">Go Back to plaza indonesia website</div>
                                           
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <ul class="hdr-right">
                                <li>
                                    <div class="h42">
                                        <div class="tbl">
                                            <div class="cell">
                                                <div class="pos-rel">
                                                    <form action="/search" method="get">
                                                        <input type="text" placeholder="search.." name="find" class="hidden-xs form-control form-search" />
                                                    </form>
                                                    @*<a href="/search"  name="find" style="width:200px;" placeholder="Search...">*@
                                                    <a class="click-search">
                                                        <div class="inline-block">
                                                            <i class="fas fa-search"></i>
                                                        </div>
                                                        <div class="inline-block hidden-xs">Search</div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="dropdown cart">
                                    <div class="h42">
                                        <div class="tbl">
                                            <div class="cell">
                                                <a href="@href" class="cart">
                                                    <div class="inline-block"><i class="fas fa-shopping-cart"></i></div>
                                                    <span class="hidden-xs">cart </span> <span class="totalCart"></span>
                                                </a>
                                                <ul class="submenu dropdown-menu cart" id="listitem">
                                                    <a href="register.html"><div class="load-more w100">reserve now</div></a>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="h42">
                                        <div class="tbl">
                                            <div class="cell">
                                                <a href="@(userId == 0 ? "/customer/login?to=wishlist" : "/customer/wishlist")" class="wish-list">
                                                    <div class="inline-block"><i class="fas fa-heart"></i></div>
                                                    <span class="hidden-xs">wish list</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="dropdown user">
                                    <div class="h42">
                                        <div class="tbl">
                                            <div class="cell">
                                                <a href="/customer/Login" class="user">
                                                    <div class="inline-block"><i class="fas fa-user"></i></div>
                                                    <span class="hidden-xs">
                                                        @(user == null ? "login" : user.firstName + " " + user.lastName)
                                                    </span>
                                                </a>
                                                @{
                                                    if (user != null)
                                                    {
                                                        <ul class="submenu dropdown-menu user">
                                                            <li><a href="/customer/myOrder">My Reservations</a></li>
                                                            <li><a href="/customer/Myaccount">Account Setting</a></li>
                                                            <li><a href="/customer/Logout">Logout</a></li>
                                                        </ul>
                                                    }
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="pad10">
                <div class="row">
                    <div class="col-xs-4">
                        <div class="h50 show991">
                            <div class="tbl">
                                <div class="cell">
                                    <a href="#" class="menu-mobile"><i class="fas fa-bars"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="logo">
                            <a href="@Url.Action("index", "home")">
                                <img src="~/Public/LOGOpng.png" />
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <ul class="hdr-right show991">
                            <li>
                                <div class="h42">
                                    <div class="tbl">
                                        <div class="cell">
                                            <a href="#" id="dropdown-search">
                                                <i class="fas fa-search"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="h42">
                                    <div class="tbl">
                                        <div class="cell">
                                            <a href="@href">
                                                <div class="inline-block"><i class="fas fa-shopping-cart"></i></div>
                                                <div class="jumlah">
                                                    <div class="in totalCart"></div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="show991">
            <div class="box-search">
                <div class="container">
                    <div class="pos-rel">
                        <form action="/search" method="get">
                            <input type="text" placeholder="search.." name="find"  class="form-control" />
                        </form>
                        <i class="fas fa-search"></i>
                    </div>
                </div>
            </div>
        </div>
        <ul class="head">

            <div class="menu-container">
                <div class="menu">
                    <ul>
                        <li class="hidden-md hidden-lg">
                            <a href="/WhatsNew" style="color: #333;">Main Menu</a>
                        </li>
                        <li><a href="/WhatsNew">New</a></li>
                        <li class="menu-dropdown-icon">
                            <a href="/stores/allstores">Stores</a>
                            <div class="click-sub"><i class="fas fa-angle-right"></i></div>
                            <ul>
                                <div class="icon-back"><i class="fas fa-angle-left"></i></div>
                                <li class="leftside">
                                    <p>SHOP BY</p>
                                    <ul>
                                        <li><a href="/stores/allstores">Stores A-Z</a></li>
                                    </ul>
                                </li>
                                <li class="rightside">
                                    <p>Stores</p>
                                    <div class="clearfix">

                                        @{
                                            var tenant = obj.GetTenantNO().OrderBy(x => x.name).Take(20).ToList();



                                            for (int store = 0; store < tenant.Count; store++)
                                            {
                                                <div class="l-category">
                                                    @for (int a = 0; a < 5; a++)
                                                    {
                                                        if (store < tenant.Count)
                                                        {

                                                            <div>
                                                                <a href="/stores/@tenant[store].id-@Regex.Replace(@tenant[store].name.ToLower(), "[^0-9a-zA-Z]+", "_")/">@tenant[store].name</a>
                                                            </div>
                                                            store++;
                                                        }
                                                        else
                                                        {
                                                            <div>
                                                                <a href="/stores/allstores">See All...</a>
                                                            </div>
                                                            break;

                                                        }

                                                    }

                                                </div>

                                                @*if (store % 5 != 0 || store != 0)
                                                {

                                                }
                                                else

                                                {
                                                    </div>


                                                }*@


                                            }

                                            @*<li><a href="/stores/@item.id-@Regex.Replace(item.name.ToLower(), "[^0-9a-zA-Z]+", "_")/">@item.name</a></li>*@


                                        }

                                    </div>
                                    @*<ul class="columns2">
                                        @{
                                            var tenant = obj.GetTenantNO().OrderBy(x => x.name).Take(20);
                                            foreach (var item in tenant)
                                            {
                                                <li><a href="/stores/@item.id-@Regex.Replace(item.name.ToLower(), "[^0-9a-zA-Z]+", "_")/">@item.name</a></li>
                                            }
                                        }
                                        <li>
                                            <a href="/stores/allstores">See All...</a>
                                        </li>
                                    </ul>*@
                                </li>
                            </ul>
                        </li>
                        <li class="menu-dropdown-icon">

                            @{
                                var submenu = obj.GetSubmenu("FSH").OrderBy(x => x.name);
                                var parent = db.tbl_TenantCategory.Where(x => x.code == "FSH").FirstOrDefault();
                                var type = db.TypeMasters.Where(x => x.TypeCategory == parent.ID && x.isActive == "Y" && x.isShowMenu == "Y").GroupBy(n => n.TypeDesc).ToList();
                            }
                            <a href="/category/@obj.stringToURL(parent.name)?pr=@parent.code.ToLower()&list=all">Clothing</a>
                            <div class="click-sub"><i class="fas fa-angle-right"></i></div>
                            <ul>
                                <div class="icon-back"><i class="fas fa-angle-left"></i></div>
                                <li class="leftside">
                                    <p>SHOP BY</p>
                                    <ul>
                                        @{

                                            foreach (var item in submenu)
                                            {
                                                <li><a href="/category/@obj.stringToURL(parent.name)/@item.id/@obj.stringToURL(item.name)">@item.name</a></li>
                                            }
                                        }
                                    </ul>
                                </li>
                                <li class="rightside">
                                    @*@{
                                        if (type.Count() > 0)
                                        {

                                        }
                                    }*@
                                    <p>Clothing</p>
                                    <div class="clearfix">
                                        @for (int iType = 0; iType < type.Count(); iType++)
                                        {
                                            <div class="l-category">

                                                @for (int a = 0; a < 8; a++)
                                                {
                                                    if (iType <= type.Count())
                                                    {
                                                        <div>
                                                            <a href="/category/@obj.stringToURL(parent.name)?pr=@parent.code.ToLower()&list=@obj.stringToURL(type[iType].Key)">@type[iType].Key.First().ToString().ToUpper()@String.Join("", type[iType].Key.Skip(1))</a>
                                                        </div>
                                                        iType++;
                                                    }
                                                    else
                                                    {
                                                        break;
                                                    }
                                                }

                                            </div>
                                        }

                                    </div>

                                </li>
                            </ul>
                        </li>
                        <li class="menu-dropdown-icon">
                            @{
                                var submenu2 = obj.GetSubmenu("LGA").OrderBy(x => x.name);
                                var parent2 = db.tbl_TenantCategory.Where(x => x.code == "LGA").FirstOrDefault();
                            }
                            <a href="/category/@obj.stringToURL(parent2.name)?pr=@parent2.code.ToLower()&list=all">Leather Goods & Accessories</a>
                            <div class="click-sub"><i class="fas fa-angle-right"></i></div>
                            <ul style="display:none">
                                <div class="icon-back"><i class="fas fa-angle-left"></i></div>
                                <li class="leftside">
                                    <p>SHOP BY</p>
                                    <ul>
                                        @{

                                            foreach (var item in submenu2)
                                            {
                                                <li><a href="/category/@obj.stringToURL(parent2.name)/@item.id/@obj.stringToURL(item.name)">@item.name</a></li>
                                            }
                                        }
                                    </ul>
                                </li>
                                <li class="rightside ">
                                    <p>Leather Goods & Accessories</p>
                                    @*<div class="columns2">
                                        @{
                                            var jj = 1;
                                            foreach (var item in submenu2)
                                            {
                                                var selType = new List<string>();
                                                selType.Add(parent2.ID.ToString());
                                                selType.Add(item.id.ToString());
                                                string idType = string.Join(",", selType.ToArray());
                                                var type2 = obj.GetTypeDetail(idType);
                                                if (type2.Count() > 0)
                                                {
                                                    <ul class="subtype">
                                                        <li>@item.name</li>
                                                        <li><a href="/category/@obj.stringToURL(parent2.name)?pr=@parent2.code.ToLower()&list=all-@item.id.@obj.stringToURL(item.name)">All @item.name</a></li>
                                                        @{

                                                            foreach (var subtype in type2)
                                                            {
                                                                <li>
                                                                    <a href="/category/@obj.stringToURL(parent2.name)?pr=@parent2.code.ToLower()&list=@subtype.id.@obj.stringToURL(subtype.typeDesc)">@subtype.typeDesc.First().ToString().ToUpper()@String.Join("", subtype.typeDesc.Skip(1))</a>
                                                                </li>
                                                            }
                                                        }
                                                    </ul>
                                                                }
                                                                jj++;
                                                            }
                                        }

                                    </div>*@
                                    <div class="columns2">
                                        @{
                                            var jj = 1;
                                            foreach (var item in submenu2)
                                            {
                                                var selType = new List<string>();
                                                selType.Add(parent2.ID.ToString());
                                                selType.Add(item.id.ToString());
                                                string idType = string.Join(",", selType.ToArray());
                                                var type2 = obj.GetTypeDetail(idType);
                                                if (type2.Count() > 0)
                                                {
                                                    <ul class="subtype">
                                                        <li>@item.name</li>
                                                        <li><a href="/category/@obj.stringToURL(parent2.name)?pr=@parent2.code.ToLower()&list=all-@item.id.@obj.stringToURL(item.name)">All @item.name</a></li>
                                                        @{

                                                            foreach (var subtype in type2)
                                                            {
                                                                <li>
                                                                    <a href="/category/@obj.stringToURL(parent2.name)?pr=@parent2.code.ToLower()&list=@subtype.id.@obj.stringToURL(subtype.typeDesc)">@subtype.typeDesc.First().ToString().ToUpper()@String.Join("", subtype.typeDesc.Skip(1))</a>
                                                                </li>
                                                            }
                                                        }
                                                    </ul>
                                                                }
                                                                jj++;
                                                            }
                                        }

                                        <a href="/category/@obj.stringToURL(parent2.name)?pr=@parent2.code.ToLower()&list=all">See All Leather Goods & Accessories</a>

                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li>
                            @{
                                var submenu3 = obj.GetSubmenu("JW").OrderBy(x => x.name);
                                var parent3 = db.tbl_TenantCategory.Where(x => x.code == "JW").FirstOrDefault();
                            }
                            <a href="/category/@obj.stringToURL(parent3.name)?pr=@parent3.code.ToLower()&list=all">Jewelry & Watches</a>
                            <div class="click-sub"><i class="fas fa-angle-right"></i></div>
                            <ul>
                                <div class="icon-back"><i class="fas fa-angle-left"></i></div>
                                <li class="leftside">
                                    <p>SHOP BY</p>
                                    <ul>
                                        @{

                                            //var type3 = db.TypeMasters.Where(x => x.TypeCategory == parent3.ID).GroupBy(n => n.TypeValue);
                                            foreach (var item in submenu3)
                                            {
                                                <li><a href="/category/@obj.stringToURL(parent3.name)/@item.id/@obj.stringToURL(item.name)">@item.name</a></li>
                                            }
                                        }
                                    </ul>
                                </li>
                                <li class="rightside">
                                    <p>Jewelry & Watches</p>
                                    <div class="columns">
                                        @{
                                            foreach (var item in submenu3)
                                            {
                                                var selType = new List<string>();
                                                selType.Add(parent3.ID.ToString());
                                                selType.Add(item.id.ToString());
                                                string idType = string.Join(",", selType.ToArray());
                                                var type3 = obj.GetTypeDetail(idType);
                                                if (type3.Count() > 0)
                                                {
                                                    <ul class="subtype">
                                                        <li>@item.name</li>
                                                        <li><a href="/category/@obj.stringToURL(parent3.name)?pr=@parent3.code.ToLower()&list=all-@item.id.@obj.stringToURL(item.name)">All @item.name</a></li>
                                                        @{
                                                            foreach (var subtype in type3)
                                                            {
                                                                <li>
                                                                    <a href="/category/@obj.stringToURL(parent3.name)?pr=@parent3.code.ToLower()&list=@subtype.id.@obj.stringToURL(subtype.typeDesc)">@subtype.typeDesc.First().ToString().ToUpper()@String.Join("", subtype.typeDesc.Skip(1))</a>
                                                                </li>
                                                            }
                                                        }
                                                    </ul>
                                                                }
                                                            }
                                                            <a href="/category/@obj.stringToURL(parent3.name)?pr=@parent3.code.ToLower()&list=all">See All Jewelry & Watches</a>
                                        }
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li>
                            @{
                                var submenu4 = obj.GetSubmenu("SL").OrderBy(x => x.name);
                                var parent4 = db.tbl_TenantCategory.Where(x => x.code == "SL").FirstOrDefault();
                            }
                            <a href="/category/@obj.stringToURL(parent4.name)?pr=@parent4.code.ToLower()&list=all">Sports & Lifestyle</a>
                            <div class="click-sub"><i class="fas fa-angle-right"></i></div>
                            <ul>
                                <div class="icon-back"><i class="fas fa-angle-left"></i></div>
                                <li class="leftside">
                                    <span>SHOP BY</span>
                                    <ul>
                                        @{

                                            //var type4 = db.TypeMasters.Where(x => x.TypeCategory == parent4.ID).GroupBy(n => n.TypeValue);
                                            foreach (var item in submenu4)
                                            {
                                                <li><a href="/category/@obj.stringToURL(parent4.name)/@item.id/@obj.stringToURL(item.name)">@item.name</a></li>
                                            }
                                        }
                                    </ul>
                                </li>
                                <li class="rightside">
                                    <p>Sports & Lifestyle</p>
                                    <div class="columns2">
                                        @{
                                            int i = 1;
                                            foreach (var item in submenu4)
                                            {
                                                var selType = new List<string>();
                                                selType.Add(parent4.ID.ToString());
                                                selType.Add(item.id.ToString());
                                                string idType = string.Join(",", selType.ToArray());
                                                var type4 = obj.GetTypeDetail(idType);
                                                if (type4.Count() > 0)
                                                {
                                                    <ul class="subtype">
                                                        <li>@item.name</li>
                                                        <li><a href="/category/@obj.stringToURL(parent4.name)?pr=@parent4.code.ToLower()&list=all-@item.id.@obj.stringToURL(item.name)">All @item.name</a></li>
                                                        @{

                                                            foreach (var subtype in type4)
                                                            {
                                                                <li>
                                                                    <a href="/category/@obj.stringToURL(parent4.name)?pr=@parent4.code.ToLower()&list=@subtype.id.@obj.stringToURL(subtype.typeDesc)">@subtype.typeDesc.First().ToString().ToUpper()@String.Join("", subtype.typeDesc.Skip(1))</a>
                                                                </li>
                                                            }
                                                        }
                                                    </ul>
                                                                }
                                                                i++;
                                                            }
                                                            <a href="/category/@obj.stringToURL(parent4.name)?pr=@parent4.code.ToLower()&list=all">See All Sports & Lifestyle</a>
                                        }
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li>
                            @{
                                var submenu5 = obj.GetSubmenu("BH").OrderBy(x => x.name);
                                var parent5 = db.tbl_TenantCategory.Where(x => x.code == "BH").FirstOrDefault();
                            }
                            <a href="/category/@obj.stringToURL(parent5.name)?pr=@parent5.code.ToLower()&list=all">Beauty & Health</a>
                            <div class="click-sub"><i class="fas fa-angle-right"></i></div>
                            <ul>
                                <div class="icon-back"><i class="fas fa-angle-left"></i></div>
                                <li class="leftside">
                                    <p>SHOP BY</p>
                                    <ul>
                                        @{

                                            //var type5 = db.TypeMasters.Where(x => x.TypeCategory == parent5.ID).GroupBy(n => n.TypeValue);
                                            foreach (var item in submenu5)
                                            {
                                                <li><a href="/category/@obj.stringToURL(parent5.name)/@item.id/@obj.stringToURL(item.name)">@item.name</a></li>
                                            }
                                        }
                                    </ul>
                                </li>
                                <li class="rightside">
                                    <p>Beauty & Health</p>
                                    <div class="columns2">
                                        @{
                                            foreach (var item in submenu5)
                                            {
                                                var selType = new List<string>();
                                                selType.Add(parent5.ID.ToString());
                                                selType.Add(item.id.ToString());
                                                string idType = string.Join(",", selType.ToArray());
                                                var type5 = obj.GetTypeDetail(idType);
                                                if (type5.Count() > 0)
                                                {
                                                    <ul class="subtype">
                                                        <li>@item.name</li>
                                                        <li><a href="/category/@obj.stringToURL(parent5.name)?pr=@parent5.code.ToLower()&list=all-@item.id.@obj.stringToURL(item.name)">All @item.name</a></li>
                                                        @{

                                                            foreach (var subtype in type5)
                                                            {
                                                                <li>
                                                                    <a href="/category/@obj.stringToURL(parent5.name)?pr=@parent5.code.ToLower()&list=@subtype.id.@obj.stringToURL(subtype.typeDesc)">@subtype.typeDesc.First().ToString().ToUpper()@String.Join("", subtype.typeDesc.Skip(1))</a>
                                                                </li>
                                                            }
                                                        }
                                                    </ul>
                                                                }
                                                            }
                                                            <a href="/category/@obj.stringToURL(parent5.name)?pr=@parent5.code.ToLower()&list=all">See All Beauty & Health</a>
                                        }
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li>
                            @{
                                var submenu6 = obj.GetSubmenu("KD").OrderBy(x => x.name);
                                var parent6 = db.tbl_TenantCategory.Where(x => x.code == "KD").FirstOrDefault();
                            }
                            <a href="/category/@obj.stringToURL(parent6.name)?pr=@parent6.code.ToLower()&list=all">Kids</a>
                            <div class="click-sub"><i class="fas fa-angle-right"></i></div>
                            <ul>
                                <div class="icon-back"><i class="fas fa-angle-left"></i></div>
                                <li class="leftside">
                                    <p>SHOP BY</p>
                                    <ul>
                                        @{

                                            //var type6 = db.TypeMasters.Where(x => x.TypeCategory == parent6.ID).GroupBy(n => n.TypeValue);
                                            foreach (var item in submenu6)
                                            {
                                                <li><a href="/category/@obj.stringToURL(parent6.name)/@item.id/@obj.stringToURL(item.name)">@item.name</a></li>
                                            }
                                        }
                                    </ul>
                                </li>
                                <li class="rightside">
                                    <p>Kids</p>
                                    <div class="columns2">
                                        @{
                                            foreach (var item in submenu6)
                                            {
                                                var selType = new List<string>();
                                                selType.Add(parent6.ID.ToString());
                                                selType.Add(item.id.ToString());
                                                string idType = string.Join(",", selType.ToArray());
                                                var type6 = obj.GetTypeDetail(idType);
                                                if (type6.Count() > 0)
                                                {
                                                    <ul class="subtype">
                                                        <li>@item.name</li>
                                                        <li><a href="/category/@obj.stringToURL(parent6.name)?pr=@parent6.code.ToLower()&list=all-@item.id.@obj.stringToURL(item.name)">All @item.name</a></li>
                                                        @{

                                                            foreach (var subtype in type6)
                                                            {
                                                                <li>
                                                                    <a href="/category/@obj.stringToURL(parent6.name)?pr=@parent6.code.ToLower()&list=@subtype.id.@obj.stringToURL(subtype.typeDesc)">@subtype.typeDesc.First().ToString().ToUpper()@String.Join("", subtype.typeDesc.Skip(1))</a>
                                                                </li>
                                                            }
                                                        }
                                                    </ul>
                                                                }
                                                            }
                                                            <a href="/category/@obj.stringToURL(parent6.name)?pr=@parent6.code.ToLower()&list=all">See All Kids</a>
                                        }
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li>
                            @{
                                var submenu7 = obj.GetSubmenu("HF").OrderBy(x => x.name);
                                var parent7 = db.tbl_TenantCategory.Where(x => x.code == "HF").FirstOrDefault();
                            }
                            <a href="/category/@obj.stringToURL(parent7.name)?pr=@parent7.code.ToLower()&list=all">Home</a>
                            <div class="click-sub"><i class="fas fa-angle-right"></i></div>
                            <ul>
                                <div class="icon-back"><i class="fas fa-angle-left"></i></div>
                                <li class="leftside">
                                    <p>SHOP BY</p>
                                    <ul>
                                        @{

                                            //var type6 = db.TypeMasters.Where(x => x.TypeCategory == parent6.ID).GroupBy(n => n.TypeValue);
                                            foreach (var item in submenu7)
                                            {
                                                <li><a href="/category/@obj.stringToURL(parent7.name)/@item.id/@obj.stringToURL(item.name)">@item.name</a></li>
                                            }
                                        }
                                    </ul>
                                </li>
                                <li class="rightside">
                                    <p>Home</p>
                                    <div class="columns2">
                                        @{
                                            foreach (var item in submenu7)
                                            {
                                                var selType = new List<string>();
                                                selType.Add(parent7.ID.ToString());
                                                selType.Add(item.id.ToString());
                                                string idType = string.Join(",", selType.ToArray());
                                                var type7 = obj.GetTypeDetail(idType);
                                                if (type7.Count() > 0)
                                                {
                                                    <ul class="subtype">
                                                        <li>@item.name</li>
                                                        <li><a href="/category/@obj.stringToURL(parent7.name)?pr=@parent7.code.ToLower()&list=all-@item.id.@obj.stringToURL(item.name)">All @item.name</a></li>
                                                        @{

                                                            foreach (var subtype in type7)
                                                            {
                                                                <li>
                                                                    <a href="/category/@obj.stringToURL(parent7.name)?pr=@parent7.code.ToLower()&list=@subtype.id.@obj.stringToURL(subtype.typeDesc)">@subtype.typeDesc.First().ToString().ToUpper()@String.Join("", subtype.typeDesc.Skip(1))</a>
                                                                </li>
                                                            }
                                                        }
                                                    </ul>
                                                                }
                                                            }
                                                            <a href="/category/@obj.stringToURL(parent7.name)?pr=@parent7.code.ToLower()&list=all">See All Home</a>
                                        }
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="ss">
                            @{
                                var submenu8 = obj.GetSubmenu("SS").OrderBy(x => x.name);
                                var parent8 = db.tbl_TenantCategory.Where(x => x.code == "SS").FirstOrDefault();
                            }
                            <a href="/category/@obj.stringToURL(parent8.name)?pr=@parent8.code.ToLower()&list=all">Specialty Shop</a>
                            <div class="click-sub"><i class="fas fa-angle-right"></i></div>
                            <ul>
                                <div class="icon-back"><i class="fas fa-angle-left"></i></div>
                                <li class="leftside">
                                    <p>SHOP BY</p>
                                    <ul>
                                        @{

                                            //var type6 = db.TypeMasters.Where(x => x.TypeCategory == parent6.ID).GroupBy(n => n.TypeValue);
                                            foreach (var item in submenu8)
                                            {
                                                <li><a href="/category/@obj.stringToURL(parent8.name)/@item.id/@obj.stringToURL(item.name)">@item.name</a></li>
                                            }
                                        }
                                    </ul>
                                </li>
                                <li class="rightside">
                                    @{
                                        var idxx = submenu8.FirstOrDefault();
                                        var cttype = db.TypeMasters.Where(x => x.TypeCategory == idxx.id).Count();
                                        if (cttype > 0)
                                        { <p>Specialty Shop</p>}

                                        <div class="clearfix">
                                            @{
                                                foreach (var item in submenu8)
                                                {
                                                    var selType = new List<string>();
                                                    selType.Add(parent8.ID.ToString());
                                                    selType.Add(item.id.ToString());
                                                    string idType = string.Join(",", selType.ToArray());
                                                    var type8 = obj.GetTypeDetail(idType);
                                                    if (type8.Count() > 0)
                                                    {
                                                        <ul class="subtype">
                                                            <li>@item.name</li>
                                                            <li><a href="/category/@obj.stringToURL(parent8.name)?pr=@parent8.code.ToLower()&list=all-@item.id.@obj.stringToURL(item.name)">All @item.name</a></li>
                                                            @{

                                                                foreach (var subtype in type8)
                                                                {
                                                                    <li>
                                                                        <a href="/category/@obj.stringToURL(parent8.name)?pr=@parent8.code.ToLower()&list=@subtype.id.@obj.stringToURL(subtype.typeDesc)">@subtype.typeDesc.First().ToString().ToUpper()@String.Join("", subtype.typeDesc.Skip(1))</a>
                                                                    </li>
                                                                }
                                                            }
                                                        </ul>
                                                                    }
                                                                }
                                                                <a href="/category/@obj.stringToURL(parent8.name)?pr=@parent8.code.ToLower()&list=all">See All Specialty Shop</a>
                                            }
                                        </div>
                                    }
                                </li>
                            </ul>
                        </li>
                        <li><a href="http://www.plazaindonesia.com/emagz/good-food-guide" target="_blank">F & B</a></li>
                        <li><a href="/nowOpen">Now Open</a></li>
                        <li class="list-profile">
                            @if (_sessionFront.userIdLogin == 0)
                            {
                                <a href="@Url.Action("login", "customer")">Login</a> <span class="bdr">|</span> <a href="@Url.Action("login", "customer")">Register</a>
                            }
                            else
                            {
                                <a href="@Url.Action("Myaccount", "customer")">Profile</a> <span class="bdr">|</span> <a href="@Url.Action("Logout", "customer")">Log out</a>
                            }
                        </li>
                    </ul>
                </div>

            </div>
        </ul>
    </header>
    <div class="clear"></div>
    
    <div class="modal fade" id="m-wishlist" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content" style="border-radius:0;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    @{
                        if (userId == 0)
                        {
                            <p class="text-align-center">Please <a href="/customer/Login?to=wishlist">login</a> for adding to WISHLIST</p>
                        }
                        else
                        {
                            <p class="text-align-center">Added to <a href="/customer/wishlist">wishlist</a></p>
                        }
                    }

                </div>
            </div>
        </div>
    </div>

    <!--= Content Area =-->
    @RenderBody()
    <div class="wait">
        <div class="text-center" style="padding-top:20%"><img src="~/images/icon-loading.gif" /></div>
    </div>
    <div class="back-to-top">
        <span class="arrow-up">
            <i class="fas fa-angle-double-up"></i>
        </span>
    </div>
    <footer>
        <div class="box-newsletter">
            <div class="container">
                <div class="t-news">#claimyourstyle now and receive the latest style from world's best.</div>
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
                        @{ 
                            string path = HttpContext.Current.Request.Url.AbsolutePath;
                        }
                        <form class="form-newsletter" method="post" action="/Customer/SubsMail">
                            <input type="text" name="subsMail" placeholder="Enter your e-mail here" class="" />
                            @Html.Hidden("currentPath",path)
                            <button type="submit"><i class="fas fa-angle-right"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-top">
            <div class="container">
                <div class="t-footer">For further information, please contact:</div>
                <div class="bdy-footer">
                    <p>PT Plaza Indonesia Realty Tbk. The Plaza, 10th Floor Jl. M.H. Thamrin Kav. 28-30 Jakarta 10350</p>
                    <p>Phone.: <a href="tel:+622129920000">+6221 2992 0000</a> | Phone.: <a href="tel:+622129920234">+6221 2992 0234</a></p>
                    <p>Concierge</p>
                    <p>Telp: <a href="tel:+622129920000">+62 21 2992 0000</a> ext: 52525</p>
                </div>
                <ul class="soc-footer">
                    <li>
                        <a href="https://www.facebook.com/PlazaIndonesia/" target="_blank">
                            <div class="icon-footer">
                                <i class="fab fa-facebook-f"></i>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.twitter.com/plazaindonesia/" target="_blank">
                            <div class="icon-footer">
                                <i class="fab fa-twitter"></i>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/plaza_indonesia/" target="_blank">
                            <div class="icon-footer">
                                <i class="fab fa-instagram"></i>
                            </div>
                        </a>
                    </li>
                  
                </ul>
        
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <p>&copy; Copyright @DateTime.Now.Year Plaza Indonesia All Rights Reserved</p>
            </div>
        </div>
    </footer>

</body>
</html>
@Scripts.Render("~/bundles/pijs")
<script src="~/Scripts/lib.js"></script>
<link href="~/Areas/SysManager/Assets/js/vendor/FlipClock-master/compiled/flipclock.css" rel="stylesheet" />
<link href="~/Areas/SysManager/Assets/js/vendor/Lexxus-jq-timeTo-fe9420b/timeTo.css" rel="stylesheet" />
<script src="~/Areas/SysManager/Assets/js/vendor/FlipClock-master/compiled/flipclock.js"></script>
<script src="~/Areas/SysManager/Assets/js/vendor/Lexxus-jq-timeTo-fe9420b/jquery.time-to.js"></script>
<script src="~/Scripts/jquery.imgzoom.js"></script>
@{
    <script>
        $('.two-circle .cart').click(function () {
            $('html, body').animate({ scrollTop: 0 }, 800);
            $('.submenu.cart').fadeIn().delay(4000).fadeOut();
        });

    </script>
}
@RenderSection("scripts", required: false)
<script>
        @if(firstName != null){
            <text>
        setInterval(checkLogin, 5000);
        </text>
        }

        $(document).ready()
        {
            reloadCartDetail();
            reloadItem();
        }
        function isMobileDevice() {
            return (typeof window.orientation !== "undefined") || (navigator.userAgent.indexOf('IEMobile') !== -1);
        };
        function createCookie(name, value, days) {
            if (days) {
                var date = new Date();
                date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
                var expires = "; expires=" + date.toGMTString();
            }
            else var expires = "";
            document.cookie = name + "=" + value + expires + "; path=/";
        }
        function readCookie(name) {
            var nameEQ = name + "=";
            var ca = document.cookie.split(';');
            for (var i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') c = c.substring(1, c.length);
                if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
            }
            return null;
        }

        function eraseCookie(name) {
            createCookie(name, "", -1);
        }
        //$('.dropdown').hover(function () {
        //    $(this).find('.dropdown-menu').fadeIn(50);
        //}, function () {
        //    $('.dropdown-menu').delay(100).fadeOut('fast');
        //}

        //);
        $('.dropdown .cart').mouseenter(function () {
            if ($(".totalCart").text() != 0) {
                $(this).parent().find('.dropdown-menu').fadeIn(50);
            }
        })
        $('.dropdown .user').mouseenter(function () {
            //if ($(".totalCart").text() != 0) {
            //    $(this).find('.dropdown-menu cart').fadeIn(50);
            //}
            $(this).parent().find('.dropdown-menu').fadeIn(50);
        })
        $('.dropdown-menu').mouseleave(function () {

                $('.dropdown-menu').fadeOut('slow');


        })
        $('#submitSubscriber').submit(function (e) {
            e.preventDefault();
            document.getElementById("email").disabled = true;
            $("#loading").toggleClass("hidden");
            setTimeout(function () {
                $("#loading").toggleClass("hidden");
                document.getElementById("email").disabled = false;
                document.getElementById("email").value = "";
                alert("Thanks for subscribing!")
            }, 2000);
            var email = $('#email').val();
            $.ajax({
                type: "POST",
                url: '/Customer/SubmitNewsletter/',
                dataType: "html",
                data: { 'email': email },
                success: function (result) {

                },
                error: function (request, status, error) {

                }
            });
        });
        function reloadCartDetail() {
            $.ajax({
                url: '/customer/LoadCartDetail'
            }).done(function (data) {
                //alert(data);
                $(".totalCart").html(data);
            });
        }
        function reloadItem() {
            $.ajax({
                url: '/customer/LoadItem'
            }).done(function (data) {
                //alert('Loaded');
                $("#listitem").html(data);
            });
        }
        function checkLogin() {
            $.ajax({
                //type: "POST",
                url: '/Customer/CheckLogin',
                success: function (json) {
                    if (json == "1") {
                        alert("Someone has logged in using your credential. If this is not you, please login again and update your password immediately.");
                        window.location.href = '/Customer/Login'
                    }
                }
            })
        }

</script>
<script>
        $(document).ready(function ($) {

            $('#cart').click(function () {
                $(this).parent().find('.submenu.cart').fadeIn();
                return false;
            });
            $('.opt').mouseover(function () {
                $(this).nextAll(".options").first().slideDown();
            });

            $('.optWrapper').mouseleave(function () {
                $(this).find(".options").slideUp();
            });



            //search
            //$("#search").catcomplete({
            //    delay: 500,
            //    source: function (request, response) {
            //        $.ajax({
            //            url: "/Home/AutoCompleteProduct",
            //            type: "POST",
            //            dataType: "json",
            //            data: { term: request.term },
            //            success: function (data) {
            //                response($.map(data, function (item) {
            //                    return { label: item.name, value: item.ID, category:item.cat};
            //                }))

            //            }
            //        })
            //    },
            //    select: function (event, ui) {
            //        document.getElementById('search').value = ui.item.name;
            //        var href="";
            //        if (ui.item.category == "BRAND") {
            //            href = "/search/brand?id=" + ui.item.value + "-" + ui.item.label.replace(/\s/g, '-').toLowerCase();
            //        } else {
            //            href = "/product/" + ui.item.value + "/" + ui.item.label.replace(/\s/g, '-').toLowerCase();
            //        }
            //        window.location.href = href;
            //    }
            //});
        });
</script>
<div id="fb-root"></div>

</body>
</html>
