﻿@{ 
    string myaccount = TempData["myaccount"] != null ? TempData["myaccount"].ToString() : "";
    string myorder = TempData["myorder"] != null ? TempData["myorder"].ToString() : "";
    string setting = TempData["setting"] != null ? TempData["setting"].ToString() : "";
    string wishlist = TempData["wishlist"] != null ? TempData["wishlist"].ToString() : "";
    string inClass = TempData["setting"] != null ? "in" : "";
}
<div class="panel-group" id="accordion">
    <h4 class="bold uppercase">my account</h4>
    <div class="panel panel-default ">
        <div class="panel-heading @myaccount">
            <h5 class="panel-title uppercase">
                <a href="/customer/Myaccount"><span class="fa fa-user"></span> my Account</a>
            </h5>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading @myorder">
            <h5 class="panel-title uppercase">
                <a href="/customer/myOrder">
                    <span class="fa fa-shopping-bag">
                    </span> my reservations
                </a>
            </h5>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading @wishlist">
            <h5 class="panel-title uppercase ">
                <a href="/customer/wishlist"><span class="fa fa-heart"></span> wishlist</a>
            </h5>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading @setting">
            <h5 class="panel-title uppercase">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                    <span class="fa fa-gear">
                    </span> settings
                </a>
            </h5>
        </div>
        <div id="collapseFour" class="panel-collapse collapse @inClass">
            <div class="panel-body">
                <table class="table">
                    <tr>
                        <td>
                            <span class="fa fa-lock"></span><a href="/customer/changePassword">Change Password</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="fa fa-user"></span><a href="/customer/changeProfile">Change Profile</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h5 class="panel-title uppercase">
                <a href="/customer/Logout">
                    <span class="fa fa-sign-out">
                    </span> log out
                </a>
            </h5>
        </div>
    </div>
</div>