﻿@model DynamicContent.Areas.SysManager.ViewModels.RolePrivViewModel
@{
    Layout = "~/Areas/SysManager/Views/Shared/_authenticatedLayout.cshtml";
    
    var usergroup = ViewData["UserGroup"] as DynamicContent.Models.UserGroup;
    var menu = ViewData["menu"] as List<DynamicContent.Models.SysMenuItem>;
    //DynamicContent.Models.MainModel obj = new DynamicContent.Models.MainModel();

}

<div class="page page-product-detail">
    <div class="pageheader">
        <h2>System User Role <span>Today: @(DateTime.Now)</span></h2>
    </div>

    <div class="row">
        <div class="col-md-12">
            <section class="tile" fullscreen="isFullscreen02">
                <!-- tile header -->
                <div class="tile-header dvd dvd-btm">
                    <h1 class="custom-font"><strong>@((usergroup == null) ? "Add New" : "Edit") </strong> Role</h1>
                </div>
                <!-- /tile header -->
                <!-- tile body -->
                <div class="tile-body">
                    @if (!Html.ViewData.ModelState.IsValid)
                    {
                        <div class="alert alert-lightred fade in">
                            <p>
                                @Html.ValidationSummary()
                            </p>
                        </div>
                    }

                    @using (Html.BeginForm(((usergroup == null) ? "AddRole" : "EditRole"), "SysUser", new { ViewBag.ReturnUrl }, FormMethod.Post, new { @id = "form-addRole", @class = "form-horizontal", role = "form" }))
                    {
                        if (Model != null)
                        {
                            <input type="hidden" name="RoleId" value="@Model.RoleId" />
                        }

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Group Name</label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(m => m.RoleName, new { @class = "form-control", @placeholder = "Enter Group name" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Accessible Menu</label>
                            <div class="col-sm-9">
                               @if (menu != null)
                               {
                                   foreach (var m in menu)
                                   {
                                    <label>
                                        <input type="checkbox" name="MenuAllowed" value="@m.id" @((Model != null && Model.MenuAllowed.Contains(m.id.ToString()) ? "Checked" : ""))/> @m.name &nbsp;
                                    </label><br />
                                   }
                               }
                               
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-9">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    }
                </div>
                <!-- /tile body -->
                <div class="tile-footer">
                    
                </div>
            </section>
        </div>
    </div>

</div>
@section scripts {
    @Styles.Render("~/formvalidation/css")
    @Styles.Render("~/colorpicker/css")
    @Styles.Render("~/summernote/css")
    @Scripts.Render("~/formvalidation/js")
    @Scripts.Render("~/colorpicker/js")
    @Scripts.Render("~/summernote/js")
    <script type="text/javascript">
        $(function () {

        })
    </script>
}