﻿@using DynamicContent.Models
@{
    Layout = "~/Areas/SysManager/Views/Shared/_authenticatedLayout.cshtml";
    var ug = ViewData["UserGroup"] as List<UserGroup>;
}




<div class="page page-product-list">
    <div class="pageheader">
        <h2>System User Role <span>Today: @(DateTime.Now)</span></h2>
    </div>

    <div class="row">
        <div class="col-md-12">
            <section class="tile" fullscreen="isFullscreen02">
                <!-- tile header -->
                <div class="tile-header dvd dvd-btm">
                    <h1 class="custom-font"><strong>List </strong>User Role</h1>
                    <ul class="controls">
                        <li>
                            <a href="@Url.Action("AddRole", "SysUser", new { area = "SysManager" })" role="button" tabindex="0" class="pickDate">
                                <span></span><i class="fa fa-plus"></i> Add Role
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- /tile header -->
                <!-- tile body -->
                <div class="tile-body p-0">
                    <div class="table-responsive">
                        <table class="table table-custom" id="productDatatable">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>User Role</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @for(int i =0;i < ug.Count();i++)
                                {
                                    <tr>
                                        <td>@(i+1)</td>
                                        <td>@ug[i].GroupName</td>
                                        <td><a href="@Url.Action("EditRole", "SysUser", new { area = "SysManager" })?id=@ug[i].GroupID">Edit Role</a></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- /tile body -->
            </section>
        </div>
    </div>

</div>

@section scripts {
    @Styles.Render("~/TenantManager/Datatables/css")
    @Scripts.Render("~/TenantManager/Datatables/js")
    <script type="text/javascript">
       
    </script>
}