﻿@using DynamicContent.Helper;
@{
    DynamicContent.Models.MainModel obj = new DynamicContent.Models.MainModel();
    ViewBag.Title = "Cart Confirmation";
    var firstName = Session["firstName"];
    var lastName = Session["lastName"];
    int userId = Convert.ToInt32(Session["userIdLogin"]);
    var user = obj.GetUserActive(userId);
    string msg = TempData["msg"] != null ? TempData["msg"].ToString() : "";
    decimal? totalprice = 0m;
    var mycart = obj.GetMyCart(userId);
    bool IsFlasSale = (bool)ViewBag.IsFlashSale;
}

<div class="container-fluid">
    <div class="bread-crumb row">
        <div class="container">
            <ul class="">
                <li><a href="/">home</a></li>
                <li><a href="">My Reservations</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="clear hidden-xs" style="height:40px;"></div>
<div class="container">
    <div class="row">
        <div class="container mycart wishlist">
            <div class="row">
                <div class="col-sm-12">
                    <div class="headers">
                        <div class="col-sm-4"><div class="circle gold">1</div><div class="label">my cart</div></div>
                        <div class="col-sm-5"><div class="circle gold">2</div><div class="label">confirmation</div></div>
                        <div class="col-sm-3"><div class="circle black">3</div><div class="label">finish</div></div>
                    </div>
                    <div class="clear" style="height:40px;"></div>
                    <div class="grey" style="padding:30px;">
                        <div class="table-responsive">
                            <table class="confirmation">
                                <tr>
                                    <td>Name</td>
                                    <td>:</td>
                                    <td>@firstName @lastName</td>
                                </tr>
                                <tr>
                                    <td>Email Address</td>
                                    <td>:</td>
                                    <td>@user.email</td>
                                </tr>
                                <tr>
                                    <td>Address</td>
                                    <td>:</td>
                                    <td>@user.address</td>
                                </tr>
                                <tr>
                                    <td>Birthday</td>
                                    <td>:</td>
                                    <td>@user.dob</td>
                                </tr>
                                <tr>
                                    <td>Gender</td>
                                    <td>:</td>
                                    <td>@user.gender</td>
                                </tr>
                                <tr>
                                    <td>Telephone</td>
                                    <td>:</td>
                                    <td>@user.phone</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="clear" style="height:40px;"></div>
                    <form method="post" action="/customer/Reservation">
                        <div class="table-responsive">
                            <table class="w100 tbl-cart">
                                <tr>
                                    <th>product detail</th>
                                    <th>price</th>
                                    <th>quantity</th>
                                    <th>location</th>
                                </tr>
                                @foreach (var item in (mycart).Select((value, index) => new { value, index }))
                                {
                                    var images = obj.GetOneImgByColor(Convert.ToInt32(item.value.color));
                                    var product = obj.GetAllProduct(item.value.product).FirstOrDefault();
                                    var color = obj.GetProductByColor(Convert.ToInt32(item.value.color));
                                    var tenantName = obj.GetTenant(product.idtenant).FirstOrDefault();
                                    if (IsFlasSale)
                                    {
                                        var flashsaledetail = (List<DynamicContent.Models.FlashHeaderDetail>)ViewBag.FlashSaleDetail;
                                        var proditem = flashsaledetail.FirstOrDefault(a => a.tbl_product.ID == product.id && a.isActive == true);
                                        if (proditem != null)
                                        {
                                            product.price = proditem.price_new;
                                        }
                                    }
                                    var valPrice = "";
                                    if (product.price != "price upon request")
                                    {
                                        valPrice = product.price;
                                    }
                                    else
                                    {
                                        valPrice = "0";
                                    }
                                    totalprice += Convert.ToDecimal(valPrice)*item.value.qty;
                                    <tr>
                                        <td>
                                            <input type="hidden" name="cartId" value="@item.value.ID" />
                                            <div class="product"><span class="helper"></span><img src="@images.images" /></div>
                                            <div class="desc">
                                                <p class="bold uppercase">@tenantName.name</p>
                                                <p class="uppercase">@product.name</p>
                                                <p class="uppercase"> Size : @item.value.size</p>
                                                @if ((color.color != "") && (color.color != "default"))
                                                {
                                                    <div class="color" style="background-color:@color.color;"></div>
                                                }
                                            </div>
                                        </td>
                                        <td>
                                            <p class="uppercase">
                                                @obj.priceCheck(product.price)
                                            </p>
                                        </td>
                                        <td>
                                            <span class="floatL">Qty: </span>
                                            <input type="text" value="@item.value.qty" class="form-control qtyInput floatL" readonly />
                                        </td>
                                        <td>
                                            <div class="text-right floatR">
                                                @{
                                                    var t = obj.GetTenant(product.idtenant).FirstOrDefault();
                                                }
                                                <p class="uppercase">@t.name</p>
                                                <p class="uppercase">@t.locationname</p>
                                                @*<p>Telephone :</p>
                                                <p>@t.phone</p>*@
                                            </div>
                                        </td>

                                    </tr>
                                                    }


                                <tr class="sum">
                                    <td colspan="3">
                                        <p class="text-right bold">PRICE ESTIMATION</p>
                                    </td>
                                    <td>
                                        <p class="text-right uppercase bold">idr @Convert.ToDecimal(totalprice).ToString("N0")</p>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="clear h20"></div>
                        <div>
                            <a class="load-more floatL btn-shop" href="/home">back to shopping</a>
                            <div class="clear visible-xs h10"></div>
                            <button type="submit" class="load-more floatR btn-shop">Confirm reservation</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
   @Html.Raw(TempData["msgQTY"])
</div>

