﻿@{
    DynamicContent.Models.MainModel obj = new DynamicContent.Models.MainModel();
    ViewBag.Title = "Wishlist";
    var firstName = Session["firstName"];
    var lastName = Session["lastName"];
    int userId = Convert.ToInt32(Session["userIdLogin"]);
    var user = obj.GetUserActive(userId);
    string msg = TempData["msg"] != null ? TempData["msg"].ToString() : "";
}

<div class="container-fluid">
    <div class="bread-crumb row">
        <div class="container">
            <ul class="">
                <li><a href="/home">home</a></li>
                <li><a href="">change password</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="clear hidden-xs" style="height:40px;"></div>
<div class="container">
    <div class="row">
        <div class="col-sm-3 col-md-3">            
            @Html.Partial("accordionAccount")
        </div>
        
        <div class="col-sm-9 col-md-9 wishlist">
            <div class="text-center category active ">
                <h4><span class="fa fa-lock"></span> change password</h4>
            </div>
            <div class="col-sm-12 grey">
                <div class="clear h40"></div>
                <div class="col-sm-7">
                @if (msg != "")
                {
                    <div class="alert alert-success" id="msg">
                        <strong>@msg.Replace("success: ", "")</strong>
                    </div>
                }                    
                    <form role="form" id="frmChangePass" method="post" action="/customer/changePasswordProccess">
                        <input type="hidden" name="email" value="@user.email" />
                        <div class="form-group">
                            <label for="oldpwd">Current Password</label>
                            <input type="password" name="oldpwd" class="form-control" id="oldpwd" required>
                        </div>
                        <div class="form-group">
                            <label for="pass">New Password</label> 
                            <input type="password" name="pass" class="form-control" id="pass" required>
                        </div>
                        <div class="form-group">
                            <label for="confirmpwd">Confirm New Password</label>
                            <input type="password" name="confirmpwd" class="form-control" id="confirmpwd" required>
                        </div>
                        <button type="submit" class="load-more">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>
        setTimeout(function () {
            $("#msg").fadeOut('slow');
        }, 4000);
        $.validator.addMethod("regx", function (value, element, regexpr) {
            var re = new RegExp(regexpr);
            return re.test(value);
        }, "Password needs minimum 8 characters with at least 1 Alphabet, 1 Number and 1 Special Character");
        $('#frmChangePass').validate({
        rules: {
            pass: {
                required: true,
                regx: '^(?=.*?[A-Za-z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@@$%^&*-]).{8,}$',
                minlength: 8
            },
            confirmpwd: {
                required: true,
                minlength: 8,
                equalTo: "#pass"
            }
        },
        highlight: function (element) {
            var id_attr = "#" + $(element).attr("id") + "1";
            $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
            $(id_attr).removeClass('glyphicon-ok').addClass('glyphicon-remove');
        },
        unhighlight: function (element) {
            var id_attr = "#" + $(element).attr("id") + "1";
            $(element).closest('.form-group').removeClass('has-error').addClass('has-success');
            $(id_attr).removeClass('glyphicon-remove').addClass('glyphicon-ok');
        },
        errorElement: 'span',
        errorClass: 'help-block',
        errorPlacement: function (error, element) {
            if (element.length) {
                error.insertAfter(element);
            } else {
                error.insertAfter(element);
            }
        }
    });

    </script>
}

