﻿@section styles{
    <style>
        .form-control {
            background-color: #fff !important;
        }
    </style>
}

@{
    DynamicContent.Models.MainModel obj = new DynamicContent.Models.MainModel();
    ViewBag.Title = "Change Password";
    var firstName = Session["firstName"];
    var lastName = Session["lastName"];
    int userId = Convert.ToInt32(Session["userIdLogin"]);
    var user = obj.GetUserActive(userId);
    string msg = TempData["msg"] != null ? TempData["msg"].ToString() : "";
}

<div class="container-fluid">
    <div class="bread-crumb row">
        <div class="container">
            <ul class="">
                <li><a href="/home">home</a></li>
                <li><a href="">change password</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="clear hidden-xs" style="height:40px;"></div>
<div class="container">
    <div class="row">
        <div class="col-sm-3 col-md-3">            
            @Html.Partial("accordionAccount")
        </div>
        
        <div class="col-sm-9 col-md-9 wishlist">
            <div class="text-center category active ">
                <h4><span class="fa fa-lock"></span> change profile</h4>
            </div>
            <div class="col-sm-12 grey">
                <div class="clear h40"></div>
                @if (msg != "")
                {
                    <div class="alert alert-success" id="msg">
                        <strong>@msg.Replace("success: ", "")</strong>
                    </div>
                }
                <div class="col-sm-12 register profile">
                    
                    <form id="formChangeProfile" role="form" class="form-inline" method="post" action="/customer/changeProfileProcess" onsubmit="return checkdate(this.dob, this.mob, this.yob)">
                        <div class="form-group" style="min-height:60px;">
                            <label>Email Address : @user.email</label>
                            <input type="hidden" value="@user.email" class="form-control col-sm-12" name="email" id="email">
                        </div>
                        @*<div class="form-group" style="min-height:60px;">
                            <label> </label>
                            
                        </div>*@
                        <div class="clear hidden-xs"></div>
                        <div class="form-group">
                            <label>First Name</label>
                            <input type="text" value="@user.firstName" class="form-control col-sm-12" name="firstname" id="first-name" placeholder="First Name" required>
                        </div>
                        <div class="form-group">
                            <label>Last Name</label>
                            <input type="text" value="@user.lastName" class="form-control col-sm-12" name="lastname" id="last-name" placeholder="Last Name" required>
                        </div>
                        <div class="clear hidden-xs"></div>
                        <div class="form-group w100">
                            <label>Phone Number</label>
                            <input type="text" value="@user.phone" class="form-control col-sm-12" name="phone" id="phone" placeholder="Phone Number" required>
                        </div>
                        <div class="clear hidden-xs"></div>
                        <div class="form-group w100">
                            <label>Address</label>
                            <textarea class="form-control col-sm-12" name="address" id="address" placeholder="Address" required>@user.address</textarea>
                        </div>
                        <div class="clear h20 hidden-xs"></div>
                        <div class="form-group">
                            <label>City</label>
                            <select class="w100" name="city">
                                <option value="default">City</option>
                                <option value="Ambon" @((user.city == "Ambon") ? "selected" : "")>Ambon</option>
                                <option value="Balikpapan" @((user.city == "Balikpapan") ? "selected" : "")>Balikpapan</option>
                                <option value="Bandar Lampung" @((user.city == "Bandar Lampung") ? "selected" : "")>Bandar Lampung</option>
                                <option value="Bandung" @((user.city == "Bandung") ? "selected" : "")>Bandung</option>
                                <option value="Banjar" @((user.city == "Banjar") ? "selected" : "")>Banjar</option>
                                <option value="Banjarbaru" @((user.city == "Banjarbaru") ? "selected" : "")>Banjarbaru</option>
                                <option value="Banjarmasin" @((user.city == "Banjarmasin") ? "selected" : "")>Banjarmasin</option>
                                <option value="Batam" @((user.city == "Batam") ? "selected" : "")>Batam</option>
                                <option value="Batu" @((user.city == "Batu") ? "selected" : "")>Batu</option>
                                <option value="Bau-Bau" @((user.city == "Bau-Bau") ? "selected" : "")>Bau-Bau</option>
                                <option value="Bekasi" @((user.city == "Bekasi") ? "selected" : "")>Bekasi</option>
                                <option value="Bengkulu" @((user.city == "Bengkulu") ? "selected" : "")>Bengkulu</option>
                                <option value="Bima" @((user.city == "Bima") ? "selected" : "")>Bima</option>
                                <option value="Binjai" @((user.city == "Binjai") ? "selected" : "")>Binjai</option>
                                <option value="Bitung" @((user.city == "Bitung") ? "selected" : "")>Bitung</option>
                                <option value="Blitar" @((user.city == "Blitar") ? "selected" : "")>Blitar</option>
                                <option value="Bogor" @((user.city == "Bogor") ? "selected" : "")>Bogor</option>
                                <option value="Bontang" @((user.city == "Bontang") ? "selected" : "")>Bontang</option>
                                <option value="Bukittinggi" @((user.city == "Bukittinggi") ? "selected" : "")>Bukittinggi</option>
                                <option value="Cilegon" @((user.city == "Cilegon") ? "selected" : "")>Cilegon</option>
                                <option value="Cimahi" @((user.city == "Cimahi") ? "selected" : "")>Cimahi</option>
                                <option value="Cirebon" @((user.city == "Cirebon") ? "selected" : "")>Cirebon</option>
                                <option value="Denpasar" @((user.city == "Denpasar") ? "selected" : "")>Denpasar</option>
                                <option value="Depok" @((user.city == "Depok") ? "selected" : "")>Depok</option>
                                <option value="Dumai" @((user.city == "Dumai") ? "selected" : "")>Dumai</option>
                                <option value="Gorontalo" @((user.city == "Gorontalo") ? "selected" : "")>Gorontalo</option>
                                <option value="Jambi" @((user.city == "Jambi") ? "selected" : "")>Jambi</option>
                                <option value="Jayapura" @((user.city == "Jayapura") ? "selected" : "")>Jayapura</option>
                                <option value="Kediri" @((user.city == "Kediri") ? "selected" : "")>Kediri</option>
                                <option value="Kendari" @((user.city == "Kendari") ? "selected" : "")>Kendari</option>
                                <option value="Kota Jakarta Barat" @((user.city == "Kota Jakarta Barat") ? "selected" : "")>Kota Jakarta Barat</option>
                                <option value="Kota Jakarta Pusat" @((user.city == "Kota Jakarta Pusat") ? "selected" : "")>Kota Jakarta Pusat</option>
                                <option value="Kota Jakarta Selatan" @((user.city == "Kota Jakarta Selatan") ? "selected" : "")>Kota Jakarta Selatan</option>
                                <option value="Kota Jakarta Timur" @((user.city == "Kota Jakarta Timur") ? "selected" : "")>Kota Jakarta Timur</option>
                                <option value="Kota Jakarta Utara" @((user.city == "Kota Jakarta Utara") ? "selected" : "")>Kota Jakarta Utara</option>
                                <option value="Kotabumi" @((user.city == "Kotabumi") ? "selected" : "")>Kotabumi</option>
                                <option value="Kotamobagu" @((user.city == "Kotamobagu") ? "selected" : "")>Kotamobagu</option>
                                <option value="Kupang" @((user.city == "Kupang") ? "selected" : "")>Kupang</option>
                                <option value="Langsa" @((user.city == "Langsa") ? "selected" : "")>Langsa</option>
                                <option value="Lhokseumawe" @((user.city == "Lhokseumawe") ? "selected" : "")>Lhokseumawe</option>
                                <option value="Liwa" @((user.city == "Liwa") ? "selected" : "")>Liwa</option>
                                <option value="Lubuklinggau" @((user.city == "Lubuklinggau") ? "selected" : "")>Lubuklinggau</option>
                                <option value="Madiun" @((user.city == "Madiun") ? "selected" : "")>Madiun</option>
                                <option value="Magelang" @((user.city == "Magelang") ? "selected" : "")>Magelang</option>
                                <option value="Makassar" @((user.city == "Makassar") ? "selected" : "")>Makassar</option>
                                <option value="Malang" @((user.city == "Malang") ? "selected" : "")>Malang</option>
                                <option value="Manado" @((user.city == "Manado") ? "selected" : "")>Manado</option>
                                <option value="Mataram" @((user.city == "Mataram") ? "selected" : "")>Mataram</option>
                                <option value="Medan" @((user.city == "Medan") ? "selected" : "")>Medan</option>
                                <option value="Metro" @((user.city == "Metro") ? "selected" : "")>Metro</option>
                                <option value="Meulaboh" @((user.city == "Meulaboh") ? "selected" : "")>Meulaboh</option>
                                <option value="Mojokerto" @((user.city == "Mojokerto") ? "selected" : "")>Mojokerto</option>
                                <option value="Padang" @((user.city == "Padang") ? "selected" : "")>Padang</option>
                                <option value="Padang Sidempuan" @((user.city == "Padang Sidempuan") ? "selected" : "")>Padang Sidempuan</option>
                                <option value="Padangpanjang" @((user.city == "Padangpanjang") ? "selected" : "")>Padangpanjang</option>
                                <option value="Pagaralam" @((user.city == "Pagaralam") ? "selected" : "")>Pagaralam</option>
                                <option value="Palangkaraya" @((user.city == "Palangkaraya") ? "selected" : "")>Palangkaraya</option>
                                <option value="Palembang" @((user.city == "Palembang") ? "selected" : "")>Palembang</option>
                                <option value="Palopo" @((user.city == "Palopo") ? "selected" : "")>Palopo</option>
                                <option value="Palu" @((user.city == "Palu") ? "selected" : "")>Palu</option>
                                <option value="Pangkalpinang" @((user.city == "Pangkalpinang") ? "selected" : "")>Pangkalpinang</option>
                                <option value="Parepare" @((user.city == "Parepare") ? "selected" : "")>Parepare</option>
                                <option value="Pariaman" @((user.city == "Pariaman") ? "selected" : "")>Pariaman</option>
                                <option value="Pasuruan" @((user.city == "Pasuruan") ? "selected" : "")>Pasuruan</option>
                                <option value="Payakumbuh" @((user.city == "Payakumbuh") ? "selected" : "")>Payakumbuh</option>
                                <option value="Pekalongan" @((user.city == "Pekalongan") ? "selected" : "")>Pekalongan</option>
                                <option value="Pekanbaru" @((user.city == "Pekanbaru") ? "selected" : "")>Pekanbaru</option>
                                <option value="Pematangsiantar" @((user.city == "Pematangsiantar") ? "selected" : "")>Pematangsiantar</option>
                                <option value="Pontianak" @((user.city == "Pontianak") ? "selected" : "")>Pontianak</option>
                                <option value="Prabumulih" @((user.city == "Prabumulih") ? "selected" : "")>Prabumulih</option>
                                <option value="Probolinggo" @((user.city == "Probolinggo") ? "selected" : "")>Probolinggo</option>
                                <option value="Purwokerto" @((user.city == "Purwokerto") ? "selected" : "")>Purwokerto</option>
                                <option value="Sabang" @((user.city == "Sabang") ? "selected" : "")>Sabang</option>
                                <option value="Salatiga" @((user.city == "Salatiga") ? "selected" : "")>Salatiga</option>
                                <option value="Samarinda" @((user.city == "Samarinda") ? "selected" : "")>Samarinda</option>
                                <option value="Sawahlunto" @((user.city == "Sawahlunto") ? "selected" : "")>Sawahlunto</option>
                                <option value="Semarang" @((user.city == "Semarang") ? "selected" : "")>Semarang</option>
                                <option value="Serang" @((user.city == "Serang") ? "selected" : "")>Serang</option>
                                <option value="Sibolga" @((user.city == "Sibolga") ? "selected" : "")>Sibolga</option>
                                <option value="Singkawang" @((user.city == "Singkawang") ? "selected" : "")>Singkawang</option>
                                <option value="Solok" @((user.city == "Solok") ? "selected" : "")>Solok</option>
                                <option value="Sorong" @((user.city == "Sorong") ? "selected" : "")>Sorong</option>
                                <option value="Subulussalam" @((user.city == "Subulussalam") ? "selected" : "")>Subulussalam</option>
                                <option value="Sukabumi" @((user.city == "Sukabumi") ? "selected" : "")>Sukabumi</option>
                                <option value="Sungai Penuh" @((user.city == "Sungai Penuh") ? "selected" : "")>Sungai Penuh</option>
                                <option value="Surabaya" @((user.city == "Surabaya") ? "selected" : "")>Surabaya</option>
                                <option value="Surakarta" @((user.city == "Surakarta") ? "selected" : "")>Surakarta</option>
                                <option value="Tangerang" @((user.city == "Tangerang") ? "selected" : "")>Tangerang</option>
                                <option value="Tangerang Selatan" @((user.city == "Tangerang Selatan") ? "selected" : "")>Tangerang Selatan</option>
                                <option value="Tanjungbalai" @((user.city == "Tanjungbalai") ? "selected" : "")>Tanjungbalai</option>
                                <option value="Tanjungpinang" @((user.city == "Tanjungpinang") ? "selected" : "")>Tanjungpinang</option>
                                <option value="Tarakan" @((user.city == "Tarakan") ? "selected" : "")>Tarakan</option>
                                <option value="Tasikmalaya" @((user.city == "Tasikmalaya") ? "selected" : "")>Tasikmalaya</option>
                                <option value="Tebingtinggi" @((user.city == "Tebingtinggi") ? "selected" : "")>Tebingtinggi</option>
                                <option value="Tegal" @((user.city == "Tegal") ? "selected" : "")>Tegal</option>
                                <option value="Ternate" @((user.city == "Ternate") ? "selected" : "")>Ternate</option>
                                <option value="Tidore Kepulauan" @((user.city == "Tidore Kepulauan") ? "selected" : "")>Tidore Kepulauan</option>
                                <option value="Tomohon" @((user.city == "Tomohon") ? "selected" : "")>Tomohon</option>
                                <option value="Tual" @((user.city == "Tual") ? "selected" : "")>Tual</option>
                                <option value="Yogyakarta" @((user.city == "Yogyakarta") ? "selected" : "")>Yogyakarta</option>

                            </select>
                        </div>

                        <div class="form-group">
                            <label>Zip Code</label>
                            <input type="text" value="@user.zipcode" class="form-control col-sm-12" name="zip" id="zip" placeholder="Zipcode" required>
                        </div>
                        <div class="clear hidden-xs"></div>
                        <div class="form-group w100">
                            <label>Date Of Birth</label>
                            <div class="clear"></div>
                            <select name="dob" >
                                <option value="default">Day</option>
                                @{
                                    var month = "";
                                    int year = 1990;
                                    int day = 1;
                                    if (user.dob != null)
                                    {
                                        IList<string> dob = (user.dob).Split(' ').Reverse().ToList<string>();
                                        year = Convert.ToInt32(dob[0]);
                                        day = Convert.ToInt32(dob[2]);
                                        month = dob[1];
                                    }
                                    IList<string> selectMonth = ("December,November,October,September,August,July,June,May,April,March,February,January").Split(',').Reverse().ToList<string>();
                                    int i;
                                    for (i = 1; i <= 31; i++)
                                    {
                                        <option value="@i" @((i == day) ? "selected" : "")>@i</option>
                                    }
                                }
                            </select>
                            <select name="mob" >
                                <option value="default">Month</option>
                                @{
                                    foreach (var m in selectMonth)
                                    {
                                        <option value="@m" @((month == m) ? "selected" : "")>@m</option>
                                    }
                                }
                                
                            </select>
                            <select name="yob" >
                                <option value="default">Year</option>
                                @{
                                    int y;
                                    for (y = Convert.ToInt32(DateTime.Now.Year); y >= 1905 ; y--)
                                    {
                                        <option value="@y" @((y == year) ? "selected" : "")>@y</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="clear hidden-xs"></div>
                        <div class="form-group">
                            <label class="w100">Gender</label>
                            <label class="radio-inline"><input type="radio" name="gender" value="women" @(user.gender == "Female" ? "checked" : "") style="width:0%">Women</label>
                            <label class="radio-inline"><input type="radio" name="gender" value="men" @(user.gender == "Male" ? "checked" : "") style="width:0%">Men</label>
                        </div>

                        <div class="clear h40 hidden-xs"></div>
                        <button type="submit" value="submit" class="load-more">save</button>
                        <div class="clear h40"></div>

                    </form>
                </div>
            </div>
        </div>
    </div>
@section scripts{
    <script>
        setTimeout(function () {
            $("#msg").fadeOut('slow');
        }, 4000);

        $.validator.addMethod("regxphone", function (value, element, regexpr) {
            var re = new RegExp(regexpr);
            return re.test(value);
        }, "Phone only contains 0-9, +, -, ( and )");
        $('#formChangeProfile').validate({
            rules: {
                phone: {
                    minlength: 3,
                    maxlength: 20,
                    required: true,
                    regxphone: '^[\-\(\)0-9\+]+$'
                }
            },
            highlight: function (element) {
                var id_attr = "#" + $(element).attr("id") + "1";
                $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
                $(id_attr).removeClass('glyphicon-ok').addClass('glyphicon-remove');
            },
            unhighlight: function (element) {
                var id_attr = "#" + $(element).attr("id") + "1";
                $(element).closest('.form-group').removeClass('has-error').addClass('has-success');
                $(id_attr).removeClass('glyphicon-remove').addClass('glyphicon-ok');
            },
            errorElement: 'span',
            errorClass: 'help-block',
            errorPlacement: function (error, element) {
                if (element.length) {
                    error.insertAfter(element);
                } else {
                    error.insertAfter(element);
                }
            }
        });
        function checkdate(dob, mob, yob) {
           
            var month = getMonthFromString(mob.value);
            var day = pad(dob.value);
            var input = month + "/" + day + "/" + yob.value;
            var validformat = /^\d{2}\/\d{2}\/\d{4}$/;
            var returnval = false;

            
            //alert(validformat);
            if (!validformat.test(input)){
                alert("Invalid Date Format. Please correct and submit again.");
            }else { 
                var monthfield = input.split("/")[0];
                var dayfield = input.split("/")[1];
                var yearfield = input.split("/")[2];
                var dayobj = new Date(yearfield, monthfield - 1, dayfield);
                if ((dayobj.getMonth() + 1 != monthfield) || (dayobj.getDate() != dayfield) || (dayobj.getFullYear() != yearfield)){
                    alert("Invalid Day, Month, or Year range detected. Please correct and submit again.");
                }                    
                else {
                    returnval = true;
                }                    
            }
            if (returnval == false) {
                return false;
            }else{
                return true;
            }
            return false;
        }

        function getMonthFromString(mon) {
            var d = Date.parse(mon + " 1, 2012");
            if (!isNaN(d)) {
                x = ("0" + (new Date(d).getMonth() + 1)).slice(-2);
                return x;
            }
            return -1;
        }

        function pad(d) {
            return (d < 10) ? '0' + d.toString() : d.toString();
        }
        
    </script>
}

