﻿@using DynamicContent.Helper;
@{
    ViewBag.Title = "Forgot Password";
    string error = TempData["msg"] != null ? TempData["msg"].ToString() : "";
    string msgSuccess = TempData["msgSuccess"] != null ? TempData["msgSuccess"].ToString() : "";
}

<div class="container-fluid">
    <div class="bread-crumb row">
        <div class="container">
            <ul class="">
                <li><a href="/home">home</a></li>
                <li><a href="">forgot password</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="clear hidden-xs" style="height:70px;"></div>
<div class="container-fluid">
    <div class="container register">
        <div class="col-sm-6 row">
            <p class="font20 ask">Forgot Your Password ?<br/>Please enter Your Email</p>
            <hr style="margin-top:10px;">
            <div class="clear"></div>
            <form role="form" id="login" class="form-inline" method="post" action="/customer/forgotpasswordprocess">
                @if (error != "")
                {
                    <section id="error">
                        <label class="col-xs-12 txt-color-red" style="font-weight:bold">@error.Replace("error: ", "")</label>
                        <div class="clear"></div>
                    </section>
                }
                <div class="form-group">
                    <label>Email</label>
                    <input type="email" class="form-control col-sm-12" name="email" id="email" placeholder="Email" required>
                    
                </div>
                <div class="clear h20 hidden-xs"></div>
                <button type="submit" class="load-more">Submit</button>
               
            </form>
        </div>
       
    </div>
</div>
@section scripts{
    <script>
        $.validator.addMethod("valueNotEquals", function (value, element, arg) {
            return arg != value;
        }, "Value must not equal arg.");
        $('#login').validate({
            rules: {
                email: {
                    required: true
                }
            },
            highlight: function (element) {
                var id_attr = "#" + $(element).attr("id") + "1";
                $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
                $(id_attr).removeClass('glyphicon-ok').addClass('glyphicon-remove');
            },
            unhighlight: function (element) {
                var id_attr = "#" + $(element).attr("id") + "1";
                $(element).closest('.form-group').removeClass('has-error').addClass('has-success');
                $(id_attr).removeClass('glyphicon-remove').addClass('glyphicon-ok');
            },
            errorElement: 'span',
            errorClass: 'help-block',
            errorPlacement: function (error, element) {
                if (element.length) {
                    error.insertAfter(element);
                } else {
                    error.insertAfter(element);
                }
            }
        });


    </script>    
}
