﻿@using DynamicContent.Helper;
@{
    DynamicContent.Models.MainModel obj = new DynamicContent.Models.MainModel();
    DynamicContent.Models.Entities db = new DynamicContent.Models.Entities();
    var prod = obj.GetProductPi().Where(x => x.isHomepage == true).OrderBy(o => o.isOrder);
    bool isFlashSale = (bool)ViewBag.IsFlashSale;
    var flashSaleData = (DynamicContent.Models.FlashSaleHeader)ViewBag.FlashSaleHeaderData;

    TimeSpan? Diff = TimeSpan.Zero;
    double DiffHours = 0;
    if (flashSaleData.FlashSaleHeaderID != Guid.Empty)
    {
        var timeNow = (TimeSpan)ViewBag.TimeNow;
        Diff = (flashSaleData.FlashSaleTimeEnd - timeNow);
        DiffHours = Diff.Value.TotalSeconds;
    }
}

@section styles{
    <style>
        div.grid-product > .col-sm-3 {
            display: none;
        }

        div.categorybanner {
            width: 70%;
            margin: 0 auto;
        }

        img {
            width: 100%;
            height: auto;
        }
    </style>
}
<!--div class="container-fluid">
    <ul id="demo1">
        @{
            var sliders = obj.GetSlider().Where(x=>x.active == true).OrderBy(o=>o.sort);
            var slidersCat = obj.GetSlider().Where(x => x.active == true && x.Type == "category").OrderBy(o => o.sort);
            var TopPicksData = (List<DynamicContent.Models.TopPick>)ViewBag.TopPicks;
            foreach (var item in sliders)
            {

                <li><a href="@((item.url == null) ? "#" : item.url) "><img src="@item.image"></a></li>
            }
        }

    </ul>
</div-->
<div class="container">







    @{
        var i = 0;
        var sliders1 = obj.GetSlider().Where(x => x.active == true && x.Type == "banner").OrderBy(o => o.sort);
        foreach (var item1 in sliders1)
        {
            i = i + 1;
            //if(i==2)
            //{
			<!--div class="verticalLine"></div-->
            //}
            if (i >= 2)
            {

                <div class="clear"><br></div>
            }

            if (i == 1)
            {
                <a href="@((item1.url == null) ? "#" : item1.url) "><img src="@item1.image"></a>


            }
            else
            {
                <div class="categorybanner"> <a href="@((item1.url == null) ? "#" : item1.url) "><img src="@item1.image"></a> </div>
            }
        }

    }

</div>


<section id="main">
    @if (isFlashSale)
    {
        var flashsaleDetailData = (List<DynamicContent.Models.FlashHeaderDetail>)ViewBag.FlashSaleDetail;

        <div class="box-flash">
            <div class="container">
                <div class="clearfix">
                    <div class="pull-left">
                        <div class="inline-block v-middle block480 mb0">
                            <div class="h40">
                                <div class="tbl">
                                    <div class="cell">
                                        <div class="t-flash">FLASH DEAL</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="inline-block v-middle ml10 block480 mb0">
                            <div class="clock"></div>
                        </div>
                    </div>
                    <div class="pull-right">
                        <div class="h40">
                            <div class="tbl">
                                <div class="cell">
                                    <div class="see-all">
                                        <a href="@Url.Action("FlashDeal","home")">
                                            <div class="inline-block">Lihat semua</div>
                                            <div class="inline-block"><i class="fas fa-angle-right"></i></div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="slider-flash">
                @foreach (var item in flashsaleDetailData)
                {
                    var imgData = obj.GetOneImg(item.tbl_product.ID);
                    if (item.qty > 0)
                    {
                        <div class="item">
                            <div class="item-product">
                                <div class="in-product">
                                    <div class="overlay-product"></div>
                                    <div class="img-product">
                                        <img src="@imgData.images" />
                                    </div>
                                    <div class="btn-product">
                                        <a href="/product/@imgData.color/@obj.stringToURL(item.tbl_product.name).ToLower()">see detail</a>
                                    </div>
                                </div>
                                <div class="desc">
                                    <a href="/product/@imgData.color/@obj.stringToURL(item.tbl_product.name).ToLower()">
                                        <div class="nm-product">@item.tbl_product.name </div>
                                    </a>
                                    <div class="sale">
                                        <span class="pr-product line">IDR @item.tbl_product.price</span>
                                        <span class="pr-product">IDR @item.price_new</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="item">
                            <div class="item-product">
                                <div class="in-product">
                                    <div class="overlay-product"></div>
                                    <div class="img-product">
                                        <img src="@imgData.images" />
                                    </div>
                                    <div class="btn-product">
                                        <a href="/product/@imgData.color/@obj.stringToURL(item.tbl_product.name).ToLower()">see detail</a>
                                    </div>
                                </div>
                                <div class="desc">
                                    <a href="/product/@imgData.color/@obj.stringToURL(item.tbl_product.name).ToLower()">
                                        <div class="nm-product">@item.tbl_product.name</div>
                                    </a>
                                    <div class="sale">
                                        <span class="pr-product line">IDR @item.tbl_product.price</span>
                                        <span class="pr-product">SOLD OUT!</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    }

    <div class="container">
        <div class="pos-rel text-center title">
            <div class="r-product">Top Picks</div>
            <div class="bdr-product"></div>
        </div>
        <div class="slider-product">
            @foreach (var item in TopPicksData)
            {
                var imgData = obj.GetOneImg(item.tbl_product.ID);
                <div class="item">
                    <div class="item-product">
                        <div class="in-product">
                            <ul class="l-product"></ul>
                            <div class="overlay-product"></div>
                            <div class="img-product">
                                <img src="@imgData.images" />
                            </div>
                            <div class="btn-product">
                                <a href="/product/@imgData.color/@obj.stringToURL(item.tbl_product.name).ToLower()">see detail</a>
                            </div>
                        </div>
                        <div class="desc">
                            <a href="/product/@imgData.color/@obj.stringToURL(item.tbl_product.name).ToLower()">
                                <div class="nm-product">@item.tbl_product.name</div>
                            </a>
                            @if (@item.tbl_product.price != "price upon request")
                            {
                                <div class="pr-product">IDR @item.tbl_product.price</div>
                            }
                            else
                            {

                                <div class="pr-product">@item.tbl_product.price</div>
                            }
                            @*<ul class="l-color">
                                    <li><div class="box-color" style="background-color: #6f8bd1;"></div></li>
                                    <li><div class="box-color" style="background-color: #000;"></div></li>
                                </ul>*@
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="container">
        <div class="pos-rel text-center title">
            <div class="r-product">Category</div>
            <div class="bdr-product"></div>
        </div>

        <ul class="mobile-section visible-xs">

            @foreach (var item in slidersCat)
            {
                <li><a href="@item.url">@item.name</a></li>
            }
            @*<li><a href="#">For Him</a></li>
                <li><a href="#">For Her</a></li>
                <li><a href="#">For Kids</a></li>
                <li><a href="#">For Home</a></li>
                <li><a href="#">Fashion</a></li>
                <li><a href="#">Jewelry & Watches</a></li>
                <li><a href="#">Sports & Lifestyle</a></li>
                <li><a href="#">Beauty & Health</a></li>
                <li><a href="#">Specialty Shop</a></li>*@
        </ul>
        <div class="slider-section hidden-xs">
            @foreach (var item in slidersCat)
            {
                <div class="item">
                    <a href="@item.url">
                        <div class="img-section">
                            <img src="@item.image" />
                        </div>
                        <div class="nm-section">@item.name</div>
                    </a>
                </div>
            }
        </div>
    </div>
    </div>
</section>




@section scripts{
    <script src="~/Scripts/flashDeal.js"></script>
    <script src="~/Assets/slick/slick.min.js"></script>
    <script>
        var demo1 = $("#demo1").slippry({});
        var count = $("div.grid-product > .col-sm-3").length;
        if (count <= 8) {
            $("#loadMore").addClass("hidden");
        }
        $("div.grid-product > .col-sm-3").slice(0, 8).show();
        $("#loadMore").on('click', function (e) {
            e.preventDefault();
            $("div.grid-product > .col-sm-3:hidden").slice(0, 4).fadeIn('slow');
            if ($("div.grid-product > .col-sm-3:hidden").length == 0) {
                $("#loadMore").fadeOut('slow');
            }
        });
        function AddToCartDetail(id, qty, sz) {
            $.ajax({
                url: '/customer/AddToCartDetail',
                data: { id: id, qty: qty, size: sz }
            }).done(function (response) {
                if (response.responseText == "Not Loggin in") {
                    window.location.href = "@Url.Action("login","customer")" + "?msg=nolog";
                }
                else {
                    reloadCartDetail();
                    reloadItem();
                }
            });
        }
        clock = $('.clock').FlipClock(@DiffHours, {
		// clockFace: 'DailyCounter',
            countdown: true,
            callbacks: {
                stop: function () {
                    // Do whatever you want to do here,
                    // that may include hiding the clock
                    // or displaying the image you mentioned
                   alert('Flash Deal ended')
                }
            }
	    });
        $('.slider-flash').slick({
            slidesToShow: 5,
            slidesToScroll: 1,
            dots: false,
            centerMode: false,
            arrows: true,
            infinite: true,
            responsive: [
                {
                    breakpoint: 1024,
                    settings: {
                        slidesToShow: 4
                    }
                },
                {
                    breakpoint: 600,
                    settings: {
                        slidesToShow: 2
                    }
                },
                {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 2
                    }
                }
            ]
        });
        $('.slider-product').slick({
            slidesToShow: 4,
            slidesToScroll: 1,
            dots: false,
            centerMode: false,
            arrows: true,
            infinite: true,
            autoplay: true,
            responsive: [
                {
                    breakpoint: 1024,
                    settings: {
                        slidesToShow: 4
                    }
                },
                {
                    breakpoint: 600,
                    settings: {
                        slidesToShow: 2
                    }
                },
                {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 2
                    }
                }
            ]
        });
        $('.slider-section').slick({
            slidesToShow: 9,
            autoplay: true,
            autoplaySpeed: 1800,
            slidesToScroll: 1,
            dots: false,
            centerMode: false,
            arrows: true,
            infinite: true,
            responsive: [
                {
                    breakpoint: 1024,
                    settings: {
                        slidesToShow: 7
                    }
                }
            ]
        });
        function AddToCart(id) {
            $.ajax({
                url: '/customer/AddToCart',
                data: { id: id }
            }).done(function () {
                reloadCart();
                reloadItem();

            });
        }
        function AddToWishlist(id, idc) {
            $.ajax({
                url: '/customer/AddToWishlist',
                data: { id: id, color:idc }
            }).done(function () {
                //alert(data);
            });
        }
    </script>
}


