﻿@using DynamicContent.Helper;
@{
    ViewBag.Title = "Login";
    string msg = TempData["msg"] != null ? TempData["msg"].ToString() : "";
    string msgVerification = TempData["msgVerification"] != null ? TempData["msgVerification"].ToString() : "";
    string msgSuccessChange = TempData["msgSuccessChange"] != null ? TempData["msgSuccessChange"].ToString() : "";
    string msgSuccess = TempData["msgSuccess"] != null ? TempData["msgSuccess"].ToString() : "";
    string msgNotLogin = TempData["msgNotLogin"] != null ? TempData["msgNotLogin"].ToString() : "";
    var data = ViewData["twitterUser"] as TwitterUserModel;
    var datafb = ViewData["facebookUser"] as FacebookUserModel;
}



<div class="container-fluid">
    <div class="bread-crumb row">
        <div class="container">
            <ul class="">
                <li><a href="/home">home</a></li>
                <li><a href="">login / register</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="clear hidden-xs" style="height:70px;"></div>
<div class="container-fluid">
    <div class="container register">
        <div class="col-sm-5 row">
            <p class="font20 ask">Do You have an account ? <br />Please login to continue</p>
            <hr style="margin-top:20px;">
            <div class="clear"></div>
            <form role="form" id="login" class="form-inline" method="post" action="/customer/LoginProcess">
                @if (msg != "")
                {
                    <div class="alert alert-danger" id="msg">
                        <strong>@msg.Replace("error: ", "")</strong>
                    </div>
                }
                @if (msgVerification != "")
                {
                    <div class="alert alert-success" id="msgSuccess">
                        <strong>@msgVerification.Replace("success: ", "")</strong>
                    </div>
                }
                @if (msgSuccessChange != "")
                {
                    <div class="alert alert-success" id="msgSuccess">
                        <strong>@msgSuccessChange.Replace("success: ", "")</strong>
                    </div>
                }
                @if (msgNotLogin != "")
                {
                    <div class="alert alert-success" id="msgSuccess">
                        <strong>@msgNotLogin</strong>
                    </div>
                }
                <div class="form-group">
                    <label>Email</label>
                    <input type="email" class="form-control col-sm-12" name="email" id="email" placeholder="Email" required>
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control col-sm-12" name="password" id="password" placeholder="Password" onkeypress="capLock(event)" required>

                    <i class="fa fa-eye" aria-hidden="true" onmouseover="mouseoverPass();" onmouseout="mouseoutPass();"></i>
                    <span>
                        <div id="divMayus" style="visibility:hidden;color:red">Caps Lock is on.</div>
                    </span>
                </div>
                <div class="clear h20 hidden-xs"></div>
                @Html.AntiForgeryToken()
                <button type="submit" class="load-more">login</button>
                <div class="clear h20"></div>
                <a href="/customer/forgotpassword" class="text-black">Forgot Your Password ?</a>
                <div class="clear h20"></div>
                <div class="form-group">
                    @* <fb:login-button autologoutlink="true" perms="read_friendlists, create_event, email, publish_stream"></fb:login-button>*@
                    <div onclick="fb_login()" class="btn-fb"><i class="fa fa-facebook-f"></i> login with facebook</div>
                </div>
                <div class="form-group">
                    <a href="/Auth/TwitterLogin" class="btn-twitter"><i class="fa fa-twitter"></i> login with twitter</a>
                </div>
            </form>
            @{
                if (data != null)
                {
                    <p>@data.email</p>
                    <p>@data.name</p>
                }
            }

        </div>
        <div class="col-sm-2 bg-line text-center">
            @*<img src="images/or.jpg" class="hidden-lg hidden-md hidden-sm" style="margin:20px 0;" />*@
        </div>
        <div class="col-sm-5 row">
            <p class="font20 ask">Register new account</p>
            <hr style="margin-top:20px;">
            <div class="clear"></div>
            <form role="form" class="form-inline" id="register" method="post" action="/customer/RegisterProcess" onsubmit="return checkdate(this.dob, this.mob, this.yob)" autocomplete="off">
                @if (msgSuccess != "")
                {
                    <div class="alert alert-success" id="msgSuccess">
                        <strong>@msgSuccess.Replace("success: ", "")</strong>
                    </div>
                }
                <div class="form-group">
                    <label>First Name</label>
                    <input type="text" class="form-control col-sm-12" name="firstname" id="first-name" placeholder="First Name" value="@if (datafb != null){@datafb.first_name}">
                </div>
                <div class="form-group">
                    <label>Last Name</label>
                    <input type="text" class="form-control col-sm-12" name="lastname" id="last-name" placeholder="Last Name" value="@if (datafb != null){@datafb.last_name}">
                </div>
                <div class="clear hidden-xs"></div>
                <div class="form-group">
                    <label>Email</label>
                    <span id="resultEmailcheck" class="error"></span>
                    <input type="email" class="form-control col-sm-12" name="email" id="emailRegist" placeholder="Email" value="@if (datafb != null){@datafb.email}">
                </div>
                <div class="form-group">
                    <label>Phone Number</label>
                    <input type="text" class="form-control col-sm-12" name="phone" id="phone" placeholder="Phone Number">
                </div>
                <div class="clear hidden-xs"></div>
                <div class="form-group w100">
                    <label>Address</label>
                    <textarea class="form-control" name="address" id="address" placeholder="Address"></textarea>
                    @*<input type="text" class="form-control col-sm-12" name="address" id="address" placeholder="Address" required>*@
                </div>
                <div class="clear h20 hidden-xs"></div>
                <div class="form-group">
                    <label>City</label>
                    <select class="w100 form-control" name="city">
                        <option value="default">City</option>
                        <option value="Ambon">Ambon</option>
                        <option value="Balikpapan">Balikpapan</option>
                        <option value="Bandar Lampung">Bandar Lampung</option>
                        <option value="Bandung">Bandung</option>
                        <option value="Banjar">Banjar</option>
                        <option value="Banjarbaru">Banjarbaru</option>
                        <option value="Banjarmasin">Banjarmasin</option>
                        <option value="Batam">Batam</option>
                        <option value="Batu">Batu</option>
                        <option value="Bau-Bau">Bau-Bau</option>
                        <option value="Bekasi">Bekasi</option>
                        <option value="Bengkulu">Bengkulu</option>
                        <option value="Bima">Bima</option>
                        <option value="Binjai">Binjai</option>
                        <option value="Bitung">Bitung</option>
                        <option value="Blitar">Blitar</option>
                        <option value="Bogor">Bogor</option>
                        <option value="Bontang">Bontang</option>
                        <option value="Bukittinggi">Bukittinggi</option>
                        <option value="Cilegon">Cilegon</option>
                        <option value="Cimahi">Cimahi</option>
                        <option value="Cirebon">Cirebon</option>
                        <option value="Denpasar">Denpasar</option>
                        <option value="Depok">Depok</option>
                        <option value="Dumai">Dumai</option>
                        <option value="Gorontalo">Gorontalo</option>
                        <option value="Jambi">Jambi</option>
                        <option value="Jayapura">Jayapura</option>
                        <option value="Kediri">Kediri</option>
                        <option value="Kendari">Kendari</option>
                        <option value="Jakarta Barat">Jakarta Barat</option>
                        <option value="Jakarta Pusat">Jakarta Pusat</option>
                        <option value="Jakarta Selatan">Jakarta Selatan</option>
                        <option value="Jakarta Timur">Jakarta Timur</option>
                        <option value="Jakarta Utara">Jakarta Utara</option>
                        <option value="Kotabumi">Kotabumi</option>
                        <option value="Kotamobagu">Kotamobagu</option>
                        <option value="Kupang">Kupang</option>
                        <option value="Langsa">Langsa</option>
                        <option value="Lhokseumawe">Lhokseumawe</option>
                        <option value="Liwa">Liwa</option>
                        <option value="Lubuklinggau">Lubuklinggau</option>
                        <option value="Madiun">Madiun</option>
                        <option value="Magelang">Magelang</option>
                        <option value="Makassar">Makassar</option>
                        <option value="Malang">Malang</option>
                        <option value="Manado">Manado</option>
                        <option value="Mataram">Mataram</option>
                        <option value="Medan">Medan</option>
                        <option value="Metro">Metro</option>
                        <option value="Meulaboh">Meulaboh</option>
                        <option value="Mojokerto">Mojokerto</option>
                        <option value="Padang">Padang</option>
                        <option value="Padang Sidempuan">Padang Sidempuan</option>
                        <option value="Padangpanjang">Padangpanjang</option>
                        <option value="Pagaralam">Pagaralam</option>
                        <option value="Palangkaraya">Palangkaraya</option>
                        <option value="Palembang">Palembang</option>
                        <option value="Palopo">Palopo</option>
                        <option value="Palu">Palu</option>
                        <option value="Pangkalpinang">Pangkalpinang</option>
                        <option value="Parepare">Parepare</option>
                        <option value="Pariaman">Pariaman</option>
                        <option value="Pasuruan">Pasuruan</option>
                        <option value="Payakumbuh">Payakumbuh</option>
                        <option value="Pekalongan">Pekalongan</option>
                        <option value="Pekanbaru">Pekanbaru</option>
                        <option value="Pematangsiantar">Pematangsiantar</option>
                        <option value="Pontianak">Pontianak</option>
                        <option value="Prabumulih">Prabumulih</option>
                        <option value="Probolinggo">Probolinggo</option>
                        <option value="Purwokerto">Purwokerto</option>
                        <option value="Sabang">Sabang</option>
                        <option value="Salatiga">Salatiga</option>
                        <option value="Samarinda">Samarinda</option>
                        <option value="Sawahlunto">Sawahlunto</option>
                        <option value="Semarang">Semarang</option>
                        <option value="Serang">Serang</option>
                        <option value="Sibolga">Sibolga</option>
                        <option value="Singkawang">Singkawang</option>
                        <option value="Solok">Solok</option>
                        <option value="Sorong">Sorong</option>
                        <option value="Subulussalam">Subulussalam</option>
                        <option value="Sukabumi">Sukabumi</option>
                        <option value="Sungai Penuh">Sungai Penuh</option>
                        <option value="Surabaya">Surabaya</option>
                        <option value="Surakarta">Surakarta</option>
                        <option value="Tangerang">Tangerang</option>
                        <option value="Tangerang Selatan">Tangerang Selatan</option>
                        <option value="Tanjungbalai">Tanjungbalai</option>
                        <option value="Tanjungpinang">Tanjungpinang</option>
                        <option value="Tarakan">Tarakan</option>
                        <option value="Tasikmalaya">Tasikmalaya</option>
                        <option value="Tebingtinggi">Tebingtinggi</option>
                        <option value="Tegal">Tegal</option>
                        <option value="Ternate">Ternate</option>
                        <option value="Tidore Kepulauan">Tidore Kepulauan</option>
                        <option value="Tomohon">Tomohon</option>
                        <option value="Tual">Tual</option>
                        <option value="Yogyakarta">Yogyakarta</option>

                    </select>
                </div>
                <div class="form-group">
                    <label>Zip Code</label>
                    <input type="text" class="form-control col-sm-12" name="zip" id="zip" placeholder="Zipcode">
                </div>
                <div class="clear hidden-xs"></div>
                <div class="form-group w100" style="min-height:20px;">
                    <label>Date Of Birth</label>
                </div>
                <div class="form-group col-sm-4" style="min-height:60px;">
                    <div class="clear"></div>
                    <select name="dob" class="form-control">
                        <option value="default">Day</option>
                        @{
                            int i;
                            for (i = 1; i <= 31; i++)
                            {
                                <option value="@i">@i</option>
                            }
                        }
                    </select>
                </div>
                <div class="form-group col-sm-4" style="min-height:60px;">
                    <select name="mob" class="form-control">
                        <option value="default">Month</option>
                        <option value="January">January</option>
                        <option value="February">February</option>
                        <option value="March">March</option>
                        <option value="April">April</option>
                        <option value="May">May</option>
                        <option value="June">June</option>
                        <option value="July">July</option>
                        <option value="August">August</option>
                        <option value="September">September</option>
                        <option value="October">October</option>
                        <option value="November">November</option>
                        <option value="December">December</option>
                    </select>
                </div>
                <div class="form-group col-sm-4" style=" min-height:60px;">
                    <select name="yob" class="form-control">
                        <option value="default">Year</option>
                        @{
                            int y;
                            for (y = Convert.ToInt32(DateTime.Now.Year); y >= 1905; y--)
                            {
                                <option value="@y">@y</option>
                            }
                        }
                    </select>
                </div>
                <div class="clear hidden-xs"></div>
                @*<div class="form-group">
                    <label class="w100">Gender</label>
                    <input name="gender" style="visibility:hidden; width:1px;" type="radio">
                    <label class="radio-inline"><input name="gender" value="Female" type="radio" style="width:0%">Female</label>
                    <label class="radio-inline"><input name="gender" value="Male" type="radio" style="width:0%">Male</label>
                </div>*@
                <div class="form-group">
                    <label class="w100">Gender</label>
                    <input type="radio" name="gender" style="visibility:hidden; width:1px;">
                    <label class="radio-inline"><input type="radio" name="gender" value="Female" style="width:30%">Female</label>
                    <label class="radio-inline"><input type="radio" name="gender" value="Male" style="width:30%">Male</label>
                </div>
                <div class="clear hidden-xs"></div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control col-sm-12" name="pass" id="pass" placeholder="Password" onkeypress="capLock2(event)">
                    <div id="divMayus2" style="visibility:hidden;color:red">Caps Lock is on.</div>
                </div>
                <div class="form-group">
                    <label>Confirm Password</label>
                    <input type="password" class="form-control col-sm-12" name="confirm_pass" id="confirm_pass" placeholder="Confirm Password" onkeypress="capLock3(event)">
                    <div id="divMayus3" style="visibility:hidden;color:red">Caps Lock is on.</div>
                </div>
                <div class="form-group">
                    <label class="w100">Subscribe News Letter</label>
                    <input type="checkbox" name="subscribe" value="Subscribed" style="width:10%" />
                </div>
                <div class="clear h40 hidden-xs"></div>
                <button type="submit" class="load-more">register</button>
                <div class="clear h40"></div>
            </form>
        </div>
    </div>
</div>
<script src="~/Assets/jquery-3.2.1.min.js"></script>
@section scripts{

    <script>
        $(document).ready(function () {
            function mouseoverPass(obj) {
            var obj = document.getElementById('password');
            obj.type = "text";
        }
        function mouseoutPass(obj) {
            var obj = document.getElementById('password');
            obj.type = "password";
        }
        function capLock(e) {
            kc = e.keyCode ? e.keyCode : e.which;
            sk = e.shiftKey ? e.shiftKey : ((kc == 16) ? true : false);
            if (((kc >= 65 && kc <= 90) && !sk) || ((kc >= 97 && kc <= 122) && sk))
                document.getElementById('divMayus').style.visibility = 'visible';
            else
                document.getElementById('divMayus').style.visibility = 'hidden';
        }
        function capLock2(e) {
            kc = e.keyCode ? e.keyCode : e.which;
            sk = e.shiftKey ? e.shiftKey : ((kc == 16) ? true : false);
            if (((kc >= 65 && kc <= 90) && !sk) || ((kc >= 97 && kc <= 122) && sk))
                document.getElementById('divMayus2').style.visibility = 'visible';
            else
                document.getElementById('divMayus2').style.visibility = 'hidden';
        }
        function capLock3(e) {
            kc = e.keyCode ? e.keyCode : e.which;
            sk = e.shiftKey ? e.shiftKey : ((kc == 16) ? true : false);
            if (((kc >= 65 && kc <= 90) && !sk) || ((kc >= 97 && kc <= 122) && sk))
                document.getElementById('divMayus3').style.visibility = 'visible';
            else
                document.getElementById('divMayus3').style.visibility = 'hidden';
        }
        setTimeout(function () {
            $("#msg, #msgSuccess").fadeOut('slow');
        }, 120000);
        $.validator.addMethod("valueNotEquals", function (value, element, arg) {
            return arg != value;
        }, "Value must not equal arg.");
        $.validator.addMethod("regx", function (value, element, regexpr) {
            var re = new RegExp(regexpr);
            return re.test(value);
        }, "Password needs minimum 8 characters with at least 1 Alphabet, 1 Number and 1 Special Character");
        $.validator.addMethod("regxphone", function (value, element, regexpr) {
            var re = new RegExp(regexpr);
            return re.test(value);
        }, "Phone only contains 0-9, +, -, ( and )");

        $('#login').validate({
            rules: {
                email: {
                    required: true
                },
                password: {
                    required: true
                }
            },
            highlight: function (element) {
                var id_attr = "#" + $(element).attr("id") + "1";
                $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
                $(id_attr).removeClass('glyphicon-ok').addClass('glyphicon-remove');
            },
            unhighlight: function (element) {
                var id_attr = "#" + $(element).attr("id") + "1";
                $(element).closest('.form-group').removeClass('has-error').addClass('has-success');
                $(id_attr).removeClass('glyphicon-remove').addClass('glyphicon-ok');
            },
            errorElement: 'span',
            errorClass: 'help-block',
            errorPlacement: function (error, element) {
                if (element.length) {
                    error.insertAfter(element);
                } else {
                    error.insertAfter(element);
                }
            }
        });

        $('#register').validate({
            rules: {
                firstname: {
                    minlength: 3,
                    required: true
                },
                lastname: {
                    minlength: 3,
                    required: true
                },
                email: {
                    required: true
                },
                phone: {
                    minlength: 3,
                    maxlength: 20,
                    required: true,
                    regxphone: '^[\-\(\)0-9\+]+$'
                },
                address: {
                    minlength: 3,
                    required: true
                },
                city: {
                    valueNotEquals: "default"
                },
                zip: {
                    required: true
                },
                dob: {
                    valueNotEquals: "default"
                },
                mob: {
                    valueNotEquals: "default"
                },
                yob: {
                    valueNotEquals: "default"
                },
                gender: {
                    required: true
                },
                pass: {
                    required: true,
                    regx: '^(?=.*?[A-Za-z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@@$%^&*-]).{8,}$',
                    minlength: 8
                },
                confirm_pass: {
                    required: true,
                    minlength: 8,
                    equalTo: "#pass"
                }
            },
            messages: {
                city: { valueNotEquals: "Please select your city!" },
                dob: { valueNotEquals: "Please select day!" },
                mob: { valueNotEquals: "Please select month!" },
                yob: { valueNotEquals: "Please select year!" }
            },
            highlight: function (element) {
                var id_attr = "#" + $(element).attr("id") + "1";
                $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
                $(id_attr).removeClass('glyphicon-ok').addClass('glyphicon-remove');
            },
            unhighlight: function (element) {
                var id_attr = "#" + $(element).attr("id") + "1";
                $(element).closest('.form-group').removeClass('has-error').addClass('has-success');
                $(id_attr).removeClass('glyphicon-remove').addClass('glyphicon-ok');
            },
            errorElement: 'span',
            errorClass: 'help-block',
            errorPlacement: function (error, element) {
                if (element.length) {
                    error.insertAfter(element);
                } else {
                    error.insertAfter(element);
                }
            }
        });

        function checkdate(dob, mob, yob) {

            var month = getMonthFromString(mob.value);
            var day = pad(dob.value);
            var input = month + "/" + day + "/" + yob.value;
            var validformat = /^\d{2}\/\d{2}\/\d{4}$/;
            var returnval = false;

            //alert(validformat);
            if (!validformat.test(input)) {
                alert("Invalid Date Format. Please correct and submit again.");
            } else {
                var monthfield = input.split("/")[0];
                var dayfield = input.split("/")[1];
                var yearfield = input.split("/")[2];
                var dayobj = new Date(yearfield, monthfield - 1, dayfield);
                if ((dayobj.getMonth() + 1 != monthfield) || (dayobj.getDate() != dayfield) || (dayobj.getFullYear() != yearfield)) {
                    alert("Invalid Day, Month, or Year range detected. Please correct and submit again.");
                }
                else {
                    returnval = true;
                    //alert('okeee');
                }
            }
            if (returnval == false) {
                return false;
            } else {
                return true;
                //alert('ok');
            }
            return false;
        }

        function getMonthFromString(mon) {
            var d = Date.parse(mon + " 1, 2012");
            if (!isNaN(d)) {
                x = ("0" + (new Date(d).getMonth() + 1)).slice(-2);
                return x;
            }
            return -1;
        }

        function pad(d) {
            return (d < 10) ? '0' + d.toString() : d.toString();
        }


        $('#emailRegist').on('change', function () {
            var emailval = $(this).val();
            if (emailval.length > 0) {
                $.ajax({
                    type: "POST",
                    url: '/Customer/checkEmailRegist',
                    data: { email: emailval },
                    success: function (json)
                    {
                        if (json == "false") {
                            alert("Email already used by another user!");
                            document.getElementById("emailRegist").value = "";
                            $('#emailRegist').focus();
                        }
                    }
                })
            }
        });

        //function InitialiseFacebook(appId) {
        //    window.fbAyskncInit = function () {
        //        FB.init({
        //            appId: appId,
        //            status: true,
        //            cookie: true,
        //            xfbml: true,
        //            version: 'v2.7'
        //        });

        //        FB.getLoginStatus(function (response) {
        //            if (response.status === 'connected') {
        //                var credentials = { uid: response.authResponse.userID, accessToken: response.authResponse.accessToken };
        //                SubmitLogin(credentials);
        //            }
        //            else if (response.status === 'not_authorized') { alert("user is not authorised"); }
        //            else { login(); }
        //        });

        //        function login() {
        //            FB.login(function(response) {
        //                if (response.authResponse) {
        //                    console.log('Welcome!  Fetching your information.... ');
        //                    FB.api('/me', function(response) {
        //                        console.log('Good to see you, ' + response.name + '.');
        //                    });
        //                } else {
        //                    console.log('User cancelled login or did not fully authorize.');
        //                }
        //            }, { scope: 'public_profile,email' });
        //        }

        //        FB.Event.subscribe('auth.login', function (response) {
        //            var credentials = { uid: response.authResponse.userID, accessToken: response.authResponse.accessToken };
        //            SubmitLogin(credentials);
        //        });

        //        function SubmitLogin(credentials) {
        //            $.ajax({
        //                url: "/login/facebooklogin",
        //                type: "POST",
        //                data: credentials,
        //                error: function () {
        //                    alert("Please Wait...");
        //                },
        //                success: function () {
        //                    window.location.href = "/login/UserDetails";
        //                }
        //            });
        //        }

        //    };


        //}

        function login() {
            FB.login(function (response) {
                if (response.authResponse) {
                    console.log('Welcome!  Fetching your information.... ');
                    FB.api('/me?fields=id,email,first_name,last_name,gender,locale,link,timezone,location,picture', function (response) {
                        console.log(response);
                    });
                } else {
                    console.log('User cancelled login or did not fully authorize.');
                }
            }, { scope: 'public_profile, email' });
        }

        function SubmitLogin(credentials) {
            $.ajax({
                url: "/login/facebooklogin",
                type: "POST",
                data: credentials,
                error: function () {
                    console.log("Please Wait...");
                },
                success: function () {
                    window.location.href = "/login/UserDetails";
                }
            });
        }
        window.fbAsyncInit = function () {
            FB.init({
                appId: '@System.Configuration.ConfigurationManager.AppSettings["AppId"]',
                cookie: true,  // enable cookies to allow the server to access
                status: true,
                xfbml: true,  // parse social plugins on this page
                version: 'v2.7' // use graph api version 2.5
            });
            //FB.getLoginStatus(function (response) {
            //    if (response.status === 'connected') {
            //        var credentials = { uid: response.authResponse.userID, accessToken: response.authResponse.accessToken };
            //        SubmitLogin(credentials);
            //    }
            //    else if (response.status === 'not_authorized') { alert("user is not authorised"); }
            //    else { login(); }
            //});

            FB.Event.subscribe('auth.login', function (response) {
                var credentials = { uid: response.authResponse.userID, accessToken: response.authResponse.accessToken };
                SubmitLogin(credentials);
            });
        };

        function fb_login() {
            FB.getLoginStatus(function (response) {
                if (response.status === 'connected') {
                    FB.api('/me', { fields: 'id,email,first_name,last_name,gender,locale,link,timezone,location,picture,username' }, function (res) {
                        console.log(res);
                        console.log(response);
                    });
                    var credentials = { uid: response.authResponse.userID, accessToken: response.authResponse.accessToken };
                    SubmitLogin(credentials);
                }
                    //else if (response.status === 'not_authorized') { alert("user is not authorised"); }
                else { login(); }
            });
        }
        })


    </script>
}
