﻿@{
    DynamicContent.Models.MainModel obj = new DynamicContent.Models.MainModel();
    ViewBag.Title = "My Account";
    var firstName = Session["firstName"];
    var lastName = Session["lastName"];
    int userId = Convert.ToInt32(Session["userIdLogin"]);
    var user = obj.GetUserActive(userId);
}

<div class="container-fluid">
    <div class="bread-crumb row">
        <div class="container">
            <ul class="">
                <li><a href="/home">home</a></li>
                <li><a href="">my account</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="clear hidden-xs" style="height:40px;"></div>
<div class="container">
    <div class="row">
        <div class="col-sm-3 col-md-3">            
            @Html.Partial("accordionAccount")
        </div>
        
        <div class="col-sm-9 col-md-9 wishlist">
            <div class="text-center category active ">
                <h4><span class="fa fa-user"></span> hi, @user.firstName @user.lastName</h4>
            </div>
            <div class="col-sm-12 grey">
                <div class="clear h40"></div>
                <div class="table-responsive">
                    <table class="confirmation">
                        <tr>
                            <td>Name</td>
                            <td>:</td>
                            <td>@user.firstName @user.lastName</td>
                        </tr>
                        <tr>
                            <td>Email Address</td>
                            <td>:</td>
                            <td>@user.email</td>
                        </tr>
                        <tr>
                            <td>Phone Number</td>
                            <td>:</td>
                            <td>@user.phone</td>
                        </tr>
                        <tr>
                            <td>Address</td>
                            <td>:</td>
                            <td>@user.address</td>
                        </tr>
                        <tr>
                            <td>Zip Code</td>
                            <td>:</td>
                            <td>@user.zipcode</td>
                        </tr>
                        <tr>
                            <td>Date Of Birth</td>
                            <td>:</td>
                            <td>@user.dob</td>
                        </tr>
                        <tr>
                            <td>Gender</td>
                            <td>:</td>
                            <td>@user.gender</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

