﻿@using DynamicContent.Helper;
@{
    DynamicContent.Models.MainModel obj = new DynamicContent.Models.MainModel();
    ViewBag.Title = "My Cart";
    var firstName = Session["firstName"];
    var lastName = Session["lastName"];
    int userId = Convert.ToInt32(Session["userIdLogin"]);
    var user = obj.GetUserActive(userId);
    decimal? totalprice = 0m;
    var mycart = obj.GetMyCart(userId);
    bool IsFlashSale = (bool)ViewBag.IsFlashSale;
}

<div class="container-fluid">
    <div class="bread-crumb row">
        <div class="container">
            <ul class="">
                <li><a href="/">home</a></li>
                <li><a href="">My Reservations</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="clear hidden-xs" style="height:40px;"></div>
<div class="container">
    <div class="row">
        <div class="container mycart wishlist">
            <div class="row">
                <div class="col-sm-12">
                    <div class="headers">
                        <div class="col-sm-4"><div class="circle gold">1</div><div class="label">my cart</div></div>
                        <div class="col-sm-5"><div class="circle black">2</div><div class="label">confirmation</div></div>
                        <div class="col-sm-3"><div class="circle black">3</div><div class="label">finish</div></div>
                    </div>
                    <form method="post" action="/customer/CartConfirmation" id="myCart">
                        <div class="clear" style="height:40px;"></div>
                        <div class="table-responsive">
                        <table class="w100 tbl-cart">
                            <tr>
                                <th>product detail</th>
                                <th>price</th>
                                <th>quantity</th>
                                <th>location</th>
                                <th></th>
                            </tr>
                            @foreach (var item in (mycart).Select((value, index) => new { value, index }))
                            {
                                var images = obj.GetOneImgByColor(Convert.ToInt32(item.value.color));
                                var product = obj.GetAllProduct(item.value.product).FirstOrDefault();
                                var tenantName = obj.GetTenant(product.idtenant).FirstOrDefault();
                                if (IsFlashSale)
                                {
                                    var flashSaleItem = (List<DynamicContent.Models.FlashHeaderDetail>)ViewBag.FlashSaleDetail;
                                    var selectedItem = flashSaleItem.FirstOrDefault(x => x.tbl_product.ID == item.value.product && x.isActive == true);
                                    if (selectedItem != null)
                                    {
                                        if (selectedItem.qty > 0)
                                        {
                                            product.price = selectedItem.price_new;
                                        }
                                        else
                                        {

                                        }
                                    }
                                }
                                var valPrice = "";
                                if (product.price != "price upon request")
                                {
                                    valPrice = product.price;
                                }
                                else
                                {
                                    valPrice = "0";
                                }
                                totalprice += Convert.ToDecimal(valPrice) * item.value.qty;
                                <tr>
                                    <td>
                                        <input type="hidden" name="cartId" value="@item.value.ID"/>
                                        <div class="product"><span class="helper"></span><img src="@images.images" /></div>
                                        <div class="desc">
                                            <p class="bold uppercase">@tenantName.name</p>
                                            <p class="uppercase">@product.name</p>
                                            Size : @item.value.size.ToUpper()
                                            @if (item.value.size.Contains(','))
                                            {
                                                var size = (item.value.size).Replace(',','.');
                                                <input type="hidden" name="size" value="@size" />
                                            }
                                            else
                                            {
                                                <input type="hidden" name="size" value="@item.value.size" />
                                            }
                                            
                                            @{
                                                var color = obj.GetProductByColor(Convert.ToInt32(item.value.color));                                                
                                                <input type="hidden" name="color" value="@color.ID"/>
                                                if ((color.color != "") && (color.color != "default"))
                                                {
                                                    <div class="color" style="background-color:@color.color;"></div>
                                                }

                                            }
                                        </div>
                                    </td>
                                    <td>
                                        <p class="uppercase">
                                            @obj.priceCheck(product.price)
                                        </p>
                                        <input type="hidden" value="" />
                                    </td>
                                    <td>
                                        <span class="floatL">Qty: </span>
                                        <input type="text" name="qty" value="@item.value.qty" class="form-control qtyInput floatL" />
                                    </td>
                                    <td>
                                        <div class="text-right floatR">
                                            @{
                                            var t = obj.GetTenant(product.idtenant).FirstOrDefault();
                                            }
                                            <p class="uppercase">@t.name</p>
                                            <p class="uppercase">@t.locationname</p>
                                            @*<p>Telephone :</p>
                                            <p>@t.phone</p>*@
                                        </div>
                                    </td>
                                    <td>
                                        <div class="optWrapper">
                                            @*<div class="opt load-more floatR">options</div>*@
                                            @*<div class="load-more floatr">Remove</div>
                                            <div class="load-more floatl">Add to WishList</div>*@
                                            <span class="remove hovUdr" style="cursor: pointer;" onclick="RemoveMycart('@item.value.ID');"> <i class="fa fa-times-circle"></i>Remove From List</span><br />
                                           <span class=" hovUdr" style="cursor: pointer;" data-toggle="modal" data-target="#m-wishlist" onclick="AddToWishlistFromCart('@product.id','@item.value.ID', '@color.ID');"><i class="fa fa-heart"></i>  Add To Wish List</span>
                                            <div class="options floatR">
                                                <i class="fa fa-times-circle"></i> <span class="remove" onclick="RemoveMycart('@item.value.ID');"> Remove From List</span><br />
                                                <i class="fa fa-heart"></i> <span class="" data-toggle="modal" data-target="#m-wishlist" onclick="AddToWishlistFromCart('@product.id','@item.value.ID', '@color.ID');"> Add To Wish List</span>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                            <tr class="sum">
                                <td colspan="4">
                                    <p class="text-right bold">PRICE ESTIMATION</p>
                                </td>
                                <td>
                                    <p class="text-right uppercase bold">idr @Convert.ToDecimal(totalprice).ToString("N0")</p>
                                </td>
                            </tr>
                        </table>
                        </div>
                        <div class="clear h20"></div>
                        <div>
                            <a class="load-more floatL btn-shop" href="/home">back to shopping</a>
                            <div class="clear visible-xs h10"></div>
                            <button type="submit" class="load-more floatR btn-shop" >reserve now</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    @Html.Raw(TempData["msgQTY"])
</div>
@section scripts{
    <script>
        function AddToWishlistFromCart(id, itemID, idc) {
            console.log(id, itemID);
            $.ajax({
                url: '/customer/AddToWishlistFromCart',
                data: { id: id, itemID: itemID, color : idc }
            }).done(function () {
                //location.reload();
            });
        }
        function RemoveMycart(id) {
            if (confirm("Are you sure you want to remove the following item from Cart?")) {
                $.ajax({
                    url: '/customer/RemoveMycart',
                    data: { id: id }
                }).done(function () {
                    location.reload();
                });
            }
            
        }
        $('#m-wishlist').on('hidden.bs.modal', function () {
            location.reload();
        })
    </script>
}

