﻿@{
    DynamicContent.Models.MainModel obj = new DynamicContent.Models.MainModel();
    ViewBag.Title = "My Reservation";
    var firstName = Session["firstName"];
    var lastName = Session["lastName"];
    int userId = Convert.ToInt32(Session["userIdLogin"]);
    var user = obj.GetUserActive(userId);
    string msg = TempData["msg"] != null ? TempData["msg"].ToString() : "";
    IEnumerable<DynamicContent.Models.tbl_ReservationParent> mycart = null;
    var allreservation = obj.GetMyCartReserved(userId);
    int getyear;
    if (Request.QueryString["list"] != null)
    {
        getyear = Convert.ToInt32(Request.QueryString["list"]);
    }else
    {
        getyear = DateTime.Now.Year;
    }
    mycart = obj.GetMyCartReserved(userId).Where(x => x.ReservationDate.Value.Year == getyear);
    
}

<div class="container-fluid">
    <div class="bread-crumb row">
        <div class="container">
            <ul class="">
                <li><a href="/">home</a></li>
                <li><a href="">My Reservations</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="clear hidden-xs" style="height:40px;"></div>
<div class="container">
    <div class="row">
        <div class="col-sm-3 col-md-3">
            @Html.Partial("accordionAccount")
        </div>

        <div class="col-sm-9 col-md-9 wishlist">
            <div class="text-center category active ">
                <h4><span class="fa fa-shopping-bag"></span> my reservations</h4>
            </div>
            <div class="col-sm-12 grey">
                <div class="clear h40"></div>
                <div class="filter">
                    <label>Order From</label>
                    @{
                        var year = allreservation.Select(y => y.ReservationDate.Value.Year).Distinct();
                        <select name="selectYear" id="selectYear">
                            @*<option value="">All</option>*@
                            @foreach (var y in year)
                            {
                                <option value="@y" @((y == getyear) ? "selected" : "")>Order placed in @y</option>
                            }                            
                        </select>
                    }
                    
                </div>
                <div class="clear"></div>
                <div class="panel-group myorder" id="accordion2">
                @foreach (var item in (mycart).Select((value, index) => new { value, index }))
                {
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="wrap-href" data-toggle="collapse" data-parent="#accordion2" href="#collapse-@item.index">
                                    <div>order @item.value.ReservationCode</div>
                                    <div>placed on @Convert.ToDateTime(item.value.ReservationDate).ToString("dd/MM/yyyy")</div>
                                </a>
                            </h4>
                        </div>
                        <div id="collapse-@item.index" class="panel-collapse collapse @((item.index == 0) ? "in" : "")">
                            @{
                                var myreservation = obj.GetDetailReservation(item.value.ID);
                                foreach (var det in myreservation)
                                {
                                    var images = obj.GetOneImgByColor(Convert.ToInt32(det.color));
                                    var product = obj.GetAllProduct2(det.product).FirstOrDefault();
                                    var color = obj.GetProductByColor(Convert.ToInt32(det.color));
                                    var t = obj.GetTenant(Convert.ToInt32(det.tenant)).FirstOrDefault();
                                    <div class="panel-body">
                                        <div class="clear">
                                            <div class="col-sm-2 product">
                                                <span class="helper"></span>
                                                <img src="@images.images" />
                                            </div>
                                            <div class="col-sm-6 desc">
                                                <p class="bold uppercase">@product.brand</p>
                                                <p class="uppercase">@product.name</p>
                                                <p class="uppercase">SIZE : @det.size.ToUpper()</p>
                                                <div class="pallete">
                                                    <div class="item" style="background-color:@color.color;"></div>
                                                </div>
                                            </div>
                                            <div class="col-sm-4 desc text-right">
                                                <p class="uppercase">@t.name</p>
                                                <p class="uppercase">@t.locationname</p>
                                                <p>Telephone :</p>
                                                <p class="uppercase">@t.phone</p>
                                                @{
                                                    if (product.status == true)
                                                    {
                                                        if (det.status == 2)
                                                        {
                                                            <span class="label label-danger">Cancelled</span>
                                                        }
                                                        else
                                                        {
                                                            <button data-toggle="modal" data-target="#m-cancel-@det.ID" class="load-more" value="@det.ID">cancel</button>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <span class="label label-danger">Out of stock</span>
                                                    }

                                                }
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal fade" id="m-cancel-@det.ID" role="dialog">
                                        <div class="modal-dialog modal-sm">
                                            <div class="modal-content" style="border-radius:0;">
                                                <div class="modal-header">
                                                    Are you sure cancel reserve this product ?
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                    <button type="button" class="btn btn-primary" onclick="cancelReservation(@det.ID)">Ok</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }                            
                        </div>
                    </div>
                }
                </div>
                <p class="text-center">
                    If you haven't got any feedback from our tenant, <br />
                    contact us at <a href="mailto:info@plazaindonesia.com" class="link bold">info@plazaindonesia.com</a> <br />with detail of your reservation code
                </p>
                @*<ul class="paging">
                    <li><a href=""><span class="fa fa-chevron-left"></span></a></li>
                    <li><a href="">1</a></li>
                    <li><a href="">2</a></li>
                    <li><a href="">3</a></li>
                    <li><a href="">4</a></li>
                    <li><a href=""><span class="fa fa-chevron-right"></span></a></li>
                </ul>*@

            </div>

        </div>
    </div>
</div>
@section scripts{
    <script>
        function cancelReservation(idr) {
            $.ajax({
                url: '/customer/cancelReservation',
                data: { idr: idr}
            }).done(function () {
                location.reload();
            });
        }
        $("#selectYear").change(function () {
            if($(this).val() == ""){
                document.location.href = '/customer/myOrder';
            }else{
                document.location.href = '/customer/myOrder?list=' + $(this).val();
            }
        });
    </script>
 }

