﻿@{

    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <title>Plaza Indonesia</title>
    <!-- <link rel="shortcut icon" type="image/x-icon" href="images/favicon/favicon.png" />
    <link rel="apple-touch-icon" href="images/favicon/favicon-60x60.png">
    <link rel="apple-touch-icon" sizes="76x76" href="images/favicon/favicon-76x76.png">
    <link rel="apple-touch-icon" sizes="120x120" href="images/favicon/favicon-120x120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="images/favicon/favicon-152x152.png"> -->
    <link href="~/Assets/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Assets/fontawesome-all.min.css" rel="stylesheet" />
    <link href="~/Assets/reset.css" rel="stylesheet" />
    <link href="~/Assets/fonts.css" rel="stylesheet" />
    <link href="~/Assets/front.css" rel="stylesheet" />
    <script src="~/Assets/jquery-3.2.1.min.js"></script>
    <script src="~/Assets/bootstrap/bootstrap.min.js"></script>
    <script src="~/Assets/lib.js"></script>

</head>
<body>

    <header>
        <div class="header-top">
            <div class="container">
                <div class="pos-rel">
                    <div class="row">
                        <div class="col-sm-4 hidden-xs">
                            <div class="global">
                                <div class="tbl">
                                    <div class="cell">
                                        <a href="http://www.plazaindonesia.com/" target="_blank">
                                            <div class="inline-block"><i class="fas fa-globe"></i></div>
                                            <div class="inline-block">Go Back to website</div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <ul class="hdr-right">
                                <li>
                                    <div class="h42">
                                        <div class="tbl">
                                            <div class="cell">
                                                <div class="pos-rel">
                                                    <input type="text" placeholder="search.." class="hidden-xs form-control form-search" />
                                                    <a class="click-search">
                                                        <div class="inline-block">
                                                            <i class="fas fa-search"></i>
                                                        </div>
                                                        <div class="inline-block hidden-xs">Search</div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="h42">
                                        <div class="tbl">
                                            <div class="cell">
                                                <a href="#">
                                                    <div class="inline-block"><i class="fas fa-shopping-cart"></i></div>
                                                    <div class="inline-block"><span class="hidden-xs">Cart</span> (0)</div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="h42">
                                        <div class="tbl">
                                            <div class="cell">
                                                <a href="#">
                                                    <div class="inline-block"><i class="fas fa-heart"></i></div>
                                                    <div class="inline-block hidden-xs">Wishlist</div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="h42">
                                        <div class="tbl">
                                            <div class="cell">
                                                <a href="#">
                                                    <div class="inline-block"><i class="fas fa-user"></i></div>
                                                    <div class="inline-block hidden-xs">Login</div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="pad10">
                <div class="row">
                    <div class="col-xs-4">
                        <div class="h50 show991">
                            <div class="tbl">
                                <div class="cell">
                                    <a href="#" class="menu-mobile"><i class="fas fa-bars"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="logo">
                            <a href="index.php">
                                <img src="images/logo.png" />
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <ul class="hdr-right show991">
                            <li>
                                <div class="h42">
                                    <div class="tbl">
                                        <div class="cell">
                                            <a href="#">
                                                <div class="inline-block"><i class="fas fa-shopping-cart"></i></div>
                                                <div class="inline-block fz18"> (0)</div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="h42">
                                    <div class="tbl">
                                        <div class="cell">
                                            <a href="#">
                                                <div class="inline-block"><i class="fas fa-user"></i></div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="show991">
            <div class="box-search">
                <div class="container">
                    <div class="pos-rel">
                        <input type="text" placeholder="search.." class="form-control form-search" />
                        <i class="fas fa-search"></i>
                    </div>
                </div>
            </div>
        </div>
        <ul class="head">
            <div class="menu-container">
                <div class="menu">
                    <ul>
                        <li>
                            <a href="#">New</a>
                        </li>
                        <li class="menu-dropdown-icon">
                            <a href="stores.php">Stores</a>
                            <ul>
                                <li class="leftside">
                                    <p>SHOP BY</p>
                                    <ul>
                                        <li>
                                            <a href="stores.php">Stores A-Z</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="rightside">
                                    <p>Stores</p>
                                    <div class="clearfix">
                                        <div class="l-category">
                                            <div><a href="product_list.php">(X) S.M.L</a></div>
                                            <div><a href="product_list.php">Aigner</a></div>
                                            <div><a href="product_list.php">Arbor &amp; Troy</a></div>
                                            <div><a href="product_list.php">Armani Exchange</a></div>
                                            <div><a href="product_list.php">Bally</a></div>
                                        </div>
                                        <div class="l-category">
                                            <div><a href="product_list.php">Calvin Klein</a></div>
                                            <div><a href="product_list.php">Carven</a></div>
                                            <div><a href="product_list.php">Chanel Fragrance &amp; Beauty</a></div>
                                            <div><a href="product_list.php">Charriol</a></div>
                                            <div><a href="product_list.php">Club Solitaire</a></div>
                                        </div>
                                        <div class="l-category">
                                            <div><a href="product_list.php">Coach</a></div>
                                            <div><a href="product_list.php">Crabtree &amp; Evelyn</a></div>
                                            <div><a href="product_list.php">DIESEL</a></div>
                                            <div><a href="product_list.php">Ermenegildo Zegna</a></div>
                                            <div><a href="product_list.php">Frank &amp; Co. Jewelry Flagship Store</a></div>
                                        </div>
                                        <div class="l-category">
                                            <div><a href="product_list.php">Furla</a></div>
                                            <div><a href="product_list.php">Jewels Of Eden</a></div>
                                            <div><a href="product_list.php">Karen Millen</a></div>
                                            <div><a href="product_list.php">Loewe</a></div>
                                            <div><a href="product_list.php">Louis Vuitton</a></div>
                                        </div>
                                        <div class="l-category">
                                            <div><a href="product_list.php">Lorem Ipsum</a></div>
                                            <div><a href="product_list.php">Lorem Ipsum</a></div>
                                            <div><a href="product_list.php">Lorem Ipsum</a></div>
                                            <div><a href="product_list.php">Lorem Ipsum</a></div>
                                            <div><a href="product_list.php">See All...</a></div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-dropdown-icon">
                            <a href="product_list.php">Clothing</a>
                            <ul style="display: none;">
                                <li class="leftside">
                                    <p>SHOP BY</p>
                                    <ul>
                                        <li>
                                            <a href="product_list.php">Indonesian Fashion</a>
                                        </li>
                                        <li>
                                            <a href="product_list.php">International Brands</a>
                                        </li>
                                        <li>
                                            <a href="product_list.php">Luxury Brands</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="rightside">
                                    <p>Clothing</p>
                                    <div class="clearfix">
                                        <div class="l-category">
                                            <div><a href="product_list.php">(X) S.M.L</a></div>
                                            <div><a href="product_list.php">Aigner</a></div>
                                            <div><a href="product_list.php">Arbor &amp; Troy</a></div>
                                            <div><a href="product_list.php">Armani Exchange</a></div>
                                            <div><a href="product_list.php">Bally</a></div>
                                        </div>
                                        <div class="l-category">
                                            <div><a href="product_list.php">Calvin Klein</a></div>
                                            <div><a href="product_list.php">Carven</a></div>
                                            <div><a href="product_list.php">Chanel Fragrance &amp; Beauty</a></div>
                                            <div><a href="product_list.php">Charriol</a></div>
                                            <div><a href="product_list.php">Club Solitaire</a></div>
                                        </div>
                                        <div class="l-category">
                                            <div><a href="product_list.php">Coach</a></div>
                                            <div><a href="product_list.php">Crabtree &amp; Evelyn</a></div>
                                            <div><a href="product_list.php">DIESEL</a></div>
                                            <div><a href="product_list.php">Ermenegildo Zegna</a></div>
                                            <div><a href="product_list.php">Frank &amp; Co. Jewelry Flagship Store</a></div>
                                        </div>
                                        <div class="l-category">
                                            <div><a href="product_list.php">Furla</a></div>
                                            <div><a href="product_list.php">Jewels Of Eden</a></div>
                                            <div><a href="product_list.php">Karen Millen</a></div>
                                            <div><a href="product_list.php">Loewe</a></div>
                                            <div><a href="product_list.php">Louis Vuitton</a></div>
                                        </div>
                                        <div class="l-category">
                                            <div><a href="product_list.php">Knitwear</a></div>
                                            <div><a href="product_list.php">Lingerie</a></div>
                                            <div><a href="product_list.php">Mini Bags</a></div>
                                            <div><a href="product_list.php">Pants</a></div>
                                            <div><a href="product_list.php">See All...</a></div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-dropdown-icon">
                            <a href="product_list.php">Leather Goods & Accessories</a>
                            <ul style="display: none;">
                                <li class="leftside">
                                    <p>SHOP BY</p>
                                    <ul>
                                        <li>
                                            <a href="product_list.php">Indonesian Fashion</a>
                                        </li>
                                        <li>
                                            <a href="product_list.php">International Brands</a>
                                        </li>
                                        <li>
                                            <a href="product_list.php">Luxury Brands</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="rightside">
                                    <p>Clothing</p>
                                    <div class="clearfix">
                                        <div class="l-category">
                                            <div><a href="product_list.php">All Clothing</a></div>
                                            <div><a href="product_list.php">Beachwear</a></div>
                                            <div><a href="product_list.php">Blazers</a></div>
                                            <div><a href="product_list.php">Blouses</a></div>
                                            <div><a href="product_list.php">Bridal</a></div>
                                        </div>
                                        <div class="l-category">
                                            <div><a href="product_list.php">Clutch</a></div>
                                            <div><a href="product_list.php">Coats</a></div>
                                            <div><a href="product_list.php">Cocktail Dresses</a></div>
                                            <div><a href="product_list.php">Denim</a></div>
                                            <div><a href="product_list.php">Dresses</a></div>
                                        </div>
                                        <div class="l-category">
                                            <div><a href="product_list.php">Evening</a></div>
                                            <div><a href="product_list.php">Gowns</a></div>
                                            <div><a href="product_list.php">Jackets</a></div>
                                            <div><a href="product_list.php">Jeans</a></div>
                                            <div><a href="product_list.php">Jumpsuits</a></div>
                                        </div>
                                        <div class="l-category">
                                            <div><a href="product_list.php">Knitwear</a></div>
                                            <div><a href="product_list.php">Lingerie</a></div>
                                            <div><a href="product_list.php">Mini Bags</a></div>
                                            <div><a href="product_list.php">Pants</a></div>
                                            <div><a href="product_list.php">Shorts</a></div>
                                        </div>
                                        <div class="l-category">
                                            <div><a href="product_list.php">Sneakers</a></div>
                                            <div><a href="product_list.php">Sweaters</a></div>
                                            <div><a href="product_list.php">Top Handle Bags</a></div>
                                            <div><a href="product_list.php">Tops</a></div>
                                            <div><a href="product_list.php">Trench Coats</a></div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-dropdown-icon">
                            <a href="product_list.php">Jewelry &amp; Watches</a>
                            <ul style="display: none;">
                                <li class="leftside">
                                    <p>SHOP BY</p>
                                    <ul>
                                        <li>
                                            <a href="product_list.php">Jewelry</a>
                                        </li>
                                        <li>
                                            <a href="product_list.php">Watches</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="rightside">
                                    <p>Jewelry &amp; Watches</p>
                                    <div class="clearfix">
                                        <div class="l-category has-sub-category">
                                            <div class="t-category">Jewelry</div>
                                            <div><a href="product_list.php">All Jewelry</a></div>
                                            <div><a href="product_list.php">Earrings</a></div>
                                            <div><a href="product_list.php">Necklaces</a></div>
                                            <div><a href="product_list.php">Chockers</a></div>
                                            <div><a href="product_list.php">Bracelets</a></div>
                                            <div><a href="product_list.php">Brooch</a></div>
                                        </div>
                                        <div class="l-category has-sub-category">
                                            <div class="t-category">Jewelry</div>
                                            <div><a href="product_list.php">Clutch</a></div>
                                            <div><a href="product_list.php">Coats</a></div>
                                            <div><a href="product_list.php">Cocktail Dresses</a></div>
                                            <div><a href="product_list.php">Denim</a></div>
                                            <div><a href="product_list.php">Dresses</a></div>
                                        </div>
                                        <div class="l-category has-sub-category">
                                            <div class="t-category">Jewelry</div>
                                            <div><a href="product_list.php">Evening</a></div>
                                            <div><a href="product_list.php">Gowns</a></div>
                                            <div><a href="product_list.php">Jackets</a></div>
                                            <div><a href="product_list.php">Jeans</a></div>
                                            <div><a href="product_list.php">Jumpsuits</a></div>
                                        </div>
                                        <div class="l-category has-sub-category">
                                            <div class="t-category">Jewelry</div>
                                            <div><a href="product_list.php">Knitwear</a></div>
                                            <div><a href="product_list.php">Lingerie</a></div>
                                            <div><a href="product_list.php">Mini Bags</a></div>
                                            <div><a href="product_list.php">Pants</a></div>
                                            <div><a href="product_list.php">Shorts</a></div>
                                        </div>
                                        <div class="l-category has-sub-category">
                                            <div class="t-category">Jewelry</div>
                                            <div><a href="product_list.php">Sneakers</a></div>
                                            <div><a href="product_list.php">Sweaters</a></div>
                                            <div><a href="product_list.php">Top Handle Bags</a></div>
                                            <div><a href="product_list.php">Tops</a></div>
                                            <div><a href="product_list.php">Trench Coats</a></div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-dropdown-icon">
                            <a href="product_list.php">Sports &amp; Lifestyle</a>
                            <ul>
                                <li class="leftside">
                                    <span>SHOP BY</span>
                                    <ul>
                                        <li>
                                            <a href="product_list.php">Computer</a>
                                        </li>
                                        <li>
                                            <a href="product_list.php">Fitness Center</a>
                                        </li>
                                        <li>
                                            <a href="product_list.php">Sports Equipment</a>
                                        </li>
                                        <li>
                                            <a href="product_list.php">Sportwear</a>
                                        </li>
                                        <li>
                                            <a href="product_list.php">Travel</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="rightside">
                                    <p>Sports &amp; Lifestyle</p>
                                    <div class="clearfix">
                                        <div class="l-category has-sub-category">
                                            <div class="t-category">Computer</div>
                                            <div><a href="product_list.php">All Computer</a></div>
                                            <div><a href="product_list.php">Mobile Phone</a></div>
                                            <div><a href="product_list.php">Speaker</a></div>
                                            <div><a href="product_list.php">Laptop</a></div>
                                            <div><a href="product_list.php">Accessories</a></div>
                                        </div>
                                        <div class="l-category has-sub-category">
                                            <div class="t-category">Computer</div>
                                            <div><a href="product_list.php">All Computer</a></div>
                                            <div><a href="product_list.php">Mobile Phone</a></div>
                                            <div><a href="product_list.php">Speaker</a></div>
                                            <div><a href="product_list.php">Laptop</a></div>
                                        </div>
                                        <div class="l-category has-sub-category">
                                            <div class="t-category">Computer</div>
                                            <div><a href="product_list.php">All Computer</a></div>
                                            <div><a href="product_list.php">Mobile Phone</a></div>
                                            <div><a href="product_list.php">Speaker</a></div>
                                            <div><a href="product_list.php">Laptop</a></div>
                                        </div>
                                        <div class="l-category has-sub-category">
                                            <div class="t-category">Computer</div>
                                            <div><a href="product_list.php">All Computer</a></div>
                                            <div><a href="product_list.php">Mobile Phone</a></div>
                                            <div><a href="product_list.php">Speaker</a></div>
                                            <div><a href="product_list.php">Laptop</a></div>
                                        </div>
                                        <div class="l-category has-sub-category">
                                            <div class="t-category">Computer</div>
                                            <div><a href="product_list.php">All Computer</a></div>
                                            <div><a href="product_list.php">Mobile Phone</a></div>
                                            <div><a href="product_list.php">Speaker</a></div>
                                            <div><a href="product_list.php">See All Sports &amp; Lifestyle</a></div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-dropdown-icon">
                            <a href="product_list.php">Beauty &amp; Health</a>
                            <ul>
                                <li class="leftside">
                                    <p>SHOP BY</p>
                                    <ul>
                                        <li>
                                            <a href="product_list.php">Bath &amp; Body</a>
                                        </li>
                                        <li>
                                            <a href="product_list.php">Cosmetics</a>
                                        </li>
                                        <li>
                                            <a href="product_list.php">Dental Care</a>
                                        </li>
                                        <li>
                                            <a href="product_list.php">Fragrance</a>
                                        </li>
                                        <li>
                                            <a href="product_list.php">Hair Care</a>
                                        </li>
                                        <li>
                                            <a href="product_list.php">Health Wellness</a>
                                        </li>
                                        <li>
                                            <a href="product_list.php">Nails</a>
                                        </li>
                                        <li>
                                            <a href="product_list.php">Skincare</a>
                                        </li>
                                        <li>
                                            <a href="product_list.php">Vitamins</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="rightside">
                                    <p>Beauty &amp; Health</p>
                                    <div class="clearfix">
                                        <div class="l-category has-sub-category">
                                            <div class="t-category">Bath &amp; Body</div>
                                            <div><a href="product_list.php">All Bath &amp; Body</a></div>
                                            <div><a href="product_list.php">Body Cleanser and Soap</a></div>
                                            <div><a href="product_list.php">Suncare</a></div>
                                            <div><a href="product_list.php">Footcare</a></div>
                                            <div><a href="product_list.php">Accessories</a></div>
                                        </div>
                                        <div class="l-category has-sub-category">
                                            <div class="t-category">Bath &amp; Body</div>
                                            <div><a href="product_list.php">All Bath &amp; Body</a></div>
                                            <div><a href="product_list.php">Body Cleanser and Soap</a></div>
                                            <div><a href="product_list.php">Suncare</a></div>
                                            <div><a href="product_list.php">Footcare</a></div>
                                        </div>
                                        <div class="l-category has-sub-category">
                                            <div class="t-category">Bath &amp; Body</div>
                                            <div><a href="product_list.php">All Bath &amp; Body</a></div>
                                            <div><a href="product_list.php">Body Cleanser and Soap</a></div>
                                            <div><a href="product_list.php">Suncare</a></div>
                                            <div><a href="product_list.php">Footcare</a></div>
                                        </div>
                                        <div class="l-category has-sub-category">
                                            <div class="t-category">Bath &amp; Body</div>
                                            <div><a href="product_list.php">All Bath &amp; Body</a></div>
                                            <div><a href="product_list.php">Body Cleanser and Soap</a></div>
                                            <div><a href="product_list.php">Suncare</a></div>
                                            <div><a href="product_list.php">Footcare</a></div>
                                        </div>
                                        <div class="l-category has-sub-category">
                                            <div class="t-category">Bath &amp; Body</div>
                                            <div><a href="product_list.php">All Bath &amp; Body</a></div>
                                            <div><a href="product_list.php">Body Cleanser and Soap</a></div>
                                            <div><a href="product_list.php">Suncare</a></div>
                                            <div><a href="product_list.php">See All Bath &amp; Body</a></div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-dropdown-icon">
                            <a href="product_list.php">Kids</a>
                            <ul>
                                <li class="leftside">
                                    <p>SHOP BY</p>
                                    <ul>
                                        <li>
                                            <a href="product_list.php">Clothing</a>
                                        </li>
                                        <li>
                                            <a href="product_list.php">Fashion Accessories</a>
                                        </li>
                                        <li>
                                            <a href="product_list.php">Home &amp; Furniture</a>
                                        </li>
                                        <li>
                                            <a href="product_list.php">Kids Program</a>
                                        </li>
                                        <li>
                                            <a href="product_list.php">Shoes</a>
                                        </li>
                                        <li>
                                            <a href="product_list.php">Toys</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="rightside">
                                    <p>Kids</p>
                                    <div class="clearfix">
                                        <div class="l-category has-sub-category">
                                            <div class="t-category">Clothing</div>
                                            <div><a href="product_list.php">All Clothing</a></div>
                                            <div><a href="product_list.php">Body Cleanser and Soap</a></div>
                                            <div><a href="product_list.php">Suncare</a></div>
                                            <div><a href="product_list.php">Footcare</a></div>
                                            <div><a href="product_list.php">Accessories</a></div>
                                        </div>
                                        <div class="l-category has-sub-category">
                                            <div class="t-category">Clothing</div>
                                            <div><a href="product_list.php">All Clothing</a></div>
                                            <div><a href="product_list.php">Body Cleanser and Soap</a></div>
                                            <div><a href="product_list.php">Suncare</a></div>
                                            <div><a href="product_list.php">Footcare</a></div>
                                        </div>
                                        <div class="l-category has-sub-category">
                                            <div class="t-category">Clothing</div>
                                            <div><a href="product_list.php">All Clothing</a></div>
                                            <div><a href="product_list.php">Body Cleanser and Soap</a></div>
                                            <div><a href="product_list.php">Suncare</a></div>
                                            <div><a href="product_list.php">Footcare</a></div>
                                        </div>
                                        <div class="l-category has-sub-category">
                                            <div class="t-category">Clothing</div>
                                            <div><a href="product_list.php">All Clothing</a></div>
                                            <div><a href="product_list.php">Body Cleanser and Soap</a></div>
                                            <div><a href="product_list.php">Suncare</a></div>
                                            <div><a href="product_list.php">Footcare</a></div>
                                        </div>
                                        <div class="l-category has-sub-category">
                                            <div class="t-category">Clothing</div>
                                            <div><a href="product_list.php">All Clothing</a></div>
                                            <div><a href="product_list.php">Body Cleanser and Soap</a></div>
                                            <div><a href="product_list.php">Suncare</a></div>
                                            <div><a href="product_list.php">See All Clothing</a></div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-dropdown-icon">
                            <a href="product_list.php">Home</a>
                            <ul>
                                <li class="leftside">
                                    <p>SHOP BY</p>
                                    <ul>
                                        <li>
                                            <a href="product_list.php">Art</a>
                                        </li>
                                        <li>
                                            <a href="product_list.php">Bed &amp; Bath</a>
                                        </li>
                                        <li>
                                            <a href="product_list.php">Decoration</a>
                                        </li>
                                        <li>
                                            <a href="product_list.php">Dinning</a>
                                        </li>
                                        <li>
                                            <a href="product_list.php">Furniture</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="rightside">
                                    <p>Home</p>
                                    <div class="clearfix">
                                        <div class="l-category has-sub-category">
                                            <div class="t-category">Bed &amp; Bath</div>
                                            <div><a href="product_list.php">All Bed &amp; Bath</a></div>
                                            <div><a href="product_list.php">Body Cleanser and Soap</a></div>
                                            <div><a href="product_list.php">Suncare</a></div>
                                            <div><a href="product_list.php">Footcare</a></div>
                                            <div><a href="product_list.php">Accessories</a></div>
                                        </div>
                                        <div class="l-category has-sub-category">
                                            <div class="t-category">Bed &amp; Bath</div>
                                            <div><a href="product_list.php">All Bed &amp; Bath</a></div>
                                            <div><a href="product_list.php">Body Cleanser and Soap</a></div>
                                            <div><a href="product_list.php">Suncare</a></div>
                                            <div><a href="product_list.php">Footcare</a></div>
                                        </div>
                                        <div class="l-category has-sub-category">
                                            <div class="t-category">Bed &amp; Bath</div>
                                            <div><a href="product_list.php">All Bed &amp; Bath</a></div>
                                            <div><a href="product_list.php">Body Cleanser and Soap</a></div>
                                            <div><a href="product_list.php">Suncare</a></div>
                                            <div><a href="product_list.php">Footcare</a></div>
                                        </div>
                                        <div class="l-category has-sub-category">
                                            <div class="t-category">Bed &amp; Bath</div>
                                            <div><a href="product_list.php">All Bed &amp; Bath</a></div>
                                            <div><a href="product_list.php">Body Cleanser and Soap</a></div>
                                            <div><a href="product_list.php">Suncare</a></div>
                                            <div><a href="product_list.php">Footcare</a></div>
                                        </div>
                                        <div class="l-category has-sub-category">
                                            <div class="t-category">Bed &amp; Bath</div>
                                            <div><a href="product_list.php">All Bed &amp; Bath</a></div>
                                            <div><a href="product_list.php">Body Cleanser and Soap</a></div>
                                            <div><a href="product_list.php">Suncare</a></div>
                                            <div><a href="product_list.php">See All Bed &amp; Bath</a></div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="ss menu-dropdown-icon">
                            <a href="product_list.php">Specialty Shop</a>
                            <ul>
                                <li class="leftside">
                                    <p>SHOP BY</p>
                                    <ul>
                                        <li>
                                            <a href="product_list.php">Bookstore</a>
                                        </li>
                                        <li>
                                            <a href="product_list.php">Chocolates</a>
                                        </li>
                                        <li>
                                            <a href="product_list.php">Cigarettes</a>
                                        </li>
                                        <li>
                                            <a href="product_list.php">Florist</a>
                                        </li>
                                        <li>
                                            <a href="product_list.php">Gift Shop</a>
                                        </li>
                                        <li>
                                            <a href="product_list.php">Others</a>
                                        </li>
                                        <li>
                                            <a href="product_list.php">Photography</a>
                                        </li>
                                        <li>
                                            <a href="product_list.php">Precious Gems</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="rightside">
                                    <p>Kids</p>
                                    <div class="clearfix">
                                        <div class="l-category has-sub-category">
                                            <div class="t-category">Bed &amp; Bath</div>
                                            <div><a href="product_list.php">All Bed &amp; Bath</a></div>
                                            <div><a href="product_list.php">Body Cleanser and Soap</a></div>
                                            <div><a href="product_list.php">Suncare</a></div>
                                            <div><a href="product_list.php">Footcare</a></div>
                                            <div><a href="product_list.php">Accessories</a></div>
                                        </div>
                                        <div class="l-category has-sub-category">
                                            <div class="t-category">Bed &amp; Bath</div>
                                            <div><a href="product_list.php">All Bed &amp; Bath</a></div>
                                            <div><a href="product_list.php">Body Cleanser and Soap</a></div>
                                            <div><a href="product_list.php">Suncare</a></div>
                                            <div><a href="product_list.php">Footcare</a></div>
                                        </div>
                                        <div class="l-category has-sub-category">
                                            <div class="t-category">Bed &amp; Bath</div>
                                            <div><a href="product_list.php">All Bed &amp; Bath</a></div>
                                            <div><a href="product_list.php">Body Cleanser and Soap</a></div>
                                            <div><a href="product_list.php">Suncare</a></div>
                                            <div><a href="product_list.php">Footcare</a></div>
                                        </div>
                                        <div class="l-category has-sub-category">
                                            <div class="t-category">Bed &amp; Bath</div>
                                            <div><a href="product_list.php">All Bed &amp; Bath</a></div>
                                            <div><a href="product_list.php">Body Cleanser and Soap</a></div>
                                            <div><a href="product_list.php">Suncare</a></div>
                                            <div><a href="product_list.php">Footcare</a></div>
                                        </div>
                                        <div class="l-category has-sub-category">
                                            <div class="t-category">Bed &amp; Bath</div>
                                            <div><a href="product_list.php">All Bed &amp; Bath</a></div>
                                            <div><a href="product_list.php">Body Cleanser and Soap</a></div>
                                            <div><a href="product_list.php">Suncare</a></div>
                                            <div><a href="product_list.php">See All Bed &amp; Bath</a></div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" target="_blank">F &amp; B</a>
                        </li>
                        <li>
                            <a href="product_list.php">New Store</a>
                        </li>
                    </ul>
                </div>
            </div>
        </ul>
    </header>
