﻿@section styles{
    <style>
        div.grid-product > .col-sm-4 {
            display: none;
        }
    </style>
}
@{
    DynamicContent.Models.MainModel obj = new DynamicContent.Models.MainModel();  
    var tenant = obj.GetNowopen();
}
<div class="container-fluid">
    <div class="bread-crumb row">
        <div class="container">
            <ul class="">
                <li><a href="/">home</a></li>
                <li><a href="">now open</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="container">
    <h3 class="m-title text-left">now open</h3>
    
    
    <div class="clear"></div>
    <div class="grid-product">
        @{
            foreach (var t in tenant)
            {
                <div class="col-sm-4 tenant">
                    <div class="product" style="background:url(@t.image)no-repeat center center; background-size:cover; ">

                        @*<span class="helper"></span><img src="@images.images" />*@
                    </div>
                    <div class="desc">
                        <h4>@t.name</h4>
                        <p style="width:100%;text-overflow:ellipsis;height:100px;overflow: hidden;">@t.description</p>
                    </div>
                </div>
            }
        }
        
       
    </div>
    <div class="clear"></div>
    <div class="col-sm-12 text-center">
        <a href="" class="load-more hidden" id="loadMore">load more</a>
    </div>
</div>

@section scripts{
    <script>
    jQuery(document).ready(function ($) {
     
        var count = $("div.grid-product > .col-sm-4" ).length;
        $("div.grid-product > .col-sm-4").slice(0, 6).show();
        if (count > 6) {
            $('#loadMore').removeClass('hidden');
        }
        $("#loadMore").on('click', function (e) {
            e.preventDefault();
            $("div.grid-product > .col-sm-4:hidden").slice(0, 3).fadeIn('slow');
            if ($("div.grid-product > .col-sm-4:hidden").length == 0) {
                $("#loadMore").addClass('hidden');
            }
        });
    });
</script>
}

