﻿@using DynamicContent.Helper;
@section styles{
    <link rel='stylesheet' href='~/Content/css-pi/unite-gallery.css' type='text/css' />
    <style>
        div.grid-product > .col-sm-3 {
            display: none;
        }

        .ug-gallery-wrapper .ug-textpanel-description {
            color: transparent;
        }
    </style>
}
@{
    DynamicContent.Models.MainModel obj = new DynamicContent.Models.MainModel();
    string det = Request.QueryString["det"];
    int id;
    if (det == "true")
    {
        id = Convert.ToInt32(Request.QueryString["id"]);
    }
    else
    {
        id = Convert.ToInt32(ViewData["id-product"]);
    }
    var getId = obj.GetProductTmpByColor(id);
    int prodId = Convert.ToInt32(getId.product);
    var prod = obj.GetAllProductTmp2(prodId).ToArray();
    var imgShare = "";
    Object img;
    if (det == "true")
    {
        img = obj.GetProductImgTmpByColor(id);

    }
    else
    {
        img = obj.GetProductImgTmp(prodId).OrderBy(x => x.color);
    }
    var zoomer = obj.GetOneImgByColorTmp(id);
    var tenant = obj.GetTenant(prod[0].idtenant).FirstOrDefault();
    var tc = obj.GetTenantCategory(prod[0].tenant_category.ToString()).FirstOrDefault();
    //object ts;


    var category = tc.name;
    var url_cat = "";
}
<div class="container-fluid">
    <div class="bread-crumb row">
        <div class="container">
            <ul class="">
                <li><a href="/home">home</a></li>
                <li><a href="/category/@obj.stringToURL(category).ToLower()">@category</a></li>
                @{
                    if (prod[0].tenant_subcategory != null)
                    {
                        var ts = obj.GetTenantSubcategory(prod[0].tenant_subcategory.ToString(), tc.code).FirstOrDefault();
                        <li><a href="/category/@obj.stringToURL(category).ToLower()/@ts.id/@obj.stringToURL(ts.name)">@ts.name</a></li>

                    }
                }
                <li><a href="">@prod[0].name</a></li>

            </ul>
        </div>
    </div>
</div>
<div class="clear h20"></div>
<div class="container fashion-detail">
    <div class="col-sm-6">
        <div id="gallery" style="display:none; height:600px !important;">
            @{
                foreach (var item in img as IEnumerable<_object.ProductImg>)
                {
                    <img src="@item.images" data-image="@item.images" title="@item.color">
                    imgShare = item.images;
                }
            }
        </div>
    </div>
    <input type="hidden" value="@id" id="idColor" />
    <div class="col-sm-6 desc-product">
        <p class="bold title">@tenant.name</p>
        <p class="sub-title">@prod[0].name</p>
        <p class="price">
            @obj.priceCheck(prod[0].price)
        </p>
        <hr style="margin-bottom:20px;" />
        <form role="form" class="form-inline">
            <ul class="size">
                @*<li>@szCount</li>*@
                @{
                    IList<string> size = (prod[0].size).Split(',').ToList<string>();
                    var count = size.Count();
                    var i = 0;
                    foreach (var s in size)
                    {
                        <li>
                            <input type="radio" value="@s" class="input-select-size" id="squared-@i" name="size" @((count == 1) ? "checked" : "") />
                            <label for="squared-@i" class="label-select-size">@s</label>
                        </li>
                        i++;
                    }
                }
            </ul>
            <div class="clear"></div>
            <ul class="color">
                @{
                    var color = obj.GetProductColorTmp(prod[0].id);
                    foreach (var c in color)
                    {
                        var checkimg = obj.GetProductImgColorTmp(c.ID).Count();
                        if (checkimg > 0 && c.color != "default")
                        {
                            <a href="/product/preview?id=@c.ID&det=true"><li style="background-color:@c.color;"></li></a>
                        }
                    }
                }

            </ul>

            <div class="form-group w100">
                <label style="float:left; margin-right:10px; line-height: 29px;">Qty</label>
                <input style="width:50px; margin-right:10px; float:left;" type="text" class="form-control" name="qty" id="qty" value="1" required>
                <div style="position:relative; float:left;">
                    <div id="addTocart" class="btn" onclick="" style="position:relative">
                        <span class="fa fa-shopping-cart"></span> add to cart
                    </div>
                    @{
                        if (size.Count() > 1)
                        {
                            <div id="showSize" style="display:none;position:absolute; width:100%; top:-60px; left:0; z-index:99">
                                <h5 style="background-color:#808080; color:#fff; padding:10px; margin-bottom:0;">Select Size</h5>
                                <select name="size" size=4 class="form-control Selectsize" id="Selectsize">
                                    @{
                            foreach (var s in size)
                            {
                                <option value='@s'>@s.ToUpper()</option>
                            }
                                    }
                                </select>
                            </div>
                        }
                        else
                        {
                            <input type="hidden" class="form-control" name="size" id="Selectsize" value="all size">
                        }
                    }
                </div>
                <div class="btn wishlist"><span class="fa fa-heart"></span> wish list</div>
            </div>
        </form>
        <div class="clear h20 hidden-xs"></div>
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">description</a>
                    </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse in">
                    <div class="panel-body">@Html.Raw(prod[0].description)</div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                            size &amp; fit
                        </a>
                    </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse">
                    <div class="panel-body">@Html.Raw(prod[0].size_fit)</div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse3">LOCATION</a>
                    </h4>
                </div>
                <div id="collapse3" class="panel-collapse collapse">
                    <div class="panel-body">
                        @tenant.name @*- @tenant.description*@<br />
                        @tenant.locationname<br />
                        @*Telephone : @tenant.phone*@
                    </div>
                </div>
            </div>
        </div>
        <div class="clear "></div>
        <div class="share">
            <div>Share :</div>
            <span class="h20 clear visible-xs"></span>
            <div><span class="fa fa-facebook"></span></div><div><span class="fa fa-twitter"></span></div>
            <div><span class='fa fa-pinterest' displaytext='Pinterest'></span></div>
        </div>
    </div>
</div>
@section scripts{
    <script type='text/javascript' src='~/Scripts/js/unitegallery.js'></script>
    <script type='text/javascript' src='~/Scripts/js/ug-theme-compact.js'></script>
    <script src="~/Scripts/js/jquery.elevatezoom.js"></script>
    <script>

        var api;
        var gal;
        var cur;
        $(document).ready(function () {

            api = $("#gallery").unitegallery({
                gallery_theme: "compact",
                theme_panel_position: "left",
                gallery_min_height: 500,

                slider_scale_mode: "fit",
                slider_enable_play_button: false,
                slider_enable_zoom_panel: false,
                slider_controls_always_on: false,
                strippanel_enable_handle: false,
                slider_fullscreen_button_offset_hor: 20,

                //thumbs options

                thumb_width: 60,
                thumb_height: 80,
                thumb_fixed_size: false,

                strippanel_padding_top: 0,

            });
            api.selectItem(0);
            var selectedfirst = api.getItem(0);
            gal = selectedfirst;
            cur = 0;
            var currentImage;
            currentImage = $("img[src='" + selectedfirst.urlImage + "']");
            var urlimages = selectedfirst.urlImage;
            currentImage.addClass("elevate");

            //if (currentImage.length > 2) {
            //    currentImage[1].remove();
            //}
            $.each(currentImage, function (i, val) {
                if (currentImage.length > 2) {
                    if (i == 1) {
                        $(this).removeClass("elevate");
                    }
                }

            });
            if (isMobileDevice() != true) {
                $(".elevate").elevateZoom();
            }
           

            api.on("item_change", function (num, data) {
                $(".elevate").removeClass("elevate");
                $.removeData(urlimages, 'elevateZoom');
                $('.zoomContainer').remove();
                var selectedfirst = api.getItem(num);
                currentImage = $("img[src='" + selectedfirst.urlImage + "']").not('.ug-thumb-image');
                currentImage.addClass("elevate");
                if (category != "jewelries_watches") {
                    if (isMobileDevice() != true) {
                        $(".elevate").elevateZoom();
                    }

                }
                for (var key in data) {
                    var value = data['description'];
                    console.log(value);
                    document.getElementById('idColor').value = value;
                    $(".ug-item-wrapper").removeClass("imgBox");
                    $(".ug-item-wrapper").addClass("imgBox");
                    $(".ug-item-wrapper > img").attr("data-origin", "");
                    $(".ug-item-wrapper > img").attr("data-origin", data["urlImage"]);

                }
                $(".ug-item-wrapper > img").attr("oncontextmenu", "return false;");

            });
            api.on("enter_fullscreen", function () {
                $(".ug-item-wrapper > img").removeClass("elevate");
                $(".ug-item-wrapper > img").attr("oncontextmenu", "return false;");
            });
            api.on("exit_fullscreen", function () {	//on exit fulscreen

                for (var key in gal) {
                    var value = data['description'];
                    console.log(value);
                    document.getElementById('idColor').value = value;
                    $(".ug-item-wrapper").removeClass("imgBox");
                    $(".ug-item-wrapper").addClass("imgBox");
                    $(".ug-item-wrapper > img").attr("data-origin", "");
                    $(".ug-item-wrapper > img").attr("data-origin", data["urlImage"]);

                }
                $(".ug-item-wrapper > img").attr("oncontextmenu", "return false;");
            });
            $(".ug-item-wrapper > img").attr("oncontextmenu", "return false;");

        });
        $(function () {
            $('.piclist li').on('click', function (event) {
                var $pic = $(this).find('img');
                $('.drift-demo-trigger').attr('src', $pic.attr('src'));
                $('.drift-demo-trigger').attr('data-zoom', $pic.attr('src'));
            });
            $('.picZoomer-pic-wp').append('<span class="helper"></span>');

        });
        function AddToCartDetail() {
            var checkboxes = document.getElementsByName('size');
            var idc = document.getElementById('idColor').value;
            var sizes = "";
            for (var i = 0, n = checkboxes.length; i < n; i++) {
                if (checkboxes[i].checked) {
                    sizes += "," + checkboxes[i].value;
                }
            }
            if (sizes) sizes = sizes.substring(1);
            if (sizes == "") {
                alert("Please Select Size"); return false;
            } else {
                var qty = $('#qty').val();
                $.ajax({
                    url: '/customer/AddToCartDetail',
                    data: { id: idc, qty: qty, size: sizes }
                }).done(function (response) {
                    if (response.responseText == "Not Loggin in") {
                        window.location.href = "@Url.Action("login","customer")" + "?msg=nolog";
                    }
                    else {
                        reloadCartDetail();
                        reloadItem();
                    }
                });
            }
        }

        function AddToWishlist(id) {
            $.ajax({
                url: '/customer/AddToWishlist',
                data: { id: id }
            }).done(function () {
                //alert(data);
            });
        }
    </script>
}



