﻿@using DynamicContent.Helper;

@section styles{
    <link rel='stylesheet' href='~/Content/css-pi/unite-gallery.css' type='text/css' />
    <style>
        div.grid-product > .col-sm-3 {
            display: none;
        }

        .ug-gallery-wrapper .ug-textpanel-description {
            color: transparent;
        }
    </style>
}
@{
    DynamicContent.Models.MainModel obj = new DynamicContent.Models.MainModel();
    DynamicContent.Models.Entities db = new DynamicContent.Models.Entities();
    int id = Convert.ToInt32(ViewData["id-product"]);
    var getId = obj.GetProductByColor(id);
    int maxQty = 0;
    int prodId = Convert.ToInt32(getId.product);
    var prod = obj.GetAllProduct(prodId).ToArray();
    string det = Request.QueryString["det"];
    bool isFlashSale = (bool)ViewBag.IsFlashSale;
    double DiffHours = 0;
    var imgShare = "";
    Object img;
    if (det == "true")
    {
        img = obj.GetProductImgByColor(id);

    }
    else
    {
        img = obj.GetProductImg(prodId).OrderBy(x => x.color);
    }
    var zoomer = obj.GetOneImgByColor(id);
    var tenant = obj.GetTenant(prod[0].idtenant).FirstOrDefault();
    var tc = obj.GetTenantCategory(prod[0].tenant_category.ToString()).FirstOrDefault();
    var category = tc.name;
    var url_cat = "";
    Session["imgpath"] = null;
    Session["captionpath"] = null;
    Session["urlpath"] = HttpContext.Current.Request.Url.AbsoluteUri;
}
<input type="hidden" id="category" value="@obj.stringToURL(category).ToLower()" />

<div class="container-fluid">
    <div class="bread-crumb row">
        <div class="container">
            <ul class="">
                <li><a href="/home">home</a></li>
                <li><a href="/category/@obj.stringToURL(category).ToLower()?pr=@tc.code.ToLower()&list=all">@category</a></li>
                @{
                    if (prod[0].tenant_subcategory != null)
                    {
                        @*var ts = obj.GetTenantSubcategory(prod[0].tenant_subcategory.ToString(), tc.code).FirstOrDefault();
                            <li><a href="/category/@obj.stringToURL(category).ToLower()/@ts.id/@obj.stringToURL(ts.name)">@ts.name</a></li>*@
                        @*<li><a href="">@prod[0].tenant_subcategory @tc.code</a></li>*@
                var submenuid = prod[0].tenant_subcategory;
                var submenu = db.tbl_submenu.Where(x => x.ID == submenuid).FirstOrDefault();
                <li><a href="/category/@obj.stringToURL(category).ToLower()/@submenuid/@obj.stringToURL(submenu.name)">@submenu.name.ToUpper()</a></li>
                    }

                }

                <li><a href="">@prod[0].name</a></li>

            </ul>
        </div>
    </div>
</div>
<div class="clear h20"></div>
<div class="container fashion-detail">

    <div class="col-sm-6">

        <div id="gallery" style="display:none; height:600px !important;">
            @{
                foreach (var item in img as IEnumerable<_object.ProductImg>)
                {
                    <img src="@item.images" @*data-zoom-image="@item.images"*@ data-image="@item.images" title="@item.color">
                    imgShare = item.images;
                    //Session["imgpath"] = "http://pi.demobatavianet.com/" + imgShare;
                    Session["imgpath"] = "http://" + Request.Url.Authority + imgShare;
                }
            }
        </div>
    </div>
    <input type="hidden" value="@id" id="idColor" />
    <input type="hidden" value="@Request.QueryString["action"]" id="action" />
    <input type="hidden" value="@Request.QueryString["det"]" id="det" />

    <div class="col-sm-6 desc-product">
        @if (isFlashSale)
        {
            var flashSaleData = (DynamicContent.Models.FlashSaleHeader)ViewBag.FlashSaleData;
            var timeNow = (TimeSpan)ViewBag.TimeNow;
            var Diff = (flashSaleData.FlashSaleTimeEnd - timeNow);
            DiffHours = Diff.Value.TotalSeconds;

            <div class="inline-block v-middle block480 mb0">
                <div class="h40">
                    <div class="tbl">
                        <div class="cell">
                            <div class="t-flash" style="text-transform: uppercase;color: #a9995f;font-weight: bold;font-size: 20px;">FLASH DEAL</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="inline-block v-middle ml10 block480 mb0">
                <div class="clock"></div>
            </div>

        }
        <p class="bold title">@tenant.name</p>
        <p class="sub-title">@prod[0].name</p>
        @if (isFlashSale)
        {
            var FlashSaleDetail = (DynamicContent.Models.FlashHeaderDetail)ViewBag.FlashSaleDetail;
            <p class="price">
                <strike>@obj.priceCheck(prod[0].price)</strike>
            </p>
            <p class="price">
                IDR. @FlashSaleDetail.price_new
            </p>
            @Html.Hidden("maxQty", FlashSaleDetail.qty);
        }
        else
        {
            @Html.Hidden("maxQty", "-1");
            <p class="price">
                @obj.priceCheck(prod[0].price)
            </p>
        }
        <hr style="margin-bottom:20px;" />
        <form role="form" class="form-inline">
            <p>Choose Size :</p>
            <ul class="size">
                @*<li>@szCount</li>*@
                @{
                    IList<string> size = (prod[0].size).Split(',').ToList<string>();
                    var count = size.Count();
                    var i = 0;
                    foreach (var s in size)
                    {
                        @*if (@s == "No Size")
                            {
                                <li>
                                    <input type="radio" value="@s" class="input-select-size" id="squared-@i" name="size" @((count == 1) ? "checked" : "") />
                                    <label for="squared-@i" class="label-select-size" hidden>@s</label>
                                </li>
                            }*@

                        <li>
                            <input type="radio" value="@s" class="input-select-size" id="squared-@i" name="size" @((count == 1) ? "checked" : "") />
                            <label for="squared-@i" class="label-select-size">@s</label>
                        </li>

                        i++;
                    }
                }
            </ul>
            <div class="clear"></div>
            @{
                var color = obj.GetProductColor(prod[0].id);
                if ((color.FirstOrDefault().color != "default") && (color.FirstOrDefault().color != ""))
                {
                    <p>Choose Color :</p>
                }
            }

            <ul class="color">
                @{
                    if ((color.FirstOrDefault().color != "default") && (color.FirstOrDefault().color != ""))
                    {
                        foreach (var c in color)
                        {
                            var checkimg = obj.GetProductImgColor(c.ID).Count();
                            if (checkimg > 0 && c.color != "default")
                            {
                                var border = "";
                                if (det == "true" && c.ID == id)
                                {
                                    border = "border:4px solid #f0a677;";
                                }
                                <a href="/product/@c.ID/@obj.stringToURL(prod[0].name).ToLower()?det=true"><li style="background-color:@c.color; @border"></li></a>
                                //<input type="hidden" class="cb" value="http://pi.demobatavianet.com/product/@c.ID/@obj.stringToURL(prod[0].name).ToLower()" />
                                <input type="hidden" class="cb" value="http://@Request.Url.Authority/product/@c.ID/@obj.stringToURL(prod[0].name).ToLower()" />
                                <input type="hidden" id="imgShare" class="linkFoto" value="@Session["imgpath"]" />

                            }
                            else
                            {
                                //<input type="hidden" class="cb" value="http://pi.demobatavianet.com/product/@c.ID/@obj.stringToURL(prod[0].name).ToLower()" />
                                <input type="hidden" class="cb" value="http://@Request.Url.Authority/product/@c.ID/@obj.stringToURL(prod[0].name).ToLower()" />
                                <input type="hidden" id="imgShare" class="linkFoto" value="@Session["imgpath"]" />
                            }
                        }
                    }
                }

            </ul>

            <div class="form-group w100">
                <div class="divQty">
                    <label style="float:left; margin-right:10px; line-height: 29px;">Qty</label>
                    <input style="width:50px; margin-right:10px; float:left; padding:6px;" type="text" class="form-control text-center" name="qty" id="qty" value="1" required>
                </div>
                <div class="visible-xs-block h10 clear "></div>
                @{
                    var isjoin = db.TenantMaster.Where(x => x.TenantID == tenant.id).FirstOrDefault();
                    if (isjoin.isReserve == "Y")
                    {
                        <div class="divAddToCart btn">

                            <div id="addTocart" class="">
                                <span class="fa fa-shopping-cart"></span> add to cart
                            </div>
                            @{
                                if (size.Count() > 1)
                                {
                                    <div id="showSize" style="display:none;position:absolute; width:100%; top:-60px; left:0; z-index:99">
                                        <h5 style="background-color:#808080; color:#fff; padding:10px; margin-bottom:0;">Select Size</h5>
                                        <select name="size" size=4 class="form-control Selectsize" id="Selectsize">
                                            @{
                                                foreach (var s in size)
                                                {
                                                    <option value='@s'>@s.ToUpper()</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                                }
                                                else
                                                {
                                                    <input type="hidden" class="form-control" name="size" id="Selectsize" value="all size">
                                                }
                            }
                        </div>
                                                }
                }
                <div class="visible-xs-block h10 clear "></div>
                <div data-toggle="modal" onclick="AddToWishlist('@prod[0].id');" data-target="#m-wishlist" class="btn wishlist divWishlist"><span class="fa fa-heart"></span> wish list</div>
            </div>
        </form>
        <div class="clear h10"></div>
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">description</a>
                    </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse in">
                    <div class="panel-body" id="description">@Html.Raw(prod[0].description)</div>
                    @{
                        Session["captionpath"] = Html.Raw(prod[0].description);
                    }
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                            size &amp; fit
                        </a>
                    </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse">
                    <div class="panel-body">@Html.Raw(prod[0].size_fit)</div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse3">LOCATION</a>
                    </h4>
                </div>
                <div id="collapse3" class="panel-collapse collapse">
                    <div class="panel-body">
                        @tenant.name @tenant.description<br />
                        @tenant.locationname<br />
                        @*Telephone : @tenant.phone*@
                    </div>
                </div>
            </div>
        </div>
        <div class="clear "></div>
        <div class="share">
            <div class="lblShare">Share :</div>
            <span class="h20 clear visible-xs"></span>
            <div class="fb-share"><span class="fa fa-facebook"></span></div>
            <div class="twitter-share"><span class="fa fa-twitter"></span></div>
            @*<div class="st_pinterest_custom"><span class='' displaytext='Pinterest'></span></div>
            <a href="https://partner.path.com/oauth2/authenticate?response_type=code&client_id=449d6b103a4a1bd33308a0ab89028897285fd863"><div class="path"><span class="fa fa-path"></span></div></a>*@
        </div>
    </div>
</div>
@section scripts{

    <script type='text/javascript' src='~/Scripts/js/unitegallery.js'></script>
    <script type='text/javascript' src='~/Scripts/js/ug-theme-compact.js'></script>
    <script src="~/Scripts/flashDeal.js"></script>
    <script>
        $(document).ready(function () {
            var api;
            var gal;
            var cur;
            $('.input-select-size').click(function () {
                sessionStorage.setItem("currentSize", $(this).val());
            });
            var obj = sessionStorage.currentSize;
            var det = $("#det").val();
            //alert(@Request.QueryString["det"]);
            if (det == "true") {
                $('.input-select-size').each(function () {
                    if ($(this).val() == obj) {
                        this.setAttribute("checked", "checked");
                    }
                });
            }
            $(document).ready(function () {

                var category = $('#category').val();
                if (category == "jewelries_watches") {
                    api = $("#gallery").unitegallery({
                        slider_enable_fullscreen_button: false,
                        slider_control_zoom: false,
                        gallery_theme: "compact",
                        theme_panel_position: "left",
                        gallery_min_height: 500,

                        slider_scale_mode: "fit",
                        slider_enable_play_button: false,
                        slider_enable_zoom_panel: false,
                        slider_controls_always_on: false,
                        strippanel_enable_handle: false,
                        slider_fullscreen_button_offset_hor: 20,

                        //thumbs options

                        thumb_width: 60,
                        thumb_height: 80,
                        thumb_fixed_size: false,

                        strippanel_padding_top: 0,

                    });
                } else {

                    api = $("#gallery").unitegallery({
                        gallery_theme: "compact",
                        theme_panel_position: "left",
                        gallery_min_height: 500,

                        slider_scale_mode: "fit",
                        slider_enable_play_button: false,
                        slider_enable_zoom_panel: false,
                        slider_controls_always_on: false,
                        strippanel_enable_handle: false,
                        slider_fullscreen_button_offset_hor: 20,

                        //thumbs options

                        thumb_width: 60,
                        thumb_height: 80,
                        thumb_fixed_size: false,

                        strippanel_padding_top: 0,

                    });
                    //$('.ug-slide-wrapper').imgZoom();
                }
                api.selectItem(0);
                var selectedfirst = api.getItem(0);
                gal = selectedfirst;
                cur = 0;
                var currentImage;
                //$(".ug-item-wrapper").removeClass("imgBox");
                //$(".ug-item-wrapper").addClass("imgBox");
                //$(".ug-item-wrapper > img").attr("data-origin", selectedfirst.urlImage);
                currentImage = $("img[src='" + selectedfirst.urlImage + "']").not('.ug-thumb-image');
                //if gallery only 1 pic, prevent zoom on side
                if (currentImage.length > 1) {
                    currentImage.splice(0, 1);
                }
                var urlimages = selectedfirst.urlImage;
                currentImage.addClass("elevate");
                if (category != "jewelries_watches") {
                    //if (currentImage.length > 2) {
                    //    currentImage[1].remove();
                    //}
                    //$.each(currentImage, function (i, val) {
                    //    if (currentImage.length > 1) {
                    //        if (i == 1) {
                    //            $(this).removeClass("elevate");


                    //        }
                    //    }
                    //})
                        //});
                        if (isMobileDevice() != true) {
                            $(".elevate").elevateZoom();
                        }



                }
                api.on("item_change", function (num, data) {
                    $(".elevate").removeClass("elevate");
                    $.removeData(urlimages, 'elevateZoom');
                    $('.zoomContainer').remove();
                    var selectedfirst = api.getItem(num);
                    currentImage = $("img[src='" + selectedfirst.urlImage + "']").not('.ug-thumb-image');
                    currentImage.addClass("elevate");
                    if (category != "jewelries_watches") {
                        if (isMobileDevice() != true) {
                            $(".elevate").elevateZoom();
                        }

                    }
                    for (var key in data) {
                        var value = data['description'];
                        console.log(value);
                        document.getElementById('idColor').value = value;
                        $(".ug-item-wrapper").removeClass("imgBox");
                        $(".ug-item-wrapper").addClass("imgBox");
                        $(".ug-item-wrapper > img").attr("data-origin", "");
                        $(".ug-item-wrapper > img").attr("data-origin", data["urlImage"]);

                    }
                    $(".ug-item-wrapper > img").attr("oncontextmenu", "return false;");

                });
                api.on("enter_fullscreen", function () {
                    $(".ug-item-wrapper > img").removeClass("elevate");
                    $(".ug-item-wrapper > img").attr("oncontextmenu", "return false;");
                });
                api.on("exit_fullscreen", function () {	//on exit fulscreen

                    for (var key in gal) {
                        var value = data['description'];
                        console.log(value);
                        document.getElementById('idColor').value = value;
                        $(".ug-item-wrapper").removeClass("imgBox");
                        $(".ug-item-wrapper").addClass("imgBox");
                        $(".ug-item-wrapper > img").attr("data-origin", "");
                        $(".ug-item-wrapper > img").attr("data-origin", data["urlImage"]);

                    }
                    $(".ug-item-wrapper > img").attr("oncontextmenu", "return false;");
                });
                $(".ug-item-wrapper > img").attr("oncontextmenu", "return false;");

            });
            $(function () {
                $('.piclist li').on('click', function (event) {
                    var $pic = $(this).find('img');
                    $('.drift-demo-trigger').attr('src', $pic.attr('src'));
                    $('.drift-demo-trigger').attr('data-zoom', $pic.attr('src'));
                });
                $('.picZoomer-pic-wp').append('<span class="helper"></span>');

            });
             clock = $('.clock').FlipClock(@DiffHours, {
		// clockFace: 'DailyCounter',
            countdown: true,
            callbacks: {
                stop: function () {
                    // Do whatever you want to do here,
                    // that may include hiding the clock
                    // or displaying the image you mentioned
                   alert('Flash Deal ended')
                }
            }
	    });
            $("#addTocart").click(function () {
                var checkboxes = document.getElementsByName('size');
                var idc = document.getElementById('idColor').value;
                var sizes = "";
                for (var i = 0, n = checkboxes.length; i < n; i++) {
                    if (checkboxes[i].checked) {
                        sizes += "," + checkboxes[i].value;
                    }
                }
                if (sizes) sizes = sizes.substring(1);
                if (sizes == "") {
                    alert("Please Select Size"); return false;
                } else {
                    var qty = $('#qty').val();
                    var qtyMax = $("#maxQty").val();
                    if (qtyMax != "-1") {
                        if (qty > qtyMax) {
                            alert("Maximum quantity is " + qtyMax);
                            return;
                        }
                    }
                    $.ajax({
                        url: '/customer/AddToCartDetail',
                        data: { id: idc, qty: qty, size: sizes }
                    }).done(function (response) {
                        if (response.responseText == "Not Loggin in") {
                            window.location.href = "@Url.Action("login","customer")" + "?msg=nolog";
                        }
                        else {
                            if (response.responseText == "Qty 0") {
                                alert("Can't add to cart, Please select other item")
                            }
                            else {

                                setTimeout(function () {
                                    $('.dropdown').find('.dropdown-menu.cart').fadeIn(50);
                                    $('.dropdown').find('.dropdown-menu.cart').delay(100).fadeOut('fast');
                                    reloadCartDetail();
                                    reloadItem();
                                }, 500);
                            }
                        }
                    });
                }
            });
            function reloadCartDetail() {
                $.ajax({
                    url: '/customer/LoadCartDetail'
                }).done(function (data) {
                    //alert(data);
                    $(".totalCart").html("(" + data + ")");
                });
            }
            function reloadItem() {
                $.ajax({
                    url: '/customer/LoadItem'
                }).done(function (data) {
                    //alert('Loaded');
                    $("#listitem").html(data);
                });
            }
            function AddToWishlist(id) {
                var idc = document.getElementById('idColor').value;
                $.ajax({
                    url: '/customer/AddToWishlist',
                    data: { id: id, color: idc }
                }).done(function () {
                    //alert(data);
                });
            }
            var appid = @System.Configuration.ConfigurationManager.AppSettings["AppId"];
            $('.twitter-share').click(function () {
                //var url = "https://twitter.com/intent/tweet?url=" + $('.cb').val() + "&text=Look At @tenant.name on ";
                var url = "http://twitter.com/share?url=" + $('.cb').val() + "&amp;text=Look At @tenant.name on ";
                window.open(url, "Share Twitter", "height=500,width=600");
            });
            $('.fb-share').click(function () {
                var desc = $('#description').text();
                console.log(desc);
                var url = "https://www.facebook.com/dialog/feed?app_id=" + appid + "&display=popup&link=" + $('.cb').val() + "&redirect_uri=" + $('.cb').val() + "?action=close_window&picture=" + $('.linkFoto').val() + "&name=PLAZA INDONESIA WEBSITE | @tenant.name&caption=@prod[0].name.ToUpper()&description=" + desc;
                window.open(url, "Share Facebook", "height=500,width=600");
            });
            if ($("#action").val() == 'close_window') window.close();
        });
    </script>
}



