﻿@using DynamicContent.Helper;
@{
    DynamicContent.Models.MainModel obj = new DynamicContent.Models.MainModel();
    ViewBag.Title = "My Reservations";
    var firstName = Session["firstName"];
    var lastName = Session["lastName"];
    int userId = Convert.ToInt32(Session["userIdLogin"]);
    var user = obj.GetUserActive(userId);
    string msg = TempData["msg"] != null ? TempData["msg"].ToString() : "";
}

<div class="container-fluid">
    <div class="bread-crumb row">
        <div class="container">
            <ul class="">
                <li><a href="/">home</a></li>
                <li><a href="">My Reservations</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="clear hidden-xs" style="height:40px;"></div>
<div class="container">
    <div class="row">
        <div class="container reservation mycart wishlist">
            <div class="row">
                <div class="col-sm-12">
                    <div class="headers">
                        <div class="col-sm-4"><div class="circle gold">1</div><div class="label">my cart</div></div>
                        <div class="col-sm-5"><div class="circle gold">2</div><div class="label">confirmation</div></div>
                        <div class="col-sm-3"><div class="circle gold">3</div><div class="label">finish</div></div>
                    </div>
                    <div class="clear" style="height:40px;"></div>
                    <div class="grey">
                        <div style="display:inline-block"><img src="/images/bag.png" style="width:100%;" /></div>
                        <div style="display:inline-block; margin-left:20px;">
                            <p class="text-left bold font20">Successful reservation!</p>
                            <br />
                            <p class="text-left">
                                Thank you for making reservation with Plaza Indonesia E-Shop, <br /> our valued tenant will contact you to follow up on your<br /> reservation.<br />
                                If you have not being contacted within 3 days, please<br /> email to <a class="link bold" href="mailto:info@plazaindonesia.com">info@plazaindonesia.com</a>
                                <div class="clear h20"></div>
                                <div>
                                    <a class="load-more floatL btn-shop" href="/home">Continue shopping <div class="inline-block"><i class="fas fa-angle-right"></i></div></a>
                                    <div class="clear visible-xs h10"></div>
                                </div>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

