﻿@section styles{
    <style>
        div.grid-product > .col-sm-3 {
            display: none;
        }
    </style>
<link href="~/Content/css-pi/style.css" rel="stylesheet" />
}
@{
    DynamicContent.Models.MainModel obj = new DynamicContent.Models.MainModel();
    DynamicContent.Models.Entities db = new DynamicContent.Models.Entities();

    var find = ViewData["find"].ToString().ToLower();
    //var prod = obj.GetProductPi().Where(p => p.name.ToLower().Contains(find)).OrderByDescending(t=>t.created_date);
    IEnumerable<DynamicContent.Models.tbl_product> prod = null;
    if (Request.QueryString["cat"] != null)
    {
        var d = Request.QueryString["cat"].Split('.');
        var tenatCategory = obj.GetTenantCategoryIdByCode(d[0].ToUpper());
        prod = (from r in db.tbl_product
                join t in db.tbl_tenant on r.tenant equals t.ID
                //join c in db.TypeMasters on r.category equals c.ID
                where r.tenant_category == tenatCategory.ID && 
                (r.name.ToLower().Contains(find)
                || t.name.ToLower().Contains(find))
                //|| c.TypeValue.ToLower().Contains(find))
                && r.status == true && r.approved == true
                orderby r.created_date descending
                select r);
    } else{
        prod = (from r in db.tbl_product
                join t in db.tbl_tenant on r.tenant equals t.ID
                //join c in db.TypeMasters on r.category equals c.ID
                where (r.name.ToLower().Contains(find)
                || t.name.ToLower().Contains(find))
                //|| c.TypeValue.ToLower().Contains(find))
                && r.status == true && r.approved == true
                orderby r.created_date descending
                select r);
    }

    var catList = new List<string>();
    var tenantList = new List<string>();
    foreach (var id in
        prod.Select(x => new { x.tenant})
        .Distinct()
        )
    {
        tenantList.Add(id.tenant.ToString());
    }
    foreach (var id in
        prod.Select(x => new { x.category })
        .Distinct()
        )
    {
        catList.Add(id.category.ToString());
    }
    string idcat = string.Join(",", catList.ToArray());
    string idtenant = string.Join(",", tenantList.ToArray());
    var tenant = obj.ProdTenantByCategory(idtenant);
    var tenantCategory = db.tbl_TenantCategory.OrderBy(x => x.name);
}

<div class="container-fluid">
    <div class="bread-crumb row">
        <div class="container">
            <ul class="">
                <li><a href="/">home</a></li>
                <li><a href="/home">search</a></li>
                <li><a>@find.ToUpper() </a></li>
            </ul>
        </div>
    </div>
</div>
@*<div class="container">
        <h3 class="m-title text-left">search result for : @find.ToUpper()</h3>
        <hr />
        <div class="filter">
            <label>Sort By Category</label>
            <select id="selCategory">
                <option value="all">Select Category</option>
                @{
                    var items = obj.GetProdType(idcat);
                    if (items != null)
                    {
                        foreach (var c in items.Select(y => new { typeValue = y.typeValue.ToLower() }).Distinct().OrderBy(y => y.typeValue))
                        {
                            <option value="@c.typeValue">@c.typeValue.ToUpper()</option>
                        }
                    }
                }
            </select>
        </div>
        <div class="filter">
            <label>Sort By Brand</label>
            <select id="selBrand">
                <option value="all">Select Brand</option>
                @{
                    if (tenant != null)
                    {
                        foreach (var b in tenant.OrderBy(x=>x.name))
                        {
                            <option value="@obj.stringToURL(b.name)">@b.name.ToUpper()</option>
                        }
                    }
                }
            </select>
        </div>
        <div class="clear h10"></div>
        <div class="grid-product">
             div 1
            <div class="text-center hidden notFound"><img src="/images/product-not-found.jpg" /></div>
            @{
                var i = 0;
                if (prod != null)
                {
                    foreach (var p in prod)
                    {
                        var tenantName = obj.GetTenant(p.tenant).FirstOrDefault();
                        var gender = ((@p.gender == "unisex") ? "women men" : @p.gender);
                        var images = obj.GetOneImg(p.ID);
                        var category = obj.GetProdCategoryTenant(p.category.ToString());
                        var typemaster = db.TypeMasters.Where(x => x.ID == p.category);
                        IList<string> size = (p.size).Split(',').ToList<string>();
                        if (images != null)
                        {
                            <div class="col-sm-3 @p.category @typemaster.FirstOrDefault().TypeValue.ToLower() @gender @obj.stringToURL(tenantName.name)">

                                <div class="product" style="background:url(@images.images)no-repeat center center; background-size:100%; ">
                                    <div class="overlay">
                                        <a href="/product/@images.color/@obj.stringToURL(p.name).ToLower()" class="see-detail">see detail</a>
                                    </div>
                                    <div class="two-circle">
                                        <div class="cart" onclick="AddToCartDetail(@images.color, 1, '@size[0]');" data-placement="bottom" data-toggle="tooltip" title="Add to cart"><i class="glyphicon glyphicon-shopping-cart"></i></div>
                                        <a href="#" onclick="AddToWishlist('@p.ID', '@images.color');" data-toggle="modal" data-target="#m-wishlist"><div class="love" data-placement="bottom" data-toggle="tooltip" title="Add to wishlist"><i class="glyphicon glyphicon-heart"></i></div></a>
                                    </div>
                                </div>
                                <div class="desc">
                                    <h4>@tenantName.name</h4>
                                    <p class="s-desc">@p.name</p>
                                    <p class="s-price">
                                        @obj.priceCheck(p.price)
                                    </p>
                                </div>
                                <div class="pallete">
                                    @{
                                        var color = obj.GetProductColor(p.ID);
                                        foreach (var c in color)
                                        {
                                            if ((c.color != "") && (c.color != "default"))
                                            {
                                                <div class="item" style="background-color:@c.color;"></div>
                                            }
                                            else
                                            {

                                            }

                                        }
                                    }
                                </div>
                            </div>
                            }
                            i++;
                        }
                    }

            }


        </div>
        <div class="clear"></div>
        <div class="col-sm-12 text-center">
            <a href="" class="load-more hidden" id="loadMore">load more</a>
        </div>
    </div>*@

<div class="container">
    <h3 class="m-title text-left floatL">search result for : @find.ToUpper() </h3>
    <div class="clear"></div>
    @{        
        <div class="clear"></div>
                <div class="product-list-menu" >
                    <div class="product-list-title">
                        <div class="product-list-results">
                            <span class="product-list-results-container">
                                <span class="total-number-of-products" id="totalResult">@prod.Count()</span>&nbsp;
                                <span class="total-results-message">Results </span>
                                <input type="hidden" value="@prod.Count()" name="totalResult" />
                            </span>
                        </div>
                    </div>
                    <hr />
                </div>
                <div class="clear"></div>
                <div class="filter col-sm-3 col-xs-12">
                    <select name="sortOrder" class="sortOrder">
                        <option value="" selected="selected">Sort by</option>
                        <option value="new-in">New in</option>
                        <option value="price-desc">Price High to Low</option>
                        <option value="price-asc">Price Low to High</option>
                    </select>
                </div>
                <div class="clear"></div>
                <div class="col-sm-3 col-xs-12 leftFilter">
                    @{
                        <ul id="subnav" class="category-nav nav-section filter">
                            <li class="all">
                                <a href="/search/?find=@find">ALL</a>
                            </li>
                           @{
                               foreach (var item in tenantCategory)
                               {
                                <li class="">
                                    <a href="/search/?find=@find&cat=@item.code.ToLower().@obj.stringToURL(item.name)">
                                        @obj.wordsUpper(item.name)
                                    </a>
                                </li>
                               }
                        }
                        </ul>
                    }
                    @{
                        if (tenant != null)
                        {
                            <ul class="category-nav nav-section filter stores">
                                <h5><b>STORES</b></h5>
                                @{
                                    foreach (var b in tenant.OrderBy(t => t.name))
                                    {
                                        <li value="@obj.stringToURL(b.name)"><input type="checkbox" id="@obj.stringToURL(b.name)" class="filterStores" /> <label for="@obj.stringToURL(b.name)">@b.name.ToUpper()</label></li>
                                    }
                                }
                            </ul>
                                    }
                    }

                </div>
                <div class="grid-product col-sm-9 col-xs-12">
                    <div class="wait">
                        <div class="text-center" style="padding-top:20%"><img src="~/images/icon-loading.gif" /></div>
                    </div>
                    <!-- div 1-->
                    <div class="text-center hidden notFound"><h5 class="m-title floatL">Sorry, no product found</h5></div>
                    @{
                        if (prod != null)
                        {
                            var i = 0;
                            foreach (var p in prod)
                            {
                                var tenantName = obj.GetTenant(p.tenant).FirstOrDefault();
                                string gender = "";
                                if (p.tenant_category == 8)
                                {
                                    if (p.gender == "unisex")
                                    {
                                        gender = "girl boys";
                                    }
                                    else if (p.gender == "women")
                                    {
                                        gender = "girl";
                                    }
                                    else
                                    {
                                        gender = "boys";
                                    }
                                }
                                else
                                {
                                    gender = ((p.gender == "unisex") ? "women men" : p.gender);
                                }
                                var images = obj.GetOneImg(p.ID);
                                var price = ((p.price == "price upon request") ? 0 : Convert.ToDecimal(p.price));
                                IList<string> size = (p.size).Split(',').ToList<string>();
                                if (images != null)
                                {
                                    var category = db.TypeMasters.Where(x => x.ID == p.category).FirstOrDefault();
                                    string catdesc = "";
                                    string catval = "";
                                    if (category != null)
                                    {
                                        catdesc = category.TypeDesc;
                                        catval = category.TypeValue;
                                    }
                                    <div class="col-sm-3 @obj.stringToURL(catdesc) @gender @obj.stringToURL(tenantName.name)" data-price="@price" data-date="@i">
                                        <div class="product" onclick="" style="background:url('@images.images')no-repeat center center; background-size:contain; ">
                                            <div class="overlay">
                                                @{
                                                    var isjoin = db.TenantMaster.Where(x => x.TenantID == p.tenant).FirstOrDefault();
                                                    if (isjoin.isReserve == "Y")
                                                    {
                                                        <a href="/product/@images.color/@obj.stringToURL(p.name).ToLower()" class="see-detail">see detail</a>
                                                    }
                                                    else
                                                    {
                                                        if (isjoin.isReserve != null)
                                                        {
                                                            <a href="@isjoin.TenantUrl" target="_blank" class="see-detail">see detail</a>
                                                        }
                                                        else
                                                        {
                                                            <a href="#" class="see-detail">see detail</a>
                                                        }
                                                    }
                                                }
                                                @*<a href="/product/@images.color/@obj.stringToURL(p.name).ToLower()" class="see-detail">see detail</a>*@
                                            </div>
                                            <div class="two-circle">
                                                @*<div class="cart" onclick="AddToCartDetail(@images.color, 1, '@size[0]');" data-placement="bottom" data-toggle="tooltip" title="Add to cart"><i class="glyphicon glyphicon-shopping-cart"></i></div>*@
                                                @{
                                                    if (isjoin.isReserve == "Y")
                                                    {
                                                        <div class="cart" onclick="AddToCartDetail(@images.color, 1, '@size[0]');" data-placement="bottom" data-toggle="tooltip" title="Add to cart"><i class="fa fa-shopping-cart"></i></div>
                                                    }
                                                    else
                                                    {
                                                        <a href="@isjoin.TenantUrl" target="_blank" class="cart" data-placement="bottom" data-toggle="tooltip" title="Add to cart"><i class="fas fa-shopping-cart"></i></a>
                                                    }
                                                }
                                                <a href="#" onclick="AddToWishlist('@p.ID', '@images.color');" data-toggle="modal" data-target="#m-wishlist"><div class="love" data-placement="bottom" data-toggle="tooltip" title="Add to wishlist"><i class="fas fa-heart"></i></div></a>
                                            </div>
                                        </div>
                                        <div class="desc">
                                            <h4>@tenantName.name.ToUpper()</h4>
                                            <p class="s-desc">@p.name</p>
                                            <p class="s-price">
                                                @obj.priceCheck(p.price)
                                            </p>
                                        </div>
                                        <div class="pallete">
                                            @{
                                                var color = obj.GetProductColor(p.ID);
                                                foreach (var c in color)
                                                {
                                                    if ((c.color != "") && (c.color != "default"))
                                                    {
                                                        <div class="item" style="background-color:@c.color;"></div>
                                                    }
                                                    else
                                                    {

                                                    }

                                                }
                                            }
                                        </div>
                                    </div>
                                                        }
                                                        i++;
                                                    }
                                                }

                    }

                </div>
                                                //}

                                                <div class="clear"></div>
    }
    <div class="col-sm-9 col-sm-offset-3 text-center">
        <a href="" class="load-more hidden" id="loadMore">load more</a>
    </div>
</div>
@section scripts{
    <script>
        function AddToCartDetail(id, qty, sz) {
            $.ajax({
                url: '/customer/AddToCartDetail',
                data: { id: id, qty: qty, size: sz }
            }).done(function (response) {
                if (response.responseText == "Not Loggin in") {
                    window.location.href = "@Url.Action("login","customer")" + "?msg=nolog";
                }
                else {
                    reloadCartDetail();
                    reloadItem();
                }
            });
        }
        function AddToWishlist(id, idc) {
            $.ajax({
                url: '/customer/AddToWishlist',
                data: { id: id, color:idc }
            }).done(function () {
                //alert(data);
            });
        }
        jQuery(document).ready(function ($) {
            var count = $("div.grid-product > .col-sm-3").length;
            var convertToNumber = function (value) {
                return parseFloat(value);
            }
            function executeOrder() {
                var val = $(".sortOrder").val();
                var checked = $(":checkbox:checked").length;
                if (checked == 0) {
                    $("div.grid-product > .col-sm-3").show();
                    $('#loadMore').addClass('hidden');
                }
                if (val == "price-desc") {
                    var ascending = false;
                    var sorted = $('.grid-product .col-sm-3').sort(function (a, b) {
                        return (ascending ==
                       (convertToNumber($(a).attr('data-price')) >
                        convertToNumber($(b).attr('data-price')))) ? 1 : -1;
                    });

                    $('.grid-product').html(sorted);
                } else if (val == "price-asc") {
                    var ascending = false;
                    var sorted = $('.grid-product .col-sm-3').sort(function (a, b) {
                        return (ascending ==
                       (convertToNumber($(a).attr('data-price')) <
                        convertToNumber($(b).attr('data-price')))) ? 1 : -1;
                    });

                    $('.grid-product').html(sorted);
                } else {
                    var ascending = false;
                    var sorted = $('.grid-product .col-sm-3').sort(function (a, b) {
                        return (ascending ==
                       (convertToNumber($(a).attr('data-date')) <
                        convertToNumber($(b).attr('data-date')))) ? 1 : -1;
                    });
                    $('.grid-product').html(sorted);

                }
                $(".grid-product").prepend('<div class="wait" ><div class="text-center" style="padding-top:20%"><img src="/images/icon-loading.gif" /></div></div><div class="text-center hidden notFound"><img src="/images/product-not-found.jpg" /></div>');
            }

            $('.sortOrder').on('change', function () {
                $(".wait").show();
                setTimeout(function () {
                    $(".wait").hide();
                }, 1000);
                setTimeout(executeOrder, 1000)

            });
            $("input[type=checkbox].filterStores").change(function () {
                $(".wait").show();
                setTimeout(function () { $(".wait").hide(); }, 1000);
                var checkboxes = document.getElementsByClassName("filterStores");
                var selected = [];
                for (var i = 0; i < checkboxes.length; ++i) {
                    if (checkboxes[i].checked) {
                        selected.push(checkboxes[i].value);
                    }
                }

                if (selected.length > 0) {
                    $('div.grid-product > .col-sm-3').hide();
                    var count = 0;
                    $('.filterStores:checked').each(function () {
                        var add = $('div.grid-product > .col-sm-3.' + $(this).attr('id')).length;
                        $('div.grid-product > .col-sm-3.' + $(this).attr('id')).toggle();
                        count = count + add;
                    });
                    document.getElementById("totalResult").innerHTML = count;
                    $('#loadMore').addClass('hidden');
                } else {
                    var count = document.getElementsByName('totalResult')[0].value;
                    $('div.grid-product > .col-sm-3').hide();
                    $('div.grid-product > .col-sm-3').toggle();
                    document.getElementById("totalResult").innerHTML = count;
                }
            });
            $("div.grid-product > .col-sm-3").slice(0, 8).show();
            if(count == 0){
                $('.notFound').removeClass('hidden');
                $('.grid-product').css('height', 'auto');
            }
            if (count > 8) {
                $('#loadMore').removeClass('hidden');
            }
            $("#loadMore").on('click', function (e) {
                e.preventDefault();
                //var filterVal = $('a.category.active').text().toLowerCase().replace(' ', '-');
                $("div.grid-product > .col-sm-3:hidden").slice(0, 4).fadeIn('slow');
                if ($("div.grid-product > .col-sm-3:hidden").length == 0) {
                    $("#loadMore").addClass('hidden');
                }
            });
            $('a.category').click(function () {
                $('#selCategory option, #selBrand option').prop('selected', function () {
                    return this.defaultSelected;
                });
                $('.notFound').addClass('hidden');
                $('#loadMore').addClass('hidden');
                $(this).css('text-decoration', 'none');
                $(this).siblings().removeClass('active');
                $(this).addClass('active');
                var filterVal = $(this).text().toLowerCase().replace(' ', '-');
                var count = $("div.grid-product > .col-sm-3." + filterVal).length;
                $('div.grid-product > .' + filterVal).slice(0, 8).fadeIn('slow');
                if (count == 0) {
                    $('.notFound').removeClass('hidden');
                }
                if (count > 8) {
                    $('#loadMore').removeClass('hidden');
                }
                $('div.grid-product > .col-sm-3:not(.' + filterVal + ')').fadeOut('fast');
                $('div.grid-product > .col-sm-3.' + filterVal).slice(0, 8).fadeIn('slow');
                return false;
            });

        });
    </script>
}
