﻿@using DynamicContent.Helper;
@section styles{
    <style>
        div.grid-product > .col-sm-3 {
            display: none;
        }
    </style>
}
@{ 
    DynamicContent.Models.MainModel obj = new DynamicContent.Models.MainModel();
    DynamicContent.Models.Entities db = new DynamicContent.Models.Entities();
    

    }
<div class="container-fluid">
    <div class="bread-crumb row">
        <div class="container">
            <ul class="">
                <li><a href="/">home</a></li>
                <li><a href="">Terms &amp; Conditions  </a></li>
            </ul>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="container">
        <h3 class="m-title text-left floatL">Terms &amp; Conditions </h3>
        <div class="clear"></div>
        @{              
            <div class="grid-product col-sm-12 col-xs-12">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse rutrum, felis vitae molestie varius, lorem erat molestie est, eget placerat sem velit blandit dolor. Cras a dui a sem pretium mattis. Cras ac risus purus. Quisque euismod leo ac pulvinar mattis. Nam hendrerit ac dui id sagittis. Proin porta libero vitae neque posuere consequat. Quisque dapibus urna in mauris congue euismod. Mauris tempus, nibh lacinia consequat aliquet, velit diam rutrum dolor, quis feugiat augue diam sit amet massa. Maecenas sem nisl, ultricies eget auctor vel, efficitur sed libero.
                </p>
                <p>
                    Mauris iaculis massa ac auctor maximus. Praesent tincidunt nulla dolor, sit amet semper magna convallis vitae. Donec rhoncus massa eget sodales pretium. Praesent elementum ullamcorper pharetra. Sed rutrum ligula ut lacus commodo consectetur ac eget ante. Suspendisse in justo id est molestie finibus sit amet ac nisl. In hac habitasse platea dictumst. Pellentesque ut sagittis mauris, vitae dictum tortor. Donec sit amet varius nisi. Vivamus non nisl urna. Proin interdum quam tortor, vitae suscipit magna eleifend sit amet. Donec in imperdiet orci, sit amet tempor felis. Maecenas rutrum lacinia volutpat. Nunc egestas dignissim mi ac convallis. Nullam iaculis neque felis, eu finibus nisi ultrices sed. Donec malesuada lectus enim, et tristique augue mattis et.
                </p>
                <p>
                    Vestibulum at fermentum tellus. Pellentesque luctus dui eu sapien commodo, at condimentum odio ultricies. Nunc in arcu blandit, rhoncus odio ut, hendrerit ipsum. Aliquam eget laoreet odio, non semper risus. Etiam euismod consequat orci interdum posuere. Nunc consectetur ornare condimentum. Nam porttitor velit urna, ut lacinia nisl porttitor at. Maecenas at varius diam. Suspendisse ultrices nec nunc eu sagittis. Cras semper, magna in ultricies suscipit, neque arcu facilisis erat, in ultrices lectus augue at massa. Pellentesque laoreet lectus at magna sagittis, nec pulvinar lectus rhoncus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                </p>
                <p>
                    Proin non felis vel ante fermentum sodales. In aliquam eros sit amet nulla imperdiet dapibus. Mauris id nulla lectus. Morbi sed neque euismod felis ultrices luctus. Phasellus mollis porttitor leo, a vehicula tellus pulvinar et. Morbi eleifend porttitor neque nec dictum. Sed sodales sed arcu eu gravida. Proin nec nunc at ex ultricies aliquet.
                </p>
                <p>
                    Mauris nec varius enim. Ut id pharetra turpis. Donec ultricies erat vitae arcu tincidunt finibus. Nam eleifend lobortis nunc, sit amet malesuada odio accumsan at. Pellentesque felis justo, sodales eu sapien nec, sollicitudin egestas erat. Aenean ac elit magna. Mauris maximus ex felis, vel sagittis lectus faucibus ut. Ut dapibus odio nec libero aliquet, sed convallis sem semper. Vivamus semper suscipit lobortis. Integer volutpat mi in fringilla malesuada. Nam aliquet viverra neque nec finibus. Aenean ut nibh eleifend justo tristique hendrerit. Duis at purus malesuada, lacinia nisl laoreet, gravida dolor. Maecenas imperdiet id nisl non porttitor.
                </p>
            </div> 
            <div class="clear"></div>
        }
    </div>
</div> 
@section scripts{
}