﻿@using DynamicContent.Helper;
@{
    ViewBag.Title = "Complete Twitter Login";
    string msg = TempData["msg"] != null ? TempData["msg"].ToString() : "";
    string msgSuccess = TempData["msgSuccess"] != null ? TempData["msgSuccess"].ToString() : "";
    
    var data = ViewData["twitterUserEmail"] as TwitterUserModel;
}

<div class="container-fluid">
    <div class="bread-crumb row">
        <div class="container">
            <ul class="">
                <li><a href="/home">home</a></li>
                <li><a href="">login / register</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="clear hidden-xs" style="height:70px;"></div>
<div class="container-fluid">
    <div class="container register">
        <div class="col-sm-6 row">
            <p class="font20 ask">Please Enter Your Email to Continue</p>
            <hr style="margin-top:10px;">
            <div class="clear"></div>
            <form role="form" id="login" class="form-inline" method="post" action="/Auth/CompleteTwitterLogin">
                
                <div class="form-group">
                    <label>Email</label>
                    <input type="email" class="form-control col-sm-12" name="email" id="email" placeholder="Email" readonly="readonly" required value="@data.email"><br />
                    <input type="hidden" class="form-control col-sm-12" name="name" value="@data.name">
                    <input type="hidden" class="form-control col-sm-12" name="id" value="@data.id">
                </div>
                <div class="clear hidden-xs"></div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control col-sm-12" name="password" id="password" placeholder="Password">
                </div>
                <div class="form-group">
                    <label>Confirm Password</label>
                    <input type="password" class="form-control col-sm-12" name="confirm_password" id="confirm_password" placeholder="Confirm Password">
                </div>
                <div class="clear h20 hidden-xs"></div>
                <button type="submit" class="load-more">Submit</button>
               
            </form>
        </div>
       
    </div>
</div>
@section scripts{
    <script>
        setTimeout(function () {
            $("#msg, #msgSuccess").fadeOut('slow');
        }, 4000);
        $.validator.addMethod("valueNotEquals", function (value, element, arg) {
            return arg != value;
        }, "Value must not equal arg.");
        $.validator.addMethod("regx", function (value, element, regexpr) {
            var re = new RegExp(regexpr);
            return re.test(value);
        }, "Password needs minimum 8 characters with at least 1 Alphabet, 1 Number and 1 Special Character");
        $('#login').validate({
            rules: {
                email: {
                    required: true
                },
                password: {
                    required: true,
                    regx: '^(?=.*?[A-Za-z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@@$%^&*-]).{8,}$',
                    minlength: 8
                },
                confirm_password: {
                    required: true,
                    minlength: 8,
                    equalTo: "#password"
                }
            },
            highlight: function (element) {
                var id_attr = "#" + $(element).attr("id") + "1";
                $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
                $(id_attr).removeClass('glyphicon-ok').addClass('glyphicon-remove');
            },
            unhighlight: function (element) {
                var id_attr = "#" + $(element).attr("id") + "1";
                $(element).closest('.form-group').removeClass('has-error').addClass('has-success');
                $(id_attr).removeClass('glyphicon-remove').addClass('glyphicon-ok');
            },
            errorElement: 'span',
            errorClass: 'help-block',
            errorPlacement: function (error, element) {
                if (element.length) {
                    error.insertAfter(element);
                } else {
                    error.insertAfter(element);
                }
            }
        });
        $('#email').on('change', function () {
            var emailval = $(this).val();
            if (emailval.length > 0) {
                $.ajax({
                    //type: "POST",
                    url: '/Customer/checkEmailRegist',
                    data: { email: emailval }
                })
                    .success(function (json) {
                        if (json.email.length > 0) {
                            alert("Email already used by another user!");
                            document.getElementById("email").value = "";
                            $('#email').focus();
                        }
                    });
            }
        });
    </script>    
}
