﻿@using DynamicContent.Helper;
@{
    DynamicContent.Models.MainModel obj = new DynamicContent.Models.MainModel();
    ViewBag.Title = "Wishlist";
    var firstName = Session["firstName"];
    var lastName = Session["lastName"];
    int userId = Convert.ToInt32(Session["userIdLogin"]);
    var user = obj.GetUserActive(userId);
}
<div class="container-fluid">
    <div class="bread-crumb row">
        <div class="container">
            <ul class="">
                <li><a href="/home">home</a></li>
                <li><a href="">wishlist</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="clear hidden-xs" style="height:40px;"></div>
<div class="container">
    <div class="row">
        <div class="col-sm-3 col-md-3">
            @Html.Partial("accordionAccount")
        </div>
        
        <div class="col-sm-9 col-md-9 wishlist">
            <div class="text-center category active ">
                <h4><span class="fa fa-heart"></span> wishlist</h4>
            </div>
            <div class="col-sm-12 grey">
                <div class="clear h40"></div>
                <div class="grid-product home">
                    @{
                        var wishlist = obj.GetWishlist(userId).Where(x => x.color != null);
                        int wCount = wishlist.Count();
                        if (wCount > 0)
                        {
                            foreach (var item in wishlist)
                            {
                                var images = obj.GetOneImgByColor(Convert.ToInt32(item.color));
                                var product = obj.GetAllProduct2(item.product);
                                if(product.FirstOrDefault().status == true) { 
                                <div class="col-sm-4">
                                    <a href="/product/@item.color/@obj.stringToURL(product.FirstOrDefault().name).ToLower()?det=true">
                                        <div class="product" style="background:url(@images.images)no-repeat center center; background-color:#fff; background-size:contain;">
                                            <div class="two-circle">
                                                <div class="delete" onclick="removeWishlist('@item.ID');" data-placement="left" data-toggle="tooltip" title="Remove from wishlist">
                                                    <i class="glyphicon glyphicon-remove"></i>
                                                </div>
                                            </div>
                                            @*<span class="helper"></span><img src="/Public/Images/product/it-blouse1-1.jpg" />*@
                                        </div>
                                    </a>
                                </div>
                                }
                            }
                        }
                        else
                        {
                            <div class="col-sm-12 text-center"><img src="~/Images/empty-wishlist.png" /></div>
                        }
                       
                    }
                </div>               
            </div>
            
        </div>
    </div>
</div>
<div class="clearfix"></div>
@section scripts{
    <script>
        function removeWishlist(id) {
            var el = $(this);
            $.ajax({
                url: '/customer/removeWishlist',
                data: { id: id }
            }).done(function () {
                location.reload();
            });
        }
    </script>
}
