﻿@model DynamicContent.Models.FlashHeaderDetail
@{
    ViewBag.Title = "FlashSaleDetailAddEdit";
    Layout = "~/Areas/SysManager/Views/Shared/_authenticatedLayout.cshtml";
    var ProductName = (String)ViewBag.prodName;
    string imgProd = (string)ViewBag.imgprod;
}

<link href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" rel="Stylesheet"></link>
<div class="page page-product-detail">
    <div class="pageheader">
        <h2>Flash Sale Detail <span>Today: @(DateTime.Now)</span></h2>
    </div>
    <div class="row">
        <div class="col-md-12">
            <section class="tile" fullscreen="isFullscreen02">
                <!-- tile header -->
                <div class="tile-header dvd dvd-btm">
                    <h1 class="custom-font"><strong>@((Model.FlashSaleDetailID != 0) ? "Add New" : "Edit")</strong> Flash Sale Detail</h1>
                </div>
                <div class="tile-body">
                    @if (!Html.ViewData.ModelState.IsValid)
                    {
                        <div class="alert alert-lightred fade in">
                            <p>
                                @Html.ValidationSummary()
                            </p>
                        </div>

                    }
                    @using (Html.BeginForm("FlashSaleDetailAddEdit", "FlashSale", FormMethod.Post, new { @id = "form-addFlashDetailClass", @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
                    {
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Flash Sale Name</label>
                            <div class="col-sm-8">
                                @Html.TextBox("ProductName", ProductName, new { @class = "form-control", @placeholder = "Enter Name" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Preview</label>
                            <div class="col-sm-8">
                                <img id="blah" src="@imgProd" class="img-thumbnail" alt="your image" style="min-height:150px;height:150px;" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">QTY</label>
                            <div class="col-sm-8">
                                @Html.TextBoxFor(m => m.qty, new { @class = "form-control", @placeholder = "Enter QTY" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">New Price</label>
                            <div class="col-sm-8">
                                @Html.TextBoxFor(m => m.price_new, new { @class = "form-control currency", @placeholder = "Enter New Price" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-9">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                        @Html.HiddenFor(x => x.ProductID);
                        @Html.HiddenFor(x => x.FlashSaleHeaderID);
                        @Html.HiddenFor(x => x.FlashSaleDetailID);
                    }
                </div>
            </section>
        </div>
    </div>
</div>
@section scripts{
    @Scripts.Render("~/formvalidation/js")
    <script>
        setTimeout(function () {
            $("#ProductName").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "@Url.Action("AutocompleteName", "FlashSale")",
                        type: "POST",
                        dataType: "json",
                        data: { Prefix: request.term },
                        success: function (data) {
                            response($.map(data, function (item) {
                                return { label: item.name, value: item.name , id: item.ID };
                            }))

                        }
                        //messages: {
                        //    noResults: "", results: ""
                        //}
                    })
                },
                select: function (event,ui) {
                    $("#ProductID").val(ui.item.id);
                    CallImageProduct(ui.item.id);
                }
            })
            function CallImageProduct(id) {
            $.ajax({
                 url: "@Url.Action("GetPictureByProduct", "TopPicks")",
                        type: "POST",
                        dataType: "json",
                        data: { id: id },
                        success: function (response) {
                            $("#blah").attr('src', response);
                        }

            })
        }
        }, 200)
        $('#form-addFlashDetailClass').on('keyup change paste', '.currency', function () {
            var o = $(this);
            setTimeout(function () {
                var v = Number(o.val().replace(/,/g, ''));
                if (o.val() != "" && (isNaN(v) || v === 0)) {
                    o.val("0");
                    return;
                }
                else if (o.val() == "") {
                    o.val("");
                    return;
                }
                o.val(v.toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,"));
            }, 300);
        });
        $(function () {
            var validatorLib = {
                'validateNotEmpty': {
                    validators: {
                        notEmpty: {
                            message: "This field cannot be empty"
                        }
                    }
                }
            };
            var fv = $('#form-addFlashDetailClass')
                .formValidation({
                    framework: 'bootstrap',
                    fields: {
                        '@Html.Id("ProductName")': validatorLib.validateNotEmpty,
                        '@Html.IdFor(x => x.qty)': validatorLib.validateNotEmpty,
                        '@Html.IdFor(x => x.price_new)': validatorLib.validateNotEmpty

                    }
                });
        })
    </script>
}

