﻿@model List<DynamicContent.Models.FlashHeaderDetail>
@{
    ViewBag.Title = "flashHeaderDetail";
    Layout = "~/Areas/SysManager/Views/Shared/_authenticatedLayout.cshtml";
    var index = 1;
    string headerid = (string)ViewBag.headerid;
}

<div class="page page-product-list">
    <div class="pageheader">
        <h2>Flash Sale Detail <span>Today: @(DateTime.Now) &nbsp; <b>@headerid</b></span></h2>
    </div>
    <div class="row">
        <div class="col-md-12">
            <section class="tile" fullscreen="isFullscreen02">
                <!-- tile header -->
                <div class="tile-header dvd dvd-btm">
                    <h1 class="custom-font"><strong>List </strong> Flash Sale Detail</h1>
                    <ul class="controls">
                        <li>
                            <a href="@Url.Action("FlashSaleDetailAddEdit", "FlashSale", new { area = "SysManager" , ID = 0 , headerid = headerid})" role="button" tabindex="0" class="pickDate">
                                <span></span><i class="fa fa-plus"></i> Add Flash Sale Detail
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- /tile header -->
                <!-- tile body -->
                <div class="tile-body p-0">
                    <div class="table-responsive">
                        <table class="table table-custom" id="flashSaleDetailDataTable">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Produk Name</th>
                                    <th>Qty</th>
                                    <th>Standart Price</th>
                                    <th>Flash Sale Price</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>

                                        <td>@index</td>
                                        <td>@item.tbl_product.name</td>
                                        <td>@item.qty</td>
                                        <td>@item.tbl_product.price</td>
                                        <td>@item.price_new</td>
                                        <td><a href="@Url.Action("FlashSaleDetailAddEdit", "FlashSale", new { area = "SysManager" , id = item.FlashSaleDetailID , headerid = headerid})" class="btn btn-success"><i class="fa fa-edit"></i></a>&nbsp;<a href="@Url.Action("FlashSaleDetailDelete", "FlashSale", new { area = "SysManager" , id = item.FlashSaleDetailID , headerid = headerid})"  class="btn btn-danger"><i class="fa fa-remove"></i></a></td>
                                    </tr>
                                    index++;
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- /tile body -->
            </section>
        </div>
    </div>
</div>
@section scripts {
    @Styles.Render("~/TenantManager/Datatables/css")
    @Scripts.Render("~/TenantManager/Datatables/js")
    <script>
        $("#flashSaleDetailDataTable").DataTable();
    </script>
}