﻿@model DynamicContent.Areas.SysManager.ViewModels.FlashSaleHeaderViewModel
@{
    Layout = "~/Areas/SysManager/Views/Shared/_authenticatedLayout.cshtml";
}
<div class="page page-product-detail">
    <div class="pageheader">
        <h2>Flash Sale Header <span>Today: @(DateTime.Now)</span></h2>
    </div>
    <div class="row">
        <div class="col-md-12">
            <section class="tile" fullscreen="isFullscreen02">
                <!-- tile header -->
                <div class="tile-header dvd dvd-btm">
                    <h1 class="custom-font"><strong>@((Model.FlashSaleHeaderID == Guid.Empty) ? "Add New" : "Edit")</strong> Flash Sale Header</h1>
                </div>
                <div class="tile-body">
                    @if (!Html.ViewData.ModelState.IsValid)
                    {
                        <div class="alert alert-lightred fade in">
                            <p>
                                @Html.ValidationSummary()
                            </p>
                        </div>
                    }
                    @using (Html.BeginForm("FlashSaleHeaderAddEdit", "FlashSale", FormMethod.Post, new { @id = "form-addFlashHeaderClass", @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
                    {
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Flash Sale Name</label>
                            <div class="col-sm-8">
                                @Html.TextBoxFor(m => m.FlashSaleName, new { @class = "form-control", @placeholder = "Enter Name" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Flash Sale Day</label>
                            <div class="col-sm-8">
                                @Html.DropDownListFor(m => m.FlashSaleDay, new List<SelectListItem> {
                                new SelectListItem { Text = "Monday" , Value = "Monday" },
                                new SelectListItem { Text = "Tuesday" , Value = "Tuesday" },
                                new SelectListItem { Text = "Wednesday" , Value = "Wednesday" },
                                new SelectListItem { Text = "Thursday" , Value = "Thursday" },
                                new SelectListItem { Text = "Friday" , Value = "Friday" },
                                 new SelectListItem { Text = "Saturday" , Value = "Saturday" },
                                  new SelectListItem { Text = "Sunday" , Value = "Sunday" }
                           }, "--Select Day--", new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Flash Sale Name</label>
                            <div class="col-sm-4">
                                @Html.TextBoxFor(m => m.FlashSaleTimeBegin, new { @class = "form-control timepicker", @placeholder = "Begin Time" })
                            </div>
                            <div class="col-sm-4">
                                @Html.TextBoxFor(m => m.FlashSaleTimeEnd, new { @class = "form-control timepicker", @placeholder = "End Time" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-9">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                        @Html.HiddenFor(x => x.FlashSaleHeaderID)
                    }
                </div>
            </section>
        </div>
    </div>
</div>
@section scripts {
    @Styles.Render("~/Areas/SysManager/Assets/js/vendor/jquery-timepicker-master/jquery.timepicker.css")
    @Scripts.Render("~/Areas/SysManager/Assets/js/vendor/jquery-timepicker-master/jquery.timepicker.min.js")
    @Scripts.Render("~/formvalidation/js")
    <script type="text/javascript">
        $(".timepicker").timepicker({ 'timeFormat': 'H:i:s' });
          $(function () {
            var validatorLib = {
                'validateNotEmpty': {
                    validators: {
                        notEmpty: {
                            message: "This field cannot be empty"
                        }
                    }
                }
            };
            var fv = $('#form-addFlashHeaderClass')
                .formValidation({
                    framework: 'bootstrap',
                    fields: {
                        '@Html.IdFor(x => x.FlashSaleName)': validatorLib.validateNotEmpty,
                        '@Html.IdFor(x => x.FlashSaleDay)': validatorLib.validateNotEmpty,
                        '@Html.IdFor(x => x.FlashSaleTimeBegin)': validatorLib.validateNotEmpty,
                        '@Html.IdFor(x => x.FlashSaleTimeEnd)': validatorLib.validateNotEmpty
                    }
                });
        })
    </script>
}