﻿@{
   Layout = "~/Areas/SysManager/Views/Shared/_authenticatedLayout.cshtml";
}

<div class="page page-product-list">
    <div class="pageheader">
        <h2>Flash Sale Header <span>Today: @(DateTime.Now)</span></h2>
    </div>

    <div class="row">
        <div class="col-md-12">
            <section class="tile" fullscreen="isFullscreen02">
                <!-- tile header -->
                <div class="tile-header dvd dvd-btm">
                    <h1 class="custom-font"><strong>List </strong> Flash Sale Header</h1>
                    <ul class="controls">
                        <li>
                            <a href="@Url.Action("FlashSaleHeaderAddEdit", "FlashSale", new { area = "SysManager" , ID = Guid.Empty })" role="button" tabindex="0" class="pickDate">
                                <span></span><i class="fa fa-plus"></i> Add Flash Sale
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- /tile header -->
                <!-- tile body -->
                <div class="tile-body p-0">
                    <div class="table-responsive">
                        <table class="table table-custom" id="flashSaleHeaderDataTable">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Day</th>
                                    <th>Start Time</th>
                                    <th>End Time</th>
                                    <th>Is Active</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
                <!-- /tile body -->
            </section>
        </div>
    </div>

</div>
@section scripts {
    @Styles.Render("~/TenantManager/Datatables/css")
    @Scripts.Render("~/TenantManager/Datatables/js")

    <script type="text/javascript">
        function timeConverter(UNIX_timestamp) {
            var a = new Date(UNIX_timestamp);
            var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
            var year = a.getFullYear();
            var month = months[a.getMonth()];
            var date = a.getDate();
            var hour = a.getHours();
            var min = a.getMinutes();
            var sec = a.getSeconds();
            var time = date + ' ' + month + ' ' + year + ' ' + hour + ':' + min + ':' + sec;
            return time;
        }
        var simple_checkbox = function (data, type, full, meta) {
            var is_checked = data == true ? "checked" : "";
            return '<input type="checkbox" class="checkbox" ' +
                is_checked + '  data-id= ' + full.id + '>';
        }
        var oTable = $('#flashSaleHeaderDataTable')
            .on('xhr.dt', function (e, settings, json, xhr) {
                if (xhr.status == 403) {
                    var response = $.parseJSON(xhr.responseText);
                    window.location = response.logonurl;
                }
            })
            .DataTable({
                "serverSide": true,
                "ajax": {
                    "type": "POST",
                    "url": '/SysManager/FlashSale/FlashSaleDataHandler',
                    "contentType": 'application/json; charset=utf-8',
                    'data': function (data) { return data = JSON.stringify(data); }
                },
                "scrollCollapse": true,
                "scroller": {
                    loadingIndicator: false
                },
                "processing": true,
                "paging": true,
                "deferRender": true,
                "columns": [
                    {
                        "data": 'id'

                    },
                    {
                        "data": 'Name'
                    },
                    {
                        "data": "Day"
                    },
                    { "data": "Start" },
                    { "data": "End" },
                    { "data": "Active", "render": simple_checkbox },
                    {
                        "data": "Action",
                        "render": function (data, type, full, meta) {
                            return '<a href="/SysManager/FlashSale/FlashSaleHeaderAddEdit?id=' + full.id + '" class="btn btn-success"><i class="fa fa-edit"></i></a> <a href="/SysManager/FlashSale/flashHeaderDetail/' + full.id + '" class="btn btn-primary" title="Detail"><i class="fa fa-eye"></i></a>';
                        }
                    }
                ],
                "order": [0, "asc"]

            });
        $(document).on('click', '.checkbox', function () {
            var checkbox = $(this)
            var id = checkbox.attr("data-id");
            var value = $(this).is(':checked');
            $.ajax({
                type: "POST",
                url: '/SysManager/FlashSale/FlashSaleSetEnableDisable',
                data: {
                    id: id,
                    val: value
                },


            })
        })
       
        </script>
    }