body { font-family: 'Sintony'; font-size: 14px; color: #000000; margin: 0; padding: 0; line-height: 1.42857143; }

body.top48 { padding-top: 48px; }

.button { display: block; margin: 0 auto; padding: 10px 30px; font-size: 14px; border: 0; text-transform: uppercase; background: black; color: white; vertical-align: middle; position: relative; z-index: 1; -webkit-transition: background-color 0.3s, color 0.3s; -moz-transition: background-color 0.3s, color 0.3s; transition: background-color 0.3s, color 0.3s; -webkit-backface-visibility: hidden; -moz-osx-font-smoothing: grayscale; }

.button.button--ujarak { -webkit-transition: border-color 0.4s, color 0.4s; -moz-transition: border-color 0.4s, color 0.4s; transition: border-color 0.4s, color 0.4s; -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1); -moz-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1); transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1); }

.button.button--ujarak:hover::before { opacity: 1; background-color: #bc955a; -webkit-transform: rotate3d(0, 0, 1, 0deg); -moz-transform: rotate3d(0, 0, 1, 0deg); -ms-transform: rotate3d(0, 0, 1, 0deg); -o-transform: rotate3d(0, 0, 1, 0deg); transform: rotate3d(0, 0, 1, 0deg); }

.button.button--ujarak::before { content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: #bc955a; z-index: -1; opacity: 0; -webkit-transform: scale3d(0.7, 1, 1); -moz-transform: scale3d(0.7, 1, 1); -ms-transform: scale3d(0.7, 1, 1); -o-transform: scale3d(0.7, 1, 1); transform: scale3d(0.7, 1, 1); -webkit-transition: -webkit-transform 0.4s, opacity 0.4s; -moz-transition: -webkit-transform 0.4s, opacity 0.4s; transition: -webkit-transform 0.4s, opacity 0.4s; -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1); -moz-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1); transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1); }

a:focus { outline: 0; color: inherit; }

.inline-block { display: inline-block; }

.inline-block.v-middle { vertical-align: middle; }

.tbl { width: 100%; height: 100%; display: table; }

.tbl .cell { display: table-cell; vertical-align: middle; }

.pos-rel { position: relative; }

.form-control { -webkit-box-shadow: none; box-shadow: none; }

.form-control:focus { border-color: inherit; -webkit-box-shadow: none; box-shadow: none; }

.show991 { display: none; }

header .header-top { background-color: #d2bf79; height: 42px; }

header .header-top .global { height: 42px; margin: auto 0; }

header .header-top .global a { color: white; text-transform: uppercase; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s; }

header .header-top .global a i.fas { margin-right: 5px; }

header .header-top .global a:hover { color: #bc955a; }

header .logo { text-align: center; }

header .logo a { display: block; }

header .logo a img { height: 50px; margin: 0 auto; }

header .h50 { height: 50px; margin: auto 0; }

header .menu-mobile { position: relative; top: 2px; display: none; }

header .menu-mobile i.fas { color: #a9995f; font-size: 24px; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s; }

header .menu-mobile i.fas:hover { color: #d7d5c6; }

header .pad10 { padding: 10px 0; }

header ul.hdr-right { margin: 0; padding: 0; height: 42px; text-align: right; }

header ul.hdr-right li { display: inline-block; margin-right: 25px; }

header ul.hdr-right li:last-child { margin-right: 0; }

header ul.hdr-right li .h42 { height: 42px; margin: auto 0; }

header ul.hdr-right li .form-search { width: 0; top: 50%; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s; -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); -o-transform: translateY(-50%); transform: translateY(-50%); right: 85px; position: absolute; background: white; border: 0; -moz-border-radius: 1px; -webkit-border-radius: 1px; -khtml-border-radius: 1px; border-radius: 1px; height: 28px; padding: 0; }

header ul.hdr-right li .form-search.open { width: 200px; padding: 3px 25px 3px 12px; }

header ul.hdr-right li a { position: relative; display: block; color: white; text-transform: uppercase; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s; }

header ul.hdr-right li a.click-search { cursor: pointer; }

header ul.hdr-right li a.click-search:hover { color: #bc955a; }

header ul.hdr-right li a.click-search i.fas { position: relative; z-index: 100; }

header ul.hdr-right li a i.fas { margin-right: 5px; }

header ul.hdr-right li a:hover { color: #bc955a; }

header ul.hdr-right li a .jumlah { top: -10px; right: -8px; background-color: #d2bf79; position: absolute; -moz-border-radius: 50%; -webkit-border-radius: 50%; -khtml-border-radius: 50%; border-radius: 50%; width: 18px; height: 18px; }

header ul.hdr-right li a .jumlah .in { font-size: 10px; color: white; position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); -moz-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); -o-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }

ul.head { margin: 0; padding: 0; }

ul.head.sticky { position: fixed; top: 0; left: 0; width: 100%; z-index: 200; }

ul.head .menu-container { position: relative; z-index: 999; width: 100%; margin: 0 auto; background: #a9995f; }

ul.head .menu-container .dropdown-product { margin-bottom: 30px; }

ul.head .menu-container .dropdown-product a .img-product { margin-bottom: 10px; font-size: 0; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s; }

ul.head .menu-container .dropdown-product a .img-product img { width: 100%; }

ul.head .menu-container .dropdown-product a .nm-product { text-align: center; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s; font-size: 13px; }

ul.head .menu-container .dropdown-product a:hover .img-product { opacity: 0.7; }

ul.head .menu-container .dropdown-product a:hover .nm-product { color: #a9995f; }

ul.head ul.subtype { list-style: none; -webkit-column-break-inside: avoid; page-break-inside: avoid; break-inside: avoid; padding-left: 0; }

ul.head ul.subtype li { font-size: 13px; padding-left: 20px; margin: 5px 0; }

ul.head ul.subtype li:first-child { padding-left: 0; font-weight: bold; }

ul.head ul.subtype li a { font-size: 13px; }

ul.head .l-category { float: left; width: 20%; padding: 0 15px; }

ul.head .l-category.has-sub-category > div { padding-left: 15px; }

ul.head .l-category.has-sub-category .t-category { padding-left: 0; }

ul.head .l-category:first-child { padding-left: 0; }

ul.head .l-category .t-category { font-weight: bold; font-size: 13px; }

ul.head .l-category > div { margin-bottom: 7px; }

ul.head .l-category a { font-size: 13px; }

ul.head .columns2 { -webkit-column-count: 5; -moz-column-count: 5; column-count: 5; }

ul.head .columns3 { -webkit-columns: 3; -moz-columns: 3; columns: 3; }

ul.head .menu-dropdown-icon:before, ul.head .menu-dropdown-icon.active:before { content: "\f067"; font-family: "Font Awesome 5 Free"; display: none; cursor: pointer; padding: 0; color: white; position: absolute; right: 20px; top: 13px; font-weight: 900; }

ul.head .menu-dropdown-icon.active:before { content: "\f068"; }

ul.head .list-profile { display: none; }

.menu > ul { margin: 0 auto; width: 100%; list-style: none; padding: 0; position: relative; box-sizing: border-box; text-align: center; }

.menu > ul:before { content: ""; display: table; }

.menu > ul:after { clear: both; content: ""; display: table; }

.menu > ul > li { padding: 0; margin: 0; display: inline-block; }

.menu > ul > li:hover > a { color: #340055; }

.menu > ul > li.ss { border-right: 1px solid white; }

.menu > ul > li > a { text-decoration: none; padding: 15px 10px; display: block; letter-spacing: 0.1px; font-size: 13px; font-weight: bold; color: #fff; text-transform: uppercase; }

.menu > ul > li > ul { display: none; width: 100%; background: #fff; padding: 20px 10%; position: absolute; z-index: 102; left: 0; margin: 0; list-style: none; box-sizing: border-box; border-bottom: 4px solid #11141d; }

.menu > ul > li > ul:before { content: ""; display: table; }

.menu > ul > li > ul:after { clear: both; content: ""; display: table; }

.menu > ul > li > ul > li { margin: 0; padding-bottom: 0; list-style: none; width: 25%; background: none; float: left; text-align: left; }

.menu > ul > li > ul > li.leftside { width: 20%; font-weight: bold; }

.menu > ul > li > ul > li.rightside { width: 80%; }

.menu > ul > li > ul > li > span, .menu > ul > li > ul > li > p { font-weight: bold; text-align: left; margin-bottom: 10px; }

.menu > ul > li > ul > li > p.mb-10 { margin-bottom: -5px; }

.menu > ul > li > ul > li a { color: #000; padding: 0; letter-spacing: .5px; display: inline; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s; }

.menu > ul > li > ul > li a:hover { color: #a9995f; }

.menu > ul > li > ul > li > ul { display: block; padding: 0; margin: 0; list-style: none; box-sizing: border-box; text-align: left; }

.menu > ul > li > ul > li > ul:before { content: ""; display: table; }

.menu > ul > li > ul > li > ul:after { clear: both; content: ""; display: table; }

.menu > ul > li > ul > li > ul > li { padding: 5px 0; margin: 0; font-size: .8em; }

.menu > ul > li > ul > li > ul > li a { border: 0; font-size: 13px; }

.menu > ul > li > ul > li > ul.normal-sub { width: 300px; left: auto; padding: 10px 20px; }

.menu > ul > li > ul > li > ul.normal-sub > li { width: 100%; }

.menu > ul > li > ul > li > ul.normal-sub > li a { border: 0; padding: 1em 0; }

section#main .box-flash { margin-bottom: 20px; background: #f6f6f6; padding: 6px 0; }

section#main .box-flash .h40 { height: 40px; margin: auto 0; }

section#main .box-flash .t-flash { text-transform: uppercase; color: #a9995f; font-weight: bold; font-size: 20px; }

section#main .box-flash .see-all a { color: #a9995f; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s; }

section#main .box-flash .see-all a:hover { color: black; }

section#main .box-flash .see-all a .fas { position: relative; top: 1px; }

section#main .flash-slider .item a { display: block; }

section#main .pad-product { padding-top: 40px; padding-bottom: 20px; }

section#main .pad-product .slider-detail { margin-bottom: 50px; border: 1px solid white; }

section#main .pad-product .slider-detail .item img { width: 100%; }

section#main .pad-product .slider-detail .slick-dots { bottom: -35px; }

section#main .pad-product .slider-detail .slick-dots li button:before { color: #a9995f; font-size: 20px; }

section#main .pad-product .image-product .slider-thumbnails .item { margin-bottom: 20px; cursor: pointer; }

section#main .pad-product .image-product .slider-thumbnails .item:hover img { opacity: 0.7; }

section#main .pad-product .image-product .slider-thumbnails .item img { -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s; width: 100%; }

section#main .pad-product .desc-product .name-product { text-transform: uppercase; font-size: 20px; line-height: 18px; font-weight: bold; margin-bottom: 10px; }

section#main .pad-product .desc-product .merk-product { text-transform: uppercase; font-size: 18px; line-height: 18px; margin-bottom: 10px; }

section#main .pad-product .desc-product .price-product { text-transform: uppercase; font-size: 18px; line-height: 18px; }

section#main .pad-product .desc-product .line-product { margin: 30px 0 20px; width: 100%; border-bottom: 1px solid #999; }

section#main .pad-product .desc-product p.mb10 { margin-bottom: 10px; }

section#main .pad-product .desc-product ul.size { padding: 0; margin: 0; }

section#main .pad-product .desc-product ul.size li { display: inline-block; margin-right: 5px; position: relative; font-size: 11px; text-transform: uppercase; }

section#main .pad-product .desc-product ul.size li:last-child { margin-right: 0; }

section#main .pad-product .desc-product ul.size li label { min-width: 40px; text-align: center; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; font-size: 12px; margin-left: -3px; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s; }

section#main .pad-product .desc-product ul.size li label:hover { font-weight: bold; background-color: black; color: #ffffff; border-color: black; }

section#main .pad-product .desc-product ul.size li input[type=radio] { visibility: hidden; width: 1px; }

section#main .pad-product .desc-product ul.size li .input-select-size:checked + .label-select-size { font-weight: bold; background-color: black; color: #ffffff; border-color: black; }

section#main .pad-product .desc-product .mb15 { margin-bottom: 15px; }

section#main .pad-product .desc-product ul.color { margin: 0; padding: 0; }

section#main .pad-product .desc-product ul.color li { display: inline-block; margin-right: 5px; border: 1px solid #ccc; min-width: 40px; min-height: 27px; }

section#main .pad-product .desc-product ul.color li:last-child { margin-right: 0; }

section#main .pad-product .desc-product .no-size { text-transform: uppercase; display: inline-block; text-align: center; padding: 8px 15px; font-weight: bold; font-size: 13px; background: black; color: white; }

section#main .pad-product .desc-product .form-control.input-qty { margin: 0 8px; width: 50px; text-align: center; padding: 6px; -moz-border-radius: 0; -webkit-border-radius: 0; -khtml-border-radius: 0; border-radius: 0; }

section#main .pad-product .desc-product .addTocart { cursor: pointer; margin-right: 8px; padding: 6px 12px; font-size: 14px; line-height: 1.42857143; color: white; text-transform: uppercase; background-color: #a9995f; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s; }

section#main .pad-product .desc-product .addTocart .fas { margin-right: 5px; }

section#main .pad-product .desc-product .addTocart:hover { background-color: black; }

section#main .pad-product .desc-product .divWishlist { cursor: pointer; margin-right: 8px; padding: 6px 12px; font-size: 14px; line-height: 1.42857143; color: #555; text-transform: uppercase; background-color: #fff; border: 1px solid #ccc; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s; }

section#main .pad-product .desc-product .divWishlist .fas { color: #bc0429; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s; margin-right: 5px; }

section#main .pad-product .desc-product .divWishlist:hover { background-color: #000; color: #fff; }

section#main .pad-product .desc-product .divWishlist:hover .fas { color: white; }

section#main .pad-product .desc-product #accordion.accordion-product { margin-bottom: 30px; }

section#main .pad-product .desc-product #accordion.accordion-product .panel-heading + .panel-collapse > .list-group, section#main .pad-product .desc-product #accordion.accordion-product .panel-heading + .panel-collapse > .panel-body { border: 0; }

section#main .pad-product .desc-product #accordion.accordion-product .panel { -webkit-box-shadow: none; box-shadow: none; }

section#main .pad-product .desc-product #accordion.accordion-product .panel-default { border: 0; }

section#main .pad-product .desc-product #accordion.accordion-product .panel-heading { background-color: #fff; border-bottom: 1px solid #ccc; padding: 0; }

section#main .pad-product .desc-product #accordion.accordion-product .panel-heading:hover a { color: #bc955a; }

section#main .pad-product .desc-product #accordion.accordion-product .panel-heading .panel-title { font-weight: bold; text-transform: uppercase; }

section#main .pad-product .desc-product #accordion.accordion-product .panel-heading a { padding: 10px 0; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s; display: block; }

section#main .pad-product .desc-product #accordion.accordion-product .panel-heading a:after { content: '-'; position: absolute; right: 20px; }

section#main .pad-product .desc-product #accordion.accordion-product .panel-heading a.collapsed:after { content: '+'; }

section#main .pad-product .desc-product #accordion.accordion-product .panel-body { padding: 15px 0; background-color: #fff; }

section#main .pad-product .desc-product ul.share-product { margin: 0 0 0 15px; padding: 0; font-size: 0; display: inline-block; vertical-align: middle; }

section#main .pad-product .desc-product ul.share-product li { display: inline-block; margin-right: 15px; }

section#main .pad-product .desc-product ul.share-product li:last-child { margin-right: 0; }

section#main .pad-product .desc-product ul.share-product li a .icon-product { font-size: 18px; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s; border: 1px solid #ccc; background: white; width: 40px; height: 40px; position: relative; }

section#main .pad-product .desc-product ul.share-product li a .icon-product i { position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); -moz-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); -o-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }

section#main .pad-product .desc-product ul.share-product li a .icon-product i.fab { -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s; color: #626262; }

section#main .pad-product .desc-product ul.share-product li a:hover .icon-product { background: black; border-color: black; }

section#main .pad-product .desc-product ul.share-product li a:hover .icon-product i.fab { color: white; }

section#main .img-full.mb20 { margin-bottom: 20px; }

section#main .img-full a { display: block; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s; }

section#main .img-full a:hover { opacity: 0.7; }

section#main .img-full a img { width: 100%; }

section#main .bread-crumb { border-bottom: 1px solid #cacaca; border-left: none; border-right: none; }

section#main .bread-crumb ul { margin: 0; padding: 0; }

section#main .bread-crumb ul li { display: inline-block; }

section#main .bread-crumb ul li:after { content: ''; width: 14px; height: 25px; background: url("../images/icons/divider.jpg") no-repeat; display: inline-block; vertical-align: middle; }

section#main .bread-crumb ul li:last-child:after { visibility: hidden; }

section#main .bread-crumb ul li:last-child a { font-weight: bold; }

section#main .bread-crumb ul li:first-child a { padding-left: 0; }

section#main .bread-crumb ul li a { text-transform: uppercase; color: #000; padding: 0 10px; font-size: 10px; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s; }

section#main .bread-crumb ul li a.active:hover { color: inherit; }

section#main .bread-crumb ul li a:hover { color: #bc955a; }

section#main .t-product { text-transform: uppercase; font-weight: bold; margin: 30px 0; font-size: 24px; line-height: 1.2; }

section#main .full-product img { width: 100%; }

section#main ul.nav-tabs.list-gender { padding: 15px 20px; border-bottom: 1px solid #999; background: #dddddd; margin: 0; }

section#main ul.nav-tabs.list-gender li { float: none; margin: 8px 0; position: relative; display: block; -moz-border-radius: 0; -webkit-border-radius: 0; -khtml-border-radius: 0; border-radius: 0; }

section#main ul.nav-tabs.list-gender li.active a { color: #fff; background: #000; }

section#main ul.nav-tabs.list-gender li a { -moz-border-radius: 0; -webkit-border-radius: 0; -khtml-border-radius: 0; border-radius: 0; display: inline-block; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s; padding: 3px 5px; }

section#main ul.nav-tabs.list-gender li a:hover { color: #fff; background: #000; }

section#main .margin20 { margin: 20px 0; }

section#main .title { margin-bottom: 20px; }

section#main .title .r-product { font-size: 20px; }

section#main .r-product { padding: 0 20px; display: inline-block; color: #000000; font-size: 15px; text-align: center; background: #FFF; font-weight: bold; position: relative; z-index: 10; }

section#main .sortOrder { margin-bottom: 20px; }

section#main .bdr-product { position: absolute; top: 50%; width: 100%; -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); -o-transform: translateY(-50%); transform: translateY(-50%); border-bottom: 1px solid #999; }

section#main .bdr-only { border-bottom: 1px solid #999; margin-bottom: 30px; }

section#main ul#accordion { list-style: none; background-color: #f6f6f6; padding: 20px 0; margin-right: 15px; color: #000 !important; }

section#main ul#accordion li.active > div:after { content: '-'; }

section#main ul#accordion li div { padding: 5px 20px; cursor: pointer; position: relative; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s; }

section#main ul#accordion li div:hover { color: #a9995f; }

section#main ul#accordion li div:after { content: '+'; position: absolute; right: 7px; top: 50%; -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); -o-transform: translateY(-50%); transform: translateY(-50%); font-weight: bold; font-size: 15px; line-height: 15px; }

section#main ul#accordion li:first-child div:after { content: ''; }

section#main ul#accordion li ul { display: none; padding-left: 40px; }

section#main ul#accordion li ul li { position: relative; }

section#main ul#accordion li ul li a { color: #000; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s; }

section#main ul#accordion li ul li a:hover { background: #000; color: #fff; }

section#main ul#accordion li ul li:after { content: "\f111"; font-family: "Font Awesome 5 Free"; cursor: pointer; padding: 0; color: #000; position: absolute; left: -12px; font-size: 5px; top: 50%; -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); -o-transform: translateY(-50%); transform: translateY(-50%); font-weight: 900; }

section#main ul.filterAlphabet { margin: 0; list-style: none; border-bottom: 2px solid #11141d; overflow: hidden; padding: 0; float: left; }

section#main ul.filterAlphabet li { display: inline-block; }

section#main ul.filterAlphabet li.go-to { font-weight: bold; font-size: 14px; }

section#main ul.filterAlphabet li.no-link { padding: 0 7px; color: #999; }

section#main ul.filterAlphabet li a { -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s; padding: 0 7px; color: #000; }

section#main ul.filterAlphabet li a:hover { color: #fff; background: #11141d; }

section#main ul.shop_list { margin: 0; padding: 0; }

section#main ul.shop_list li { margin-bottom: 5px; }

section#main ul.shop_list li.top-letter { margin-top: 20px; font-weight: bold; font-size: 22px; }

section#main ul.shop_list li a { color: #000; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s; }

section#main ul.shop_list li a:hover { color: #fff; background: #11141d; }

section#main ul.nav-section.filter { padding: 15px 20px; border-bottom: 1px solid #999; background-color: #f6f6f6; list-style: none; margin: 0; }

section#main ul.nav-section.filter li { margin: 8px 0; position: relative; }

section#main ul.nav-section.filter li a { -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s; padding: 3px 5px; }

section#main ul.nav-section.filter li a:hover { color: #fff; background: #000; }

section#main ul.nav-section.filter li .filterStores, section#main ul.nav-section.filter li .filterType { display: none; }

section#main ul.nav-section.filter li label { position: relative; cursor: pointer; margin-bottom: 5px; font-weight: 700; padding-left: 25px; }

section#main .t-stores { margin: 10px 0; font-weight: 700; }

section#main .filterStores + label:before, section#main .filterType + label:before { background-color: #fafafa; border: 1px solid #cacece; -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05); -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05); box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05); width: 16px; height: 16px; content: ''; position: absolute; top: 50%; -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); -o-transform: translateY(-50%); transform: translateY(-50%); left: 0; border-radius: 2px; }

section#main .filterStores:checked + label:before, section#main .filterType:checked + label:before { background-color: #000; }

section#main .filter.stores { max-height: 300px; overflow-y: auto; }

section#main .filter.stores::-webkit-scrollbar { width: 12px; }

section#main .filter.stores::-webkit-scrollbar-track { -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); border-radius: 10px; }

section#main .filter.stores::-webkit-scrollbar-thumb { border-radius: 10px; -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5); }

section#main .slider-flash { margin-bottom: 50px; }

section#main .slider-flash .slick-next { width: auto; height: auto; top: 35%; right: -20px; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s; }

section#main .slider-flash .slick-next:before { content: "\f105"; font-family: "Font Awesome 5 Free"; cursor: pointer; padding: 0; color: #a9995f; font-weight: 900; font-size: 30px; }

section#main .slider-flash .slick-prev { width: auto; height: auto; top: 35%; left: -20px; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s; }

section#main .slider-flash .slick-prev:before { content: "\f104"; font-family: "Font Awesome 5 Free"; cursor: pointer; padding: 0; color: #a9995f; font-size: 30px; font-weight: 900; }

section#main .slider-flash .item-product { margin: 0 10px; }

section#main .slider-product { margin-bottom: 50px; }

section#main .slider-product .slick-next { width: auto; height: auto; top: 40%; right: -25px; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s; }

section#main .slider-product .slick-next:before { content: "\f105"; font-family: "Font Awesome 5 Free"; cursor: pointer; padding: 0; color: #a9995f; font-weight: 900; font-size: 35px; }

section#main .slider-product .slick-prev { width: auto; height: auto; top: 40%; left: -25px; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s; }

section#main .slider-product .slick-prev:before { content: "\f104"; font-family: "Font Awesome 5 Free"; cursor: pointer; padding: 0; color: #a9995f; font-size: 35px; font-weight: 900; }

section#main .slider-product .item-product { margin: 0 10px; }

section#main .bg-highlight { margin-bottom: 50px; position: relative; }

section#main .bg-highlight .in-highlight { position: relative; background-size: cover !important; height: 400px; margin: auto 0; }

section#main .bg-highlight .s-high { text-transform: uppercase; color: white; opacity: 0.7; margin-bottom: 5px; }

section#main .bg-highlight .t-high { margin-bottom: 10px; font-weight: bold; font-size: 25px; line-height: 1.2; color: white; }

section#main .bg-highlight .bdy-high { padding: 0 15px; margin-bottom: 10px; }

section#main .bg-highlight .bdy-high p { margin-bottom: 0; line-height: 20px; font-size: 14px; color: white; }

section#main .bg-highlight .btn-high a { -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s; color: white; text-transform: uppercase; font-size: 15px; border-bottom: 1px solid white; padding-bottom: 2px; }

section#main .bg-highlight .btn-high a:hover { color: #a9995f; border-bottom: 1px solid #a9995f; }

section#main .slider-section { margin-bottom: 50px; }

section#main .slider-section .slick-next { width: auto; height: auto; top: 45%; right: -15px; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s; }

section#main .slider-section .slick-next:before { content: "\f105"; font-family: "Font Awesome 5 Free"; cursor: pointer; padding: 0; color: #a9995f; font-weight: 900; font-size: 20px; }

section#main .slider-section .slick-prev { width: auto; height: auto; top: 45%; left: -15px; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s; }

section#main .slider-section .slick-prev:before { content: "\f104"; font-family: "Font Awesome 5 Free"; cursor: pointer; padding: 0; color: #a9995f; font-size: 20px; font-weight: 900; }

section#main .slider-section .item { margin: 0 7.5px; }

section#main .slider-section .item a { display: block; }

section#main .slider-section .item a .img-section { -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s; margin-bottom: 10px; }

section#main .slider-section .item a .img-section img { width: 100%; }

section#main .slider-section .item a:hover .nm-section { color: #a9995f; }

section#main .slider-section .item a:hover .img-section { opacity: 0.8; }

section#main .slider-section .item a .nm-section { -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s; text-align: center; font-size: 12px; text-transform: uppercase; line-height: 1.2; }

section#main .item-product { margin-bottom: 30px; }

section#main .item-product .in-product { margin-bottom: 10px; position: relative; background-color: #fff; }

section#main .item-product .in-product .img-product { font-size: 0; }

section#main .item-product .in-product .img-product img { width: 100%; }

section#main .item-product .in-product .overlay-product { background-color: rgba(255, 255, 255, 0.75); width: 100%; height: 100%; position: absolute; z-index: 99; visibility: hidden; opacity: 0; top: 0; left: 0; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s; }

section#main .item-product .in-product .btn-product { position: absolute; left: 50%; -webkit-transform: translateX(-50%); -moz-transform: translateX(-50%); -ms-transform: translateX(-50%); -o-transform: translateX(-50%); transform: translateX(-50%); -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s; bottom: 0; opacity: 0; top: inherit; z-index: 100; text-align: center; }

section#main .item-product .in-product .btn-product a { -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s; color: #000; display: block; border: 1px solid #000; padding: 8px 10px; font-size: 13px; text-transform: uppercase; }

section#main .item-product .in-product .btn-product a:hover { background: #000; color: white; }

section#main .item-product .in-product:hover .overlay-product { visibility: visible; opacity: 1; }

section#main .item-product .in-product:hover .btn-product { top: 50%; bottom: inherit; opacity: 1; -webkit-transform: translate(-50%, -50%); -moz-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); -o-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }

section#main .item-product .in-product ul.l-product { margin: 0; padding: 0; position: absolute; top: 10px; z-index: 100; right: 10px; }

section#main .item-product .in-product ul.l-product li { display: inline-block; margin-right: 5px; }

section#main .item-product .in-product ul.l-product li:last-child { margin-right: 0; }

section#main .item-product .in-product ul.l-product li .icon-wish { cursor: pointer; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s; border: 2px solid #bc0429; background: transparent; width: 28px; height: 28px; position: relative; -moz-border-radius: 50%; -webkit-border-radius: 50%; -khtml-border-radius: 50%; border-radius: 50%; }

section#main .item-product .in-product ul.l-product li .icon-wish i { position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); -moz-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); -o-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }

section#main .item-product .in-product ul.l-product li .icon-wish i.fas { font-size: 12px; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s; color: #bc0429; }

section#main .item-product .in-product ul.l-product li .icon-wish:hover, section#main .item-product .in-product ul.l-product li .icon-wish.active { background: #bc0429; }

section#main .item-product .in-product ul.l-product li .icon-wish:hover i.fas, section#main .item-product .in-product ul.l-product li .icon-wish.active i.fas { color: white; }

section#main .item-product .in-product ul.l-product li a .icon-cart { -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s; border: 2px solid #bc955a; background: transparent; width: 28px; height: 28px; position: relative; -moz-border-radius: 50%; -webkit-border-radius: 50%; -khtml-border-radius: 50%; border-radius: 50%; }

section#main .item-product .in-product ul.l-product li a .icon-cart i { position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); -moz-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); -o-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }

section#main .item-product .in-product ul.l-product li a .icon-cart i.fas { font-size: 12px; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s; color: #bc955a; }

section#main .item-product .in-product ul.l-product li a:hover .icon-cart { background: #bc955a; }

section#main .item-product .in-product ul.l-product li a:hover .icon-cart i.fas { color: white; }

section#main .item-product .desc { text-align: center; }

section#main .item-product .desc a:hover .stores-product { color: #bc955a; }

section#main .item-product .desc a:hover .nm-product { color: #bc955a; }

section#main .item-product .desc a .stores-product { -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s; font-weight: bold; font-size: 16px; text-transform: uppercase; line-height: 1.2; margin-bottom: 7px; }

section#main .item-product .desc a .nm-product { -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s; font-size: 13px; height: 40px; }

section#main .item-product .desc .sale .pr-product.line { text-decoration: line-through; color: #adacac; margin-right: 10px; }

section#main .item-product .desc .pr-product { font-size: 13px; margin-bottom: 7px; text-transform: uppercase; }

section#main .item-product .desc ul.l-color { margin: 0; padding: 0; text-align: center; }

section#main .item-product .desc ul.l-color li { margin-right: 5px; display: inline-block; }

section#main .item-product .desc ul.l-color li:last-child { margin-right: 0; }

section#main .item-product .desc ul.l-color li .box-color { width: 20px; height: 15px; }

footer .footer-top { margin-top: 30px; background-color: #f6f6f6; padding-top: 50px; padding-bottom: 20px; color: #626262; text-align: center; }

footer .footer-top .t-footer { font-size: 18px; text-transform: uppercase; line-height: 1.2; margin-bottom: 20px; }

footer .footer-top .bdy-footer p { font-size: 12px; }

footer .footer-top .bdy-footer p a { font-size: 12px; color: #626262; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s; }

footer .footer-top .bdy-footer p a:hover { color: #bc955a; }

footer .footer-top ul.soc-footer { margin: 15px 0 5px; padding: 0; }

footer .footer-top ul.soc-footer li { display: inline-block; margin-right: 5px; }

footer .footer-top ul.soc-footer li:last-child { margin-right: 0; }

footer .footer-top ul.soc-footer li a .icon-footer { -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s; border: 2px solid #bc955a; background: white; width: 28px; height: 28px; position: relative; -moz-border-radius: 50%; -webkit-border-radius: 50%; -khtml-border-radius: 50%; border-radius: 50%; }

footer .footer-top ul.soc-footer li a .icon-footer i { position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); -moz-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); -o-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }

footer .footer-top ul.soc-footer li a .icon-footer i.fab { -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s; color: #bc955a; }

footer .footer-top ul.soc-footer li a:hover .icon-footer { background: #bc955a; }

footer .footer-top ul.soc-footer li a:hover .icon-footer i.fab { color: white; }

footer .footer-top .terms a { font-weight: bold; color: #626262; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s; }

footer .footer-top .terms a:hover { color: #bc955a; }

footer .footer-bottom { color: #000; text-align: center; font-size: 12px; padding: 10px 0; }

@media (min-width: 768px) and (max-width: 991px) { .item-four:nth-child(3n+1) { clear: left; } }

@media (min-width: 991px) { .item-four:nth-child(4n+1) { clear: left; } }

@media (max-width: 767px) { .item-four:nth-child(2n+1) { clear: left; } }

.ml10 { margin-left: 10px; }

.flip-clock-wrapper { margin: 0 !important; }

.flip-clock-wrapper ul { width: 25px !important; height: 25px !important; font-size: 16px !important; line-height: 25px !important; margin: 0 2px !important; }

.flip-clock-wrapper ul li { line-height: 25px !important; }

.flip-clock-wrapper ul li a div { font-size: 16px !important; }

.flip-clock-wrapper ul li a div div.inn { font-size: 16px !important; }

.flip-clock-wrapper .flip { box-shadow: none !important; }

.flip-clock-wrapper .flip-clock-divider { height: 25px !important; }

.flip-clock-wrapper .flip-clock-divider.minutes, .flip-clock-wrapper .flip-clock-divider.seconds { width: 15px !important; }

.flip-clock-wrapper .flip-clock-divider .flip-clock-label { display: none; }

.flip-clock-wrapper .flip-clock-dot { width: 5px !important; height: 5px !important; box-shadow: none !important; }

.flip-clock-wrapper .flip-clock-dot.top { top: 14px !important; }

.flip-clock-wrapper .flip-clock-dot.bottom { bottom: 14px !important; }

.back-to-top { bottom: 15%; cursor: pointer; display: none; position: fixed; right: 30px; text-align: center; z-index: 10000; }

.back-to-top:hover span.arrow-up .fas { color: #a9995f; }

.back-to-top span.arrow-up { position: absolute; top: 20px; left: 50%; -webkit-transform: translateX(-50%); -moz-transform: translateX(-50%); -ms-transform: translateX(-50%); -o-transform: translateX(-50%); transform: translateX(-50%); -webkit-animation: bounce 0.4s ease-in-out infinite alternate; -moz-animation: bounce 0.4s ease-in-out infinite alternate; animation: bounce 0.4s ease-in-out infinite alternate; }

.back-to-top span.arrow-up .fas { -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s; font-size: 40px; color: black; }

@-webkit-keyframes bounce { 0% { top: 0; }
  100% { top: 5px; } }

@media (max-width: 1199px) { .menu > ul > li > a { padding: 15px 5px; font-size: 11px; letter-spacing: 0; }
  section#main .pad-product .image-product .slider-thumbnails .slick-list { height: 100% !important; }
  section#main .pad-product .image-product .slider-thumbnails .item { width: 75px !important; height: 92px !important; }
  section#main .pad-product .image-product .slider-thumbnails .item img { -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s; width: 100%; }
  section#main .item-product .desc .sale .pr-product.line { display: block; margin-right: 0; margin-bottom: 0; } }

@media (max-width: 991px) { .show991 { display: block; }
  header .header-top { display: none; }
  header .menu-mobile { display: inline-block; }
  header ul.hdr-right { height: 50px; position: relative; top: 2px; }
  header ul.hdr-right li { margin-right: 15px; }
  header ul.hdr-right li .h42 { height: 50px; }
  header ul.hdr-right li a { color: #a9995f; }
  header ul.hdr-right li a .fz18 { font-size: 18px; }
  header ul.hdr-right li a i.fas { margin-right: 0; font-size: 20px; }
  header ul.hdr-right li a:hover { color: #d7d5c6; }
  header .box-search { display: none; position: relative; top: 1px; background: #a9995f; padding: 10px 0; }
  header .box-search i.fas { position: absolute; top: 50%; -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); -o-transform: translateY(-50%); transform: translateY(-50%); right: 10px; z-index: 10; color: #a9995f; }
  header .box-search i.fas:hover { color: #d7d5c6; }
  header .box-search .form-control.form-search { -moz-border-radius: 1px; -webkit-border-radius: 1px; -khtml-border-radius: 1px; border-radius: 1px; padding: 6px 30px 6px 12px; border: 0; }
  ul.head .columns2 { -webkit-columns: 1; -moz-columns: 1; columns: 1; }
  ul.head .menu-dropdown-icon:before, ul.head .menu-dropdown-icon.active:before { display: block; }
  ul.head .columns2, ul.head .columns3 { -webkit-columns: 1; -moz-columns: 1; columns: 1; }
  ul.head .list-profile { background-color: #d2bf79; padding: 15px 20px; display: inline-block; text-transform: uppercase; }
  ul.head .list-profile a { padding: 0; }
  .menu > ul { display: none; }
  .menu > ul > li { width: 100%; float: none; display: block; text-align: left; position: relative; }
  .menu > ul > li.ss { border: none; }
  .menu > ul > li a { padding: 15px 20px; width: 100%; display: block; }
  .menu > ul > li:hover > a { color: white; }
  .menu > ul > li > ul { padding: 20px; position: relative; }
  .menu > ul > li > ul.normal-sub { width: 100%; }
  .menu > ul > li > ul > li { float: none; width: 100%; margin-top: 20px; }
  .menu > ul > li > ul > li:first-child { margin: 0; }
  .menu > ul > li > ul > li.leftside { width: 100%; }
  .menu > ul > li > ul > li.rightside { width: 100%; }
  .menu > ul > li > ul > li > ul { position: relative; }
  .menu > ul > li > ul > li > ul > li { float: none; }
  .menu .show-on-mobile { display: block; }
  section#main .pad-product { padding-top: 20px; }
  section#main .item-product .in-product .btn-product a { padding: 8px 8px; width: 90px; }
  section#main .slider-product .slick-next { right: -15px; top: 30%; }
  section#main .slider-product .slick-next:before { font-size: 30px; }
  section#main .slider-product .slick-prev { left: -15px; top: 30%; }
  section#main .slider-product .slick-prev:before { font-size: 30px; }
  section#main ul#accordion { margin-right: 10px; }
  section#main ul#accordion li div { padding: 5px 20px 5px 15px; font-size: 12px; }
  section#main ul#accordion li ul { padding-left: 30px; }
  section#main ul#accordion li ul li a { font-size: 12px; }
  section#main ul#accordion li ul li:after { top: 55%; }
  section#main .slider-section .slick-next { top: 40%; right: -10px; }
  section#main .slider-section .slick-next:before { font-size: 18px; }
  section#main .slider-section .slick-prev { top: 40%; left: -10px; }
  section#main .slider-section .slick-prev:before { font-size: 18px; }
  section#main ul.filterAlphabet li.go-to { font-size: 13px; }
  section#main ul.filterAlphabet li.no-link { padding: 0 5px; }
  section#main ul.filterAlphabet li a { font-size: 12px; padding: 0 5px; }
  section#main ul.shop_list li.top-letter { font-size: 17px; }
  section#main ul.shop_list li a { font-size: 12px; } }

@media (max-width: 767px) { .inline-block.block767 { display: block; }
  header .logo a img { height: 35px; }
  header .h50 { height: 35px; }
  header ul.hdr-right { height: 35px; }
  header ul.hdr-right li { margin-right: 5px; }
  header ul.hdr-right li .h42 { height: 35px; }
  header ul.hdr-right li a i.fas { margin-right: 0; font-size: 18px; }
  header .box-search { padding: 7px 0; }
  header .menu-mobile i.fas { font-size: 18px; }
  ul.head .menu-container .dropdown-product { margin-top: 20px; }
  ul.head .l-category { float: none; width: 100%; padding: 0; }
  section#main .pad-product .slider-detail { margin-bottom: 40px; }
  section#main .pad-product .slider-detail .slick-dots { bottom: -30px; }
  section#main .pad-product .slider-detail .slick-dots li button { width: 15px; height: 15px; }
  section#main .pad-product .slider-detail .slick-dots li button:before { font-size: 15px; }
  section#main .pad-product .desc-product .name-product { font-size: 18px; margin-bottom: 10px; }
  section#main .pad-product .desc-product .merk-product { font-size: 16px; }
  section#main .pad-product .desc-product .price-product { font-size: 16px; }
  section#main .pad-product .desc-product .line-product { margin: 20px 0 10px; }
  section#main .pad-product .desc-product #accordion.accordion-product .panel-heading a { font-size: 15px; }
  section#main .bg-highlight { margin-bottom: 40px; }
  section#main .bg-highlight .in-highlight { height: 300px; }
  section#main .bg-highlight .s-high { font-size: 12px; margin-bottom: 0px; }
  section#main .bg-highlight .t-high { margin-bottom: 8px; font-size: 20px; }
  section#main .bg-highlight .bdy-high { padding: 0 10px; }
  section#main .bg-highlight .bdy-high p { line-height: 20px; font-size: 13px; }
  section#main .bg-highlight .btn-high a { font-size: 14px; padding-bottom: 1px; }
  section#main .slider-flash { margin-bottom: 40px; }
  section#main .slider-flash .slick-next { top: 30%; right: -5px; }
  section#main .slider-flash .slick-next:before { font-size: 20px; }
  section#main .slider-flash .slick-prev { top: 30%; left: -5px; }
  section#main .slider-flash .slick-prev:before { font-size: 20px; }
  section#main .slider-flash .item-product { margin: 0 10px; }
  section#main .t-product { margin: 25px 0 15px; font-size: 18px; }
  section#main ul.nav-section.filter, section#main ul.nav-tabs.list-gender { padding: 10px 15px; }
  section#main .slider-product { margin-bottom: 40px; }
  section#main .slider-product .slick-next { right: -7px; top: 30%; }
  section#main .slider-product .slick-next:before { font-size: 20px; }
  section#main .slider-product .slick-prev { left: -7px; top: 30%; }
  section#main .slider-product .slick-prev:before { font-size: 20px; }
  section#main ul.mobile-section { margin: -5px 0 0; padding: 0; text-align: center; }
  section#main ul.mobile-section li { margin-bottom: 10px; }
  section#main ul.mobile-section li:last-child { margin-bottom: 0; }
  section#main ul.mobile-section li:last-child a { -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s; }
  section#main ul.mobile-section li:last-child a:hover { color: #a9995f; }
  footer .footer-top { padding-top: 30px; }
  footer .footer-top .t-footer { font-size: 16px; }
  .xs30 { margin-bottom: 30px; }
  .back-to-top { bottom: 15%; }
  .back-to-top span.arrow-up .fas { font-size: 25px; } }

@media (max-width: 480px) { .inline-block.block480 { display: block; margin-bottom: 15px; }
  .inline-block.block480.mb0 { margin-bottom: 0; }
  .ml10 { margin-left: 0; }
  .flip-clock-wrapper ul { width: 24px !important; height: 24px !important; font-size: 16px !important; line-height: 24px !important; }
  .flip-clock-wrapper ul li { line-height: 24px !important; }
  .flip-clock-wrapper ul li a div { font-size: 16px !important; }
  .flip-clock-wrapper ul li a div div.inn { font-size: 16px !important; }
  .flip-clock-wrapper .flip-clock-divider { height: 24px !important; }
  .flip-clock-wrapper .flip-clock-divider.minutes, .flip-clock-wrapper .flip-clock-divider.seconds { width: 13px !important; }
  .flip-clock-wrapper .flip-clock-dot.top { top: 15px !important; }
  .flip-clock-wrapper .flip-clock-dot.bottom { bottom: 15px !important; } }
