﻿@model DynamicContent.Areas.TenantManager.ViewModels.ProductViewModel
@{
    Layout = "~/Areas/TenantManager/Views/Shared/_authenticatedLayout.cshtml";

    var product = ViewData["Product"] as DynamicContent.Models.tbl_product_tmp;
    DynamicContent.Models.MainModel obj = new DynamicContent.Models.MainModel();

}

<div class="page page-product-detail">
    <div class="pageheader">
        <h2>Products<span>Today: @(DateTime.Now)</span></h2>
    </div>

    <div class="row">
        <div class="col-md-12">
            <section class="tile" fullscreen="isFullscreen02">
                <!-- tile header -->
                <div class="tile-header dvd dvd-btm">
                    <h1 class="custom-font"><strong>@((product == null) ? "Add New" : "Edit") </strong> Product</h1>
                </div>
                <!-- /tile header -->
                <!-- tile body -->
                <div class="tile-body">
                    @if (!Html.ViewData.ModelState.IsValid)
                    {
                        <div class="alert alert-lightred fade in">
                            <p>
                                @Html.ValidationSummary()
                            </p>
                        </div>
                    }

                    @using (Html.BeginForm(((product == null) ? "AddProduct" : "EditProduct"), "Product", new { ViewBag.ReturnUrl }, FormMethod.Post, new
                    {
                        @id = "form-addProduct",
                        @class = "form-horizontal",
                        role = "form",
                        enctype = "multipart/form-data",
                    }))
                    {

                        @Html.HiddenFor(x => x.tenantId);
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Product Category</label>
                            <div class="col-sm-9">
                                @Html.DropDownListFor(x => x.productCategory, ViewData["ProductCategory"] as List<SelectListItem>,
                               new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Product Subcategory</label>
                            <div class="col-sm-9">
                                @Html.DropDownListFor(x => x.productSubcategory, ViewData["ProductSubcategory"] as List<SelectListItem>, new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Product Type</label>
                            <div class="col-sm-9">
                                @Html.DropDownListFor(x => x.productType, ViewData["ProductType"] as List<SelectListItem>, new { @class = "form-control" })
                            </div>
                        </div>

                        @*<div class="form-group">
                                <label class="col-sm-3 control-label">Brand</label>
                                <div class="col-sm-9">
                                    @Html.DropDownListFor(x => x.productBrand, ViewData["Brand"] as IEnumerable<SelectListItem>, new { @class = "form-control" })
                                </div>
                            </div>*@

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Gender</label>
                            <div class="col-sm-9">
                                <label class="radio-inline">
                                    @Html.RadioButtonFor(x => x.productGender, "men", new { @checked = true }) Men
                                </label>
                                <label class="radio-inline">
                                    @Html.RadioButtonFor(x => x.productGender, "women") Women
                                </label>
                                <label class="radio-inline">
                                    @Html.RadioButtonFor(x => x.productGender, "unisex") Unisex
                                </label>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Product Name</label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(m => m.productName,
                               new
                               {
                                   @class = "form-control",
                                   @placeholder = "Enter product name"
                               })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Price Selection</label>
                            <div class="col-sm-9">
                                @Html.DropDownListFor(x => x.productPriceSelection, ViewData["PriceSelection"] as List<SelectListItem>,
                               new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label"></label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(x => x.productPrice, new { @class = "form-control currency", @placeholder = "Enter product price" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Sizes</label>
                            <div class="col-sm-9 adultSize">
                                @{
                                                        var selected = ((product != null) ? product.size.Split(',') : new string[] { });

                                                        var sizeList = (ViewData["adultSizes"] as List<string>);
                                                        for (int i = 0; i < sizeList.Count; i++)
                                                        {
                                                            if (i == 0)
                                                            {
                                                                @Html.Raw("<div class='row'>");
                                    <div><label>Clothes</label></div>
                                                            }

                                                            if (i == 1)
                                                            {
                                                                @Html.Raw("<div class='row'>");
                                    <div><label>Shoes</label></div>
                                                            }
                                                            var rowArr = sizeList[i].Split(',');

                                                            for (int j = 0; j < rowArr.Length; j++)
                                                            {
                                                                <div class="col-xs-3">
                                                                    <label class="checkbox-inline">
                                                                        <input type="checkbox" name="availableSizes"
                                                                               value="@rowArr[j]" @((selected.Contains(rowArr[j])) ? "checked" : "") /> @rowArr[j].ToUpper() &nbsp;
                                                                        </label>
                                                                    </div>
                                                            }

                                                            if (i == 0 || i == 1)
                                                            {
                                                                @Html.Raw("</div>");
                                                            }
                                                            <br />
                                                        }
                                }

                            </div>

                            <div class="col-sm-9 kidSize">
                                @{

                                                        var counter2 = 0;
                                                        var sizeList2 = (ViewData["kidSize"] as List<string>);
                                                        if (sizeList2 != null && sizeList2.Count() > 0)
                                                        {
                                                            for (int i = 0; i < sizeList2.Count; i++)
                                                            {
                                                                if (i == 0)
                                                                {
                                                                    @Html.Raw("<div class='row'>");
                                    <div><label>Clothes</label></div>
                                                                }

                                                                if (i == 1)
                                                                {
                                                                    @Html.Raw("<div class='row'>");
                                    <div><label>Shoes</label></div>
                                                                }
                                                                var rowArr2 = sizeList2[i].Split(',');
                                                                for (int j = 0; j < rowArr2.Length; j++)
                                                                {
                                                                    <div class="col-xs-3">
                                                                        <label class="checkbox-inline"><input type="checkbox" name="availableSizes" value="@rowArr2[j]" @((selected.Contains(rowArr2[j])) ? "checked" : "") /> @rowArr2[j] &nbsp; </label>
                                                                    </div>
                                                                }
                                                                if (i == 0 || i == 1)
                                                                {
                                                                    @Html.Raw("</div>");
                                                                }
                                                                <br />
                                                            }
                                                        }
                                                        else
                                                        {
                                                            @("no size available");
                                                        }

                                }

                            </div>
                            <div id="sizeMessage" class="col-sm-offset-3 col-sm-9"></div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Description</label>
                            <div class="col-sm-9">
                                @Html.TextAreaFor(x => x.description, new { @class = "form-control ", @placeholder = "Enter product Description", @id = "prodDesc" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Sizes and Fit</label>
                            <div class="col-sm-9">
                                @Html.TextAreaFor(x => x.sizeFit, new { @class = "form-control ", @placeholder = "Enter size and fit" })
                            </div>
                        </div>

                        <hr class="line-full" />

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Colours</label>
                            <div class="col-sm-9">
                                <a id="btnAddVariant" class="btn"><i class="fa fa-plus"></i>&nbsp;Add Colour</a>
                                <input type="hidden" value="" name="totalColour" />
                            </div>
                        </div>

                        <div class="col-md-offset-3 col-md-9">
                            <table id="variantTable" class="table table-responsive table-striped">
                                <thead>
                                <th width="80px"></th>
                                <th width="20%">Colour</th>
                                <th width="10px"></th>
                                <th>Images</th>
                                </thead>
                                <tbody id="varianttb">
                                    @{
                        if (Model != null && Model.variant != null)
                        {
                            for (int i = 0; i < Model.variant.Count(); i++)
                            {
                                <tr>
                                    <td>
                                        <a class="btn btn-danger btnDeleteColor" data-id="@Model.variant[i].id" data-i="i"><i class="fa fa-remove"></i></a>

                                        <input type="hidden" class="variantItem" value="@Model.variant[i].id" name="variant[@i].id" />
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <a class="btn btn-blue btnAddImage"><i class="fa fa-plus"></i>&nbsp;Add Image</a> <br /><br />
                                            <div class="input-group colorpicker-component">
                                                <input type="text" value="@Model.variant[i].color" name="variant[@i].color" class="form-control" />
                                                <span class="input-group-addon"><i></i></span>

                                            </div>
                                            <label class="checkbox-inline"><input type="checkbox" class="nocolor" name="variant[@i].nocolor" value="true" @(String.IsNullOrEmpty(Model.variant[i].color) ? "checked" : "") /> No Color</label>
                                        </div>
                                    </td>
                                    <td></td>
                                    <td class="listImg">
                                        <input type="hidden" value="0" class="colorTotalImage" name="variant[@i].totalImage" />
                                        <div class="totalImageMsg"></div>
                                        @{
                                var imgs = obj.GetProductImg2Tmp(Model.variant[i].id);
                                if (imgs != null)
                                {
                                    var lis = imgs.ToList();
                                    for (int j = 0; j < lis.Count(); j++)
                                    {
                                        <div class="form-group imgItem">
                                            <div class="col-sm-12">
                                                <img src="@lis[j].images" class="img-responsive" /><br />
                                                <a class="btn btn-danger btnDeleteImgColor" data-id="@lis[j].id" data-i="@i" data-j="@j">Delete Image</a>
                                                <input class="fileup" style="display:none" type="file" name="variant[@i].images[@j]">
                                            </div>
                                        </div>

                                    }

                                }
                                        }

                                    </td>
                                </tr>
                            }

                        }
                                    }
                                </tbody>
                            </table>
                            <br />
                        </div>

                        <hr class="line-full" />


                        <div class="form-group">
                            <label class="col-sm-3 control-label">Status</label>
                            <div class="col-sm-9">
                                @Html.DropDownListFor(x => x.status, ViewData["StatusSelection"] as List<SelectListItem>, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">

                            <div class="col-sm-offset-3 col-sm-9">
                                @*@if (product != null && product.approval_status == (int)DynamicContent.Helper.Constant.approvalStatus.waiting)
                                    {
                                        <button class="btn btn-darkgray" disabled type="submit">Waiting to Approval ...</button>
                                    }
                                    else
                                    {*@
                                <button class="btn btn-primary" name="submitBtn" value="AddProduct" type="submit">Save</button>
                                <button type="submit" name="submitBtn" value="AddApproveProduct" class="btn btn-warning">Submit to Approval</button>


                                @*if (product == null)
                                    {*@

                                @*}*@

                                @*}*@


                                @*@if (product != null && product.approval_status == (int) DynamicContent.Helper.Constant.approvalStatus.draft)
                                    {
                                        <a href="@Url.Action("SubmitApp", "Product", new { area = "TenantManager", id = product.ID })" class="btn btn-warning">Submit to Approval</a>
                                    }*@
                            </div>
                        </div>
                    }
                </div>
                <!-- /tile body -->
                <div class="tile-footer">

                </div>
            </section>
        </div>
    </div>

</div>
@section scripts {
    @Styles.Render("~/formvalidation/css")
    @Styles.Render("~/colorpicker/css")
    @Styles.Render("~/summernote/css")
    @Scripts.Render("~/formvalidation/js")
    @Scripts.Render("~/colorpicker/js")
    @Scripts.Render("~/summernote/js")
    <script type="text/javascript">
        $(document).ready(function() {
            $('#prodDesc').summernote({
                height:300,
                minHeight:300,
                toolbar: [
                    // [groupName, [list of button]]
                    ['style', ['bold', 'italic', 'underline', 'clear']],
                    ['font', ['arial']],
                    ['fontsize', ['fontsize']],
                    ['color', ['color']],
                    ['para', ['ul', 'ol', 'paragraph']],
                    ['height', ['height']]
                ]
            });
        });
        $(function () {
            var validatorLib = {
                'validateNotEmpty': {
                    validators: {
                        notEmpty: {
                            message: "This field cannot be empty"
                        }
                    }
                },
                'validateProductName': {
                    excluded: false,
                    validators: {
                        notEmpty: {
                            message: "This field cannot be empty"
                        },
                        stringLength: {
                            max: 50,
                            //inclusive: true,
                            message: "Please enter a value less than or equal to 50 character."
                        }
                    }
                },
                'validateSizes': {
                    err: '#sizeMessage',
                    validators: {
                        notEmpty: {
                            message: "This field cannot be empty"
                        }
                    }
                },
                'validateImg' :{
                    validators: {
                        notEmpty: {
                            message: "Image cannot be empty"
                        },
                        file: {
                            type: "@ViewData["TenantFileAllowed"]",
                            maxSize: @ViewData["TenantImageSize"],
                            message: "@ViewData["TenantFileAllowedMsg"]"
                        }
                    }
                },
                'validateColour': {
                    excluded: false,
                    validators: {
                        notEmpty: {
                            message: "Colour cannot be empty"
                        },
                        greaterThan: {
                            value: 1,
                            inclusive: true,
                            message: "Colour cannot be empty. Please add at least one colour."
                        }
                    }
                },
                'validateImgTotal': {
                    excluded: false,
                    // selector: '.colorTotalImage',
                    row: '.listImg',
                    validators: {
                        notEmpty: {
                            message: "Colour cannot be empty"
                        },
                        greaterThan: {
                            value: 1,
                            inclusive: true,
                            message: "Please add at least one image per colour"
                        }
                    }
                },
                'validatePrices': {
                    excluded: false,
                    // selector: '.colorTotalImage',
                    validators: {
                        notEmpty: {
                            message: "Prices cannot be empty"
                        },
                        greaterThan: {
                            value: 1,
                            message: "Prices cannot be zero"
                        }
                    }
                }
            };
            var fv = $('#form-addProduct')
                .formValidation({
                    framework: 'bootstrap',
                    fields: {
                        '@Html.IdFor(x => x.productCategory)': validatorLib.validateNotEmpty,
                        '@Html.IdFor(x => x.productSubcategory)': validatorLib.validateNotEmpty,
                        '@Html.IdFor(x => x.productGender)': validatorLib.validateNotEmpty,
                        '@Html.IdFor(x => x.productName)': validatorLib.validateProductName,
                        '@Html.IdFor(x => x.productPrice)' : validatorLib.validatePrices,
                        'availableSizes': validatorLib.validateSizes,
                        'totalColour': validatorLib.validateColour
                        //'imageTotal': validatorLib.validateImgTotal
                    }
                }).on('prevalidate.form.fv', function (e) {
                    $('input[name="totalColour"]').val($('#varianttb tr').length);
                });
            function disableAllForm() {
                $("form :input").prop("disabled", true);
                $('#btnAddVariant,.btnAddImage,.btnDeleteImgColor,.btnDeleteColor').hide();
            }

            function pageSetup() {
                if ($('#productCategory option:selected').text().toLowerCase() == "kids") {
                    $('.kidSize').show();
                    $('.adultSize').hide();

                }
                else {
                    $('.adultSize').show();
                    $('.kidSize').hide();
                }
            }

            pageSetup();

            @*@if (product != null && product.approval_status == (int)DynamicContent.Helper.Constant.approvalStatus.waiting)
             {
                 @:disableAllForm();
             }*@

            var getSub = function () {
                $.ajax({
                    url: '/TenantManager/Product/GetSubcategory',
                    data: { parent: $('#productCategory').val() }
                })
                    .success(function (json) {
                        console.log(json);
                        $('#productSubcategory').empty();
                        for (var i = 0; i < json.length; i++) {
                            $('#productSubcategory').append($('<option>', {
                                value: json[i].ID,
                                text: json[i].name
                            }));
                        }

                        getType();
                        if ($('#productCategory option:selected').text().toLowerCase() == "kids") {
                            $('.kidSize').show();
                            $('.adultSize').hide();

                        }
                        else {
                            $('.adultSize').show();
                            $('.kidSize').hide();
                        }
                    });
            };
            var getType = function () {
                $.ajax({
                    url: '/TenantManager/Product/GetType',
                    data: { cat: $('#productCategory').val(), sub: $('#productSubcategory').val() }
                })
                        .success(function (json) {
                            console.log(json);
                            $('#productType').empty();
                            for (var i = 0; i < json.length; i++) {
                                $('#productType').append($('<option>', {
                                    value: json[i].ID,
                                    text: json[i].TypeDesc
                                }));
                            }
                        });
            };
            $('#productPriceSelection').on('change', function () {
                if ($(this).val() == 'price upon request') {
                    $('#productPrice').hide();
                    $('#productPrice').val("");
                }
                else {
                    $('#productPrice').show();
                }
            })
            $('#productCategory').on('change', function () {
                getSub()
            })

            $('#productSubcategory').on('change', function () {
                getType();
            })

            $("#productCategory").change(function () {
                if ($('#productCategory option:selected').text().toLowerCase() == "kids") {
                    $('.kidSize').show();
                    $('.adultSize').hide();
                    //alert($('#productCategory option:selected').text());
                }
                else {
                    $('.adultSize').show();
                    $('.kidSize').hide();
                }
            });

            //$("#productCategory, #productSubcategory").change(function () {
            //    if ($('#productSubcategory option:selected').text().toLowerCase() == "children's apparel") {
            //        $('.kidSize').show();
            //        $('.adultSize').hide();

            //    }
            //    else {
            //        $('.adultSize').show();
            //        $('.kidSize').hide();
            //    }
            //});

            $('#btnAddVariant').on('click', function () {
                var i = $('#varianttb tr').length;
                //fv.formValidation('revalidateField', 'variant[' + i + '].totalImage');
                //if (!fv.data('formValidation').isValidContainer($('#varianttb')) && i > 0) {
                //    alert('Please ensure colour input is correct before adding new colour.');
                //    return;
                //}
                var tr = '<tr>' +
                            '<td>'+
                                                        '<a class="btn btn-danger btnDeleteColor" data-i="'+i+'"><i class="fa fa-remove"></i></a>'+
                                                        //'<input type="hidden"  name="variant['+i+'].id" />'+
                                                    '</td>'+
                                         '<td>' +
                                             '<div class="form-group">' +
                                                 '<a class="btn btn-blue btnAddImage"><i class="fa fa-plus"></i>&nbsp;Add Image</a> <br /><br />' +
                                                 '<div class="input-group colorpicker-component">' +
                                                     '<input type="text" value="" name="variant['+i+'].color" class="form-control" />' +
                                                    ' <span class="input-group-addon"><i></i></span>' +
                                                '</div>' +
                                                '<label class="checkbox-inline"><input type="checkbox" class="nocolor" name="nocolor" /> No Color</label>' +
                                             '</div>' +
                                         '</td>' +
                                         '<td></td>' +
                                         '<td class="listImg">' +
                                            '<input type="hidden" value="0" class="colorTotalImage" name="variant['+i+'].totalImage" />' +
                                         '</td>' +
                                     '</tr>';
                $('#varianttb').append(tr);
                setTimeout(function () {
                    $('.colorpicker-component').colorpicker();
                }, 200);

                $('input[name="totalColour"]').val(i + 1);
                fv.formValidation('revalidateField', 'totalColour');
                fv.formValidation('addField', 'variant[' + i + '].totalImage', validatorLib.validateImgTotal);
                console.log('adding ' + 'variant[' + i + '].totalImage');
            });

            $('.colorpicker-component').colorpicker();

            $('form').on('click', '.btnAddImage', function () {
                var i = $('#varianttb tr').index($(this).parent().parent().parent());
                var lstImg = $(this).parent().parent().siblings('.listImg');
                var j = $(lstImg).children('.imgItem').length;
                var tdImg = '<div class="form-group imgItem">' +
                                    '<div class="col-sm-12">'+
                                                   '<input style="display:inline-block;" class="fileup" name="variant[' + i + '].images[' + j + ']" type="file" data-buttonText="Find file" data-iconName="fa fa-inbox">' +
                                                   '<a class="btn btn-danger btnDeleteImgColor" data-i="'+i+'" data-j="'+j+'">Delete Image</a>' +
                                           '</div>';
                lstImg.append(tdImg);
                $('input[name="variant[' + i + '].totalImage"]').val(j + 1);
                fv.formValidation('revalidateField', 'variant[' + i + '].totalImage');
                fv.formValidation('addField', 'variant[' + i + '].images[' + j + ']', validatorLib.validateImg);
            })

            $('form').on('click', '.btnDeleteColor', function () {
                debugger;
                var clrId = $(this).data('id');
                var $that = $(this);
                if (clrId !== undefined && clrId != '' && clrId != null) {
                    $.ajax({
                        url: '/TenantManager/Product/DeleteVariant/' + clrId
                    })
                    .success(function (json) {
                        if (json.success) {
                            fv.formValidation('removeField', 'variant[' + $that.data('i') + '].images[]');
                            fv.formValidation('removeField', 'variant[' + $that.data('i') + '].totalImage');
                            console.log('removing ' + 'variant[' + $that.data('i') + '].totalImage');
                            $that.parent().parent().remove();
                            alert(json.message);
                        }
                    });
                }
                else {
                    fv.formValidation('removeField', 'variant[' + $that.data('i') + '].images[]');
                    fv.formValidation('removeField', 'variant[' + $that.data('i') + '].totalImage');
                    console.log('removing ' + 'variant[' + $that.data('i') + '].totalImage');
                    $(this).parent().parent().remove();
                }
                $('input[name="totalColour"]').val($('#varianttb tr').length);
                fv.formValidation('revalidateField', 'totalColour');

            });

            $('form').on('click', '.btnDeleteImgColor', function () {
                var clrId = $(this).data('id');
                //alert(clrId); return false;
                var $that = $(this);
                if (clrId !== undefined && clrId != '' && clrId != null) {
                    $.ajax({
                        url: '/TenantManager/Product/DeleteImage/' + clrId
                    })
                    .success(function (json) {
                        if (json.success) {
                            fv.formValidation('removeField', 'variant[' + $that.data('i') + '].images[' + $that.data('j') + ']');
                            $that.parent().parent().hide();
                            $('input[name="variant[' + $that.data('i') + '].totalImage"]').val($('.listImg > div:visible').length);
                            alert(json.message);
                        }
                    });
                }
                else {
                    fv.formValidation('removeField', 'variant[' + $that.data('i') + '].images[' + $that.data('j') + ']');
                    $(this).parent().parent().remove();
                    $('input[name="variant[' + $that.data('i') + '].totalImage"]').val($('.listImg > div:visible').length);
                }
                fv.formValidation('revalidateField', 'variant[' + $that.data('i') + '].totalImage');
            })

            $('form').on('keyup change paste', '.colorpicker', function () {

                $(this).siblings('.colorPreview').css('background-color', $(this).val());
            });

            $('#form-addProduct').on('keyup change paste', '.currency', function () {
                var o = $(this);
                setTimeout(function () {
                    var v = Number(o.val().replace(/,/g, ''));
                    if (o.val() != "" && (isNaN(v) || v === 0)) {
                        o.val("0");
                        return;
                    }
                    else if (o.val() == "") {
                        o.val("");
                        return;
                    }
                    o.val(v.toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,"));
                }, 300);
            });

            $('#form-addProduct').on('change','.nocolor',function(){
                var $that = $(this);
                debugger;//var $clr = $that.parent().siblings('');
                var $colorInput =  $that.parent().siblings('.colorpicker-component').find('input');
                if($that.is(':checked')) {
                    $colorInput.val("");
                    $colorInput.prop('disabled',true);
                }
                else {
                    $colorInput.prop('disabled',false);
                }

            });

            $('.summernote').summernote({
                height: 200   //set editable area's height
            });
        })
    </script>
}