﻿@model  DynamicContent.Models.Banner_tenant
@{
    Layout = "~/Areas/TenantManager/Views/Shared/_authenticatedLayout.cshtml";
}

<div class="page page-product-detail">
    <div class="pageheader">
        <h2>Tenant Banner<span>Today: @(DateTime.Now)</span></h2>
    </div>

    <div class="row">
        <div class="col-md-12">
            <section class="tile" fullscreen="isFullscreen02">
                <!-- tile header -->
                <div class="tile-header dvd dvd-btm">
                    <h1 class="custom-font"><strong>Add </strong> Tenant Banner</h1>
                </div>
                <!-- /tile header -->
                <!-- tile body -->
                <div class="tile-body">
                    @using (Html.BeginForm("AddTenantBanner", "Product", new { ViewBag.ReturnUrl }, FormMethod.Post, new
                    {
                        @id = "form-addProduct",
                        @class = "form-horizontal",
                        role = "form",
                        enctype = "multipart/form-data",
                    }))
                    {
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Image :</label>
                            <div class="col-sm-9">
                                <input class="fileup" type="file" id="imageBanner" name="imageBanner">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Preview :</label>
                            <div class="col-sm-9">
                                <img id="blah" src="@Model.ImageTenantPath" class="img-thumbnail" alt="your image" />
                            </div>
                        </div>
                        if (Model.IsActive == false)
                        {
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Status :</label><div class="col-sm-9">
                                    <label><span style="color:red">*</span>Waiting for Approval</label>
                                </div>
                            </div>
                        }
                        <div class="form-group">

                            <div class="col-sm-offset-3 col-sm-9">
                                <button type="submit" id="btnsub" name="submitBtn" class="btn btn-warning" disabled="disabled">Upload</button>
                            </div>
                        </div>
                    }
                </div>
            </section>

            <!-- /tile body -->
            <div class="tile-footer">

            </div>

        </div>
    </div>

</div>
@section scripts {
    @Styles.Render("~/formvalidation/css")
    @Styles.Render("~/colorpicker/css")
    @Styles.Render("~/summernote/css")
    @Scripts.Render("~/formvalidation/js")
    @Scripts.Render("~/colorpicker/js")
    @Scripts.Render("~/summernote/js")
    <script>
        $(document).ready(function () {

            function readURL(input) {

                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        $('#blah').attr('src', e.target.result);
                        $("#btnsub").prop('disabled', false);
                    }

                    reader.readAsDataURL(input.files[0]);
                }
            }

            $("#imageBanner").change(function () {
                readURL(this);
            });
        })
    </script>
}