﻿@{
    Layout = "~/Areas/TenantManager/Views/Shared/_authenticatedLayout.cshtml";
}


<div class="page page-product-list">
    <div class="pageheader">
        <h2>Products <span>Today: @(DateTime.Now)</span></h2>
    </div>

    <div class="row">
        <div class="col-md-12">
            <section class="tile" fullscreen="isFullscreen02">
                <!-- tile header -->
                <div class="tile-header dvd dvd-btm">
                    <h1 class="custom-font"><strong>List </strong>Product</h1>
                    <ul class="controls">
                        <li>
                            <a href="@Url.Action("AddProduct", "Product", new { area = "TenantManager" })" role="button" tabindex="0" class="pickDate">
                                <span></span><i class="fa fa-plus"></i> Add Product
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- /tile header -->
                <!-- tile body -->
                <div class="tile-body p-30">
                    <div class="form-group">
                        <span class="control-label" style="float:left">Product status</span>
                        <div class="col-sm-3 ">
                            <select id="activeFilterSelect" class="form-control">
                                <option value="">-- Status --</option>
                                <option value="1">Active</option>
                                <option value="0">Inactive</option>
                            </select>

                        </div>
                    </div>
                    <div class="clearfix"></div><br />
                    <div class="row">
                        <table class="table table-custom" id="productDatatable" style="width:100% !important;">
                            <thead>
                                <tr>
                                    <th width="200px">Modified Date</th>
                                    <th width="30%">Name</th>
                                    <th width="200px">Approval Status</th>
                                    <th width="100px">Category</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    </div>
                <!-- /tile body -->
            </section>
        </div>
    </div>

</div>

@section scripts {
    @Styles.Render("~/TenantManager/Datatables/css")
    @Scripts.Render("~/TenantManager/Datatables/js")
    <script type="text/javascript">
    $(document).ready(function () {
        function timeConverter(UNIX_timestamp) {
            var a = new Date(UNIX_timestamp);
            var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
            var year = a.getFullYear();
            var month = months[a.getMonth()];
            var date = a.getDate();
            var hour = a.getHours();
            var min = a.getMinutes();
            var sec = a.getSeconds();
            var time = date + ' ' + month + ' ' + year + ' ' + hour + ':' + min + ':' + sec;
            return time;
        }

            var oTable = $('#productDatatable')
                .on('xhr.dt', function (e, settings, json, xhr) {
                    if (xhr.status == 403) {
                        var response = $.parseJSON(xhr.responseText);
                        window.location = response.logonurl;
                    }
                })
                .DataTable({
                "serverSide": true,
                "ajax": {
                    "type": "POST",
                    "url": '/TenantManager/Product/ProductListDataHandler',
                    "contentType": 'application/json; charset=utf-8',
                    'data': function (data) { return data = JSON.stringify(data); }
                },
                "scrollCollapse": true,
                "scroller": {
                    loadingIndicator: false
                },
                "processing": true,
                "paging": true,
                "deferRender": true,
                "columns": [
                    {
                        "data": "modified_date",
                        "render": function (data, type, full, meta) {
                            return timeConverter(parseInt(data.substr(6)));
                        }
                    },
                   {
                       "data": "name",
                       "render": function (data, type, full, meta) {
                           
                           var st = '';
                           if (!full.status)
                               st = ' <strong>(Inactive)</strong>';

                           return data + st;
                       }
                   },
                   {
                       "data": "approval_status",
                       "render": function (data, type, full, meta) {
                           var appStatus = data;
                           var st = '';
                           if (appStatus == 0) {
                               st = 'Draft';
                           }
                           else if (appStatus == 1) {
                               st = 'Waiting';
                           }
                           else if (appStatus == 2) {
                               st = 'Approved';
                           }
                           else if (appStatus == 3) {
                               st = 'Rejected' + ((full.approval_message != '') ? ' ('+full.approval_message+')':'');
                           }
                           else {
                               st = appStatus;
                           }
                           return st;
                           
                       }
                   },
                   //{ "data": "category" },
                   { "data": "category" },
                   { "data": "status" , "visible": false},
                   {
                       "render": function (data, type, full, meta) {
                           return '<a href="/product/preview?id=' + full.id +
                               '" class="btn btn-success" target="_blank"><i class="fa fa-search"></i></a> <a href="/TenantManager/Product/EditProduct/' + full.id +
                               '" class="btn btn-primary" title="View"><i class="fa fa-pencil"></i></a>'

                               ;
                       },
                       "sortable": false

                   }
                ],
                "order": [0, "desc"],
            });
            
            $('#activeFilterSelect').on('change', function () {
                oTable.columns(4)
                   .search(this.value)
                   .draw();
            })


            //oTable.columns().every(function () {
            //    var that = this;

            //    $('input', this.footer()).on('keyup change', function () {
            //        that
            //            .search(this.value)
            //            .draw();
            //    });
            //});
        });
    </script>
}