﻿@model DynamicContent.Areas.TenantManager.ViewModels.ReservationViewModel
@{    
    Layout = "~/Areas/TenantManager/Views/Shared/_authenticatedLayout.cshtml";
    DynamicContent.Models.Entities db = new DynamicContent.Models.Entities();
}


<div class="page page-order-details">
    <div class="pageheader">
        <h2>Transaction Detail <span>Today: @(DateTime.Now)</span></h2>
    </div>

    <div class="row">
        <div class="col-md-8">
            <section class="tile" fullscreen="isFullscreen02">
                <!-- tile header -->
                <div class="tile-header dvd dvd-btm">
                    <h1 class="custom-font">Detail <strong>Reservation: </strong>@Model.reservationCode</h1>
                </div>
                <!-- /tile header -->
                <!-- tile body -->
                <div class="tile-body">
                    @using (Html.BeginForm(("EditFollowup"), "Order", new { ViewBag.ReturnUrl }, FormMethod.Post, new
                    {
                        @id = "form-addProduct",
                        @class = "form-horizontal",
                        role = "form",
                        enctype = "multipart/form-data",
                    }))
                    {
                        @Html.HiddenFor(x => x.id);
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Description</label>
                            <div class="col-sm-9">
                                @Html.TextAreaFor(x => x.followUpNote, new { @class = "form-control ", @placeholder = "Enter Follow Up Note" })
                            </div>
                        </div>
                        <div class="col-sm-offset-3 col-sm-9">
                            <button class="btn btn-primary" name="submitBtn" value="AddProduct" type="submit">Save</button>
                            <a href="@Request.UrlReferrer" class="btn btn-warning" style="margin-left:10px">Back </a>
                        </div>
                    }
                    <hr />
                </div>
                <!-- /tile body -->
            </section>
        </div>
    </div>
</div>
@section scripts {
@Styles.Render("~/formvalidation/css")
@Styles.Render("~/colorpicker/css")
@Styles.Render("~/summernote/css")
@Scripts.Render("~/formvalidation/js")
@Scripts.Render("~/colorpicker/js")
@Scripts.Render("~/summernote/js")
<link rel='stylesheet' href='/Areas/TenantManager/Assets/js/vendor/jquery-ui/jquery-ui.css' type='text/css' />
<script type='text/javascript' src='/Areas/TenantManager/Assets/js/vendor/jquery-ui/jquery-ui.js'></script>
<script type="text/javascript">
    $('.datepicker').datepicker({
        dateFormat: 'mm-dd-yy'
    });
    $(function () {
        var validatorLib = {
            'validateNotEmpty': {
                validators: {
                    notEmpty: {
                        message: "This field cannot be empty"
                    }
                }
            }
        };
        var fv = $('#form-addProduct')
            .formValidation({
                framework: 'bootstrap',
                fields: {
                    '@Html.IdFor(x => x.followUpNote)': validatorLib.validateNotEmpty
                    //'@Html.IdFor(x => x.followUpDate)': validatorLib.validateNotEmpty
                }
            });
    });
</script>
}
