﻿@model DynamicContent.Areas.TenantManager.ViewModels.ReservationViewModel
@{    
    Layout = "~/Areas/TenantManager/Views/Shared/_authenticatedLayout.cshtml";
    DynamicContent.Models.Entities db = new DynamicContent.Models.Entities();
}


<div class="page page-order-details">
    <div class="pageheader">
        <h2>Transaction Detail <span>Today: @(DateTime.Now)</span></h2>
    </div>

    <div class="row">
        <div class="col-md-8">
            <section class="tile" fullscreen="isFullscreen02">
                <!-- tile header -->
                <div class="tile-header dvd dvd-btm">
                    <h1 class="custom-font"><strong>Reservation: </strong>@Model.reservationCode</h1>
                    @{
                        if (Model.followUp != "Y")
                        {
                            <a href="/TenantManager/Order/Followup/@Model.id" class="btn btn-primary" name="submitBtn" style="float:right; margin-right:0">Follow Up </a>
                        }
                        <a href="@Request.UrlReferrer" class="btn btn-warning" style="float:right; margin-right:10px">Back </a>

                    }
                </div>
                <!-- /tile header -->
                <!-- tile body -->
                <div class="tile-body">
                    <h4 class="custom-font">Personal Data</h4>
                    <dl class="dl-horizontal">
                        <dt>Name</dt>
                        <dd>@Model.userName</dd>
                        <dt>Email</dt>
                        <dd>@Model.userEmail</dd>
                        <dt>Phone</dt>
                        <dd>@Model.userPhone</dd>
                        @*<dt>Address</dt>
                        <dd>@Model.userAddress</dd>
                        <dt>City</dt>
                        <dd>@Model.userCity</dd>*@
                        <dt>Gender</dt>
                        <dd>@Model.userGender</dd>
                    </dl>

                    <h4 class="custom-font">Item</h4>
                    @for (var i = 0; i < Model.products.Count(); i++)
                    {
                        <h4>@Model.products[i].productName</h4>
                        <div class="row">
                            <div class="col-sm-2">
                                <div style="border:4px solid #000;width:50px;height:50px;background-color:@Model.products[i].colorCode"></div>
                            </div>
                            <div class="col-sm-4">
                                <p>Price: @Model.products[i].productPrice</p>
                                <p>Size: @Model.products[i].size</p>
                            </div>
                            <div class="col-sm-4">
                                @{ 
                                    var id = Model.products[i].colorId;
                                    var img = (from p in db.tbl_product_image
                                               where p.color == id
                                               select p).FirstOrDefault();
                                }
                                <img src="@img.images" style="width:100px; border:1px solid #ddd;"/>
                            </div>
                            <div class="col-sm-2">
                                @{
                                    if (Model.products[i].status == 2)
                                    {
                                        <span class="label label-danger">Cancelled</span>
                                    }
                                }
                            </div>
                        </div>
                        <hr />
                    }
                    @if (Model.followUp == "Y")
                    {
                        <h4 class="custom-font">Follow Up Detail</h4>
                        <dl class="dl-horizontal">
                            <dt>Follow Up By</dt>
                            <dd>@Model.followUpName</dd>
                            <dt>Follow Up Date</dt>
                            <dd>@Convert.ToDateTime(Model.followUpDate).ToString("dd-MM-yyyy")</dd>
                            <dt>Note</dt>
                            <dd>@Model.followUpNote</dd>
                        </dl>
                        <hr />
                    }


                </div>
                <!-- /tile body -->
            </section>
        </div>
    </div>
</div>
