﻿@model DynamicContent.Areas.SysManager.ViewModels.NowOpenViewModel
@{
    Layout = "~/Areas/SysManager/Views/Shared/_authenticatedLayout.cshtml";

    var nowopen = ViewData["nowopen"] as DynamicContent.Models.NowOpen;
    DynamicContent.Models.MainModel obj = new DynamicContent.Models.MainModel();

}

<div class="page page-product-detail">
    <div class="pageheader">
        <h2>Tenant - Now Open <span>Today: @(DateTime.Now)</span></h2>
    </div>

    <div class="row">
        <div class="col-md-12">
            <section class="tile" fullscreen="isFullscreen02">
                <!-- tile header -->
                <div class="tile-header dvd dvd-btm">
                    <h1 class="custom-font"><strong>@((nowopen == null) ? "Add New" : "Edit") </strong> Now Open</h1>
                </div>
                <!-- /tile header -->
                <!-- tile body -->
                <div class="tile-body">
                    @if (!Html.ViewData.ModelState.IsValid)
                    {
                        <div class="alert alert-lightred fade in">
                            <p>
                                @Html.ValidationSummary()
                            </p>
                        </div>
                    }

                    @using (Html.BeginForm(((nowopen == null) ? "Add" : "Edit"), "NowOpen", new { ViewBag.ReturnUrl }, FormMethod.Post, new { @id = "form-add", @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
                    {
                        if (Model != null)
                        {
                            <input type="hidden" name="SliderId" value="@Model.ID" />
                        }

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Tenant Name</label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(m => m.name, new { @class = "form-control", @placeholder = "Enter image title" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Description</label>
                            <div class="col-sm-9">
                                @Html.TextAreaFor(m => m.description, new { @class = "form-control ", @placeholder = "Enter description" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Image @*<i>(Best Resolution : 1130px * 510px)</i>*@</label>
                            <div class="col-sm-9">
                                @{
                                    if (Model != null)
                                    {
                                        var img = obj.GetNowopenById(Model.ID);
                                        if (img != null)
                                        {
                                            <img src="@img.image" class="img-responsive" /><br />
                                            <input type="file" name="image">
                                        }
                                    }
                                    else
                                    {
                                        <input type="file" name="image">
                                    }

                                }
                                
                                   
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-9">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    }
                </div>
                <!-- /tile body -->
                <div class="tile-footer">

                </div>
            </section>
        </div>
    </div>

</div>
@section scripts {
    @Styles.Render("~/formvalidation/css")
    @Styles.Render("~/colorpicker/css")
    @Styles.Render("~/summernote/css")
    @Scripts.Render("~/formvalidation/js")
    @Scripts.Render("~/colorpicker/js")
    @Scripts.Render("~/summernote/js")
    <script type="text/javascript">
        $(function () {
            var validatorLib = {
                'validateNotEmpty': {
                    validators: {
                        notEmpty: {
                            message: "This field cannot be empty"
                        }
                    }
                },
                'validateProductName': {
                    excluded: false,
                    validators: {
                        notEmpty: {
                            message: "This field cannot be empty"
                        },
                        stringLength: {
                            max: 229,
                            //inclusive: true,
                            message: "Please enter a value less than or equal to 229 character."
                        }
                    }
                }
        };
        var fv = $('#form-add')
            .formValidation({
                framework: 'bootstrap',
                fields: {
                    '@Html.IdFor(x => x.name)': validatorLib.validateNotEmpty,
                    '@Html.IdFor(x => x.description)': validatorLib.validateProductName
                }
            }).on('prevalidate.form.fv', function (e) {
                $('input[name="totalColour"]').val($('#varianttb tr').length);
            });
        })
    </script>
}