﻿@using DynamicContent.Helper;
@{
    DynamicContent.Models.MainModel obj = new DynamicContent.Models.MainModel();
    Layout = "~/Areas/SysManager/Views/Shared/_authenticatedLayout.cshtml";
    var nowopen = ViewData["nowopen"] as IEnumerable<_object.NowOpen>;
    int total = nowopen.Count();
}




<div class="page page-product-list">
    <div class="pageheader">
        <h2>Tenant - Now Open <span>Today: @(DateTime.Now)</span></h2>
    </div>

    <div class="row">
        <div class="col-md-12">
            <section class="tile" fullscreen="isFullscreen02">
                <!-- tile header -->
                <div class="tile-header dvd dvd-btm">
                    <h1 class="custom-font"><strong>List </strong>Now Open</h1>
                    <ul class="controls">
                        <li>
                            <a href="@Url.Action("Add", "Nowopen", new { area = "SysManager" })" role="button" tabindex="0" class="pickDate">
                                <span></span><i class="fa fa-plus"></i> Add Tenant
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- /tile header -->
                <!-- tile body -->
                <div class="tile-body p-0">
                    <div class="table-responsive">
                        <table class="table table-custom" id="productDatatable">
                            <thead>
                                <tr>
                                    <th width="30%">Name</th>
                                    <th width="30%">Image</th>
                                    <th>Sort</th>
                                    <th>Active</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in nowopen)
                                {
                                    <tr>
                                        <td>@item.name</td>
                                        <td><img src="@item.image" class="img-responsive" /></td>
                                        <td>
                                            <span style="display:none">@item.sort</span>
                                            <select class="sort" data-url="/SysManager/NowOpen/Sort/@item.id" onchange="redir(this)">
                                                @for (int i = 1; i <=  total; i++)
                                                {
                                                    <option value="@i" @(i == item.sort ? "selected=selected" : "")>@i</option>
                                                }
                                            </select>
                                        </td>
                                        <td>
                                            <span style="display:none">@item.active</span>
                                            <input type="checkbox" data-url="/SysManager/NowOpen/ChangeActive/@item.id" onchange="redir(this)" @((item.active == true) ? "checked=checked" : "") />
                                        </td>
                                        <td>
                                            <a href="/SysManager/NowOpen/Edit/@item.id" class="btn btn-primary" title="View"><i class="fa fa-eye"></i></a>                                           
                                            <a href="/SysManager/NowOpen/Delete/@item.id" data-message="@item.name" class="btn btn-danger delete" title="Delete"><i class="fa fa-trash-o"></i></a>                                       
                                        </td>
                                    </tr>
                                }
                                
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- /tile body -->
            </section>
        </div>
    </div>

</div>

@section scripts {
    @Styles.Render("~/TenantManager/Datatables/css")
    @Scripts.Render("~/TenantManager/Datatables/js")
    <script type="text/javascript">
        var oTable = $('#productDatatable')
            .on('xhr.dt', function (e, settings, json, xhr) {
                if (xhr.status == 403) {
                    var response = $.parseJSON(xhr.responseText);
                    window.location = response.logonurl;
                }
            })
            .DataTable({
                "order": [1, "asc"]

            });
            function redir(obj) {
                window.location.href = $(obj).data("url") + "?to=" + $(obj).val();
            }
    </script>
}