﻿@{
    ViewBag.Title = "FlashDeal";
    var flashSaleData = (DynamicContent.Models.FlashSaleHeader)ViewBag.FlashSaleHeaderData;
    DynamicContent.Models.MainModel obj = new DynamicContent.Models.MainModel();
    var flashsaleDetailData = (List<DynamicContent.Models.FlashHeaderDetail>)ViewBag.FlashSaleDetail;
    TimeSpan? Diff = TimeSpan.Zero;
    double DiffHours = 0;
    if (flashSaleData.FlashSaleHeaderID != Guid.Empty)
    {
        var timeNow = (TimeSpan)ViewBag.TimeNow;
        Diff = (flashSaleData.FlashSaleTimeEnd - timeNow);
        DiffHours = Diff.Value.TotalSeconds;
    }
}
<script src="~/Scripts/js/jquery-1.12.1.min.js"></script>
<script src="~/Areas/SysManager/Assets/js/vendor/Lexxus-jq-timeTo-fe9420b/jquery.time-to.js"></script>
<div class="container">
    <div class="container">
        <div class="col-lg-12" style="text-align:center">
            <div class="col-lg-12">
                @if (flashSaleData.FlashSaleHeaderID != Guid.Empty)
                {
                    <div class="inline-block v-middle block480 mb0">
                        <div class="h40">
                            <div class="tbl">
                                <div class="cell">
                                    <div class="t-flash" style="text-transform: uppercase;color: #a9995f;font-weight: bold;font-size: 20px;">FLASH DEAL</div>
                                </div>
                            </div>
                        </div>
                    </div>
                        <div class="inline-block v-middle ml10 block480 mb0">
                            <div class="clock"></div>
                        </div>
                }
                else
                {
                    <label style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size: 25px;line-height: 1.42857143;"><b>FLASH DEAL Ended</b></label>
                }
            </div>
        </div>
        <div class="col-lg-8" style="padding-top: 10px;">


        </div>
    </div>
    <div class="container" id="flashSaleContainer">
        @foreach (var item in flashsaleDetailData)
        {
            var images = obj.GetOneImg(item.tbl_product.ID);
            if (item.qty > 0)
            {
                <div class="col-md-3 flashSaleItem">
                    <a href="/product/@images.color/@obj.stringToURL(item.tbl_product.name).ToLower()">
                        <div>
                            <div class="product" style="background:url('@images.images')no-repeat center center; background-size:contain;height:270px;"></div>
                        </div>
                        <div style="text-align:center">
                            <div class="elipsisLabel">
                                <label class="flashDeal-label">@item.tbl_product.name</label>
                            </div>
                            <div>
                                <label class="flashDeal-label"><strike>@item.tbl_product.price</strike></label>
                            </div>
                            <div>
                                <label class="flashDeal-label-price">Rp. @item.price_new</label>
                            </div>
                        </div>
                    </a>
                </div>
            }
            else
            {
                <div class="col-md-3 flashSaleItem">
                        <div>
                            <div class="product" style="background:url('@images.images')no-repeat center center; background-size:contain;height:270px;"></div>
                        </div>
                        <div style="text-align:center">
                            <div class="elipsisLabel">
                                <label class="flashDeal-label">@item.tbl_product.name</label>
                            </div>
                            <div>
                                <label class="flashDeal-label"><strike>@item.tbl_product.price</strike></label>
                            </div>
                            <div>
                                <label class="flashDeal-label-price">SOLD OUT!</label>
                            </div>
                        </div>
                </div>
            }

        }

    </div>
</div>
@section scripts{
<script src="~/Scripts/flashDeal.js"></script>
<script>

    $(document).ready(function () {
        clock = $('.clock').FlipClock(@DiffHours, {
		// clockFace: 'DailyCounter',
            countdown: true,
            callbacks: {
                stop: function () {
                    // Do whatever you want to do here,
                    // that may include hiding the clock
                    // or displaying the image you mentioned
                   alert('Flash Deal ended')
                }
            }
	    });

        $(window).scroll( function () {
                if ($(this).scrollTop() + $(this).innerHeight() >= $(this)[0].scrollHeight) {
                    alert('end reached');
                }
            })

    })

</script>
}