﻿@using DynamicContent.Helper;
@*@section styles{
    <style>
        div.dt-buttons {
            margin: 0 20px;
        }
    </style>
}*@
@{
    Layout = "~/Areas/SysManager/Views/Shared/_authenticatedLayout.cshtml";
    DynamicContent.Models.MainModel obj = new DynamicContent.Models.MainModel();
}


<div class="page page-product-list">
    <div class="pageheader">
        <h2>Items Uploaded By Brand<span>Today: @(DateTime.Now)</span></h2>
    </div>

    <div class="row">
        <div class="col-md-12">
            <form action="/SysManager/Report/ExportBrandItemsUpload" method="post">
                <section class="tile" fullscreen="isFullscreen02">
                    <!-- tile header -->
                    <div class="tile-header dvd dvd-btm">
                        <h1 class="custom-font"></h1>
                        <div style="float:right">
                            Date From: <input type="text" style="height:100%" name="dateStart" id="dateStart" class="datepicker" name="dateStart" size="30">
                            Date To: <input type="text" style="height:100%" name="dateEnd" id="dateEnd" class="datepicker" name="dateEnd" size="30">
                        </div>
                    </div>
                    <!-- /tile header -->
                    <!-- tile body -->
                    <div class="tile-body">
                        <div class="table-responsive">
                            <table class="table table-custom" style="width:100% !important" id="productDatatable">
                                <thead>
                                    <tr>
                                        <th>Tenant</th>
                                        <th>Count</th>
                                    </tr>
                                </thead>
                            </table>
                            <button type="submit" class="btn btn-blue">Export To Excel</button>
                        </div>
                    </div>
                    <!-- /tile body -->
                </section>
            </form>
        </div>
    </div>

</div>
@section scripts {
    @Styles.Render("~/TenantManager/Datatables/css")
    <link rel='stylesheet' href='/Areas/TenantManager/Assets/js/vendor/jquery-ui/jquery-ui.css' type='text/css' />
    @Scripts.Render("~/TenantManager/Datatables/js")
    <script type='text/javascript' src='/Areas/TenantManager/Assets/js/vendor/jquery-ui/jquery-ui.js'></script>
    <script type="text/javascript">
        $('.datepicker').datepicker({
            dateFormat: 'dd-mm-yy'
        });

        $(document).ready(function () {
            function timeConverter(UNIX_timestamp) {
                var a = new Date(UNIX_timestamp);
                var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
                var year = a.getFullYear();
                var month = months[a.getMonth()];
                var date = a.getDate();
                var hour = a.getHours();
                var min = a.getMinutes();
                var sec = a.getSeconds();
                var time = date + ' ' + month + ' ' + year + ' ' + hour + ':' + min + ':' + sec;
                return time;
            }
            var oTable = $('#productDatatable')
                .on('xhr.dt', function (e, settings, json, xhr) {
                    if (xhr.status == 403) {
                        var response = $.parseJSON(xhr.responseText);
                        window.location = response.logonurl;
                    }
                })
                .DataTable({
                "serverSide": true,
                "searching": false,
                "ajax": {
                    "type": "POST",
                    "url": '/SysManager/Report/BrandItemsUploadListHandler',
                    "contentType": 'application/json; charset=utf-8',
                    'data': function (data) {
                        data = $.extend({}, data, {
                            "startDate": $('#dateStart').val(),
                            "endDate": $('#dateEnd').val()
                        });
                        console.log(data);
                        return data = JSON.stringify(data);
                    }
                },
                "scrollCollapse": true,
                "scroller": {
                    loadingIndicator: false
                },
                "processing": true,
                "paging": true,
                "deferRender": true,
                "columns": [
                    {
                        "data": "tenantName"
                    },
                   {
                       "data": "totalItems"
                   }
                ],
                "order": [1, "desc"],
            });

            $("#dateStart").keyup(function () { oTable.draw(); });
            $("#dateStart").change(function () { oTable.draw(); });
            $("#dateEnd").keyup(function () { oTable.draw(); });
            $("#dateEnd").change(function () { oTable.draw(); });
        });
    </script>
}