﻿@using DynamicContent.Helper;
@{
    DynamicContent.Models.MainModel obj = new DynamicContent.Models.MainModel();
    Layout = "~/Areas/SysManager/Views/Shared/_authenticatedLayout.cshtml";
}


<div class="page page-product-list">
    <div class="pageheader">
        <h2>Most Viewed Items <span>Today: @(DateTime.Now)</span></h2>
    </div>

    <div class="row">
        <div class="col-md-12">
            <form action="/SysManager/Report/ExportMostViewedItems" method="post">
                <section class="tile" fullscreen="isFullscreen02">
                    <!-- tile header -->
                    <div class="tile-header dvd dvd-btm">
                        <h1 class="custom-font"></h1>
                        <div style="float:right">
                            Date From: <input type="text" style="height:100%" name="dateStart" id="dateStart" class="datepicker" size="30">
                            Date To: <input type="text" style="height:100%" name="dateEnd" id="dateEnd" class="datepicker" size="30">
                        </div>
                    </div>
                    <!-- /tile header -->
                    <!-- tile body -->
                    <div class="tile-body">
                        <div class="form-group">
                            <span class="control-label" style="float:left">Product status</span>
                            <div class="col-sm-3">
                                <select id="activeFilterSelect" class="form-control" name="filter">
                                    <option value="">-- Status --</option>
                                    <option value="True">Active</option>
                                    <option value="False">Inactive</option>
                                </select>
                            </div>
                        </div>
                        <div class="clearfix"></div><br />
                        <div class="table-responsive" >
                            <table style="width:100% !important;" class="table table-custom" id="productDatatable">
                                <thead>
                                    <tr>
                                        <th width="15%">Brand</th>
                                        <th width="30%">Product Name</th>
                                        <th width="15%">Count</th>
                                        <th>Status</th>
                                        <th width="15%">Date Added</th>
                                    </tr>
                                </thead>
                            </table>
                            <button type="submit" class="btn btn-blue">Export To Excel</button>
                        </div>
                    </div>
                    <!-- /tile body -->
                </section>
            </form>
</div>
    </div>

</div>
@section scripts {
    @Styles.Render("~/TenantManager/Datatables/css")
    <link rel='stylesheet' href='/Areas/TenantManager/Assets/js/vendor/jquery-ui/jquery-ui.css' type='text/css' />
    @Scripts.Render("~/TenantManager/Datatables/js")
    <script type='text/javascript' src='/Areas/TenantManager/Assets/js/vendor/jquery-ui/jquery-ui.js'></script>
    <script type="text/javascript">
        $('.datepicker').datepicker({
            dateFormat: 'dd-mm-yy'
        });

        $(document).ready(function() {
            function timeConverter(UNIX_timestamp) {
                var a = new Date(UNIX_timestamp);
                var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
                var year = a.getFullYear();
                var month = months[a.getMonth()];
                var date = a.getDate();
                var hour = a.getHours();
                var min = a.getMinutes();
                var sec = a.getSeconds();
                var time = date + ' ' + month + ' ' + year + ' ' + hour + ':' + min + ':' + sec;
                return time;
            }
            var oTable = $('#productDatatable')
                .on('xhr.dt', function (e, settings, json, xhr) {
                    if (xhr.status == 403) {
                        var response = $.parseJSON(xhr.responseText);
                        window.location = response.logonurl;
                    }
                })
                .DataTable({
                "serverSide": true,
                "searching": true,
                "ajax": {
                    "type": "POST",
                    "url": '/SysManager/Report/MostViewedProductListHandler',
                    "contentType": 'application/json; charset=utf-8',
                    'data': function (data) {
                        data = $.extend({}, data, {
                            "startDate": $('#dateStart').val(),
                            "endDate": $('#dateEnd').val()
                        });
                        console.log(data);
                        return data = JSON.stringify(data);
                    }
                },
                "scrollCollapse": true,
                "scroller": {
                    loadingIndicator: false
                },
                "processing": true,
                "paging": true,
                "deferRender": true,
                "columns": [
                    {
                        "data": "tenantName"
                    },
                   {
                       "data": "productName",
                       "render": function (data, type, full, meta) {

                           var st = '';
                           if (!full.status)
                               st = ' <strong>(Inactive)</strong>';

                           return data + st;
                       }
                   },
                   {
                       "data": "viewTotal",
                   },
                   {
                       "data": "status",
                       "visible": false,
                   },
                   {
                       "data": "createdDate",
                       "render": function (data, type, full, meta) {
                           return timeConverter(parseInt(data.substr(6)));
                       }
                   }
                ],
                "order": [2, "desc"],
            });

            $('#activeFilterSelect').on('change', function () {
                oTable.columns(3)
                   .search(this.value)
                   .draw();
            });
            $("#dateStart").keyup(function () { oTable.draw(); });
            $("#dateStart").change(function () { oTable.draw(); });
            $("#dateEnd").keyup(function () { oTable.draw(); });
            $("#dateEnd").change(function () { oTable.draw(); });
        });


    </script>
}