﻿@using DynamicContent.Helper;
@{
    Layout = "~/Areas/SysManager/Views/Shared/_authenticatedLayout.cshtml";
    DynamicContent.Models.MainModel obj = new DynamicContent.Models.MainModel();
}

<div class="page page-product-list">
    <div class="pageheader">
        <h2>Reservation Report <span>Today: @(DateTime.Now)</span></h2>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form method="post" action="/SysManager/Report/ExportReservationHeader">
                <section class="tile" fullscreen="isFullscreen02">
                    <!-- tile header -->
                    <div class="tile-header dvd dvd-btm">
                        <h1 class="custom-font"></h1>
                        <div style="float:right">
                            Date From: <input type="text" style="height:100%" id="dateStart" class="datepicker" name="dateStart" size="30">
                            Date To: <input type="text" style="height:100%" id="dateEnd" class="datepicker" name="dateEnd" size="30">
                        </div>
                    </div>
                    <!-- /tile header -->
                    <!-- tile body -->
                    <div class="tile-body">
                        <div class="form-group">
                            <span class="control-label" style="float:left">Reservation status</span>
                            <div class="col-sm-3">
                                <select id="activeFilterSelect" class="form-control" name="filter">
                                    <option value="">-- Status --</option>
                                    <option value="Yes">Yes</option>
                                    <option value="No">No</option>
                                </select>
                            </div>
                        </div>
                        <div class="clearfix"></div><br />
                        <div class="table-responsive">
                            <table class="table table-custom" style="width:100% !important;" id="reservationHeaderDataTable">
                                <thead>
                                    <tr>
                                        <th>Reservation Code</th>
                                        <th>Reservation Date</th>
                                        <th>Customer Name</th>
                                        <th>Customer Email</th>
                                        <th>Shop Name</th>
                                        <th>Follow up</th>
                                        <th>Follow up Name</th>
                                        <th>Follow up Note</th>
                                    </tr>
                                </thead>
                            </table>
                            <button type="submit" class="btn btn-blue">Export To Excel</button>
                        </div>
                    </div>
                    <!-- /tile body -->
                </section>
            </form>
        </div>
    </div>
</div>
@section scripts {
    @Styles.Render("~/TenantManager/Datatables/css")
    <link rel='stylesheet' href='/Areas/TenantManager/Assets/js/vendor/jquery-ui/jquery-ui.css' type='text/css' />
    @Scripts.Render("~/TenantManager/Datatables/js")
    <script type='text/javascript' src='/Areas/TenantManager/Assets/js/vendor/jquery-ui/jquery-ui.js'></script>
    <script type="text/javascript">


        $(document).ready(function () {
            $('.datepicker').datepicker({
                dateFormat: 'dd-mm-yy'
            });
            function timeConverter(UNIX_timestamp) {
                var a = new Date(UNIX_timestamp);
                var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
                var year = a.getFullYear();
                var month = months[a.getMonth()];
                var date = a.getDate();
                var hour = a.getHours();
                var min = a.getMinutes();
                var sec = a.getSeconds();
                var time = date + ' ' + month + ' ' + year;
                return time;
            }
            var oTable = $('#reservationHeaderDataTable')
                .on('xhr.dt', function (e, settings, json, xhr) {
                    if (xhr.status == 403) {
                        var response = $.parseJSON(xhr.responseText);
                        window.location = response.logonurl;
                    }
                })
                .DataTable({
                    "serverSide": true,
                    "searching": true,
                    "ajax": {
                        "type": "POST",
                        "url": '/SysManager/Report/ReservationHeaderHandler',
                        "contentType": 'application/json; charset=utf-8',
                        'data': function (data) {
                            data = $.extend({}, data, {
                                "startDate": $('#dateStart').val(),
                                "endDate": $('#dateEnd').val()
                            });
                            console.log(data);
                            return data = JSON.stringify(data);
                        }
                    },
                    "scrollCollapse": true,
                    "scroller": {
                        loadingIndicator: false
                    },
                    "processing": true,
                    "paging": true,
                    "deferRender": true,
                    "columns": [
                        {
                            "data": "ReservatonCode"

                        },
                        {
                            "data": "ReservationDate"
                        },
                        {
                            "data": "CustomerName"
                        },
                        {
                            "data": "CustomerEmail"
                        },
                        {
                            "data": "ShopName"
                        },
                        {
                            "data": "FUStatus"
                        },
                        {
                            "data": "FUName"
                        },
                        {
                            "data": "FUNote"
                        }
                    ],
                    "order": [0, "desc"],
                });
            $('#activeFilterSelect').on('change', function () {
                oTable.columns(5)
                    .search(this.value)
                    .draw();
            });

            $("#dateStart").keyup(function () { oTable.draw(); });
            $("#dateStart").change(function () { oTable.draw(); });
            $("#dateEnd").keyup(function () { oTable.draw(); });
            $("#dateEnd").change(function () { oTable.draw(); });
        })

    </script>
}