﻿@{
    Layout = "~/Areas/SysManager/Views/Shared/_authenticatedLayout.cshtml";
}

<div class="page page-product-list">
    <div class="pageheader">
        <h2>Tenant Banner Approval<span>Today: @(DateTime.Now)</span></h2>
    </div>

    <div class="row">
        <div class="col-md-12">
            <section class="tile" fullscreen="isFullscreen02">
                <!-- tile header -->
                <div class="tile-header dvd dvd-btm">
                    <h1 class="custom-font"><strong>List </strong> Tenant Banner Approval</h1>
                    <ul class="controls">
                        <li>
                            
                        </li>
                    </ul>
                </div>
                <!-- /tile header -->
                <!-- tile body -->
                <div class="tile-body p-0">
                    <div class="table-responsive">
                        <table class="table table-custom" id="tenantBannerApprove">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Tenant Name</th>
                                    <th>Status</th>
                                    <th>Is Active</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
                <!-- /tile body -->
            </section>
        </div>
    </div>

</div>
@section scripts {
    @Styles.Render("~/TenantManager/Datatables/css")
    @Scripts.Render("~/TenantManager/Datatables/js")
    <script type="text/javascript">
        $(document).ready(function () {
            var oTable = $('#tenantBannerApprove')
                .on('xhr.dt', function (e, settings, json, xhr) {
                    if (xhr.status == 403) {
                        var response = $.parseJSON(xhr.responseText);
                        window.location = response.logonurl;
                    }
                })
                .DataTable({
                    "serverSide": true,
                    "ajax": {
                        "type": "POST",
                        "url": '/SysManager/TenantBanner/TenantBannerHandler',
                        "contentType": 'application/json; charset=utf-8',
                        'data': function (data) { return data = JSON.stringify(data); }
                    },
                    "scrollCollapse": true,
                    "scroller": {
                        loadingIndicator: false
                    },
                    "processing": true,
                    "paging": true,
                    "deferRender": true,
                    "columns": [
                        {
                            "data": 'id'

                        },
                        {
                            "data": 'TenantName'
                        },
                        {
                            "data": "status"
                        },
                        {
                            "data": "Action",
                            "render": function (data, type, full, meta) {
                                return '<a href="/SysManager/TenantBanner/Approve?id=' + full.id + '" class="btn btn-success"><i class="fa fa-edit"></i></a>';
                            }
                        }
                    ],
                    "order": [0, "asc"]

                });
        })
        
    </script>

}