﻿@model DynamicContent.Areas.SysManager.ViewModels.HomeTextViewModel
@{
    Layout = "~/Areas/SysManager/Views/Shared/_authenticatedLayout.cshtml";

    var homeText = ViewData["homeText"] as DynamicContent.Models.MailMaster;
    DynamicContent.Models.MainModel obj = new DynamicContent.Models.MainModel();

}

<div class="page page-product-detail">
    <div class="pageheader">
        <h2>Homepage Text <span>Today: @(DateTime.Now)</span></h2>
    </div>

    <div class="row">
        <div class="col-md-12">
            <section class="tile" fullscreen="isFullscreen02">
                <!-- tile header -->
                <div class="tile-header dvd dvd-btm">
                    <h1 class="custom-font"><strong>@((homeText == null) ? "Add New" : "Edit") </strong> Homepage Text</h1>
                </div>
                <!-- /tile header -->
                <!-- tile body -->
                <div class="tile-body">
                    @if (!Html.ViewData.ModelState.IsValid)
                    {
                        <div class="alert alert-lightred fade in">
                            <p>
                                @Html.ValidationSummary()
                            </p>
                        </div>
                    }

                    @using (Html.BeginForm(((homeText == null) ? "Add" : "Edit"), "WhatsOpen", new { ViewBag.ReturnUrl }, FormMethod.Post, new { @id = "form-add", @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
                    {
                        if (Model != null)
                        {
                            <input type="hidden" name="MailID" value="@Model.ID" />
                        }

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Homepage Text</label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(m => m.name, new { @class = "form-control", @placeholder = "Enter text" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-9">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    }
                </div>
                <!-- /tile body -->
                <div class="tile-footer">

                </div>
            </section>
        </div>
    </div>

</div>
@section scripts {
    @Styles.Render("~/formvalidation/css")
    @Styles.Render("~/colorpicker/css")
    @Styles.Render("~/summernote/css")
    @Scripts.Render("~/formvalidation/js")
    @Scripts.Render("~/colorpicker/js")
    @Scripts.Render("~/summernote/js")
    <script type="text/javascript">
        $(function () {

        })
    </script>
}