﻿@using DynamicContent.Helper;
@{
    DynamicContent.Models.MainModel obj = new DynamicContent.Models.MainModel();
    Layout = "~/Areas/SysManager/Views/Shared/_authenticatedLayout.cshtml";
    var product = ViewData["product"] as IEnumerable<_object.ProductPi>;
    int total = product.Count();
}
<div class="page page-product-list">
    <div class="pageheader">
        <h2>Product Displayed in Homepage <span>Today: @(DateTime.Now)</span></h2>
    </div>

    <div class="row">
        <div class="col-md-12">
            <section class="tile" fullscreen="isFullscreen02">
                <!-- tile header -->
                <div class="tile-header dvd dvd-btm">
                    <h1 class="custom-font"><strong>List </strong></h1>                    
                </div>
                <!-- /tile header -->
                <!-- tile body -->
                <div class="tile-body p-0">
                    <div class="table-responsive">
                        <table class="table table-custom" id="productDatatable" style="width:100%">
                            <thead>
                                <tr>
                                    <th width="30%">Name</th>
                                    <th width="30%">Tenant</th>
                                    <th>SortVal</th>
                                    <th>Sort</th>
                                    <th>Show in Homepage</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in product)
                                {
                                    var tenant = obj.GetTenant(item.tenant);
                                    <tr>
                                        <td>@item.name</td>
                                        <td>@tenant.FirstOrDefault().name</td>
                                        <td>@item.isOrder</td>
                                        <td>
                                            <span style="display:none">@item.isOrder</span>
                                            <select class="sort" data-url="/SysManager/WhatsOpen/Sort/@item.id" onchange="redir(this)">
                                                @for (int i = 1; i <=  total; i++)
                                                {
                                                    <option value="@i" @(i == item.isOrder ? "selected=selected" : "")>@i</option>
                                                }
                                            </select>
                                        </td>
                                        <td>
                                            <span style="display:none">@item.isHomepage</span>
                                            <input type="checkbox" data-url="/SysManager/WhatsOpen/ChangeActive/@item.id" onchange="redir(this)" @((item.isHomepage == true) ? "checked=checked" : "") />
                                        </td>
                                        <td>
                                            <a href="/product/preview?id=@item.id" target="_blank" class="btn btn-success" title="Preview"><i class="fa fa-search"></i></a>                                           
                                        </td>
                                    </tr>
                                }
                                
                            </tbody>
                        </table>
                    </div>
                </div>
                <input type="hidden" id="page" value="@Convert.ToInt32(Request.QueryString["page"])"/>
                <!-- /tile body -->
            </section>
        </div>
    </div>

</div>

@section scripts {
    @Styles.Render("~/TenantManager/Datatables/css")
    @Scripts.Render("~/TenantManager/Datatables/js")
    <script type="text/javascript">
        $(document).ready(function () {
            var intpage = parseInt($('#page').val());
            var oTable = $('#productDatatable')
                .on('xhr.dt', function (e, settings, json, xhr) {
                    if (xhr.status == 403) {
                        var response = $.parseJSON(xhr.responseText);
                        window.location = response.logonurl;
                    }
                })
                .dataTable({
                    "order": [2, "asc"],
                    "columnDefs": [
                        {
                            "targets": [2],
                            "visible": false
                        }
                    ]

                });
            if (typeof(intpage) != '') {
                oTable.fnPageChange(intpage);
            }
        });     
        
        function redir(obj) {
                //alert($(obj).val());
                window.location.href = $(obj).data("url") + "?to=" + $(obj).val();
            }
    </script>
}