﻿@using DynamicContent.Helper;
@{
    DynamicContent.Models.MainModel obj = new DynamicContent.Models.MainModel();
    ViewBag.Title = "LoadItem";
    var href = TempData["href"];
    var i = 0;
    var newPrice = 0;
    bool IsFlasSale = (bool)ViewBag.IsFlashSale;

    //var mycart;
}

@foreach (var r in ViewData["productDetail"] as List<string>)
{
    var x = r.Split('|').ToList<string>();
    var colorId = Convert.ToInt32(x[0]);
    var qty = Convert.ToInt32(x[1]);
    var sz = x[2];
    var szArr = sz.Split(',').ToList<string>();
    var countSz = szArr.Count();
    var prodId = obj.GetProductByColor(colorId);
    var allProd = obj.GetProductPi();
    var p = allProd.Where(pd => pd.id == prodId.product).FirstOrDefault();
    var images = obj.GetOneImgByColor(colorId);
    var color = obj.GetProductByColor(colorId);
    var tenantName = obj.GetTenant(p.tenant).FirstOrDefault();
    if (IsFlasSale)
    {
        var flashsaledetail = (List<DynamicContent.Models.FlashHeaderDetail>)ViewBag.FlashSaleDetail;
        var proditem = flashsaledetail.FirstOrDefault(a => a.tbl_product.ID == prodId.product && a.isActive == true);
        if (proditem != null)
        {
            p.price = proditem.price_new;
        }
    }

    <li>
        <div class="product">
            <span class="helper"></span>
            <img src="@images.images" />
        </div>
        <div class="desc">
            <p class="bold uppercase title">@tenantName.name</p>
            <p>@p.name.ToUpper()</p>
            <p>Size : @sz.ToUpper()</p>
            <div class="color" style="background-color:@color.color;"></div>
            <div style="margin-bottom:5px;"><span>Qty : </span><span class="qty">@(qty * countSz)</span></div>
            @{
                if (p.price != "price upon request")
                {
                    decimal priceTotal = qty * Convert.ToDecimal(p.price);
                    <p>@obj.priceCheck(priceTotal.ToString()).ToUpper()</p>
                }
                else
                {
                    <p>@obj.priceCheck(p.price).ToUpper()</p>
                }
            }

        </div>
    </li>
                    //@r
                }
@{
    if (Session["userIdLogin"] != null)
    {
        int userId = Convert.ToInt32(Session["userIdLogin"]);
        var mycart = obj.GetMyCart(userId);
        var overItem = 0;
        var currentQty = 0;
        if (mycart != null)
        {
            foreach (var c in mycart)
            {
                var images = obj.GetOneImgByColor(Convert.ToInt32(c.color));
                var product = obj.GetAllProduct(c.product).FirstOrDefault();
                var color = obj.GetProductByColor(Convert.ToInt32(c.color));
                var tenantName = obj.GetTenant(product.idtenant).FirstOrDefault();
                if (IsFlasSale)
                {
                    var flashsaledetail = (List<DynamicContent.Models.FlashHeaderDetail>)ViewBag.FlashSaleDetail;
                    var proditem = flashsaledetail.FirstOrDefault(a => a.tbl_product.ID == c.product);
                    if (proditem != null)
                    {
                        if (c.qty > proditem.qty)
                        {
                            overItem = c.qty.GetValueOrDefault() - proditem.qty.GetValueOrDefault();
                            currentQty = proditem.qty.GetValueOrDefault();
                        }
                        product.price = proditem.price_new;

                    }
                }
                <li>
                    <div class="product">
                        <span class="helper"></span>
                        <img src="@images.images" />
                    </div>
                    <div class="desc">
                        <p class="bold uppercase title">@tenantName.name</p>
                        <p>@product.name.ToUpper()</p>
                        <p>Size : @c.size.ToUpper()</p>
                        <div class="color" style="background-color:@color.color;"></div>
                        @if (currentQty > 0)
                        {
                            <div style="margin-bottom:5px;"><span>Qty : </span><span class="qty">@currentQty</span></div>
                        }
                        else
                        {
                            <div style="margin-bottom:5px;"><span>Qty : </span><span class="qty">@c.qty</span></div>
                        }
                        @{
                            if (product.price != "price upon request")
                            {
                                decimal? priceTotal = c.qty * Convert.ToDecimal(product.price);
                                <p>@obj.priceCheck(priceTotal.ToString()).ToUpper()</p>
                            }
                            else
                            {
                                <p>@obj.priceCheck(product.price).ToUpper()</p>
                            }
                        }

                    </div>
                </li>
                            if (overItem > 0)
                            {
                                var productOver = obj.GetAllProduct(c.product).FirstOrDefault();
                                <li>
                                    <div class="product">
                                        <span class="helper"></span>
                                        <img src="@images.images" />
                                    </div>
                                    <div class="desc">
                                        <p class="bold uppercase title">@tenantName.name</p>
                                        <p>@productOver.name.ToUpper()</p>
                                        <p>Size : @c.size.ToUpper()</p>
                                        <div class="color" style="background-color:@color.color;"></div>
                                        <div style="margin-bottom:5px;"><span>Qty : </span><span class="qty">@overItem</span></div>

                                        @{
                                            if (productOver.price != "price upon request")
                                            {
                                                decimal? priceTotal = c.qty * Convert.ToDecimal(productOver.price);
                                                <p>@obj.priceCheck(priceTotal.ToString()).ToUpper()</p>
                                            }
                                            else
                                            {
                                                <p>@obj.priceCheck(productOver.price).ToUpper()</p>
                                            }
                                        }

                                    </div>
                                </li>
                                                        }
                                                    }
                                                }
                                            }

}
@*<p>@ViewData["check"]</p>*@
<a href="@href"><div class="load-more w100">reserve now</div></a>
