﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>


    <meta http-equiv="refresh" content="15;url=@Url.Action("Index", "Home")" />


</head>
<body>
    <div class="container">
        <center>
            <img src="~/Images/icon-loading.gif" style="height:200px;margin-top:20px">
            <p>Redirecting...</p>
            <p>If not redirect,please click <a href="@Url.Action("Index","Home")">here</a></p>
        </center>
    </div>
</body>
</html>
