﻿@{
    Layout = "~/Areas/SysManager/Views/Shared/_authenticatedLayout.cshtml";
}

 


<div class="page page-product-list">
    <div class="pageheader">
        <h2>Customers <span>Today: @(DateTime.Now)</span></h2>
    </div>

    <div class="row">
        <div class="col-md-12">
            <section class="tile" fullscreen="isFullscreen02">
                <!-- tile header -->
                <div class="tile-header dvd dvd-btm">
                    <h1 class="custom-font"><strong>List </strong> Customer</h1>
                </div>
                <!-- /tile header -->
                <!-- tile body -->
                <div class="tile-body p-0">
                    <div class="table-responsive">
                        <table class="table table-custom" id="productDatatable">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Date of Birth</th>
                                    <th>Gender</th>
                                    <th>Email</th>
                                    <th>Address</th>
                                    <th>City</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
                <!-- /tile body -->
            </section>
        </div>
    </div>

</div>

@section scripts {
    @Styles.Render("~/TenantManager/Datatables/css")
    @Scripts.Render("~/TenantManager/Datatables/js")
    <script type="text/javascript">
        $(function () {
            function timeConverter(UNIX_timestamp) {
                var a = new Date(UNIX_timestamp);
                var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
                var year = a.getFullYear();
                var month = months[a.getMonth()];
                var date = a.getDate();
                var hour = a.getHours();
                var min = a.getMinutes();
                var sec = a.getSeconds();
                var time = date + ' ' + month + ' ' + year;
                return time;
            }
            var oTable = $('#productDatatable')
                .on('xhr.dt', function (e, settings, json, xhr) {
                    if (xhr.status == 403) {
                        var response = $.parseJSON(xhr.responseText);
                        window.location = response.logonurl;
                    }
                })
                .DataTable({
                "serverSide": true,
                "ajax": {
                    "type": "POST",
                    "url": '/SysManager/Customer/CustomerListDataHandler',
                    "contentType": 'application/json; charset=utf-8',
                    'data': function (data) { return data = JSON.stringify(data); }
                },
                "scrollCollapse": true,
                "scroller": {
                    loadingIndicator: false
                },
                "processing": true,
                "paging": true,
                "deferRender": true,
                "columns": [
                   {
                       "data": 'firstname',
                       "render": function (data, type, full, meta) {
                           return data + ' ' + full.lastname;
                       }
                   },
                   {
                       "data": "dob"
                   },
                   { "data": "gender" },
                   { "data": "email" },
                   { "data": "address" },
                   { "data": "city" }
                ],
                "order": [0, "asc"]

            });

            //oTable.columns().every(function () {
            //    var that = this;

            //    $('input', this.footer()).on('keyup change', function () {
            //        that
            //            .search(this.value)
            //            .draw();
            //    });
            //});
        });
    </script>
}
                                    @*firstname = c.firstName,
                                    lastname = c.lastName,
                                    address = c.address,
                                    city = c.city,
                                    dob = c.dob,
                                    email = c.email,
                                    gender = c.gender,
                                    phone = c.phone,
                                    zip = c.zipcode*@