﻿@model DynamicContent.Areas.SysManager.ViewModels.EmailCategoryViewModel
@{
    Layout = "~/Areas/SysManager/Views/Shared/_authenticatedLayout.cshtml";

    var category = ViewData["category"] as DynamicContent.Models.M_EmailType;
    DynamicContent.Models.MainModel obj = new DynamicContent.Models.MainModel();

}

<div class="page page-product-detail">
    <div class="pageheader">
        <h2>Email Category <span>Today: @(DateTime.Now)</span></h2>
    </div>

    <div class="row">
        <div class="col-md-12">
            <section class="tile" fullscreen="isFullscreen02">
                <!-- tile header -->
                <div class="tile-header dvd dvd-btm">
                    <h1 class="custom-font"><strong>@((category == null) ? "Add New" : "Edit") </strong> Category</h1>
                </div>
                <!-- /tile header -->
                <!-- tile body -->
                <div class="tile-body">
                    @if (!Html.ViewData.ModelState.IsValid)
                    {
                        <div class="alert alert-lightred fade in">
                            <p>
                                @Html.ValidationSummary()
                            </p>
                        </div>
                    }

                    @using (Html.BeginForm(((category == null) ? "AddEmailCategory" : "EditEmailCategory"), "Newsletter", new { ViewBag.ReturnUrl }, FormMethod.Post, new { @id = "form-addEmailCategory", @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
                    {
                        if (Model != null)
                        {
                            <input type="hidden" name="id" value="@Model.id" />
                        }

                        <div class="form-group">
                            <label class="col-sm-4 control-label">Title</label>
                            <div class="col-sm-8">
                                @Html.TextBoxFor(m => m.name, new { @class = "form-control", @placeholder = "Enter title" })
                            </div>
                        </div>
                        @*<div class="form-group">
                            <label class="col-sm-4 control-label">Mail to <br/><span class="bg-danger"><small>*each email separated by space</small></span></label>
                            <div class="col-sm-8">
                                @Html.TextBoxFor(m => m.mail_to, new { @class = "form-control", @placeholder = "Enter email" })
                            </div>
                        </div>*@
                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-9">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    }
                </div>
                <!-- /tile body -->
                <div class="tile-footer">

                </div>
            </section>
        </div>
    </div>

</div>
@section scripts {
    @Styles.Render("~/formvalidation/css")
    @Styles.Render("~/colorpicker/css")
    @Styles.Render("~/summernote/css")
    @Scripts.Render("~/formvalidation/js")
    @Scripts.Render("~/colorpicker/js")
    @Scripts.Render("~/summernote/js")
    <script type="text/javascript">
        $(function () {
            var validatorLib = {
                'validateNotEmpty': {
                    validators: {
                        notEmpty: {
                            message: "This field cannot be empty"
                        }
                    }
                }
            };
            var fv = $('#form-addEmailCategory')
                .formValidation({
                    framework: 'bootstrap',
                    fields: {
                        '@Html.IdFor(x => x.name)': validatorLib.validateNotEmpty,
                        '@Html.IdFor(x => x.mail_to)': validatorLib.validateNotEmpty
                    }
                });
        })
    </script>
}