﻿@model DynamicContent.Areas.SysManager.ViewModels.SubscriberViewModel
@{
    Layout = "~/Areas/SysManager/Views/Shared/_authenticatedLayout.cshtml";

    var data = ViewData["data"] as DynamicContent.Models.M_Newsletter;
    var templates = ViewData["templates"] as IEnumerable<DynamicContent.Models.M_Newsletter>;
    if (templates == null)
    {
        templates = new List<DynamicContent.Models.M_Newsletter>();
    }
    var template = ViewData["template"] as DynamicContent.Models.M_Newsletter;
    bool isEdit = data != null;
    bool isSent = false;
    DynamicContent.Models.MainModel obj = new DynamicContent.Models.MainModel();

    if (data == null)
    {
        data = new DynamicContent.Models.M_Newsletter();
        if (data.send_date != null)
        {
            isSent = true;
        }
    }
}

<div class="page page-product-detail">
    <div class="pageheader">
        <h2>Newsletter <span>Today: @(DateTime.Now)</span></h2>
    </div>

    <div class="row">
        <div class="col-md-12">
            <section class="tile" fullscreen="isFullscreen02">
                <!-- tile header -->
                <div class="tile-header dvd dvd-btm">
                    <h1 class="custom-font"><strong>@(isEdit ? "Edit" : "Add New") </strong> Newsletter</h1>
                </div>
                <!-- /tile header -->
                <!-- tile body -->
                <div class="tile-body">
                    @if (!Html.ViewData.ModelState.IsValid)
                    {
                        <div class="alert alert-lightred fade in">
                            <p>
                                @Html.ValidationSummary()
                            </p>
                        </div>
                    }

                    @*@using (Html.BeginForm((isEdit ? "AddSubscriber" : "EditSubscriber"), "Newsletter", new { ViewBag.ReturnUrl }, FormMethod.Post, new { @id = "form-addEmailCategory", @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
                    {*@
                        <form action="/SysManager/Newsletter/@(isEdit ? "Edit" : "Add")Newsletter/" method="post" id="form-addEmailCategory" class="form-horizontal">

                            @{if (data != null)
                                {
                                    <input type="hidden" name="id" value="@data.id" />
                                } 
                            }
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Name</label>
                                <div class="col-sm-8">
                                    <input class="form-control" id="name" name="name" placeholder="Enter name" type="text" value="@data.name">

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Content</label>
                                <div class="col-sm-8">
                                    <textarea name="content" class="texteditor" id="type">
                                        @(template != null ? template.content : data.content)
                                    </textarea>
                                </div>
                            </div>
                            @if (isSent)
                            {
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Send To</label>
                                    <div class="col-sm-8">@data.send_to</div>
                                </div>
                            }
                            <div class="form-group">
                                <div class="col-sm-offset-3 col-sm-9">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </div>
                        </form>
                            @*  }*@
                    </div>
                <!-- /tile body -->
                <div class="tile-footer">

                </div>
            </section>
        </div>
    </div>

</div>
@section scripts {
    @Styles.Render("~/formvalidation/css")
    @Styles.Render("~/colorpicker/css")
    @Styles.Render("~/summernote/css")
    @Scripts.Render("~/formvalidation/js")
    @Scripts.Render("~/colorpicker/js")
    @Scripts.Render("~/summernote/js")
    @Scripts.Render("~/manager/ckeditor")
    <script type="text/javascript">
        $(function () {
            var validatorLib = {
                'validateNotEmpty': {
                    validators: {
                        notEmpty: {
                            message: "This field cannot be empty"
                        }
                    }
                }
            };
            var fv = $('#form-addEmailCategory')
                .formValidation({
                    framework: 'bootstrap',
                    fields: {
                        '@Html.IdFor(x => x.name)': validatorLib.validateNotEmpty,
                        '@Html.IdFor(x => x.type)': validatorLib.validateNotEmpty
                    }
                });
        })
        $(document).ready(function () {
            var roxyFileman = '/fileman/';
            CKEDITOR.replace("type", {
                height: '380px', startupFocus: true, filebrowserBrowseUrl: roxyFileman,
                filebrowserImageBrowseUrl: roxyFileman + '?type=image',
                removeDialogTabs: 'link:upload;image:upload',
                customConfig: '/Areas/SysManager/Assets/js/vendor/ckeditor/config-newsletter.js'
            });
            //$("#template").change(function () {
            //    var template = $(this).val();
            //    window.location.href = "/Manager/Email/AddNewsletter/" + template;
            //});
        });
    </script>
}