﻿@model DynamicContent.Areas.SysManager.ViewModels.SubscriberViewModel
@{
    Layout = "~/Areas/SysManager/Views/Shared/_authenticatedLayout.cshtml";

    DynamicContent.Models.MainModel obj = new DynamicContent.Models.MainModel();
    var subscriber = ViewData["data"] as DynamicContent.Models.M_Subscribers;
    var emailType = ViewData["emailType"] as IEnumerable<DynamicContent.Models.M_EmailType>;
    bool isEdit = subscriber != null;

    if (subscriber == null)
    {
        subscriber = new DynamicContent.Models.M_Subscribers();
    }
}

<div class="page page-product-detail">
    <div class="pageheader">
        <h2>Subscribers <span>Today: @(DateTime.Now)</span></h2>
    </div>

    <div class="row">
        <div class="col-md-12">
            <section class="tile" fullscreen="isFullscreen02">
                <!-- tile header -->
                <div class="tile-header dvd dvd-btm">
                    <h1 class="custom-font"><strong>@((subscriber == null) ? "Add New" : "Edit") </strong> Subscribers</h1>
                </div>
                <!-- /tile header -->
                <!-- tile body -->
                <div class="tile-body">
                    @if (!Html.ViewData.ModelState.IsValid)
                    {
                        <div class="alert alert-lightred fade in">
                            <p>
                                @Html.ValidationSummary()
                            </p>
                        </div>
                    }

                    @*@using (Html.BeginForm((isEdit ? "AddSubscriber" : "EditSubscriber"), "Newsletter", new { ViewBag.ReturnUrl }, FormMethod.Post, new { @id = "form-addEmailCategory", @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
                    {*@
                        <form action="/SysManager/Newsletter/@(isEdit ? "Edit" : "Add")Subscriber/" method="post" id="form-addEmailCategory" class="form-horizontal">

                            @{if (subscriber != null)
                                {
                                    <input type="hidden" name="id" value="@subscriber.id" />
                                } 
                            }
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Name</label>
                                <div class="col-sm-8">
                                    <input class="form-control" id="name" name="name" placeholder="Enter name" type="text" value="@subscriber.name">

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Email</label>
                                <div class="col-sm-8">
                                    <input class="form-control" id="email" name="email" placeholder="Enter email" type="text" value="@subscriber.email">

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Type</label>
                                <div class="col-sm-8">
                                    <select name="type" id="type" class="form-control">
                                        <option value="">- Choose Category -</option>
                                        @foreach (var item in emailType)
                                        {
                                            <option value="@item.id" @(item.id == subscriber.type ? "selected=selected" : "")>@item.name</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-3 col-sm-9">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </div>
                        </form>
                            @*  }*@
                    </div>
                <!-- /tile body -->
                <div class="tile-footer">

                </div>
            </section>
        </div>
    </div>

</div>
@section scripts {
    @Styles.Render("~/formvalidation/css")
    @Styles.Render("~/colorpicker/css")
    @Styles.Render("~/summernote/css")
    @Scripts.Render("~/formvalidation/js")
    @Scripts.Render("~/colorpicker/js")
    @Scripts.Render("~/summernote/js")
    <script type="text/javascript">
        $(function () {
            var validatorLib = {
                'validateNotEmpty': {
                    validators: {
                        notEmpty: {
                            message: "This field cannot be empty"
                        }
                    }
                }
            };
            var fv = $('#form-addEmailCategory')
                .formValidation({
                    framework: 'bootstrap',
                    fields: {
                        '@Html.IdFor(x => x.name)': validatorLib.validateNotEmpty,
                        '@Html.IdFor(x => x.email)': validatorLib.validateNotEmpty,
                        '@Html.IdFor(x => x.type)': validatorLib.validateNotEmpty
                    }
                });
        })
    </script>
}