﻿@model DynamicContent.Areas.SysManager.ViewModels.SubscriberViewModel
@{
    Layout = "~/Areas/SysManager/Views/Shared/_authenticatedLayout.cshtml";

    DynamicContent.Models.MainModel obj = new DynamicContent.Models.MainModel();
    var data = ViewData["data"] as DynamicContent.Models.M_Newsletter;
    var emailType = ViewData["emailType"] as IEnumerable<DynamicContent.Models.M_EmailType>;
    bool isSent = false;
    if (data.send_date != null)
    {
        isSent = true;
    }
}

<div class="page page-product-detail">
    <div class="pageheader">
        <h2>Newsletter <span>Today: @(DateTime.Now)</span></h2>
    </div>

    <div class="row">
        <div class="col-md-12">
            <section class="tile" fullscreen="isFullscreen02">
                <!-- tile header -->
                <div class="tile-header dvd dvd-btm">
                    <h1 class="custom-font"><strong>Send Test</strong> Newsletter</h1>
                </div>
                <!-- /tile header -->
                <!-- tile body -->
                <div class="tile-body">
                    @if (!Html.ViewData.ModelState.IsValid)
                    {
                        <div class="alert alert-lightred fade in">
                            <p>
                                @Html.ValidationSummary()
                            </p>
                        </div>
                    }
                    
                        <form action="/SysManager/Newsletter/TestNewsletter/" method="post" id="form-addEmailCategory" class="form-horizontal">
                            <input type="hidden" name="id" value="@data.id" />
                               
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Title</label>
                                <div class="col-sm-8">
                                    <label class="col-sm-4 control-label" style="text-align:left">@data.name</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Test To</label>
                                <div class="col-sm-8">
                                    <input class="form-control" id="email" name="email" placeholder="Enter email" type="text" >

                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-3 col-sm-9">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                <!-- /tile body -->
                <div class="tile-footer">

                </div>
            </section>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <section class="tile" fullscreen="isFullscreen02">
                <!-- tile header -->
                <div class="tile-header dvd dvd-btm">
                    <h1 class="custom-font"><strong>Blast</strong> Newsletter</h1>
                </div>
                <!-- /tile header -->
                <!-- tile body -->
                <div class="tile-body">
                    @if (!Html.ViewData.ModelState.IsValid)
                    {
                        <div class="alert alert-lightred fade in">
                            <p>
                                @Html.ValidationSummary()
                            </p>
                        </div>
                    }

                    <form action="/SysManager/Newsletter/BlastNewsletter/" method="post" id="form-addEmailCategory2" class="form-horizontal">
                        <input type="hidden" name="id" value="@data.id" />

                        <div class="form-group">
                            <label class="col-sm-4 control-label">Title</label>
                            <div class="col-sm-8">
                                <label class="col-sm-4 control-label" style="text-align:left">@data.name</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Blast To</label>
                            <div class="col-sm-8">
                                <select name="emailType" id="type" class="form-control">
                                    <option value="">- None -</option>
                                    @foreach (var item in emailType)
                                    {
                                        <option value="@item.id">@item.name</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-9">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- /tile body -->
                <div class="tile-footer">

                </div>
            </section>
        </div>
    </div>
</div>
@section scripts {
    @Styles.Render("~/formvalidation/css")
    @Styles.Render("~/colorpicker/css")
    @Styles.Render("~/summernote/css")
    @Scripts.Render("~/formvalidation/js")
    @Scripts.Render("~/colorpicker/js")
    @Scripts.Render("~/summernote/js")
    <script type="text/javascript">
        $(function () {
            var validatorLib = {
                'validateNotEmpty': {
                    validators: {
                        notEmpty: {
                            message: "This field cannot be empty"
                        }
                    }
                }
            };
            var fv = $('#form-addEmailCategory')
                .formValidation({
                    framework: 'bootstrap',
                    fields: {
                        '@Html.IdFor(x => x.email)': validatorLib.validateNotEmpty
                    }
                });
            var fv2 = $('#form-addEmailCategory2')
                .formValidation({
                    framework: 'bootstrap',
                    fields: {
                        '@Html.IdFor(x => x.type)': validatorLib.validateNotEmpty
                    }
                });
        })
    </script>
}