﻿@using DynamicContent.Models
@{
    DynamicContent.Models.MainModel obj = new DynamicContent.Models.MainModel();
    Layout = "~/Areas/SysManager/Views/Shared/_authenticatedLayout.cshtml";
    var cat = ViewData["category"] as List<M_EmailType>;
    //int totalSlider = sliders.Count();
}




<div class="page page-product-list">
    <div class="pageheader">
        <h2>Email Category <span>Today: @(DateTime.Now)</span></h2>
    </div>

    <div class="row">
        <div class="col-md-12">
            <section class="tile" fullscreen="isFullscreen02">
                <!-- tile header -->
                <div class="tile-header dvd dvd-btm">
                    <h1 class="custom-font"><strong>List </strong>Category</h1>
                    <ul class="controls">
                        <li>
                            <a href="@Url.Action("AddEmailCategory", "Newsletter", new { area = "SysManager" })" role="button" tabindex="0" class="pickDate">
                                <span></span><i class="fa fa-plus"></i> Add Category
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- /tile header -->
                <!-- tile body -->
                <div class="tile-body p-0">
                    <div class="table-responsive">
                        <table class="table table-custom" id="productDatatable">
                            <thead>
                                <tr>
                                    <th width="30%">Name</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in cat.OrderBy(x=>x.name))
                                {
                                    <tr>
                                        <td>@item.name</td>
                                        <td><a href="@Url.Action("EditEmailCategory", "Newsletter", new { area = "SysManager" })?id=@item.id">Edit Category</a></td>
                                        
                                    </tr>
                                }
                                
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- /tile body -->
            </section>
        </div>
    </div>

</div>

@section scripts {
    @Styles.Render("~/TenantManager/Datatables/css")
    @Scripts.Render("~/TenantManager/Datatables/js")
    <script type="text/javascript">
        var oTable = $('#productDatatable')
            .on('xhr.dt', function (e, settings, json, xhr) {
                if (xhr.status == 403) {
                    var response = $.parseJSON(xhr.responseText);
                    window.location = response.logonurl;
                }
            })
            .DataTable({
                "order": [1, "asc"]

            });
            function redir(obj) {
                window.location.href = $(obj).data("url") + "?to=" + $(obj).val();
            }
    </script>
}