﻿@using DynamicContent.Models
@{
    DynamicContent.Models.MainModel obj = new DynamicContent.Models.MainModel();
    Layout = "~/Areas/SysManager/Views/Shared/_authenticatedLayout.cshtml";
    var newsletter = ViewData["data"] as IEnumerable<DynamicContent.Models.M_Newsletter>;
    //int totalSlider = sliders.Count();
}




<div class="page page-product-list">
    <div class="pageheader">
        <h2>Newsletter <span>Today: @(DateTime.Now)</span></h2>
    </div>
    @{
        if (TempData["msg"] != null)
        {
            if (TempData["msg"].ToString()[0] == 's')
            {
                <div class="alert alert-success" role="alert"><strong>@TempData["msg"].ToString().Replace("success:", "")</strong></div>

            }
            else if (TempData["msg"].ToString()[0] == 'e')
            {
                <div class="alert alert-danger" role="alert"><strong>@TempData["msg"].ToString().Replace("error:", "")</strong></div>
            }
        }
    }
    <div class="row">
        <div class="col-md-12">
            <section class="tile" fullscreen="isFullscreen02">
                <!-- tile header -->
                <div class="tile-header dvd dvd-btm">
                    <h1 class="custom-font"><strong>List </strong>Newsletters</h1>
                    <ul class="controls">
                        <li>
                            <a href="@Url.Action("AddNewsletter", "Newsletter", new { area = "SysManager" })" role="button" tabindex="0" class="pickDate">
                                <span></span><i class="fa fa-plus"></i> Add Newsletter
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- /tile header -->
                <!-- tile body -->
                <div class="tile-body p-0">
                    <div class="table-responsive">
                        <table class="table table-custom" id="productDatatable">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Created Date</th>
                                    <th>Send Date</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in newsletter)
                                {
                                    <tr>
                                        <td>@item.name</td>
                                        <td>@item.created_date</td>
                                        <td>@item.send_date</td>
                                        <td>
                                            @if (item.send_date == null)
                                            {
                                                <a href="@Url.Action("EditNewsletter", "Newsletter", new { area = "SysManager" })?id=@item.id" class="btn btn-primary" title="View"><i class="fa fa-eye"></i></a>
                                                <a href="@Url.Action("BlastNewsletter", "Newsletter", new { area = "SysManager" })?id=@item.id" class="btn btn-primary" title="Blast"><i class="fa fa-mail-reply-all"></i></a>
                                                <a href="@Url.Action("DeleteNewsletter", "Newsletter", new { area = "SysManager" })?id=@item.id" class="btn btn-danger delete" title="Delete"><i class="fa fa-trash-o"></i></a>
                                            }
                                            else
                                            {
                                                <span class="bg-danger"><small>Archieved</small></span>
                                            }
                                        </td>
                                        
                                    </tr>
                                }
                                
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- /tile body -->
            </section>
        </div>
    </div>

</div>

@section scripts {
    @Styles.Render("~/TenantManager/Datatables/css")
    @Scripts.Render("~/TenantManager/Datatables/js")
    <script type="text/javascript">
        var oTable = $('#productDatatable')
            .on('xhr.dt', function (e, settings, json, xhr) {
                if (xhr.status == 403) {
                    var response = $.parseJSON(xhr.responseText);
                    window.location = response.logonurl;
                }
            })
            .DataTable({
                "order": [1, "asc"]

            });
            function redir(obj) {
                window.location.href = $(obj).data("url") + "?to=" + $(obj).val();
            }
    </script>
}