﻿@using DynamicContent.Models
@{
    DynamicContent.Models.MainModel obj = new DynamicContent.Models.MainModel();
    Layout = "~/Areas/SysManager/Views/Shared/_authenticatedLayout.cshtml";
    var subscriber = ViewData["subscribers"] as IEnumerable<DynamicContent.Models.EmailModel.Subsribers>;
    //int totalSlider = sliders.Count();
}
<div class="page page-product-list">
    <div class="pageheader">
        <h2>Subscribers <span>Today: @(DateTime.Now)</span></h2>
    </div>
    @{
        if (TempData["msg"] != null)
        {
            if (TempData["msg"].ToString()[0] == 's')
            {
                <div class="alert alert-success" role="alert"><strong>@TempData["msg"].ToString().Replace("success:", "")</strong></div>

            }
            else if (TempData["msg"].ToString()[0] == 'e')
            {
                <div class="alert alert-danger" role="alert"><strong>@TempData["msg"].ToString().Replace("error:", "")</strong></div>
            }
        }
    }
    <div class="row">
        <div class="col-md-12">
            <section class="tile" fullscreen="isFullscreen02">
                <!-- tile header -->
                <div class="tile-header dvd dvd-btm">
                    <h1 class="custom-font"><strong>List </strong>Subscribers</h1>
                    <ul class="controls">
                        <li>
                            <a href="@Url.Action("AddSubscriber", "Newsletter", new { area = "SysManager" })" role="button" tabindex="0" class="pickDate">
                                <span></span><i class="fa fa-plus"></i> Add Subscriber
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- /tile header -->
                <!-- tile body -->
                <div class="tile-body p-0">
                    <div class="table-responsive">
                        <table class="table table-custom" id="productDatatable">
                            <thead>
                                <tr>
                                    <th>Email</th>
                                    <th>Name</th>
                                    <th>Type</th>
                                    <th>Subscribe By</th>
                                    <th>Subscribe Date</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in subscriber.OrderBy(x=>x.subscribe_date))
                                {
                                    <tr>
                                        <td>@item.email</td>
                                        <td>@item.name</td>
                                        <td>@item.type_name</td>
                                        <td>@item.subscribe_by</td>
                                        <td>@item.subscribe_date</td>
                                        <td>
                                            <a href="@Url.Action("EditSubscriber", "Newsletter", new { area = "SysManager" })?id=@item.id">Edit</a>
                                            <a href="@Url.Action("DeleteSubscriber", "Newsletter", new { area = "SysManager" })?id=@item.id">Delete</a>
                                        </td>
                                        
                                    </tr>
                                }
                                
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- /tile body -->
            </section>
        </div>
    </div>

</div>

@section scripts {
    @Styles.Render("~/TenantManager/Datatables/css")
    @Scripts.Render("~/TenantManager/Datatables/js")
    <script type="text/javascript">
        var oTable = $('#productDatatable')
            .on('xhr.dt', function (e, settings, json, xhr) {
                if (xhr.status == 403) {
                    var response = $.parseJSON(xhr.responseText);
                    window.location = response.logonurl;
                }
            })
            .DataTable({
                "order": [1, "asc"]

            });
            function redir(obj) {
                window.location.href = $(obj).data("url") + "?to=" + $(obj).val();
            }
    </script>
}