﻿#variantTable div.colorPreview {
    width:75px;
    height:75px;
    background-color:none;
    border:1px solid #000000;
    margin:0 auto;
    margin-bottom:5px;
}

.kidSize {
    display:none;
}

.nav-right.pull-right.list-inline > li {
    min-width: 160px;
    text-align: right;
}