﻿@using System.Text.RegularExpressions;
@section styles{
    <style>
        #accordion ul {
            display: none;
        }
    </style>
}

@{
    DynamicContent.Models.MainModel obj = new DynamicContent.Models.MainModel();
    DynamicContent.Models.Entities db = new DynamicContent.Models.Entities();

    string category = Request.QueryString["category"];
    var tenant = obj.getTenantFirstLetter();
    var selTenant = new List<string>();
    var idTenant = "";
    int index = 0;
    IEnumerable<DynamicContent.Models.tbl_tenant> tenantName = null;
    var listCategory2 = db.TenantMaster.ToList().OrderBy(x => x.ShopGroup);
    if (category != null)
    {
        var listCategory = db.tbl_tenant.Where(x => x.tenant_subcategory.Contains(category)).OrderBy(x => x.name);

        //var selTenant = new List<string>();
        foreach (var item in listCategory)
        {
            var subCategory = item.tenant_subcategory.Split(',');
            foreach (var sub in subCategory)
            {
                if (sub == category)
                {
                    selTenant.Add(item.ID.ToString());
                }
            }
            idTenant = string.Join(",", selTenant.ToArray());
        }
        if (idTenant == "")
        {
            tenantName = null;
        }
        else
        {
            tenantName = obj.GetListTenant(idTenant).OrderBy(x => x.name);
        }
    }
    else
    {
        tenantName = db.tbl_tenant.OrderBy(x => x.name);

    }

    char[] alpha = "ABCDEFGHIJKLMNOPQRSTUVWXYZ".ToCharArray();
    char[] alpha1 = "ABCDE".ToCharArray();
    char[] alpha2 = "FGHIJKLMNO".ToCharArray();
    char[] alpha3 = "PQRSTUVWXYZ".ToCharArray();
}
<div class="container-fluid">
    <div class="bread-crumb row">
        <div class="container">
            <ul class="">
                <li><a href="/">home</a></li>
                <li><a href="/stores/allstores">All Stores </a></li>
            </ul>
        </div>
    </div>
</div>
<div class="container">
    <h3 class="m-title text-left">Stores </h3>
    <div class="clear"></div>
    <hr />
    <div class="clear"></div>
    <div class="col-sm-3 col-xs-12">
        <ul id="accordion">
            <li><div><a href="/stores/allstores">ALL STORES</a></div></li>
            <li>
                <div>Clothing</div>
                <ul>
                    @{
                        var submenu = obj.GetSubmenu("FSH").OrderBy(x => x.name);
                        var parent = db.tbl_TenantCategory.Where(x => x.code == "FSH").FirstOrDefault();
                        var type = db.TypeMasters.Where(x => x.TypeCategory == parent.ID && x.isActive == "Y").GroupBy(n => n.TypeValue);
                        foreach (var item in submenu)
                        {
                            <li><a href="/category/clothing/@item.id/@item.name">@item.name</a></li>

                        }
                    }
                </ul>
            </li>
            <li>
                <div>Leather Goods & Accessories</div>
                <ul>
                    @{
                        var submenu2 = obj.GetSubmenu("LGA").OrderBy(x => x.name);
                        var parent2 = db.tbl_TenantCategory.Where(x => x.code == "LGA").FirstOrDefault();
                        foreach (var item in submenu2)
                        {
                            <li><a href="/category/leather_goods_accessories/@item.id/@item.name">@item.name</a></li>
                        }
                    }
                </ul>
            </li>
            <li>
                <div>Jewelry & Watches</div>
                <ul>
                    @{
                        var submenu3 = obj.GetSubmenu("JW").OrderBy(x => x.name);
                        var parent3 = db.tbl_TenantCategory.Where(x => x.code == "JW").FirstOrDefault();
                        foreach (var item in submenu3)
                        {
                            <li><a href="/category/jewelries_watches/@item.id/@item.name">@item.name</a></li>
                        }
                    }
                </ul>
            </li>
            <li>
                <div>Sports & Lifestyle</div>
                <ul>
                    @{
                        var submenu4 = obj.GetSubmenu("SL").OrderBy(x => x.name);
                        var parent4 = db.tbl_TenantCategory.Where(x => x.code == "SL").FirstOrDefault();
                        //var type4 = db.TypeMasters.Where(x => x.TypeCategory == parent4.ID).GroupBy(n => n.TypeValue);
                        foreach (var item in submenu4)
                        {
                            <li><a href="/category/sports_lifestyle/@item.id/@item.name">@item.name</a></li>
                            
                        }
                    }
                </ul>
            </li>
            <li>
                <div>Beauty & Health</div>
                <ul>
                    @{
                        var submenu5 = obj.GetSubmenu("BH").OrderBy(x => x.name);
                        var parent5 = db.tbl_TenantCategory.Where(x => x.code == "BH").FirstOrDefault();
                        //var type5 = db.TypeMasters.Where(x => x.TypeCategory == parent5.ID).GroupBy(n => n.TypeValue);
                        foreach (var item in submenu5)
                        {
                            <li><a href="/category/beauty_health/@item.id/@item.name">@item.name</a></li>
                        }
                    }
                </ul>
            </li>
            <li>
                <div>Kids</div>
                <ul>
                    @{
                        var submenu6 = obj.GetSubmenu("KD").OrderBy(x => x.name);
                        var parent6 = db.tbl_TenantCategory.Where(x => x.code == "KD").FirstOrDefault();
                        //var type6 = db.TypeMasters.Where(x => x.TypeCategory == parent6.ID).GroupBy(n => n.TypeValue);
                        foreach (var item in submenu6)
                        {
                            <li><a href="/category/kids/@item.id/@item.name">@item.name</a></li>
                        }
                    }
                </ul>
            </li>
            <li>
                <div>Home</div>
                <ul>
                    @{
                        var submenu7 = obj.GetSubmenu("HF").OrderBy(x => x.name);
                        var parent7 = db.tbl_TenantCategory.Where(x => x.code == "HF").FirstOrDefault();
                        //var type6 = db.TypeMasters.Where(x => x.TypeCategory == parent6.ID).GroupBy(n => n.TypeValue);
                        foreach (var item in submenu7)
                        {
                            <li><a href="/category/home/@item.id/@item.name">@item.name</a></li>
                        }
                    }
                </ul>
            </li>
            <li>
                <div>Speciality Shop</div>
                <ul>
                    @{
                        var submenu8 = obj.GetSubmenu("SS").OrderBy(x => x.name);
                        var parent8 = db.tbl_TenantCategory.Where(x => x.code == "SS").FirstOrDefault();
                        //var type6 = db.TypeMasters.Where(x => x.TypeCategory == parent6.ID).GroupBy(n => n.TypeValue);
                        foreach (var item in submenu8)
                        {
                            <li><a href="/category/specialty_shop/@item.id/@item.name">@item.name</a></li>
                        }
                    }
                </ul>
            </li>
        </ul>
    </div>
    <div class="col-sm-9 col-xs-12">
        <div class="col-sm-12 col-xs-12">
            <ul class="filterAlphabet">
                <li class="go-to">GO TO : </li>
                <li><a href="#(*-)">(*-)</a></li>
                <li><a href="#0-9">0-9</a></li>
                @{
                    if (tenantName != null)
                    {
                        foreach (var a in alpha)
                        {
                            var ad = a.ToString();
                            var tenantAd = listCategory2.Where(x => x.ShopName.StartsWith(ad));
                            if (tenantAd.Count() > 0)
                            {
                                <li><a href="#@a">@a</a></li>
                            }
                            else
                            {
                                <li class="no-link">@a</li>
                            }

                        }
                    }
                    else
                    {
                        foreach (var a in alpha)
                        {
                            <li class="no-link">@a</li>
                        }
                    }

                }
            </ul>
        </div>
        <div class="col-sm-12 col-xs-12">
            @{
                if (tenantName == null)
                {
                    <h3 class="text-center">No Stores Found</h3>
                }
            }
            <ul class="col-sm-4 shop_list">
                @{
                    if (tenantName != null)
                    {
                        //foreach (var item in tenantName)
                        //{
                        //    if (Regex.IsMatch(item.name, @"^[!@#\$%\^\&*\)\(+=._-]"))
                        //    {
                        //        s++;
                        //    }
                        //}

                        if (listCategory2.Where(x => x.ShopGroup == "(*-)").Count() > 0)
                        {
                            <li class="top-letter" id="(*-)">(*-)</li>
                        }
                        var nocol = listCategory2.Where(x => x.ShopGroup == "(*-)");
                        foreach (var item in nocol)
                        {
                            //if (Regex.IsMatch(item.name, @"^[!@#\$%\^\&*\)\(+=._-]"))
                            //{
                            <li><a href="/stores/@item.TenantID-@Regex.Replace(item.ShopName.ToLower(), "[^0-9a-zA-Z]+", "_")/">@item.ShopName</a></li>
                        }
                        //}
                    }
                }
                @{
                    if (tenantName != null)
                    {
                        @*int i = 0;
                            foreach (var item in tenantName)
                            {
                                if (Regex.IsMatch(item.name, "^[0-9]"))
                                {
                                    i++;
                                }
                            }
                            if (i > 0)
                            {
                            <li class="top-letter" id="0-9">0-9 </li>
                            }*@
                if (listCategory2.Where(x => x.ShopGroup == "0-9").Count() > 0)
                {
                    <li class="top-letter" id="0-9">0-9 </li>
                }
                @*foreach (var item in tenantName)
                    {
                        if (Regex.IsMatch(item.name, "^[0-9]"))
                        {
                        <li><a href="/stores/@item.ID-@Regex.Replace(item.name.ToLower(), "[^0-9a-zA-Z]+", "_")/">@item.name</a></li>
                    }*@
                var nocol2 = listCategory2.Where(x => x.ShopGroup == "0-9");
                foreach (var item in nocol2)
                {
                    <li><a href="/stores/@item.TenantID-@Regex.Replace(item.ShopName.ToLower(), "[^0-9a-zA-Z]+", "_")/">@item.ShopName</a></li>
                        }
                    }
                    @*foreach (var a in alpha1)
                        {
                            var d = a.ToString();
                            var tenantx = tenantName.Where(x => x.name.StartsWith(d));
                            if (tenantx.Count() > 0)
                            {
                            <li class="top-letter" id="@a">@a</li>
                                foreach (var item in tenantx.OrderBy(x => x.name))
                                {
                                    <li>
                                        @{
                                            var isjoin = db.TenantMaster.Where(x => x.TenantID == item.ID).FirstOrDefault();
                                            if (isjoin.isJoin == "Y")
                                            {
                                                <a href="/stores/@item.ID-@Regex.Replace(item.name.ToLower(), "[^0-9a-zA-Z]+", "_")/">@item.name</a>

                                            }
                                            else
                                            {
                                                <a href="/home">@item.name</a>

                                            }
                                        }
                                    </li>
                                }
                                }
                            }*@
                var col1 = listCategory2.Where(x => x.ShopCol == 1 && x.ShopGroup != "(*-)" && x.ShopGroup != "0-9");
                foreach (var item in col1)
                {
                    if (index <= alpha1.Count() - 1)
                    {
                        if (item.ShopGroup == alpha1[index].ToString())
                        {
                            <li class="top-letter" id="@item.ShopGroup">@item.ShopGroup</li>
                                index++;

                            }

                        }
                        <li>
                            @if (item.isJoin == "Y")
                            {
                                <a href="/stores/@item.TenantID-@Regex.Replace(item.ShopName.ToLower(), "[^0-9a-zA-Z]+", "_")/">@item.ShopName</a>
                            }
                            else
                            {
                                if (item.TenantUrl != "")
                                {
                                    <a href="http://@item.TenantUrl" data-toggle="modal">@item.ShopName</a>
                                }
                                else
                                {
                                    <a href="#" data-toggle="modal" data-target="#myModal">@item.ShopName</a>
                                }
                            }

                        </li>

                    }
                }
                @*}
                    }*@

            </ul>
            <ul class="col-sm-4 shop_list">
                @{
                    @*if (tenantName != null)
                        {
                            foreach (var a in alpha2)
                            {
                                var d = a.ToString();
                                var tenantx = tenantName.Where(x => x.name.StartsWith(d));
                                if (tenantx.Count() > 0)
                                {
                                    <li class="top-letter" id="@a">@a</li>
                                    foreach (var item in tenantx.OrderBy(x => x.name))
                                    {
                                        <li>
                                            @{
                                        var isjoin = db.TenantMaster.Where(x => x.TenantID == item.ID).FirstOrDefault();
                                        if (isjoin.isJoin == "Y")
                                        {
                                            <a href="/stores/@item.ID-@Regex.Replace(item.name.ToLower(), "[^0-9a-zA-Z]+", "_")/">@item.name</a>

                                        }
                                        else
                                        {
                                            <a href="/home">@item.name</a>

                                        }
                                            }
                                        </li>
                                    }
                                }
                            }
                        }*@
                index = 0;
                var col2 = listCategory2.Where(x => x.ShopCol == 2);
                foreach (var item in col2)
                {
                    if (index <= alpha2.Count() - 1)
                    {
                        if (item.ShopGroup == alpha2[index].ToString())
                        {
                            <li class="top-letter" id="@item.ShopGroup">@item.ShopGroup</li>
                                index++;

                            }

                        }
                        <li>
                            @if (item.isJoin == "Y")
                            {
                                <a href="/stores/@item.TenantID-@Regex.Replace(item.ShopName.ToLower(), "[^0-9a-zA-Z]+", "_")/">@item.ShopName</a>
                            }
                            else
                            {
                                <a href="#" data-toggle="modal" data-target="#myModal">@item.ShopName</a>
                            }
                        </li>

                    }
                }
            </ul>
            <ul class="col-sm-4 shop_list">
                @{
                    index = 0;
                    var col3 = listCategory2.Where(x => x.ShopCol == 3);
                    var availableAlpahabet = col3.ToList().GroupBy(x => x.ShopGroup).Select(Group => Group.First()).Select(x => x.ShopGroup).ToArray();
                    foreach (var item in col3)
                    {
                        if (index <= availableAlpahabet.Count() - 1)
                        {
                            if (item.ShopGroup == availableAlpahabet[index].ToString())
                            {
                                <li class="top-letter" id="@item.ShopGroup">@item.ShopGroup</li>

                                index++;
                            }


                        }
                        <li>
                            @if (item.isJoin == "Y")
                            {
                                <a href="/stores/@item.TenantID-@Regex.Replace(item.ShopName.ToLower(), "[^0-9a-zA-Z]+", "_")/">@item.ShopName</a>
                            }
                            else
                            {
                                <a href="#" data-toggle="modal" data-target="#myModal">@item.ShopName</a>
                            }
                        </li>

                    }
                    @*if (tenantName != null)
                        {
                            foreach (var a in alpha3)
                            {
                                var d = a.ToString();
                                var tenantx = tenantName.Where(x => x.name.StartsWith(d));
                                if (tenantx.Count() > 0)
                                {
                                    <li class="top-letter" id="@a">@a</li>
                                    foreach (var item in tenantx.OrderBy(x => x.name))
                                    {
                                        <li>
                                            @{
                                        var isjoin = db.TenantMaster.Where(x => x.TenantID == item.ID).FirstOrDefault();
                                        if (isjoin.isJoin == "Y")
                                        {
                                            <a href="/stores/@item.ID-@Regex.Replace(item.name.ToLower(), "[^0-9a-zA-Z]+", "_")/">@item.name</a>

                                        }
                                        else
                                        {
                                            <a href="/home">@item.name</a>

                                        }
                                            }
                                        </li>
                                    }
                                }
                            }
                        }*@
                }
            </ul>
        </div>
    </div>
    <div class="clear"></div>
</div>
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <p>No URL link is found for this brand, please select another brand.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
@section scripts{
    <script>
        //function AddToCartDetail(id, qty, sz) {
        //    $.ajax({
        //        url: '/customer/AddToCartDetail',
        //        data: { id: id, qty: qty, size: sz }
        //    }).done(function () {
        //        alert('Added To Cart');
        //        reloadCartDetail();
        //        reloadItem();
        //    });
        //}
        //function AddToWishlist(id, idc) {
        //    $.ajax({
        //        url: '/customer/AddToWishlist',
        //        data: { id: id, color:idc }
        //    }).done(function () {
        //        //alert(data);
        //    });
        //}
        jQuery(document).ready(function ($) {
            $("#accordion > li > div").click(function () {
                if (false == $(this).next().is(':visible')) {
                    $('#accordion ul').slideUp(300);
                }
                $(this).next().slideToggle(300);
            });
            //$('#accordion ul:eq(0)').show();

        });
    </script>
}

