﻿@{
    Layout = "~/Areas/TenantManager/Views/Shared/_authenticatedLayout.cshtml";
}

@model DynamicContent.Areas.TenantManager.ViewModels.ResetPasswordViewModel


<div class="page page-change-password">
    <div class="pageheader">
        <h2>Change Password <span>Today: @(DateTime.Now)</span></h2>
    </div>

    <div class="row">
        <div class="col-md-12">
            <section class="tile" fullscreen="isFullscreen02">
                <!-- tile header -->
                <div class="tile-header dvd dvd-btm">
                    <h1 class="custom-font"><strong>Update </strong>Password</h1>
                </div>
                <div class="tile-body p-30">
                        @if (!Html.ViewData.ModelState.IsValid)
                        {
                            <div class="alert alert-lightred fade in">
                                <p>
                                    @Html.ValidationSummary()
                                </p>
                            </div>
                        }

                        @if (ViewBag.msg != null)
                        {
                            <div class="alert alert-green fade in">
                                <p>
                                    @ViewBag.msg
                                </p>
                            </div>
                        }

                        @using (Html.BeginForm("ChangePassword", "Account", new { ViewBag.ReturnUrl }, FormMethod.Post, new { @id = "form-login", @class = "form-validation mt-20", role = "form" }))
                        {
                            @Html.AntiForgeryToken()

                            @Html.HiddenFor(m => m.Username);
                            <div class="form-group">
                                <label class="">New password</label>
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control underline-input", @placeholder = "New Password" })
                                @*@Html.Password("password", "", new { @class = "form-control underline-input", @placeholder = "New Password" })*@
                            </div>
                            <div class="form-group">
                                <label class="">Repeat password</label>
                                @Html.PasswordFor(m => m.RepeatPassword, new { @class = "form-control underline-input", @placeholder = "Repeat New Password" })
                                @*@Html.Password("repeatPassword", "", new { @class = "form-control underline-input", @placeholder = "Repeat New Password" })*@
                            </div>

                            <div class="form-group mt-20">
                                <button type="submit" class="btn btn-greensea ">Save</button>
                            </div>
                            
                        }
                    </div>
            </section>
        </div>
    </div>

</div>