﻿@{
    Layout = "~/Areas/TenantManager/Views/Shared/_publicLayout.cshtml";
    
}
@model DynamicContent.Areas.TenantManager.ViewModels.LoginViewModel


<div class="page page-core page-login">

    <div class="text-center"><h3 class="text-light text-white">Plaza Indonesia</h3></div>

    <div class="container w-420 p-15 bg-white mt-40 text-center">
        @if (!Html.ViewData.ModelState.IsValid || (ViewData["msg"] != null && ViewData["msg"] != ""))
        {
            <div class="alert alert-lightred fade in">
                <p>
                    @Html.ValidationSummary()
                    @ViewData["msg"]
                </p>
            </div>
        }
        

        <h2 class="text-light text-greensea">Log In</h2>

@using (Html.BeginForm("Login", "Account", new { ViewBag.ReturnUrl }, FormMethod.Post, new { @id = "form-login", @class = "form-validation mt-20", role = "form" }))
{

    @Html.AntiForgeryToken()
    
            <div class="form-group">
                @Html.TextBoxFor(m => m.Username, new { @class = "form-control underline-input", @placeholder = "Username" })
            </div>

            <div class="form-group">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control underline-input", @placeholder = "Password" })
            </div>

            <div class="form-group text-left mt-20">
                <button type="submit" class="btn btn-greensea b-0 br-2 mr-5">Login</button>
                
                <a href="@Url.Action("ForgetPassword", "Account", new { area = "TenantManager" })" class="pull-right mt-10">Forgot Credential?</a>
            </div>
            
}
    </div>

</div>