﻿@{
    Layout = "~/Areas/TenantManager/Views/Shared/_publicLayout.cshtml";
    
}

@model DynamicContent.Areas.TenantManager.ViewModels.ResetPasswordViewModel

<div class="page page-core page-login">

    <div class="text-center"><h3 class="text-light text-white">Plaza Indonesia</h3></div>

    <div class="container w-420 p-15 bg-white mt-40">
        @if (!Html.ViewData.ModelState.IsValid)
        {
            <div class="alert alert-lightred fade in">
                <p>
                    @Html.ValidationSummary()
                </p>
            </div>
        }
        

        <h2 class="text-light text-greensea">Forget Password</h2>

@using (Html.BeginForm("ResetPassword", "Account", new { ViewBag.ReturnUrl }, FormMethod.Post, new { @id = "form-login", @class = "form-validation mt-20", role = "form" }))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(m => m.Username);
            <div class="form-group">
                <label class="">Enter your new password</label>
                @Html.PasswordFor(m => m.Password, new { @class = "form-control underline-input", @placeholder = "New Password" })
                @*@Html.Password("password", "", new { @class = "form-control underline-input", @placeholder = "New Password" })*@
            </div>
            <div class="form-group">
                <label class="">Repeat your new password</label>
                @Html.PasswordFor(m => m.RepeatPassword, new { @class = "form-control underline-input", @placeholder = "Repeat New Password" })
                @*@Html.Password("repeatPassword", "", new { @class = "form-control underline-input", @placeholder = "Repeat New Password" })*@
            </div>

            <div class="form-group text-center mt-20">
                <button type="submit" class="btn btn-greensea ">Update Password</button>
            </div>
            
            <div class="form-group text-center mt-20">
            <a href="@Url.Action("Login", "Account", new { area = "TenantManager" })">Back to Login</a>
            </div>
}
    </div>

</div>