﻿<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>
        @Page.Title
    </title>
    <link rel="icon" type="image/ico" href="assets/images/favicon.ico" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @RenderSection("head", required: false)


    <!-- ============================================
    ================= Stylesheets ===================
    ============================================= -->
    <!-- vendor css files -->
    @Styles.Render("~/TenantManager/css")
    @RenderSection("css", false)
    <!-- ==========================================
    ================= Modernizr ===================
    =========================================== -->
    @Scripts.Render("~/modernizr")
    <!--/ modernizr -->


</head>


<body id="minovate" class="appWrapper scheme-black">



    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div id="wrap" class="animsition">
        @Html.Partial("_header");
        @Html.Partial("_control");
        <section id="content">
            @RenderBody()
        </section>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="assets/js/vendor/jquery/jquery-1.11.2.min.js"><\/script>')</script>
    <script>
        $(document).ajaxError(function (e, xhr) {
            if (xhr.status == 401) {
                var response = $.parseJSON(xhr.responseText);
                if (response.msg != undefined || response.msg != '') {
                    alert(response.msg);
                }
                window.location = response.logonurl;
            }
        });

    </script>
    @Scripts.Render("~/TenantManager/js")
    <!--/ custom javascripts -->
    <!-- ===============================================
    ============== Page Specific Scripts ===============
    ================================================ -->
    @RenderSection("scripts", false)
    <script>

        setInterval(function () {
            $.ajax({
                url: '/TenantManager/Account/CheckSession',
                method: 'POST'
            });
        },5000);
        if ($.fn.dataTableExt != null && $.fn.dataTableExt != undefined) {
            $.fn.dataTableExt.sErrMode = 'throw';
        }
    </script> 
    <!--/ Page Specific Scripts -->

</body>
</html>
