﻿@{
    var controller = ViewContext.RouteData.GetRequiredString("controller").ToLower();
    var action = ViewContext.RouteData.GetRequiredString("action").ToLower();
}

<!-- =================================================
            ================= CONTROLS Content ===================
            ================================================== -->
<div id="controls">


    <!-- ================================================
    ================= SIDEBAR Content ===================
    ================================================= -->
    <aside id="sidebar"  class="scheme-black">

        <div id="sidebar-wrap">
            <div class="panel-group slim-scroll" role="tablist">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="#sidebarNav">
                                Navigation <i class="fa fa-angle-up"></i>
                            </a>
                        </h4>
                    </div>
                    <div id="sidebarNav" class="panel-collapse collapse in" role="tabpanel">
                        <div class="panel-body">

                            <!-- ===================================================
                            ================= NAVIGATION Content ===================
                            ==================================================== -->
                            <ul id="navigation">
                                <li class="@((controller == "home") ?"active":"") "><a href="@Url.Action("Index","Home",new { area = "TenantManager" })"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a></li>
                                <li class="@((controller == "product") ?"active open":"") ">
                                    <a role="button" tabindex="0"><i class="fa fa-suitcase"></i> <span>Product</span></a>
                                    <ul>
                                        <li class="@((controller == "product" && action == "index" ) ? "active" : "")">
                                            <a href="@Url.Action("Index", "Product", new { area = "TenantManager" })" role="button" tabindex="0"><i class="fa fa-caret-right"></i> List Product</a>
                                        </li>
                                        <li class="@((controller == "product" && action == "addproduct" ) ? "active" : "")">
                                            <a href="@Url.Action("AddProduct", "Product", new { area = "TenantManager" })" role="button" tabindex="0"><i class="fa fa-caret-right"></i> Add Product</a>
                                        </li>
                                        <li class="@((controller == "product" && action == "addtenantbanner" ) ? "active" : "")">
                                            <a href="@Url.Action("AddTenantBanner", "Product", new { area = "TenantManager" })" role="button" tabindex="0"><i class="fa fa-caret-right"></i> Add Tenant Banner</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="@((controller == "order") ?"active":"") "><a href="@Url.Action("Index", "Order", new { area = "TenantManager" })"><i class="fa fa-binoculars"></i> <span>Transactions</span></a></li>
                                <li class="@((controller == "report") ?"active open":"") ">
                                    <a role="button" tabindex="0"><i class="fa fa-suitcase"></i> <span>Report</span></a>
                                    <ul>
                                        <li class="@((controller == "report" && action == "mostviewedproducts" ) ? "active" : "")">
                                            <a href="@Url.Action("MostViewedProducts", "Report", new { area = "TenantManager" })" role="button" tabindex="0"><i class="fa fa-caret-right"></i> Most Viewed Products</a>
                                        </li>
                                        <li class="@((controller == "report" && action == "mostlovedproducts" ) ? "active" : "")">
                                            <a href="@Url.Action("MostLovedProducts", "Report", new { area = "TenantManager" })" role="button" tabindex="0"><i class="fa fa-caret-right"></i> Most Loved Products</a>
                                        </li>
                                        <li class="@((controller == "report" && action == "mostreservedproducts" ) ? "active" : "")">
                                            <a href="@Url.Action("MostReservedProducts", "Report", new { area = "TenantManager" })" role="button" tabindex="0"><i class="fa fa-caret-right"></i> Most Reserved Products</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            <!--/ NAVIGATION Content -->

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </aside>
    <!--/ SIDEBAR Content -->
    


</div>
<!--/ CONTROLS Content -->