﻿@using DynamicContent.Areas.TenantManager.Helper
<!-- ===============================================
            ================= HEADER Content ===================
            ================================================ -->
<section id="header" class="scheme-black">
    <header class="clearfix">

        <!-- Branding -->
        <div class="branding scheme-black">
            <a class="brand" href="index.html">
                <span>Plaza <strong>Indonesia</strong></span>
            </a>
            <a role="button" tabindex="0" class="offcanvas-toggle visible-xs-inline"><i class="fa fa-bars"></i></a>
        </div>
        <!-- Branding end -->
        <!-- Left-side navigation -->
        <ul class="nav-left pull-left list-unstyled list-inline">
            
            @*<li class="dropdown divided-right settings">
                <a role="button" tabindex="0" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-cog"></i>
                </a>
                <ul class="dropdown-menu with-arrow animated littleFadeInUp" role="menu">
                    <li>

                        <ul class="color-schemes list-inline">
                            <li class="title">Header Color:</li>
                            <li><a role="button" tabindex="0" class="scheme-drank header-scheme" data-scheme="scheme-default"></a></li>
                            <li><a role="button" tabindex="0" class="scheme-black header-scheme" data-scheme="scheme-black"></a></li>
                            <li><a role="button" tabindex="0" class="scheme-greensea header-scheme" data-scheme="scheme-greensea"></a></li>
                            <li><a role="button" tabindex="0" class="scheme-cyan header-scheme" data-scheme="scheme-cyan"></a></li>
                            <li><a role="button" tabindex="0" class="scheme-lightred header-scheme" data-scheme="scheme-lightred"></a></li>
                            <li><a role="button" tabindex="0" class="scheme-light header-scheme" data-scheme="scheme-light"></a></li>
                            <li class="title">Branding Color:</li>
                            <li><a role="button" tabindex="0" class="scheme-drank branding-scheme" data-scheme="scheme-default"></a></li>
                            <li><a role="button" tabindex="0" class="scheme-black branding-scheme" data-scheme="scheme-black"></a></li>
                            <li><a role="button" tabindex="0" class="scheme-greensea branding-scheme" data-scheme="scheme-greensea"></a></li>
                            <li><a role="button" tabindex="0" class="scheme-cyan branding-scheme" data-scheme="scheme-cyan"></a></li>
                            <li><a role="button" tabindex="0" class="scheme-lightred branding-scheme" data-scheme="scheme-lightred"></a></li>
                            <li><a role="button" tabindex="0" class="scheme-light branding-scheme" data-scheme="scheme-light"></a></li>
                            <li class="title">Sidebar Color:</li>
                            <li><a role="button" tabindex="0" class="scheme-drank sidebar-scheme" data-scheme="scheme-default"></a></li>
                            <li><a role="button" tabindex="0" class="scheme-black sidebar-scheme" data-scheme="scheme-black"></a></li>
                            <li><a role="button" tabindex="0" class="scheme-greensea sidebar-scheme" data-scheme="scheme-greensea"></a></li>
                            <li><a role="button" tabindex="0" class="scheme-cyan sidebar-scheme" data-scheme="scheme-cyan"></a></li>
                            <li><a role="button" tabindex="0" class="scheme-lightred sidebar-scheme" data-scheme="scheme-lightred"></a></li>
                            <li><a role="button" tabindex="0" class="scheme-light sidebar-scheme" data-scheme="scheme-light"></a></li>
                            <li class="title">Active Color:</li>
                            <li><a role="button" tabindex="0" class="scheme-drank color-scheme" data-scheme="drank-scheme-color"></a></li>
                            <li><a role="button" tabindex="0" class="scheme-black color-scheme" data-scheme="black-scheme-color"></a></li>
                            <li><a role="button" tabindex="0" class="scheme-greensea color-scheme" data-scheme="greensea-scheme-color"></a></li>
                            <li><a role="button" tabindex="0" class="scheme-cyan color-scheme" data-scheme="cyan-scheme-color"></a></li>
                            <li><a role="button" tabindex="0" class="scheme-lightred color-scheme" data-scheme="lightred-scheme-color"></a></li>
                            <li><a role="button" tabindex="0" class="scheme-light color-scheme" data-scheme="light-scheme-color"></a></li>
                        </ul>

                    </li>

                    <li>
                        <div class="form-group">
                            <div class="row">
                                <label class="col-xs-8 control-label">Fixed header</label>
                                <div class="col-xs-4 control-label">
                                    <div class="onoffswitch lightred small">
                                        <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="fixed-header" checked="">
                                        <label class="onoffswitch-label" for="fixed-header">
                                            <span class="onoffswitch-inner"></span>
                                            <span class="onoffswitch-switch"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li>
                        <div class="form-group">
                            <div class="row">
                                <label class="col-xs-8 control-label">Fixed aside</label>
                                <div class="col-xs-4 control-label">
                                    <div class="onoffswitch lightred small">
                                        <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="fixed-aside" checked="">
                                        <label class="onoffswitch-label" for="fixed-aside">
                                            <span class="onoffswitch-inner"></span>
                                            <span class="onoffswitch-switch"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </li>*@
        </ul>
        <!-- Left-side navigation end -->
        
        <!-- Right-side navigation -->
        <ul class="nav-right pull-right list-inline">
            
            <li class="dropdown nav-profile">

                <a href class="dropdown-toggle" data-toggle="dropdown">
                    <img src="//placehold.it/30x30" alt="" class="img-circle size-30x30">
                    <span>@Session_.Username <i class="fa fa-angle-down"></i></span>
                </a>

                <ul class="dropdown-menu animated littleFadeInRight" role="menu">
                    <li>
                        <a href="@Url.Action("ChangePassword", "Account", new { area = "TenantManager" })" role="button" tabindex="0">
                            <i class="fa fa-lock"></i>Change Password
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Logout", "Account", new { area = "TenantManager" })" role="button" tabindex="0">
                            <i class="fa fa-sign-out"></i>Logout
                        </a>
                    </li>

                </ul>

            </li>

            
        </ul>
        <!-- Right-side navigation end -->



    </header>

</section>
<!--/ HEADER Content  -->
