@font-face {
    font-family: 'sintonybold';
    src: url('../fonts/sintony-bold-webfont.eot');
    src: url('../fonts/sintony-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sintony-bold-webfont.woff2') format('woff2'),
         url('../fonts/sintony-bold-webfont.woff') format('woff'),
         url('../fonts/sintony-bold-webfont.ttf') format('truetype'),
         url('../fonts/sintony-bold-webfont.svg#sintonybold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'sintonyregular';
    src: url('/Fonts/sintony-regular-webfont.eot');
    src: url('/Fonts/sintony-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/Fonts/sintony-regular-webfont.woff2') format('woff2'),
         url('/Fonts/sintony-regular-webfont.woff') format('woff'),
         url('/Fonts/sintony-regular-webfont.ttf') format('truetype'),
         url('/Fonts/sintony-regular-webfont.svg#sintonyregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
