@font-face { font-family: 'Sintony'; src: url("fonts/Sintony-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/Sintony-Bold.woff") format("woff"), url("fonts/Sintony-Bold.ttf") format("truetype"), url("fonts/Sintony-Bold.svg#Sintony-Bold") format("svg"); font-weight: bold; font-style: normal; }

@font-face { font-family: 'Sintony'; src: url("fonts/Sintony.eot?#iefix") format("embedded-opentype"), url("fonts/Sintony.woff") format("woff"), url("fonts/Sintony.ttf") format("truetype"), url("fonts/Sintony.svg#Sintony") format("svg"); font-weight: normal; font-style: normal; }
