body { font-family: 'Sintony'; font-size: 14px; color: #000000; margin: 0; padding: 0; line-height: 1.42857143; }

body.top48 { padding-top: 48px; }

.button { display: block; margin: 0 auto; padding: 10px 30px; font-size: 14px; border: 0; text-transform: uppercase; background: black; color: white; vertical-align: middle; position: relative; z-index: 1; -webkit-transition: background-color 0.3s, color 0.3s; -moz-transition: background-color 0.3s, color 0.3s; transition: background-color 0.3s, color 0.3s; -webkit-backface-visibility: hidden; -moz-osx-font-smoothing: grayscale; }

.button.button--ujarak { -webkit-transition: border-color 0.4s, color 0.4s; -moz-transition: border-color 0.4s, color 0.4s; transition: border-color 0.4s, color 0.4s; -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1); -moz-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1); transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1); }

.button.button--ujarak:hover::before { opacity: 1; background-color: #bc955a; -webkit-transform: rotate3d(0, 0, 1, 0deg); -moz-transform: rotate3d(0, 0, 1, 0deg); -ms-transform: rotate3d(0, 0, 1, 0deg); -o-transform: rotate3d(0, 0, 1, 0deg); transform: rotate3d(0, 0, 1, 0deg); }

.button.button--ujarak::before { content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: #bc955a; z-index: -1; opacity: 0; -webkit-transform: scale3d(0.7, 1, 1); -moz-transform: scale3d(0.7, 1, 1); -ms-transform: scale3d(0.7, 1, 1); -o-transform: scale3d(0.7, 1, 1); transform: scale3d(0.7, 1, 1); -webkit-transition: -webkit-transform 0.4s, opacity 0.4s; -moz-transition: -webkit-transform 0.4s, opacity 0.4s; transition: -webkit-transform 0.4s, opacity 0.4s; -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1); -moz-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1); transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1); }

a:focus { outline: 0; color: inherit; }

.inline-block { display: inline-block; }

.inline-block.v-middle { vertical-align: middle; }

.tbl { width: 100%; height: 100%; display: table; }

.tbl .cell { display: table-cell; vertical-align: middle; }

.pos-rel { position: relative; }

.form-control { -webkit-box-shadow: none; box-shadow: none; }

.form-control:focus { border-color: inherit; -webkit-box-shadow: none; box-shadow: none; }

header .header-top { background-color: #d7d5c6; height: 42px; }

header .header-top .global { height: 42px; margin: auto 0; }

header .header-top .global a { color: white; text-transform: uppercase; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s; }

header .header-top .global a i.fas { margin-right: 5px; }

header .header-top .global a:hover { color: #bc955a; }

header .header-top ul.hdr-right { margin: 0; padding: 0; height: 42px; text-align: right; }

header .header-top ul.hdr-right li { display: inline-block; margin-right: 25px; }

header .header-top ul.hdr-right li:last-child { margin-right: 0; }

header .header-top ul.hdr-right li .h42 { height: 42px; margin: auto 0; }

header .header-top ul.hdr-right li .form-search { width: 0; top: 50%; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s; -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); -o-transform: translateY(-50%); transform: translateY(-50%); right: 85px; position: absolute; background: white; border: 0; -moz-border-radius: 10px; -webkit-border-radius: 10px; -khtml-border-radius: 10px; border-radius: 10px; height: 28px; padding: 0; }

header .header-top ul.hdr-right li .form-search.open { width: 200px; padding: 3px 25px 3px 12px; }

header .header-top ul.hdr-right li a { color: white; text-transform: uppercase; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s; }

header .header-top ul.hdr-right li a.click-search { cursor: pointer; }

header .header-top ul.hdr-right li a.click-search:hover { color: #bc955a; }

header .header-top ul.hdr-right li a.click-search i.fas { position: relative; z-index: 100; }

header .header-top ul.hdr-right li a i.fas { margin-right: 5px; }

header .header-top ul.hdr-right li a:hover { color: #bc955a; }

header .logo { padding: 10px 0; text-align: center; }

header .logo img { width: 120px; margin: 0 auto; }

ul.head { margin: 0; padding: 0; }

ul.head.sticky { position: fixed; top: 0; left: 0; width: 100%; z-index: 200; }

ul.head .menu-container { width: 100%; margin: 0 auto; background: #a9995f; border-bottom: 1px dotted #ccc; }

ul.head ul.subtype { list-style: none; -webkit-column-break-inside: avoid; page-break-inside: avoid; break-inside: avoid; padding-left: 0; }

ul.head ul.subtype li { font-size: 13px; padding-left: 20px; margin: 5px 0; }

ul.head ul.subtype li:first-child { padding-left: 0; font-weight: bold; }

ul.head ul.subtype li a { font-size: 13px; }

ul.head .columns2 { -webkit-column-count: 2; -moz-column-count: 2; column-count: 2; }

ul.head .columns3 { -webkit-columns: 3; -moz-columns: 3; columns: 3; }

ul.head .menu-mobile { position: relative; display: none; padding: 15px 20px; color: white; }

ul.head .menu-mobile::after { content: "\f0c9"; font-family: "Font Awesome 5 Free"; font-size: 20px; padding: 0; right: 20px; position: absolute; top: 50%; -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); -o-transform: translateY(-50%); transform: translateY(-50%); font-weight: 900; }

ul.head .menu-dropdown-icon::before { content: "\f067"; font-family: "Font Awesome 5 Free"; display: none; cursor: pointer; padding: 0; color: white; position: absolute; right: 20px; top: 13px; font-weight: 900; }

.menu > ul { margin: 0 auto; width: 100%; list-style: none; padding: 0; position: relative; box-sizing: border-box; text-align: center; }

.menu > ul:before { content: ""; display: table; }

.menu > ul:after { clear: both; content: ""; display: table; }

.menu > ul > li { padding: 0; margin: 0; display: inline-block; }

.menu > ul > li:hover > a { color: #340055; }

.menu > ul > li.ss { border-right: 1px solid white; }

.menu > ul > li > a { text-decoration: none; padding: 15px 10px; display: block; letter-spacing: 0.2px; font-size: 13px; font-weight: bold; color: #fff; text-transform: uppercase; }

.menu > ul > li > ul { display: none; width: 100%; background: #fff; padding: 20px 10%; position: absolute; z-index: 102; left: 0; margin: 0; list-style: none; box-sizing: border-box; border-bottom: 4px solid #11141d; border-top: 1px dotted #ccc; }

.menu > ul > li > ul:before { content: ""; display: table; }

.menu > ul > li > ul:after { clear: both; content: ""; display: table; }

.menu > ul > li > ul > li { margin: 0; padding-bottom: 0; list-style: none; width: 25%; background: none; float: left; text-align: left; }

.menu > ul > li > ul > li.leftside { width: 40%; font-weight: bold; }

.menu > ul > li > ul > li.rightside { width: 60%; }

.menu > ul > li > ul > li > span, .menu > ul > li > ul > li > p { font-weight: bold; text-align: left; }

.menu > ul > li > ul > li a { color: #000; padding: 0; letter-spacing: .5px; display: inline; }

.menu > ul > li > ul > li a:hover { border-bottom: 1px solid #000; }

.menu > ul > li > ul > li > ul { display: block; padding: 0; margin: 10px 0 0; list-style: none; box-sizing: border-box; text-align: left; }

.menu > ul > li > ul > li > ul:before { content: ""; display: table; }

.menu > ul > li > ul > li > ul:after { clear: both; content: ""; display: table; }

.menu > ul > li > ul > li > ul > li { padding: 5px 0; margin: 0; font-size: .8em; }

.menu > ul > li > ul > li > ul > li a { border: 0; font-size: 13px; }

.menu > ul > li > ul > li > ul.normal-sub { width: 300px; left: auto; padding: 10px 20px; }

.menu > ul > li > ul > li > ul.normal-sub > li { width: 100%; }

.menu > ul > li > ul > li > ul.normal-sub > li a { border: 0; padding: 1em 0; }

section#main .img-full.mb20 { margin-bottom: 20px; }

section#main .img-full a { display: block; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s; }

section#main .img-full a:hover { opacity: 0.7; }

section#main .img-full a img { width: 100%; }

section#main .bread-crumb { border-bottom: 1px dotted #cacaca; border-left: none; border-right: none; }

section#main .bread-crumb ul { margin: 0; padding: 0; }

section#main .bread-crumb ul li { display: inline-block; }

section#main .bread-crumb ul li:after { content: ''; width: 14px; height: 25px; background: url("../images/icons/divider.jpg") no-repeat; display: inline-block; vertical-align: middle; }

section#main .bread-crumb ul li:last-child:after { visibility: hidden; }

section#main .bread-crumb ul li:last-child a { font-weight: bold; }

section#main .bread-crumb ul li:first-child a { padding-left: 0; }

section#main .bread-crumb ul li a { text-transform: uppercase; color: #000; padding: 0 10px; font-size: 10px; }

section#main .bread-crumb ul li a:hover { color: #bc955a; }

section#main .t-product { text-transform: uppercase; font-weight: bold; margin: 30px 0; font-size: 24px; line-height: 1.2; }

section#main ul.nav-tabs { padding: 0; margin: 0 -7.5px; border: 0; height: 55px; }

section#main ul.nav-tabs li { padding: 0 7.5px; float: left; width: 50%; -moz-border-radius: 0; -webkit-border-radius: 0; -khtml-border-radius: 0; border-radius: 0; }

section#main ul.nav-tabs li.active a { font-size: 23px; background: #bc955a; }

section#main ul.nav-tabs li a { text-align: center; -moz-border-radius: 0; -webkit-border-radius: 0; -khtml-border-radius: 0; border-radius: 0; display: block; position: relative; background-color: #000000; color: #fff; padding: 10px; text-transform: uppercase; font-size: 16px; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s; }

section#main ul.nav-tabs li a:hover { background: #bc955a; }

section#main .margin20 { margin: 20px 0; }

section#main .r-product { padding: 0 20px; display: inline-block; color: #000000; font-size: 15px; text-align: center; background: #FFF; font-weight: bold; position: relative; z-index: 10; }

section#main .r-product .result-1, section#main .r-product .result-2 { display: none; }

section#main .r-product .result-1.active, section#main .r-product .result-2.active { display: inline-block; }

section#main .sortOrder { margin-bottom: 20px; }

section#main .bdr-product { position: absolute; top: 50%; width: 100%; -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); -o-transform: translateY(-50%); transform: translateY(-50%); border-bottom: 1px dotted #999; }

section#main ul.nav-section.filter { padding: 10px 20px 15px; border-bottom: 1px dotted #999; background-color: #f6f6f6; list-style: none; margin: 0; }

section#main ul.nav-section.filter li { margin: 8px 0; position: relative; }

section#main ul.nav-section.filter li a { -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s; padding: 3px 5px; }

section#main ul.nav-section.filter li a:hover { color: #fff; background: #000; }

section#main ul.nav-section.filter li .filterStores, section#main ul.nav-section.filter li .filterType { display: none; }

section#main ul.nav-section.filter li label { position: relative; cursor: pointer; margin-bottom: 5px; font-weight: 700; padding-left: 25px; }

section#main .t-stores { margin: 10px 0; font-weight: 700; }

section#main .filterStores + label:before, section#main .filterType + label:before { background-color: #fafafa; border: 1px solid #cacece; -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05); -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05); box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05); width: 16px; height: 16px; content: ''; position: absolute; top: 50%; -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); -o-transform: translateY(-50%); transform: translateY(-50%); left: 0; border-radius: 2px; }

section#main .filterStores:checked + label:before, section#main .filterType:checked + label:before { background-color: #000; }

section#main .filter.stores { max-height: 300px; overflow-y: auto; }

section#main .filter.stores::-webkit-scrollbar { width: 12px; }

section#main .filter.stores::-webkit-scrollbar-track { -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); border-radius: 10px; }

section#main .filter.stores::-webkit-scrollbar-thumb { border-radius: 10px; -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5); }

section#main .item-product { margin-bottom: 30px; height: 380px; }

section#main .item-product .in-product { margin-bottom: 10px; border: 1px solid #b1b1b1; position: relative; background-color: #fff; }

section#main .item-product .in-product .img-product { font-size: 0; }

section#main .item-product .in-product .img-product img { width: 100%; }

section#main .item-product .in-product .overlay-product { background-color: rgba(255, 255, 255, 0.75); width: 100%; height: 100%; position: absolute; z-index: 99; visibility: hidden; opacity: 0; top: 0; left: 0; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s; }

section#main .item-product .in-product .btn-product { position: absolute; left: 50%; -webkit-transform: translateX(-50%); -moz-transform: translateX(-50%); -ms-transform: translateX(-50%); -o-transform: translateX(-50%); transform: translateX(-50%); -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s; bottom: 0; opacity: 0; top: inherit; z-index: 100; }

section#main .item-product .in-product .btn-product a { -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s; color: #000; display: block; border: 1px solid #000; padding: 8px 10px; font-size: 13px; text-transform: uppercase; }

section#main .item-product .in-product .btn-product a:hover { background: #000; color: white; }

section#main .item-product .in-product:hover .overlay-product { visibility: visible; opacity: 1; }

section#main .item-product .in-product:hover .btn-product { top: 50%; bottom: inherit; opacity: 1; -webkit-transform: translate(-50%, -50%); -moz-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); -o-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }

section#main .item-product .in-product ul.l-product { margin: 0; padding: 0; position: absolute; top: 10px; z-index: 100; right: 10px; }

section#main .item-product .in-product ul.l-product li { display: inline-block; margin-right: 5px; }

section#main .item-product .in-product ul.l-product li:last-child { margin-right: 0; }

section#main .item-product .in-product ul.l-product li a .icon-cart, section#main .item-product .in-product ul.l-product li a .icon-wish { -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s; border: 2px solid #bc955a; background: transparent; width: 28px; height: 28px; position: relative; -moz-border-radius: 50%; -webkit-border-radius: 50%; -khtml-border-radius: 50%; border-radius: 50%; }

section#main .item-product .in-product ul.l-product li a .icon-cart i, section#main .item-product .in-product ul.l-product li a .icon-wish i { position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); -moz-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); -o-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }

section#main .item-product .in-product ul.l-product li a .icon-cart i.fas, section#main .item-product .in-product ul.l-product li a .icon-wish i.fas { font-size: 12px; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s; color: #bc955a; }

section#main .item-product .in-product ul.l-product li a .icon-wish { border-color: #bc0429; }

section#main .item-product .in-product ul.l-product li a .icon-wish i.fas { color: #bc0429; }

section#main .item-product .in-product ul.l-product li a:hover .icon-cart { background: #bc955a; }

section#main .item-product .in-product ul.l-product li a:hover .icon-cart i.fas { color: white; }

section#main .item-product .in-product ul.l-product li a:hover .icon-wish { background: #bc0429; }

section#main .item-product .in-product ul.l-product li a:hover .icon-wish i.fas { color: white; }

section#main .item-product .desc { text-align: center; }

section#main .item-product .desc .stores-product { font-weight: bold; font-size: 16px; text-transform: uppercase; line-height: 1.2; margin-bottom: 7px; }

section#main .item-product .desc .nm-product { font-size: 13px; height: 40px; }

section#main .item-product .desc .pr-product { font-size: 13px; margin-bottom: 7px; text-transform: uppercase; }

section#main .item-product .desc ul.l-color { margin: 0; padding: 0; text-align: center; }

section#main .item-product .desc ul.l-color li { margin-right: 5px; display: inline-block; }

section#main .item-product .desc ul.l-color li:last-child { margin-right: 0; }

section#main .item-product .desc ul.l-color li .box-color { width: 20px; height: 15px; border: 1px solid #cacaca; }

footer .footer-top { margin-top: 30px; background-color: #f6f6f6; padding-top: 50px; padding-bottom: 20px; color: #626262; text-align: center; border-top: 1px dotted #cacaca; border-bottom: 1px dotted #cacaca; }

footer .footer-top .t-footer { font-size: 18px; text-transform: uppercase; line-height: 1.2; margin-bottom: 20px; }

footer .footer-top .bdy-footer p { font-size: 12px; }

footer .footer-top .bdy-footer p a { font-size: 12px; color: #626262; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s; }

footer .footer-top .bdy-footer p a:hover { color: #bc955a; }

footer .footer-top ul.soc-footer { margin: 15px 0 5px; padding: 0; }

footer .footer-top ul.soc-footer li { display: inline-block; margin-right: 5px; }

footer .footer-top ul.soc-footer li:last-child { margin-right: 0; }

footer .footer-top ul.soc-footer li a .icon-footer { -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s; border: 2px solid #bc955a; background: white; width: 28px; height: 28px; position: relative; -moz-border-radius: 50%; -webkit-border-radius: 50%; -khtml-border-radius: 50%; border-radius: 50%; }

footer .footer-top ul.soc-footer li a .icon-footer i { position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); -moz-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); -o-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }

footer .footer-top ul.soc-footer li a .icon-footer i.fab { -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s; color: #bc955a; }

footer .footer-top ul.soc-footer li a:hover .icon-footer { background: #bc955a; }

footer .footer-top ul.soc-footer li a:hover .icon-footer i.fab { color: white; }

footer .footer-top .terms a { font-weight: bold; color: #626262; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s; }

footer .footer-top .terms a:hover { color: #bc955a; }

footer .footer-bottom { color: #000; text-align: center; font-size: 12px; padding: 10px 0; }

@media (max-width: 1199px) { .menu > ul > li > a { padding: 15px 7px; }
  section#main .item-product { height: 330px; } }

@media (max-width: 991px) { header .header-top ul.hdr-right li { margin-right: 15px; }
  header .header-top ul.hdr-right li .form-search.open { width: 120px; }
  ul.head .columns2 { -webkit-columns: 1; -moz-columns: 1; columns: 1; }
  ul.head .menu-mobile { display: block; }
  ul.head .menu-dropdown-icon:before { display: block; }
  ul.head .columns2, ul.head .columns3 { -webkit-columns: 1; -moz-columns: 1; columns: 1; }
  .menu > ul { display: none; }
  .menu > ul > li { width: 100%; float: none; display: block; text-align: left; position: relative; }
  .menu > ul > li.ss { border: none; }
  .menu > ul > li a { padding: 15px 20px; width: 100%; display: block; }
  .menu > ul > li:hover > a { color: white; }
  .menu > ul > li > ul { position: relative; }
  .menu > ul > li > ul.normal-sub { width: 100%; }
  .menu > ul > li > ul > li { float: none; width: 100%; margin-top: 20px; }
  .menu > ul > li > ul > li:first-child { margin: 0; }
  .menu > ul > li > ul > li.leftside { width: 100%; }
  .menu > ul > li > ul > li.rightside { width: 100%; }
  .menu > ul > li > ul > li > ul { position: relative; }
  .menu > ul > li > ul > li > ul > li { float: none; }
  .menu .show-on-mobile { display: block; }
  section#main .item-product { height: 300px; } }

@media (max-width: 767px) { header .header-top ul.hdr-right { text-align: center; }
  header .header-top ul.hdr-right li a i.fas { margin-right: 0; }
  header .header-top .form-search { width: 0; top: 50%; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s; -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); -o-transform: translateY(-50%); transform: translateY(-50%); right: 0; left: 0; position: absolute; background: white; border: 0; -moz-border-radius: 10px; -webkit-border-radius: 10px; -khtml-border-radius: 10px; border-radius: 10px; height: 28px; padding: 0; z-index: 150; }
  header .header-top .form-search.open { width: 100%; padding: 3px 25px 3px 12px; }
  header .logo { padding: 10px 0; }
  header .logo img { width: 90px; }
  ul.head .menu-mobile { padding: 10px 20px; }
  section#main .t-product { margin: 25px 0; font-size: 18px; }
  footer .footer-top { padding-top: 30px; }
  footer .footer-top .t-footer { font-size: 16px; }
  .xs30 { margin-bottom: 30px; } }
