#slider1_container{
	visibility: hidden; 
	position: relative; 
	margin: 0 auto; 
	top: 0px; 
	left: 0px; 
	width: 100% !important; 
	height: 522px; 
	overflow: hidden;
	border-top:1px dotted #cacaca;
}
.jssorb21 {
	position: absolute;
}
.jssorb21 div, .jssorb21 div:hover, .jssorb21 .av {
	position: absolute;
	/* size of bullet elment */
	width: 19px;
	height: 19px;
	text-align: center;
	line-height: 19px;
	color: white;
	font-size: 12px;
	background: url(images/b21.png) no-repeat;
	overflow: hidden;
	cursor: pointer;
}
.jssorb21 div { background-position: -5px -5px; }
.jssorb21 div:hover, .jssorb21 .av:hover { background-position: -35px -5px; }
.jssorb21 .av { background-position: -65px -5px; }
.jssorb21 .dn, .jssorb21 .dn:hover { background-position: -95px -5px; }
.jssora21l, .jssora21r {
	display: block;
	position: absolute;
	/* size of arrow element */
	width: 61px;
	height: 61px;
	cursor: pointer;
}
.jssora21l { background: url(images/arr-prev.png) center center no-repeat;}
.jssora21r { background: url(images/arr-next.png) center center no-repeat; }
.jssora21l.jssora21ldn { background-position: -243px -33px; }
.jssora21r.jssora21rdn { background-position: -303px -33px; }