/* ––––––––––––––––––––––––––––––––––––––––––––––––––
megamenu.js STYLE STARTS HERE
–––––––––––––––––––––––––––––––––––––––––––––––––– */


/* ––––––––––––––––––––––––––––––––––––––––––––––––––
Screen style's
–––––––––––––––––––––––––––––––––––––––––––––––––– */
ul.head{
    margin:0;
    padding:0;
}
ul.subtype{
    list-style:none;
    /*float:left;*/
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
    padding-left:0;
}
ul.subtype li{
    padding-left:20px !important;
    margin:5px 0;
}
ul.subtype li:first-child {
    padding-left:0 !important;
    font-weight:bold;
}
ul.subtype li, ul.subtype li a{
    font-size:13px !important;
}
.columns2{
    /*-webkit-columns: 2; 
    -moz-columns: 2; 
    columns: 2;*/
    -webkit-column-count: 2;
     -moz-column-count: 2;
          column-count: 2;
}
.columns3{
    -webkit-columns: 3; /* Chrome, Safari, Opera */
    -moz-columns: 3; /* Firefox */
    columns: 3;
}
.menu-container {
    width: 100%;
    margin: 0 auto;
    background: #fff;
    border-bottom:1px dotted #ccc;
    /*padding: 0 30px;*/
}

.menu-mobile {
    display: none;
    /*padding: 20px;*/
    color:#000;
}

/*.menu-mobile:after {
    content: "\f0c9";
    font-family: "FontAwesome";
    font-size: 20px;
    padding: 0;
    float: right;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-25%);
    -ms-transform: translateY(-25%);
    transform: translateY(-25%);
}*/

/*.menu-dropdown-icon:before {
    content: "\f067";
    font-family: "FontAwesome";
    display: none;
    cursor: pointer;

    padding: 1.5em 2em;

    color: #333;
    position: absolute;
    right: 0;
}*/

/*.menu > ul {
    margin: 0 auto;
    width: 100%;
    list-style: none;
    padding: 0;
    position: relative;

    box-sizing: border-box;
    text-align:center;
}

.menu > ul:before,
.menu > ul:after {
    content: "";
    display: table;
}

.menu > ul:after {
    clear: both;
}

.menu > ul > li {
    float: left;
    padding: 0;
    margin: 0;
    display:inline-block;
}

.menu > ul > li > a {
    text-decoration: none;
    padding: 12px 8px;
    display: block;
    font-size:13px;
    font-weight:bold;
    text-transform:uppercase;
    color:#000000;
}

.menu > ul > li:hover {
    background: #11141d;
}

.menu > ul > li:hover>a{
    color: #fff;
}

.menu > ul > li > ul {
    display: none;
    width: 100%;
    background: #fff;
    padding: 20px 10%;
    position: absolute;
    z-index: 102;
    left: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    border-bottom:4px solid #11141d ;
    border-top:1px dotted #ccc;
}

.menu > ul > li > ul:before,
.menu > ul > li > ul:after {
    content: "";
    display: table;
}

.menu > ul > li > ul:after {
    clear: both;
}

.menu > ul > li > ul > li {
    margin: 0;
    padding-bottom: 0;
    list-style: none;
    width: 25%;
    background: none;
    float: left;
    text-align:left;
}
.menu > ul > li.ss{
    border-right:2px solid #000;
}
.menu > ul > li > ul > li.leftside{
    width: 40% !important;
    font-weight:bold;
}
.menu > ul > li > ul > li.rightside{
    width: 60% !important;
}
.menu > ul > li > ul > li > span, .menu > ul > li > ul > li > p{
    font-weight:bold;
    border-bottom:2px solid #000;
    text-align:left;
}
.menu > ul > li > ul > li a {
    color: #000;
    padding:0;
    letter-spacing: .5px;
    display: inline;
}
.menu > ul > li > ul > li a:hover {
    border-bottom:1px solid #000;
    background:#000;
    color:#fff;
}
.menu > ul > li > ul > li > ul {
    display: block;
    padding: 0;
    margin: 10px 0 0;
    list-style: none;
    box-sizing: border-box;
    text-align:left;
}

.menu > ul > li > ul > li > ul:before,
.menu > ul > li > ul > li > ul:after {
    content: "";
    display: table;
}

.menu > ul > li > ul > li > ul:after {
    clear: both;
}

.menu > ul > li > ul > li > ul > li {
    padding: 5px 0;
    margin: 0;
    font-size: .8em;
}

.menu > ul > li > ul > li > ul > li a {
    border: 0;
    font-size:13px;
}

.menu > ul > li > ul.normal-sub {
    width: 300px;
    left: auto;
    padding: 10px 20px;
}

.menu > ul > li > ul.normal-sub > li {
    width: 100%;
}

.menu > ul > li > ul.normal-sub > li a {
    border: 0;
    padding: 1em 0;
}*/


/* ––––––––––––––––––––––––––––––––––––––––––––––––––
Mobile style's
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/*@media only screen and (max-width: 959px) {

    .menu-container {
        width: 100%;
    }
    .menu-mobile {
        display: block;
    }
    .menu-dropdown-icon:before {
        display: block;
    }
    .menu > ul {
        display: none;
    }
    .menu > ul > li {
        width: 100%;
        float: none;
        display: block;
        text-align:left;
    }
    .menu > ul > li a {
        padding: 1.5em;
        width: 100%;
        display: block;
    }
    .menu > ul > li > ul {
        position: relative;
    }
    .menu > ul > li > ul.normal-sub {
        width: 100%;
    }
    .menu > ul > li > ul > li {
        float: none;
        width: 100%;
        margin-top: 20px;
    }
    .menu > ul > li.ss{
        border:none;
    }
    .menu > ul > li > ul > li:first-child {
        margin: 0;
    }
    .menu > ul > li > ul > li > ul {
        position: relative;
    }
    .menu > ul > li > ul > li > ul > li {
        float: none;
    }
    .menu .show-on-mobile {
        display: block;
    }
    .columns2, .columns3{
        -webkit-columns: 1; 
        -moz-columns: 1; 
        columns: 1;
    }
    .menu > ul > li > ul > li.leftside, .menu > ul > li > ul > li.rightside {
        width:100%;
    }
}*/