﻿#variantTable div.colorPreview {
    width:75px;
    height:75px;
    background-color:none;
    border:1px solid #000000;
    margin:0 auto;
    margin-bottom:5px;
}

.kidSize {
    display:none;
}

.navigation, .navigation  ul, .navigation ul li, .navigation ul li a {
    float: none !important;
    width: 100%;
}

.pageheader-title{
    font-size: inherit!important;
    color: inherit!important;
    font-style: inherit!important;
}