﻿@model DynamicContent.Models.TopPick
@{
    ViewBag.Title = "AddEditTopPicks";
    Layout = "~/Areas/SysManager/Views/Shared/_authenticatedLayout.cshtml";
    string imgProd = (string)ViewBag.imgprod;
}
<link href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" rel="Stylesheet"></link>
<div class="page page-product-detail">
    <div class="pageheader">
        <h2>Top Picks <span>Today: @(DateTime.Now)</span></h2>
    </div>
    <div class="row">
        <div class="col-md-12">
            <section class="tile" fullscreen="isFullscreen02">
                <!-- tile header -->
                <div class="tile-header dvd dvd-btm">
                    <h1 class="custom-font"><strong>Top Pick</strong></h1>
                </div>
                <div class="tile-body">
                    @using (Html.BeginForm("AddEditTopPicks", "TopPicks", FormMethod.Post, new { @id = "form-addFlashDetailClass", @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
                    {
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Flash Sale Name</label>
                            <div class="col-sm-8">
                                @Html.TextBox("ProductName", @Model.ProductName, new { @class = "form-control", @placeholder = "Enter Name" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Preview</label>
                            <div class="col-sm-8">
                                <img id="blah" src="@imgProd" class="img-thumbnail" alt="your image" style="min-height:150px;height:150px;"  />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Sort</label>
                            <div class="col-sm-8">
                                @Html.TextBoxFor(x => x.sort, new { @class = "form-control", @placeholder = "Enter sort" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-9">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                        @Html.HiddenFor(x => x.ProductID)
                        @Html.HiddenFor(x => x.TopPicksID)
                    }
                </div>
            </section>
        </div>
    </div>
</div>
@section scripts{
    @Scripts.Render("~/formvalidation/js")
    <script>
    setTimeout(function () {
        $("#ProductName").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "@Url.Action("AutocompleteName", "TopPicks")",
                        type: "POST",
                        dataType: "json",
                        data: { Prefix: request.term },
                        success: function (data) {
                            response($.map(data, function (item) {
                                
                                return { label: item.name, value: item.name , id: item.ID };
                            }))
                            
                        }
                    })
                },
                select: function (event,ui) {
                    $("#ProductID").val(ui.item.id);
                    CallImageProduct(ui.item.id);
                }
        })
        function CallImageProduct(id) {
            $.ajax({
                 url: "@Url.Action("GetPictureByProduct", "TopPicks")",
                        type: "POST",
                        dataType: "json",
                        data: { id: id },
                        success: function (response) {
                            $("#blah").attr('src', response);
                        }

            })
        }
    }, 200)

    </script>
}