﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/SysManager/Views/Shared/_authenticatedLayout.cshtml";
}
<div class="page page-product-list">
    <div class="pageheader">
        <h2>Top Picks <span>Today: @(DateTime.Now)</span></h2>
    </div>
    <div class="row">
        <div class="col-md-12">
            <section class="tile" fullscreen="isFullscreen02">
                <!-- tile header -->
                <div class="tile-header dvd dvd-btm">
                    <h1 class="custom-font"><strong>List </strong> Top Picks</h1>
                    <ul class="controls">
                        <li>
                            <a href="@Url.Action("AddEditTopPicks", "TopPicks", new { area = "SysManager" , ID = 0 })" role="button" tabindex="0" class="pickDate">
                                <span></span><i class="fa fa-plus"></i> Add Top Pick
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="tile-body p-0">
                    <div class="table-responsive">
                        <table class="table table-custom" id="TopPicksDataTable">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Sort</th>
                                    <th>Created By</th>
                                    <th>Created Date</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
                <!-- /tile body -->
            </section>
        </div>
    </div>

</div>
@section scripts {
@Styles.Render("~/TenantManager/Datatables/css")
@Scripts.Render("~/TenantManager/Datatables/js")
<script> 
    var oTable = $('#TopPicksDataTable')
        .on('xhr.dt', function (e, settings, json, xhr) {
            if (xhr.status == 403) {
                var response = $.parseJSON(xhr.responseText);
                window.location = response.logonurl;
            }
        })
        .DataTable({
            "serverSide": true,
            "ajax": {
                "type": "POST",
                "url": '/SysManager/TopPicks/TopPicksDataHandler',
                "contentType": 'application/json; charset=utf-8',
                'data': function (data) { return data = JSON.stringify(data); }
            },
            "scrollCollapse": true,
            "scroller": {
                loadingIndicator: false
            },
            "processing": true,
            "paging": true,
            "deferRender": true,
            "columns": [
                {
                    "data": 'TopPicksID'

                },
                {
                    "data": 'ProductName'
                },
                {
                    "data": "sort"
                },
                { "data": "CreateBy" },
                { "data": "CreatedDate" },
                {
                    "data": "Action",
                    "render": function (data, type, full, meta) {
                        return '<a href="/SysManager/TopPicks/AddEditTopPicks?id=' + full.TopPicksID + '" class="btn btn-success"><i class="fa fa-edit"></i></a><a href="/SysManager/TopPicks/RemoveTopPicks?id='+ full.TopPicksID +'" class="btn btn-danger"><i class="fa fa-remove"></i></a>';
                    }
                }
            ],
            "order": [0, "asc"]

        });
</script>

}